[2017-09-08 17:12] michelpy commented on #716
Thanks, this solves one problem and reveals another one.
Now that I have passed the ack issue, my python code acts strangely (only when used from ExaBGP, not when running in the shell). This is very simple code, when it is used by exabgp, what happens is that if the incremental update is detected, it acts like it restarts the python script testcbbc.py from the start, never deletes the incremental

[2017-09-10 11:20] thomas-mangin commented on #716
nothing obvious but the fact the os.remove could fail .. rewrote the code that way .. and please do use os.rename when you generate the file .. 10 second may not be enough for the generation. Also I flush stdout after each command and wait for the initial configuration file forever without doing anything is not.

[code]

[2017-09-10 17:46] michelpy commented on #716
Thanks, will try ASAP. I actually replaced the entire thing with new code yesterday, works fine.
I understand my python is ugly, this was one of my first tries at it. By looking at your code I learned a lot, thanks for the education.

Why import stdout ? my logic what to import only if the command was not found ?

The think that I still don't understand is why it believes differently in exabgp 4.0

[2017-09-14 19:45] thomas-mangin commented on #716
I do not understand why you ask ..

There is difference in the API parsing code between 3.4 and 4.0 - getting things working the same on all OSes is a challenge - Python does not behave the exact same way everywhere.

I will look into it - but flushing after each write is really a must ...

[2017-09-17 07:34] rushikeshjadhav opened #717 "Python error for exabgp master ./sbin/exabgp: line 40: : command not found"
##### ISSUE TYPE
 - Bug Report

##### OS
CentOS7

##### VERSION
master / 4.0.2
[code]
##### ENVIRONMENT
Empty output
[code]
##### CONFIGURATION

##### SUMMARY

Unable to run 4.0.2

##### STEPS TO REPRODUCE

[code]

[2017-09-17 15:01] thomas-mangin commented on #717
try to run: `find . -name "*pyc" -exec rm {} \;` to make sure you are not mixing compiled python files between version and  then find which package on `centos` provides the `exec` program.

This is not a bug with exabgp and I am not sure how you can have an error on line 40 when the ./sbin/exabgp script is only 20 lines long.

[code]

[2017-09-18 08:30] treemanzhou opened #718 "bgpls issue"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### OS

##### VERSION

[code]

##### ENVIRONMENT

[code]

##### CONFIGURATION
process parsed-route-backend {
        run /tmp/file.py;
        encoder json;
}
neighbor 172.16.255.10 {
        local-address 10.20.253.8;
        local-as 65200;
        peer-as 65200;
        family bgpls {
                   bgp-ls;
        }

[2017-09-18 11:16] rushikeshjadhav commented on #717
Hello Thomas,

It seems you checked the version 3.4 which is also working correctly for me.

The one that is failing is master branch

[root@rishi2 exabgp]# git branch
* 3.4
  master
[root@rishi2 exabgp]# wc -l ./sbin/exabgp
20 ./sbin/exabgp
[root@rishi2 exabgp]# git checkout master
Switched to branch 'master'
[root@rishi2 exabgp]# wc -l ./sbin/exabgp
42 ./sbin/exabgp
[root@rishi2 exabgp]# ./sbin/

[2017-09-18 11:24] thomas-mangin commented on #717
[code]
You need to make sure you have `exec` installed in you path

[2017-09-18 21:55] thomas-mangin commented on #718
That's not a valid syntax.
[code]

[2017-09-18 21:55] #718 closed

[2017-09-18 21:56] thomas-mangin commented on #718
or perhaps for previous version one of the bgp-ls has indeed no `-`

[2017-09-18 21:58] thomas-mangin commented on #717
If you have no `exec`: you can try to edit the file and remove the word `exec` or use `sh` instead - should work but you will not get the return code if there is an error.

[2017-09-19 05:04] vincentbernat commented on #717
`exec` is a shell builtin. From the command, it is looking for `exec: :` and `: command`. Maybe `/bin/sh` is not a POSIX shell. Does `bash ./sbin/exabgp` works better?

[2017-09-19 05:45] rushikeshjadhav commented on #717
Following are the outputs

[root@rishi2 exabgp-4.0.2]# ./sbin/exabgp --version
./sbin/exabgp: line 40: : command not found
./sbin/exabgp: line 42: exec: : not found

[root@rishi2 exabgp-4.0.2]# bash ./sbin/exabgp --version
./sbin/exabgp: line 40: : command not found
./sbin/exabgp: line 42: exec: : not found

[root@rishi2 exabgp-4.0.2]# sh ./sbin/exabgp --version
./sbin/exabgp: line 40: : command n

[2017-09-19 06:21] rushikeshjadhav commented on #717
for INTERPRETER in "$INTERPRETER" python3 pypy3; do
    INTERPRETER="$(command -v "$INTERPRETER")" && break
done

^^ Does this need python3 to run? It seems my system does not have it and using python2.7

[2017-09-19 06:34] vincentbernat commented on #717
Try:

[code]

[2017-09-19 06:40] vincentbernat commented on #717
Oh, you are right, the error message is not clear, but it means INTERPRETER is empty (I get "permission denied" on my side, but maybe it depends on the shell).

[2017-09-19 06:54] rushikeshjadhav commented on #717
Understood.. I think this requirement of python3 should have been mentioned somewhere. I'll try it with python3 later and report back. Cant break the current system :)

[2017-09-19 07:54] thomas-mangin commented on #717
You CAN run 4.0 with python 2 but the support will be dropped at some point, and most OS now come with python3 installed by default. If you just add your python2 to the list of interpreters it will work.

That was a funny one, I will add some code to report if no interpreter could be found !

[2017-09-19 08:00] rushikeshjadhav commented on #717
Thanks.

I changed as following
for INTERPRETER in "$INTERPRETER" python python3 pypy3; do
    INTERPRETER="$(command -v "$INTERPRETER")" && break
done

And it seem to have worked.

[root@rishi2 exabgp-4.0.2]# ./sbin/exabgp --version
ExaBGP : 4.0.2-1c737d99
Python : 2.7.5 (default, Nov  6 2016, 00:28:07)  [GCC 4.8.5 20150623 (Red Hat 4.8.5-11)]
Uname  : Linux rishi2 3.10.0-229.4.2.el7.x86_64 #1 SM

[2017-09-19 08:04] thomas-mangin commented on #717
Added some information on the homepage regarding python version and changed the script to warn users when python3 is missing.

What you done does work ATM, and hopefully no python2 only bug exists in the code. It would be better if you could install python3 - but updating would create a conflict in your file - I will add an option to add python2 list of INTERPRETER ...

[2017-09-19 08:05] thomas-mangin commented on #717
Sorry you can already, you should instead do this (instead of modifying the file)
`INTERPRETER=python ./sbin/exabgp`

[2017-09-19 08:08] thomas-mangin commented on #717
Regarding support - currently ExaBGP is BOTH a python2 and python3 program (do not tell users that tho - they might not install python3 :p).

I will support both interpreter but I intend to drop support for python2 before 2020. Most likely the version will jump from 4.0 to 5.0 when I do so it will be obvious.

[2017-09-19 08:43] rushikeshjadhav commented on #717
Wonderful. Thank you. Great work!

I'm using this on my neutron server and would raise if anything specific to ExaBGP comes.

[2017-09-19 14:29] chantra commented on #717
Just adding a datapoint here... i am using exabgp with
`INTERPRETER=python2.7 /path/to/exabgp` and it is working fine for our
*limited* use case.

IIRC, the only reason I do this is because of an error with exabgpcli
(which i yet have to debug/fix/file but could not prioritize) which I could
work around that way.
Thanks for the effort in moving to py3 and I will try from my side to debug
and repor

[2017-09-19 15:50] rat2k4 commented on #698
Changing %d to %s seems to be working fine now.

[2017-09-19 16:24] chantra commented on #717
ok, got over my procrastrination. py3 compatible exabgpcli in PR #719

[2017-09-19 17:50] #717 closed

[2017-09-26 11:14] fser opened #720 "Enable json format for controlling pipes"
##### ISSUE TYPE

 - Feature Idea

##### OS

Debian GNU/Linux 8

##### VERSION

[code]

##### ENVIRONMENT

[code]

##### CONFIGURATION

##### SUMMARY

I use ExaBGP to validate route-map reflected by `10.10.0.12`. I would like ExaBGP's output (from outgoing pipe) to be json formatted.

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

##### ACTUAL RESULTS

##### IMPORTANCE

[2017-09-26 15:48] adrian62 commented on #682
Circling back on this issue, for a while I thought this is related to #704 but it's not; or more accurately the fix for #704 is not addressing the problem reported here.

[2017-09-29 09:38] cpmarvin opened #721 "Feature Request - segment-routing-te-policy"
Hello,

Any plans to support draft-ietf-idr-segment-routing-te-policy-00 https://tools.ietf.org/html/draft-ietf-idr-segment-routing-te-policy-00

Many thanks.
Catalin

[2017-09-29 11:00] thomas-mangin commented on #721
I would welcome help as currently my available time for improving ExaBGP is limited.

[2017-09-29 13:21] thomas-mangin commented on #682
ack.

[2017-09-29 18:19] kraman123 opened #722 "EXABGP Route annoucement stops mid-way before sending all the routes."
- Feature Idea

##### OS

##### VERSION
ExaBGP : 4.0.2-1c737d99
[code]

##### ENVIRONMENT

[code]

##### CONFIGURATION

##### SUMMARY

Have one small issue for which i cant find a solution.
I am using EXABGP to send around 500K routes to 1M routes, My EXABGP version is "ExaBGP : 4.0.2-1c737d99"
when i start the EXABGP to announce 500K routes taken from internet for example by following the below s

[2017-09-30 15:06] xiaopeng163 commented on #721
@cpmarvin we have done some SR-TE policy POC demo testing with Cisco routers using yabgp
https://github.com/smartbgp/yabgp welcome to have a try

[2017-09-30 21:51] chantra opened #723 "exabgp busyspin after some time"
##### ISSUE TYPE
 - Bug Report

##### OS
CentOS 7
Linux 4.6

##### VERSION

[code]

##### ENVIRONMENT
[code]

##### CONFIGURATION
[code]

##### SUMMARY

After some time exabgp process will run 100% CPU.

##### STEPS TO REPRODUCE

I do not have a good way to reproduce yet but filing this for awareness.

##### EXPECTED RESULTS

Exabgp should not busy spin.

##### ACTUAL RESULTS

##### IMPORTANCE

##

[2017-10-01 12:46] cpmarvin commented on #721
@xiaopeng163 , thx i will take a look

@thomas-mangin i believe we have already a request for this #668 . so it might be better to close this.

Regards

[2017-10-01 12:46] #721 closed

[2017-10-02 13:40] fser opened #724 "Error building debian package"
##### ISSUE TYPE

 - Bug Report

##### OS

Debian 9

##### VERSION

[code]

##### ENVIRONMENT

[code]

##### CONFIGURATION

##### SUMMARY

Trying to create a debian package using `debuild -us -uc` (didn't find any documentation on how what to do).

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

Find a debian package.

##### ACTUAL RESULTS

[code]

I tried changing `conversation` to `conversatio

[2017-10-02 14:04] vincentbernat commented on #724
Is your branch for ExaBGP 4.x or 3.x? In the former case, take the Debian packaging from the debian/sid branch. The master branch hasn't been updated yet.

[2017-10-02 14:17] fser commented on #724
For 4.x. Let me try that branch.

[2017-10-02 20:51] thomas-mangin commented on #724
4.x does not force python3 - it default to it but python2 still works

[2017-10-02 20:54] thomas-mangin commented on #723
If `self.async.ready()` returns true to would mean that a task needs running which was scheduled.
adding a print in the `for (uid,generator) in self._async[0]:` loop should be able to get you the name of `uid` - it should really help understand what is causing it.

[2017-10-02 21:00] fser commented on #724
Shouldn't print function be used in that case?

[2017-10-03 06:01] chantra commented on #723
I will try that. This is most likely going to generate tons of logs, but I may be able to gate that behind a file marker, and only log when the file is present.

[2017-10-03 10:34] fser commented on #724
@thomas-mangin could you please provide some hints on how you build the package? I can't manager to specify only python2 at the moment. I've created a [wiki entry](https://github.com/Exa-Networks/exabgp/wiki/Building-debian-package) for that purpose.

[2017-10-03 12:18] thomas-mangin commented on #724
@fser while I built some .rpm a .deb quite some time ago for myself, I have not followed all packaging work done by @vincentbernat - from my POV, it is simply black magic which works :-)

if you run `env INTERPRETER=/path/to/python2 ./sbin/exabgp` this will force python2

[2017-10-03 12:29] vincentbernat commented on #724
Which `print` are we talking about? This doesn't seem to be related with the packaging.

If you want to force Python 2 while running ExaBGP with systemd, you can do:

[code]

Then add:

[code]

Not tested, but should work.

[2017-10-03 14:17] fser commented on #724
When (trying to) building the deb file (again, using `debuild -us -uc`), I get the following error:
[code]
I have put the whole process in a [dockerfile + script](https://gist.github.com/fser/a3bd2bd7d750b7524a44ceebdb660b33).

[2017-10-03 14:28] vincentbernat commented on #724
OK. I'll have to fix that. What you can do is checkout master (or the version your want) and take debian directory from debian/sid.

[code]

[2017-10-03 14:38] thomas-mangin commented on #724
Should I remove the Debian folder from master ?

[2017-10-03 14:57] vincentbernat commented on #724
If removed, users won't know how to get Debian packages. And there can be slight differences with the packaging in debian/sid. On the other hand, removing it is less work for me. I still plan to work on packaging real soon and I'll update master then.

[2017-10-03 15:16] fser commented on #724
@vincentbernat doing so also fails to build (from master):
[code]

Almost same message from 4.0.2 though.

[2017-10-03 15:40] vincentbernat commented on #724
`rm debian/source/format` and retry.

[2017-10-03 16:59] fser commented on #724
Better, but still won't build :)
[code]

The only conf I have in `qa/` folder are:
[code]

[2017-10-03 21:18] vincentbernat commented on #724
Remove the corresponding lines from `debian/exabgp-common.install`.

[2017-10-04 02:13] chantra commented on #723
ok, so I have some form of repro but not much actionable yet.

Setup:
exabgp running with `exabgp.conf`
[code]

`exabgp.env`:
[code]

on 172.18.0.2, there is bird running with this config:

[code]

steps:
* start bird
* start exabgp to peer with bird.
* send `kill -SIGSTOP ${birdpid}`
* wait for exabgp to `initialising connection to peer-1` while bird is stopped.

CPU goes 100%

[2017-10-04 09:16] sanfern opened #725 "pip install do not have exabgpcli file."
##### ISSUE TYPE

 - Bug Report

##### OS
Ubuntu 16.04.2 LTS

##### VERSION

[code]

##### ENVIRONMENT

[code]

##### CONFIGURATION

##### SUMMARY

pip intall exabgp do not install exabgpcli file.

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

##### ACTUAL RESULTS

##### IMPORTANCE

[2017-10-04 12:45] fser commented on #724
It works! I've updated the [wiki entry](https://github.com/Exa-Networks/exabgp/wiki/Building-debian-package). Thanks!

I don't close the issue, because for now, the repository is still kind of broken.

[2017-10-04 13:43] thomas-mangin commented on #724
Thank you very so much for this wiki page - this is much appreciated.

[2017-10-04 20:05] acoul opened #726 "Broken url in README.md"
##### ISSUE TYPE
 - Documentation Report
##### OS
Unrelated
##### VERSION
Unrelated
##### ENVIRONMENT
Unrelated
##### CONFIGURATION
Unrelated
##### SUMMARY
Broken URL links on the README.md file
##### STEPS TO REPRODUCE
click on the existing links
##### EXPECTED RESULTS
get to the correct webpage
##### ACTUAL RESULTS
broken link
##### IMPORTANCE
Normal
##### DESCRIPTION
Under the Network Monitorin

[2017-10-05 21:26] chantra commented on #723
here some profiling files in case that help. I am still digging through attempting to find what triggers the busyloop (which ends up being repetitive calls to `select.select`

## Kcachegrind versions
[prof-nok.log](https://github.com/Exa-Networks/exabgp/files/1360905/prof-nok.log)
[prof-ok.log](https://github.com/Exa-Networks/exabgp/files/1360906/prof-ok.log)

## pstats versions
[prof-nok.log.prof

[2017-10-05 23:01] chantra commented on #723
ok, even simpler wait to reproduce.... instead of running `bird` on the other end, you can just run:

[code]

basically, TCP connection get established, OPEN get sent and we busy loop waiting to read from the peer.

I tried setting `open.bgp.openwait` to something low like `2`, hoping that we would get the busy spin for 2 sec and then it would stop until the next connection establishes, but it was

[2017-10-06 06:12] chantra commented on #723
@thomas-mangin so... This is not great, but something like https://gist.github.com/chantra/b774ae2e6661a6cc52e1b48bd4b33f73 may mitigate the issue for now.
I checked the 3.4 code and while for the most part some of the core logic is similar, I was not able to reproduce the issue on it.

[2017-10-06 11:51] thomas-mangin commented on #723
This will indeed mitigate the issue .. I need to perform the proper fix. Hopefully I will have time this week-end.

[2017-10-06 14:01] acoul commented on #726
fixed in https://github.com/Exa-Networks/exabgp/pull/728 thank you.

[2017-10-06 14:01] #726 closed

[2017-10-06 15:54] chantra commented on #723
Thanks @thomas-mangin ... I will keep an eye on how this workaround behaves but for now, I think this is a much better position than pegging a core.

Let me know if there is anything I can help with. The event loop/state machine is non trivial and I would need more time to wrap my head around how things fit together.

Shouldn't this be deal at the loop.py level directly? as it is, it looks like th

[2017-10-07 11:40] AndrewAlston opened #729 "BGP-LS failing"
##### ISSUE TYPE

 - Bug Report

##### OS

##### VERSION

[code]

##### ENVIRONMENT

[code]

##### CONFIGURATION

##### SUMMARY

Session is dropping when enabling BGP-LS towards latest JunOS Beta due to what looks like unsupported flags
##### STEPS TO REPRODUCE

Turn up BGP-LS to a 17.4 beta JunOS version running SR - session will drop when receiving generic flags of ISIS_ADJ_SR_FLAGS.

14:21:56 |

[2017-10-07 18:31] thomas-mangin commented on #729
@ruissalo - can you look of should I ?

[2017-10-07 19:23] ruissalo commented on #729
I'll take a look later today.

[2017-10-07 19:38] ruissalo commented on #729
there seems to be a typo, it should be ISIS_SR_ADJ_FLAGS  instead of ISIS_ADJ_SR_FLAGS.

I need to check with @thomas-mangin on the best way to add unit tests to this.

Will push a fix this weekend.

[2017-10-08 03:22] chantra commented on #723
So, the patch in #730 will get us on par with the old behaviour of 3.4-stable, e.g yield ACTION.LATER when reading OPEN.

Now, this unveils another issue when the notification get sent:
https://github.com/Exa-Networks/exabgp/blob/master/lib/exabgp/reactor/peer.py#L282

again, ExaBGP process will pin 1 core. 3.4-stable does not have the issue.

To repro the latest issue, assuming #730 is applied:

[2017-10-08 16:19] thomas-mangin commented on #723
Hello @chantra - yes the patch in #730 does look better and would be acceptable with a comment explaining why it was reverted.. still trying to see if there is not a better way -

[2017-10-08 16:19] thomas-mangin commented on #723
Could you elaborate please ?

[2017-10-09 14:14] thomas-mangin commented on #725
This will fix the issue with the next release.

[2017-10-09 18:12] chantra commented on #723
So this is not necessarily the notification itself, and the connection seems to be actually closed:
[code]

but as this kicks in, the CPU goes 100% again.

[2017-10-11 10:07] MEschenbacher opened #732 "exabgp configuration testing fails due to 'strings are different' on IGP configuration"
##### ISSUE TYPE
 - Bug Report

##### OS
Debian

##### VERSION

Tested with version 3, 4 and git master:
[code]
[code]
[code]

##### ENVIRONMENT

Version 3.4
[code]
Versions 4 and git master
[code]

##### CONFIGURATION
[code]

##### SUMMARY
Configuration testing fails `exabgp -t exabgp.conf` due to

##### STEPS TO REPRODUCE
run `exabgp -t exabgp.conf` on the provided configuration

##### EXPECTED

[2017-10-11 21:24] MEschenbacher commented on #732
`exabgp -t` also fails on a non-private asn + public asn combination (same issue). I assume this happens as soon as `local-as != peer-as`.

[2017-10-11 21:41] chantra commented on #723
The issue got auto-closed as I had tagged #730 as fixing this one.... well, it fixes 1 part of it. Now, it still goes 100% CPU once we pass the openwait time as explained in https://github.com/Exa-Networks/exabgp/issues/723#issuecomment-334980224 .

Reopening so we can keep on tracking the issue here.

[2017-10-12 22:29] jmauro opened #733 "Python3 question"
Hello,

The issue is more a question than a report.
I must confess I am a bit confused with the use of `python2`and `python3`. Let's say, I want to create a brand new architecture based on ExaBGP, am I supposed to create an RPM package (yes I'd rather have a distribution package for now) with python2 or python3, should I stay to version 3.4.XX or version 4.XX.XX?

Could someone give me some insigh

[2017-10-13 11:30] thomas-mangin commented on #733
3.4 is the "stable" version and is python 2 only
4.0 will be python 2 and 3 compatible but development switched from python centric 2 to python 3 centric
version 5.0 will drop support for python 2 support.

4.0 will become the new stable version soon - hope it helps.

[2017-10-16 13:04] thomas-mangin commented on #732
Hello Maximilian,

Yes, indeed the difference is due to the fact that the session is configured with EBGP. This means that the message to be sent NEEDS the prepending of the local ASN and therefore the message configured and sent will be different.

The option `-t` was created for our internal testing which is iBGP only in purpose 😜  - I never expected people to use it .. but as it is documented,

[2017-10-16 16:37] thomas-mangin commented on #733
assuming it answered the question - if not: 'reopen is your friend'

[2017-10-16 16:37] #733 closed

[2017-10-16 16:39] thomas-mangin commented on #724
@vincentbernat updated the Debian folder with a new README file - closing this issue. Thank you @fser for creating the wiki entry (and @vincentbernat for maintaining the Debian packaging)

[2017-10-16 16:39] #724 closed

[2017-10-16 17:51] jmauro commented on #733
Yes the explanation is clear

[2017-10-16 19:37] thomas-mangin commented on #722
This is most likely due to the API application not reading the ack message generated by ExaBGP 4.0.
See https://github.com/Exa-Networks/exabgp/wiki/Migration-from-3.4-to-4.0

[2017-10-16 19:37] #722 closed

[2017-10-16 19:40] thomas-mangin commented on #716
I assume all is fine and I can just close this issue - if not, please feel fee to re-open it.

[2017-10-16 19:40] #716 closed

[2017-10-16 19:43] thomas-mangin commented on #708
would this patch fix the issue please ?
[code]

[2017-10-16 19:45] thomas-mangin commented on #682
Any change to get a env which produce the issue ?

[2017-10-16 21:35] nfz1 commented on #708
Hi,

I wrote two test programs to try to the patch. ExaBGP seems to no longer send route refresh messages after applying it. There is now a new error, here is the log output from the sender of the route-refresh request.

[code]

If I remove the patch the sending works fine.

[code]

[2017-10-16 22:15] nfz1 commented on #708
Here is a stack trace from the above error, hopefully this will help:

[code]

I implemented a quick fix for the error. It may not be a good idea to actually implement the fix this way but I just wanted to see if the route-refresh messages are being received okay.

[code]

The patch you provided seems to fix the route-refresh received message problem. I also noticed another issue. The JSON string

[2017-10-17 21:00] chantra commented on #723
Tried it out bc39722e31e0b46a26e086708d849fec16537737 quickly and it still repro :s

[2017-10-17 21:02] chantra commented on #723
Thanks for checking it out. From my end, the original dirty hack seems good enough for now, but this issue will be a blocker for 4.0 IMHO

[2017-10-18 15:02] adrian62 commented on #682
Hi Thomas,
I can probably get something going; but I would prefer deferring this issue in favor of another that we discussed at times but for which there is no open ticket.That is the performance of exabgp with rib disabled.
My project is a kind of SDN controller that ends up processing large numbers of routes, on the order of the internet table plus some.When i first started we ran with 3.4.19 an

[2017-10-19 14:07] ravikumar727 opened #736 "Some routes are not sent to peers when commands are sent too quick"
##### ISSUE TYPE
 - Bug Report

##### OS

[code]

##### VERSION

[code]

##### ENVIRONMENT

[code]

##### CONFIGURATION

[code]

##### SUMMARY

We have an agent that runs as the ExaBGP child process. When the process starts, it does the bootstrap and gets the route details from the route provider service. The agent gets around 15000 routes in 1-2 seconds and pushes it ExaBGP as commands. I am obse

[2017-10-20 09:12] thomas-mangin commented on #736
Are you flushing the data on the STDOUT between each command ? If not this likely the reason and you need to do it. I should update the documentation to make this a requirement.

[2017-10-20 09:35] ravikumar727 commented on #736
@thomas-mangin ,
Yes. I am flushing the data between the commands.

I can see the route is added in store.py: insert_announced. Both dict_nlri & dict_sorted has the change.

However after below line in store.py:updates method, some routes are missed.
		for attr_index, dict_change in dict_sorted.items():

I am trying to identify where it is getting dropped. Is there any change done to dict_sorted a

[2017-10-20 09:37] thomas-mangin commented on #736
That's bad .. I can not look into it right now but will do.

[2017-10-20 09:41] ravikumar727 commented on #736
Thanks @thomas-mangin .

[2017-10-20 10:20] thomas-mangin commented on #736
Are all the updates announcement or do you have some withdraw ?

[2017-10-20 13:43] ravikumar727 commented on #736
this is happening during bootstrap and will be only announcements.

[2017-10-21 17:55] ravikumar727 commented on #736
I found the issue. The incoming commands are added to RIB._modify_sorted through insert_announced method. The worker that is getting all the routes from RIB._modify_sorted and constructs the UPDATE message and sends it. Since our usage is pushing the commands during bootstrap faster than the worker could construct the message, the UPDATE message constructed leaves out some of the commands that wer

[2017-10-21 19:42] ravikumar727 commented on #736
@thomas-mangin, pls take a look at https://github.com/Exa-Networks/exabgp/pull/737

[2017-10-22 15:54] ruissalo commented on #729
@AndrewAlston this should be fixed now. Please use the latest master to test.

[2017-10-22 15:54] #729 closed

[2017-10-22 16:15] ruissalo commented on #729
@AndrewAlston I'd also suggest you get in touch with your JTAC team if you have a support contract, it seems like the box is duplicating the Adjacency LAN Attribute.

0440 0004 0000 0000 0441 0004 4E95 02F9 0442 0004 0000 0000 0443 0020 0000 0000 0000 0000 0000 0000 0000 0000 0000 0000 0000 0000 0000 0000 0000 0000 0444 0004 0000 000A 0447 0003 0000 0A04 4C00 0D70 0000 00**19 7155 0941 2000 F1**D3

[2017-10-22 21:28] kvlangenhove opened #739 "EVPN connection reset on receipt of type-4 nlri"
##### ISSUE TYPE

 - Bug Report

##### OS

CentOS Linux release 7.3.1611

##### VERSION

[code]

##### ENVIRONMENT

[code]

##### CONFIGURATION

[code]

##### SUMMARY

EVPN connection resets with NOTIFICATION (1,0,"b'can not decode update message of type "2"'") on receipt of type-4 route.

##### STEPS TO REPRODUCE

Run with provided configuration towards Juniper QFX with JunOS 15.1X53-D63.9.

####

[2017-10-23 07:44] thomas-mangin commented on #736
Thank you very much @ravikumar727 for tracing and fixing this bug - I checked master and it seems the bug was fixed during the large code rewrite the RIB got (totally unexpected side effect).

[2017-10-23 08:01] #739 closed

[2017-10-23 08:02] thomas-mangin commented on #739
Thank you very much - proposed patch merged :-)

[2017-10-23 08:02] thomas-mangin commented on #736
fixed with #737 - thank you.

[2017-10-23 08:02] #736 closed

[2017-10-23 13:31] ravikumar727 commented on #736
@thomas-mangin , may i know if i can have a version released with the fix? we need to patch our system with the fix.

[2017-10-23 16:26] thomas-mangin commented on #736
Upload 3.4.21 to GitHub.

[2017-10-30 10:37] tmmorin commented on #733
Note that there are Fedora RPMs for ExaBGP: http://rpmfind.net/linux/rpm2html/search.php?query=exabgp
I believe this is python2.

[2017-11-02 21:19] sonixyznitesh commented on #541
@thomas-mangin (and others):

I know this thread is a year old but wanted to update with my observations as well:

We have run into similar issues with Juniper (vSRX) where it does not like the extended community type (0x0800) for redirect-to-ip flow spec too whereas Cisco seems to be happy :) and seems to support only the new community type

Looks like following clarifies the formatting of BGP Fl

[2017-11-02 22:15] sonixyznitesh opened #742 "Enabling group-updates causes exabgp to group multiple NLRI with multiple MP_(UN)REACH in one UPDATE message"
##### ISSUE TYPE
 - Bug Report

##### OS
[code]

##### VERSION
[code]

##### ENVIRONMENT
[code]

##### CONFIGURATION
[code]

##### SUMMARY

ExaBGP groups multiple NLRIs (flow spec routes) in a single UPDATE message with 'group-updates' attribute enabled.

However, if the multiple flow spec routes have different next hops, this causes multiple MP_REACH (or MP_UNREACH) path attributes in the UPDATE

[2017-11-04 13:23] thomas-mangin commented on #742
This issue was already fixed in 3.4.21 (issue #493)

[2017-11-04 13:23] #742 closed

[2017-11-04 13:28] thomas-mangin commented on #742
Thank you for the good report and sorry for not spotting earlier. Released 3.4.22 today - enjoy !

[2017-11-04 18:44] sonixyznitesh commented on #742
Hello Thomas,

Thank you, first of all, for taking a quick look and providing a timely resolution!

Just to confirm, the fix (for #493) should work for IPv4 family AND FlowSepc NLRIs too - correct?
Anyways, I will upgrade to 3.4.22 soon and let you know how it goes!

And lastly, thank you for authoring ExaBGP - we have been using it for injecting FlowSpec routes and it has been almost flawless to-

[2017-11-05 20:15] thomas-mangin commented on #742
Sent from my iPad

Correct it only groups IPv4 unicast routes.

Nice to hear.

[2017-11-08 01:34] sonixyznitesh commented on #742
Upgraded to 3.4.22 today and tested out the fix. Works as expected!

Thanks!
/Nitesh

[2017-11-08 02:02] sonixyznitesh commented on #541
@thomas-mangin

Any update on this one?

We are using ExaBGP v3.4.20 and it uses 'extended community type = 0x0800' for flow spec redirect-to-ip - this is causing juniper to reject the route with following error message:

"Extended Communities(16): Unsupported IANA community format:800:0:0:0:0:0:0"

Looks like Juniper expects community type 0x8108 which uses:
'Generic Transitive Experimental Use E

[2017-11-08 06:53] thomas-mangin commented on #541
No RFC - no change in code in 3.4. to follow the principle of least surprise. However things may have changed enough to justify a change of code in 4.0

[2017-11-08 12:45] MEschenbacher commented on #732
Thanks for addressing this issue.

For branch 3.4, this still fails, even with commit 0edcf44f:
[code]

For branch master, `exabgp -t` still fails but due to a different error:

[code]

[2017-11-08 13:11] thomas-mangin commented on #732
This is a different issue .. can you please run the program with "--d" and enabling the option `exabgp.debug.configuration`.

[2017-11-11 03:28] mancubus77 opened #743 "BGP-LS parsing problem with IOS-XE"
##### ISSUE TYPE
 - Bug Report

##### OS
Red Hat Enterprise Linux Server release 6.9 (Santiago)

##### VERSION
[code]

##### ENVIRONMENT

[code]
Json dump of NLRI section:

[code]

##### CONFIGURATION
[code]
##### SUMMARY
Can't get BGP-LS information from IOS-XE device. Session closes due to parse error in NLRI section, probably because of:
_"bgp.ls.nlri_ospf_route_type": "2"_

##### STEPS TO REPR

[2017-11-11 07:05] ruissalo commented on #743
@thomas-mangin

I'm trying to reproduce the error but I'm getting this:

[code]

judging from the stack trace posted in the bug report, the fix itself seems to be trivial but I'm not sure now if I'm doing the right thing to decode the update.

thanks

[2017-11-11 07:07] ruissalo commented on #743
`--validate` shows no errors and I was also able to decode a different update. Not sure why it's not attempting to decode this particular message though ;|

[2017-11-13 05:25] mancubus77 commented on #743
check.py +175
[code]
I'm not sure that it's unpacked correctly

[2017-11-14 15:13] switchtower commented on #370
I was able to reproduce this issue on 3.4.19
the config has 5044 routes for a specific community that we filter against:
`
cat conf_rtr.switchtower.com_ipv4.ini | grep 64512:318 -c
5044
`
 but on the router:
`
11.11.14.23     4 64512 37858694 1159621   771739    0    0    3d08h 5055
`
if I completely shutdown the process and start it back up, the number of routes are correct:
`
11.11.14.23     4 6

[2017-11-14 19:19] thomas-mangin commented on #370
If possible, could you please look at 3.4.22 as I believe this issue may have been fixed with the patches in .21 and .22

[2017-11-17 17:59] thomas-mangin commented on #743
I am not sure if there is something else to fix .. let me know ..

[2017-11-21 06:46] fujimoto-s opened #745 "Connection will be crashed when ExaBGP try to log the specific flowspec routes"
Hi.

##### ISSUE TYPE
 - Bug Report

##### OS
Ubuntu 14.04

##### VERSION

[code]

##### ENVIRONMENT

[code]

##### CONFIGURATION
__exabgp.conf__
[code]

__log_routes.py__
[code]

##### SUMMARY
I use ExaBGP and GoBGP.
I want to announce flowspec routes from GoBGP, and make ExaBGP to output the routes to a log file.
However, When I announce a specific route to ExaBGP, the connection will crash and

[2017-11-22 13:01] aabdnn opened #746 "Exabgp produces invalid JSON"
##### ISSUE TYPE
 - Bug Report

##### OS
CentOS 6.9, with exabgp running under pypy 2.0.2

##### VERSION
[code]

##### ENVIRONMENT
[code]

##### CONFIGURATION
[code]

There are more peers in the config, but I've only left in the one that's triggering this bug.

##### SUMMARY
When exabgp receives an update from this peer, the resulting JSON contains control characters. When exabgp passes this JSON

[2017-11-23 06:09] mancubus77 commented on #743
I've applied suggest patch, it caused new error
[code]

[2017-11-23 07:12] ruissalo commented on #743
@mancubus77 can you try now?

[code]

[2017-11-23 09:11] itsuugo commented on #682
Hi @thomas-mangin

I think that I'm facing the same issue, I'm using https://github.com/spotify/super-smash-brogp to inject routes with exabgp version 4.0.2.
Exabgp hangs after the routes injected are more than 13k (I can't confirm that's the exact number, but it uses to happen around it).
I ran it in foreground with debug but there are nothing meaningful  in the log. Also, sending `Ctrl+C` can't

[2017-11-23 20:37] thomas-mangin commented on #745
Hello @fujimoto-s,

Thank you for reporting this issue with ExaBGP. I am trying to not change the 3.4 code much - but I have made sure the missing key(s) are present. Hopefully this address the root cause of the issue.

Sincerely,

Thomas

[2017-11-23 20:38] thomas-mangin commented on #732
No feedback - closing - please re-open if the issue is still present.

[2017-11-23 20:38] #732 closed

[2017-11-23 20:56] thomas-mangin commented on #746
So this open contain a capability of type 73 which is draft-walton-bgp-hostname-capability-02 .. and the data is `{ "name": "unknown", "iana": "unassigned", "value": 73, "raw": "r2-zrh1" } } } } `

ExaBGP used to send this but not anymore and I am not aware of any vendor having this on ..
So the question is which peers of yours is sending this !!

Hopefully this will prevent the issue: https://gi

[2017-11-26 21:52] mancubus77 commented on #743
@ruissalo
Thank you
commits [f242681](https://github.com/Exa-Networks/exabgp/pull/747/commits/f24268138c9c353afc612be58af0c7e7e75b1292) and  [2cbfb9d](https://github.com/thomas-mangin/exabgp/commit/2cbfb9df57550dee9b6e785c90b777643613065f) partially resolved the issue. Nevertheless some nlri still can not be decoded:
[code]

[2017-11-26 23:13] thomas-mangin commented on #743
@mancubus77  You did not provide us all the logs so while I know why the code is not working as expected and I can not fix the issue - please provide the whole logs for that message.

[2017-11-27 07:57] fujimoto-s commented on #745
Thanks! I've confirmed your commit fixes this issue.
I hope this commit will be published in a stable release at an early date.

[2017-11-27 11:20] mancubus77 commented on #743
@thomas-mangin
Sorry, my fault
[code]

[2017-11-27 11:33] thomas-mangin commented on #745
Thank you - there is a few more issues needing fixing before I can release the next version but all being fine I will have time over the xmas break to release it on this side of 2017.

[2017-11-27 11:33] #745 closed

[2017-11-27 11:37] thomas-mangin commented on #743
decoding this update now works.

[code]

[2017-11-27 12:30] thomas-mangin commented on #745
sorry - I thought about master exabgp-3.4.23 released.

[2017-11-30 02:29] mancubus77 commented on #743
@thomas-mangin thanks! I've applied 2 patches, nevertheless still exceptions during nlri parse:
[code]

[2017-11-30 05:44] ruissalo commented on #743
@mancubus77 I'm afraid the code hasn't been tested against Python3 so you're running into all the issues. But that's a good thing so thank you for your patient. With the latest fix should work, at least for this particular message.

[code]

[2017-11-30 07:00] mancubus77 commented on #743
@ruissalo @thomas-mangin Thank you for the support. I've parsed successfully 44478 updates from Cisco IOS-XE. If you don't mind I'll keep the topic open for a while in case of new issues will appear.

[2017-11-30 11:07] thomas-mangin commented on #743
@mancubus77 - nice to hear it seems to now be working correctly :-) Thank you @ruissalo for your help .. feel free to close the issue once you are happy that all is ok

[2017-12-01 16:25] yesbox opened #751 "Slow parsing when reading in a large config with multiple neighbors"
##### ISSUE TYPE
 - Bug Report

##### OS
RHEL 6.7

##### VERSION
[code]
I have also tested the master branch (060cf873dcf876247008c4693fc5095a7213c322) with the same result. I have not tested ExaBGP 3 (incompatible syntax).

##### ENVIRONMENT
[code]

##### CONFIGURATION
https://gist.github.com/yesbox/12577c779858243594859a73ebcc6348

##### SUMMARY
Parsing a configuration with 6523 routes (mixed IP

[2017-12-04 02:46] #743 closed

[2017-12-04 12:05] thomas-mangin commented on #751
For the time being I would advocate running multiple copies. ExaBGP is single threaded (this is a limitation of Python) and the code will need some intrusive re-engineering to make it use multiple cores.
I need to find some time to look at performance and it is a 5 minutes thing.

[2017-12-05 07:15] fujimoto-s opened #752 "ExaBGP cannot log "not equal" operator in flowspec routes"
Hi, all.

Thanks for fixing #745, the fix works well.
But I found a further issue.

##### ISSUE TYPE

 - Bug Report

##### OS
Ubuntu 14.04

##### VERSION

[code]

##### ENVIRONMENT

[code]

##### CONFIGURATION

##### SUMMARY
Same as the previous issue, I want to make ExaBGP to output the flowspec routes announced by GoBGP to a log file.
However, When I announce a specific route including '!=' oper

[2017-12-05 10:48] thomas-mangin commented on #752
The code was massively improved with master and it may be best to run ExaBGP 4.0 for what you are trying to achieve but I will fix this problem.

[2017-12-05 21:09] pratiklotia opened #753 "Invalid 'Rate-limit' and 'Value' in JSON output for extended communities"
ISSUE TYPE
Bug Report

OS
Ubuntu 16.04.5 (Debian/Linux)

VERSION
[code]

ENVIRONMENT
[code]

CONFIGURATION

[code]

SUMMARY
The exabgp is configured to receive messages from a BGP peer in the JSON format. For BGP Update (Flowspec) messages, the JSON contains key-value pair for the key - 'extended-community' containing values like 'rate-limit' and 'value'. Firstly, the rate-limit always shows as '0

[2017-12-05 21:27] SivaKesava1 opened #754 "Handling Multi Neighbor Scenario"
In the parse-dual -neighbor.conf can we have:

process announce-routes{
run (path to python) example.py
}

With "announce" routes in example.py

and in only in one  neighbor  if we have:
 api {
        processes [announce-routes];
    }

But the routes are announced to both the neighbors if we don't add "neighbor" to "announce route" so is it that way even if we ask to execute the file only in one

[2017-12-06 01:08] pratiklotia commented on #753
I just noticed. This issue is **NOT** a bug related to ExaBGP.

I was using the json.loads() function to convert the received JSON to a dictionary so as to insert it in Mongo DB. The json.loads() function is responsible for converting the value to a Long Int and appending the 'L' in the value.
The rate-limit is also received as a non-zero number for bits/sec value of greater than 8 - as ExaBGP con

[2017-12-06 20:13] thomas-mangin commented on #754
You do not provide the requested information about the version - please use 4.0.

[2017-12-06 20:13] #754 closed

[2017-12-07 15:55] thomas-mangin commented on #754
Please look at the wiki for example of API use, if it is still not clear re-open the issue.

[2017-12-07 16:27] pratiklotia commented on #753
Upon review, to load the JSON data directly into MongoDB, we had to do the following:

We modified the source code at "/opt/exabgp/lib/exabgp/bgp/message/update/attribute/community/extended/community.py", line number 95 was changed from  "return '{ "value": %ld, "string": "%s" }' % (h,s)" to return '{ "value": %s, "string": "%s" }' % (h,s).

Not sure if this is the recommended way of doing it, ple

[2017-12-07 20:47] thomas-mangin commented on #753
Thank you will update the code.

[2017-12-07 22:10] charlescng opened #755 "Advertising IPv6 routes with IPv4 Peering"
##### ISSUE TYPE
- Question

##### OS
Ubuntu 14.04

##### VERSION
[code]

##### ENVIRONMENT
[code]

##### CONFIGURATION
IPs have been sanitized.

[code]

##### SUMMARY
Everything works great when advertising IPv4 routes. If we tried to advertise an IPv6 route, things seem OK in the log file but no UPDATE message is ever sent to the peer. This is verified with packet capture via `sudo tcpdump -i et

[2017-12-08 03:20] ChesterCh opened #756 "Permission Denied Error"
I keep getting the permission denied error when I try to open a file and write to that file in ExaBgp. This is what is printed when I run exabgp with a conf file:

19:16:36 | 9926   | welcome       | Thank you for using ExaBGP
19:16:36 | 9926   | version       | 4.0.2-1c737d99
19:16:36 | 9926   | interpreter   | 3.4.3 (default, Nov 28 2017, 16:41:13)  [GCC 4.8.4]
19:16:36 | 9926   | os

[2017-12-08 10:50] thomas-mangin commented on #756
ExaBGP drop permission to nobody when it runs - it is a unix permission issue as your code is being executed by ExaBGP AFTER dropping root privilege (for security reason).

You can look at the option to run ExaBGP as another user which have the right to write to that location.

[2017-12-08 10:50] #756 closed

[2017-12-11 18:06] charlescng commented on #755
^ @thomas-mangin

[2017-12-12 23:12] thomas-mangin commented on #755
ack - as `group-updates false` is likely to fix the issue I will look into it later.

[2017-12-13 16:09] charlescng commented on #755
I tried setting `group-updates false;` but I still only see the IPv4 routes being advertised.

[2017-12-14 17:54] sanfern opened #757 "exabgp is missing its setuptools config file"
##### ISSUE TYPE

 - Feature Idea

##### OS

Ubuntu 16.04
##### VERSION

[code]

##### ENVIRONMENT

[code]

##### CONFIGURATION

##### SUMMARY

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

Installation of cli tools

##### ACTUAL RESULTS

##### IMPORTANCE

[2017-12-14 18:03] thomas-mangin commented on #755
Are you sure your peer is announcing IPv6 on the session ?

[2017-12-14 18:04] thomas-mangin commented on #757
Hello, this is a statement. Not sure what I should do with it ...

[2017-12-14 18:05] charlescng commented on #755
It's configured to announce both IPv6 and IPv4 IPs.
[code]
from reactor
[code]

[2017-12-14 18:21] thomas-mangin commented on #755
Could you share the output the the debug information created with running with '-d' which will show both 'OPEN' definition and share the whole output here so I can see what ExaBGP is doing please ?

[2017-12-19 15:48] yesbox commented on #751
Breaking up the configuration in smaller files and running one process per peer did indeed mitigate this issue. Thanks!

[2017-12-22 10:01] spakka commented on #370
I had this issue, and moved to 3.4.23 and it seems to be fixed. A withdraw that happens when the peer is down, is now correctly reflected when the peer comes back up

[2017-12-22 10:26] spakka opened #758 "NOTIFY does not include peer information or raw body/header"
Hi Thomas,

##### ISSUE TYPE
 - Bug Report

##### OS
CentOS release 6.9 (Final)

##### VERSION

[code]

##### ENVIRONMENT

[code]

##### CONFIGURATION

[code]

##### SUMMARY
When Exabgp 3.4.23 receives a notify message from its peer, the received message does not include the 'neighbor' structure that contains the details about which peer the notify was sent from. It is also missing the 'body' and

[2017-12-26 10:44] ksp13 opened #759 "exaBGP_Home directory is not found after installing exaBGP in ubuntu 16.0.4"
##### ISSUE TYPE
 - Bug Report

##### OS

##### VERSION
ExaBGP : 3.4.13
Python : 2.7.12 (default, Nov 19 2016, 06:48:10)  [GCC 5.4.0 20160609]
Uname  : #166-Ubuntu SMP Wed May 3 12:18:55 UTC 2017

##### ENVIRONMENT

[code]

##### CONFIGURATION

##### SUMMARY
After installing exaBGP "exaBGP_home" directory is not getting created.

[2017-12-26 17:34] thomas-mangin commented on #759
Happy xmas (if you celebrate it) !

You are making a statement but I can not understand what your problem is. Could you please be clearer with what happened and what you think should have happened. How did you install ExaBGP ? What did happened ? What would you have expected to happen ? It looks like a packaging issue to me .. is it with Debian, Ubuntu, RedHat, Arch ?

[2017-12-27 15:02] vincentbernat opened #760 "Duplicate peer definition may be non-fatal"
##### ISSUE TYPE
 - Feature Idea

##### OS
Debian Linux

##### VERSION
[code]

##### CONFIGURATION
[code]

##### SUMMARY

Currently, when a neighbor is defined twice, we get a "duplicate peer definition" error. However, when ExaBGP is not using `listen`, there should be no problem in connecting to a peer twice. This could be done with a different `local-address` for each connection.

Here is a pro

[2017-12-27 15:38] vincentbernat commented on #760
So far, my only difficulty is using the neighbor name as `peer-address` if not present.

[2017-12-27 22:06] thomas-mangin commented on #760
Good idea but if the same IP are setup for both side we should use multi-protocol RFC 4760 (which is already implemented).

[2017-12-28 10:50] thomas-mangin opened #763 "forward port flow spec fix"
https://github.com/Exa-Networks/exabgp/pull/761

[2017-12-28 14:21] CodyKochmann opened #764 "Is there a single place that shows how to set this up on different systems?"
A coworker and I have been trying to play with this software and haven't had too much luck getting things to work correctly yet. We've tried on both macOS and CentOS 7 and haven't been able to make things happy.

We're running on clean VMs that haven't had any modification other than whats needed for bgp operations, have clean fully installed python virtual environments so everything is as python

[2017-12-29 09:28] steiler opened #765 "BGP-LS Decoding"
##### ISSUE TYPE
 - Bug Report

##### OS
Ubuntu Server 16.04.3 LTS (xenial)

##### VERSION
[code]

##### SUMMARY
Exabgp is unable to parse BGP-LS message hence drops the BGP connection.

##### STEPS TO REPRODUCE
Using Junos vMX 17.3R1.10 as BGP peer.
Segment Routing is enabled via isis.
BGP-LS towards ExaBGP is used to export the topology.

##### ACTUAL RESULTS
Truncated logfile as follows:

[code

[2017-12-29 19:47] ruissalo commented on #765
@steiler This issue was resolved in master. Can you update your branch? You seem to be a few commits behind.

`{
  "exabgp": "4.0.1",
  "time": 1514576574.9619,
  "host": "ruissalo",
  "pid": 28751,
  "ppid": 98485,
  "counter": 1,
  "type": "update",
  "neighbor": {
    "address": {
      "local": "172.24.182.21",
      "peer": "10.113.63.241"
    },
    "asn": {
      "local": 4804,
      "peer"

[2017-12-30 22:12] steiler commented on #765
Was jumping between versions. Thought I had tested it with latest master. My bad!
Sorry and thanks for pointing it out!

[2017-12-30 22:12] #765 closed

[2018-01-07 14:01] nskalis opened #766 "md5: Incorrect padding"
##### ISSUE TYPE

 - Bug Report

##### OS

[code]

##### VERSION

[code]

##### ENVIRONMENT

[code]

##### CONFIGURATION

[code]

##### SUMMARY

When installing ExaBGP via pip3 and trying to establish a BGP session (IP v4) and using `md5` (the password provided is clear text without quotes, not hashed) using the configuration above,
I am getting the following error (server-side):

##### STEPS TO R

[2018-01-07 20:19] bhatshrinidhir opened #767 "Exabgp not sending all BGP-LU routes"
##### ISSUE TYPE
- Feature

##### OS
Linux 3.18.28-7019086.Arora18quickFix.fc18.x86_64 #1 SMP x86_64 x86_64 x86_64 GNU/Linux

##### VERSION

[code]

##### ENVIRONMENT

[code]

##### CONFIGURATION

##### SUMMARY
I'm running Exabgp process on a Linux VM and sending 13,500 BGP-LU routes to a Router.

I see that on the Router random number of routes are received, for example 12,000, sometimes 12.5k an

[2018-01-08 08:25] bahtshrinidhi commented on #767
@thomas-mangin  could this issue be similar to #736 ?

[2018-01-09 07:09] chantra opened #768 "ExaBGP 4 and python 3 support"
Currently, ExaBGP 4 is supporting python 3 and python 2 (even though it should not be relied upon).

While in many cases supporting both version can be straightforward, I believe that for ExaBGP case, supporting py3 only would make things easier has:
* you wont be forced in supporting slight language differences
* bytes vs strings will be much more straightforward
* the event loop could move to a

[2018-01-09 08:27] thomas-mangin commented on #768
I agree with all point but as said, py3 only support is planned for version 5 .. That said I do not expect 4.0 to be as long lived as 3.x was.

[2018-01-09 14:36] nskalis commented on #766
I forgot to describe how the peer is configured :)

[code]

In other words, the md5 is configured at the TCP level.

[2018-01-09 17:02] thomas-mangin commented on #766
Thank you - someone else changed the MD5 code (need to go through blame .. sorry praise to find out who) and ask about this as I do not have a router at end to test ... I know I should created a lab and run more testing .. perhaps it is not too late for a 2018 resolution ...

[2018-01-09 21:04] chantra commented on #768
yeah, I still think that this may make getting v4 for prime time harder by keeping backward compatibility support because it will need to carry code to handle both versions which is going to cause issue every so often.

[2018-01-11 20:06] chantra commented on #723
This issue is still happening and is most likely happening somewhere deep down in the event loop/state machine of bgp connections.

## Setup
- 2 hosts
  - (peer) with ip 172.18.0.2/16
  - (exabgp) with ip 172.18.0.3/16
- configs on exabgp host:
  - [/etc/exabgp/exabgp.env](https://gist.github.com/chantra/546bffd0e8c50604082c4547a3e652d2)
  - [/etc/exabgp/exabgp.conf](https://gist.github.com/chantr

[2018-01-11 22:40] thomas-mangin commented on #723
could https://github.com/Exa-Networks/exabgp/commit/da0be543a46bb4382fa1ebdc99f8e7f92dd4c590 have helped ?

[2018-01-11 22:42] thomas-mangin commented on #767
could https://github.com/Exa-Networks/exabgp/commit/359993cfbeed742357be60f3d211e9ed00904dca have been the root cause ?

[2018-01-11 22:44] thomas-mangin commented on #764
please have a look at the wiki which has lots of example for 3.4 (keep in mind that 4.0 syntax is different) ! Good luck !

[2018-01-11 22:47] thomas-mangin commented on #763
The patch was a backport so nothing to do :-D

[2018-01-11 22:47] #763 closed

[2018-01-11 22:55] chantra commented on #723
@thomas-mangin I gave it a try but the issue is still there.

[2018-01-11 23:05] thomas-mangin commented on #759
@ksp13 as ExaBGP does not require an home directory (when ran it normally use nobody) and as you did not provide more information, I will close this issue but feel free to re-open it if you think something is still not right.

[2018-01-11 23:05] #759 closed

[2018-01-11 23:06] thomas-mangin commented on #764
@CodyKochmann I will close the issue but should you not be able to find what you need on the wiki, please feel free to re-open the thread with some more specific information.

[2018-01-11 23:06] #764 closed

[2018-01-11 23:08] thomas-mangin commented on #758
@spakka from the top of my head, this was already fixed on master. If this is not an issue for you, I will be a very lazy bee :bee: and just pretend I did not see this issue  ...  Happy to accept a patch which fixes the problem tho 😁

[2018-01-11 23:11] thomas-mangin commented on #757
oh ! I guess it should read `exabgpcli` and not `exabgp` and `is missing from the setupools` .. in that case the bug was fixed some time ago .. as the current setuptools file shows:

[code]

if not please re-open the issue 😛 if I misunderstood.

[2018-01-11 23:11] #757 closed

[2018-01-11 23:14] thomas-mangin commented on #755
@charlescng The route added will appear even if IPv6 was not setup on both peer (and therefore is not negotiated) and can not be used. As there was no update I will assume that all is good - but if not, please re-open the issue with the information requested above as without I can not do much more.

[2018-01-11 23:14] #755 closed

[2018-01-11 23:16] thomas-mangin commented on #752
Thank you very much for your help. closing this issue as the patch is in and I assume all is fine, should it not please feel free to let me know.

[2018-01-11 23:16] #752 closed

[2018-01-11 23:17] thomas-mangin commented on #751
There may be an O(n) behaviour somewhere in the configuration code - it is not the fastest parsing code in the world (far from it). As it seems all is ok for you, I will close this issue.

[2018-01-11 23:17] #751 closed

[2018-01-11 23:27] thomas-mangin commented on #753
Hello, I can not replicate this issue on my MAC !!
[code]

[code]

but as `%s` make no difference .. changed with fb0349aa

[2018-01-11 23:27] #753 closed

[2018-01-11 23:42] #678 closed

[2018-01-11 23:44] thomas-mangin commented on #682
@aojea - if all os good, I will close the issue 😉

[2018-01-11 23:46] #768 closed

[2018-01-11 23:51] thomas-mangin commented on #702
@aabdnn I notice this did not move forward .. can you help and get this sorted - otherwise I fear it will have to wait a little bit more as my focus is to fix the last issues of 4.0 to have a stable release.

[2018-01-11 23:56] thomas-mangin commented on #723
thanks - I will continue my bug hunting ..

[2018-01-12 01:45] chantra commented on #723
yes, this is non-trivial I suppose. There may be a slight change between 3.4 and 4.0 that triggers this.

[2018-01-12 08:35] #746 closed

[2018-01-12 08:50] thomas-mangin commented on #723
This patch make me hopeful .. https://github.com/Exa-Networks/exabgp/commit/5a4d95b5829fde6e32f17213885e526d0ecec378

[2018-01-12 08:52] #725 closed

[2018-01-12 18:09] thomas-mangin commented on #660
@wonderg Do you want to please submit a pull request ?

[2018-01-15 10:02] thomas-mangin commented on #682
I have informed "off-github" that I should not close the issue as not fixed - so re-opening

[2018-01-15 10:10] wonderg commented on #660
@thomas-mangin done

[2018-01-16 11:33] #660 closed

[2018-01-17 01:27] iwaseyusuke commented on #766
I faced the similar issue, but the traceback message are a little different.

[code]

[code]

I could avoid this traceback with the following;

[code]

The given `bytestring` is already `bytes` type on Python3?
Just guessing, ExaBGP tries to **decode** `"cGFzc3dk"` --> `"passwd"` then pack `"passwd"` into binary?

[2018-01-17 06:39] iwaseyusuke opened #772 "flowspec: AND bit in the first operator is set"
##### ISSUE TYPE

Bug Report

##### OS

ExaBGP is running on Ubuntu 16.04 Docker container on Ubuntu 16.04 host.

##### VERSION

[code]

##### ENVIRONMENT

[code]

##### CONFIGURATION

[code]

##### SUMMARY

With the combined numeric type (maybe also bitmask type) rules like `port >=80&<=90`, ExaBGP seems to set the AND bit of in the first operator byte.
Wireshark shows `&& >=80 && <=90`;

[code]

[2018-01-18 16:24] fser opened #773 "exabgp cli is broken"
##### ISSUE TYPE

 - Bug Report

##### OS

Debian GNU/Linux 9

##### VERSION

[code]

##### ENVIRONMENT

[code]

##### CONFIGURATION

##### SUMMARY

I'm trying to run the cli using the following: `exabgp -d --run cli  'show version'` and I get:

[code]

##### STEPS TO REPRODUCE

Install exabgp using pip, and run `exabgp --run cli`.

[code]

##### EXPECTED RESULTS

have an output from cli
##### ACT

[2018-01-20 17:10] thomas-mangin commented on #772
Thank you for reporting this problem.

[2018-01-20 18:01] pooryousefshahrooz commented on #533
Hi ricardo,
can you please help me I define conf files for my quagga bgp daemon in order to announce the received routes from neighbors? I can not do that

[2018-01-20 18:23] thomas-mangin commented on #773
This is already fixed on master and need to be released.

[2018-01-21 09:32] #773 closed

[2018-01-21 09:54] #772 closed

[2018-01-21 09:57] thomas-mangin commented on #772
Hello @iwaseyusuke - exabgp own decoding was also showing the extra '&' and this is now fixed - thank you for being more thorough than I am with testing ...

[2018-01-21 09:59] thomas-mangin commented on #767
To explain we could run command send via the API out of order, so a sequence withdraw/add could have ended the other way.

[2018-01-22 09:31] thomas-mangin commented on #772
Hello @iwaseyusuke something went wrong with the pypi release of 4.0.3 and forgot to fix it -- pypi did some change and it prevented my automation to work !
now released 4.0.5 just for you 😜

[2018-01-22 23:37] iwaseyusuke commented on #772
@thomas-mangin Great! I will use it!

[2018-01-26 13:13] kbirkeland commented on #766
So, the problem here is when `md5-password` is configured that there is actually another command called `md5-base64`.  In the case of `md5-base64` being unset, `MD5()` will attempt take your string and append equal signs until it base64 decodes.  I believe that behavior violates the principle of least astonishment and should be removed.  @thomas-mangin do you agree?  If so, what should the default

[2018-01-26 14:15] thomas-mangin commented on #766
.... changing behaviour ... hopefully 4.0 is not stable yet but yes, I see how I may have been trying too hard to be useful.

[2018-01-26 20:29] ricardo-bennesby commented on #533
Hi.

You can define your bgpd conf file as follows:

**hostname r1
password zebra

router bgp 65001
 bgp router-id 192.168.0.101
 network 10.0.0.0/24
 neighbor 192.168.0.141 remote-as 65008
 neighbor 192.168.0.141 route-map set-nexthop out
 neighbor 192.168.0.141 ebgp-multihop
 neighbor 192.168.0.141 next-hop-self**

Observing that in this example your AS number is 65001, your BGP speaker IP is 19

[2018-01-27 13:00] nskalis commented on #766
@kbirkeland @thomas-mangin thanks a lot guys for tackling this issue. any idea when the fix will be made available via `pip3` ?

[2018-01-27 15:35] thomas-mangin commented on #766
when I do the next release ... Just done two back to back .. if nothing change this week I will do a third.

[2018-01-29 00:53] mikrologic commented on #294
Great work on exabgp Thomas!    Just curious as to the status of: Modify neighbor via API without requiring config reread #294       Thanks!

[2018-01-29 06:41] thomas-mangin commented on #294
@mikrologic nothing changed, still one of the feature I want to see soon. It would use a template as reference, not allow free format but I tend to work on ExaBGP when I have some free time and it is short in supply atm .. so no idea.

[2018-01-29 18:13] mikrologic commented on #294
Thanks for the info I appreciate it.  And I understand the lack of time
issue.     One thing I would love to get your opinion on is the use of
Exa to distribute IP blocklists.  I managed to do it with
https://github.com/infowolfe/exabgp-edgerouter    However it takes 10
minutes to load a medium sized list.  Is there any way to have Exa
utilize MySQL to load neighbors and routes?     Thanks again.

[2018-01-29 18:16] thomas-mangin commented on #294
Sure - you can use whatever backend and then optimise the output ... but this is a different question - perhaps best on the ML.

[2018-01-29 22:56] mikrologic commented on #294
Do you or someone you know do any custom work?   I need to figure out
how to quickly load large blocklists and serve to neighbors.  The
current methods I have tried take 1.5 Hrs to load
40k IPs.   If so I would be interested in rates.

Thanks

[2018-02-01 17:09] Kegeruneku opened #781 "Debian 8 build fails on 3.4.21 tests flow.conf and flow-redirect.conf"
##### ISSUE TYPE
 - Bug Report

##### OS
Build: Debian 9 "stretch"
Target: Debian 8 "jessie"

##### VERSION
Not built yet, but using exabgp-3.4.21.tar.gz as source

##### ENVIRONMENT
None yet

##### CONFIGURATION
None yet

##### SUMMARY
I am trying to build exabgp using the sources, the sources debian/ directory and pbuilder, and the build fails during the test stage on the flow.conf and flow-redi

[2018-02-01 17:11] Kegeruneku commented on #781
Trying to build the master branch fails on the exact same tests (`conf-flow.conf` and `conf-flow-redirect.conf`), might be an environmental issue maybe ?

[2018-02-01 20:27] vincentbernat commented on #781
I didn't have time to investigate the problem with those tests but I also got them. You can just run `pdebuild` with `DEB_BUILD_OPTIONS=nocheck pdebuild` or comment out the test section in `debian/rules` to work around that.

[2018-02-01 20:41] thomas-mangin commented on #781
Possible some test are failing - it is often not an issue but due to how the update are encoded you can encode things differently while all valid ...

[2018-02-02 08:31] Kegeruneku commented on #781
OK !

@vincentbernat FYI `ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))` is not present in 3.4.21's debian/rules so I monkey patched mine, I see that the debian/sid branch stops at `3.4.17-3` in the changelog, which branch are the latest 3.4 builds based on ?

[2018-02-02 08:44] vincentbernat commented on #781
For Debian, we are now pushing ExaBGP 4. The 3.4 branch on GitHub still has its own `debian/` directory.

[2018-02-02 10:15] Kegeruneku commented on #781
OK ! thank you :)

[2018-02-02 10:15] #781 closed

[2018-02-02 10:17] thomas-mangin commented on #781
@vincentbernat thank you for you help !

[2018-02-08 09:51] omuravskiy commented on #758
I would also like to point out that this implementation of the "notification" section is conflicting with the previous definition of the "notification" in the exabgp shutdown message.
Both messages have

but in a shutdown message the "notification" is a string:

"notification": "shutdown"

 while in the notification message it is an object:

"notification": {
    "subcode": 5,
    "code": 6,
    "

[2018-02-08 15:24] devicenull opened #782 "configuration | section group is invalid in root,"
##### ISSUE TYPE
 - Bug Report

##### OS
CentOS 7

##### VERSION
[code]

##### ENVIRONMENT
[code]

##### CONFIGURATION
[code]

##### SUMMARY
I can't seem to figure out what the syntax for groups is on master.  All the examples I can find seem to point to 'group' being a valid keyword at the root level.. but it's throwing errors on startup.

##### STEPS TO REPRODUCE
```exabgp test.txt``` where test

[2018-02-08 17:42] thomas-mangin commented on #758
🤦‍♂️ thank you for reporting this ... 🤕

[2018-02-08 18:00] thomas-mangin commented on #782
The answer is here on GitHub
https://github.com/Exa-Networks/exabgp/tree/master/etc/exabgp

[2018-02-08 18:00] #782 closed

[2018-02-14 17:21] Vascko opened #784 "exabgpcli show neighbors (summary|extensive|configuration) empty"
##### ISSUE TYPE

 - Bug Report

##### OS
CentOS 7.4 (3.10.0-693.11.6.el7.x86_64)

##### VERSION

[code]

##### ENVIRONMENT

[code]

##### CONFIGURATION

[code]

##### SUMMARY

Some time (2-8hrs) after initial installation of ExaBGP, exabgpcli show neighbors (summary|extensive|configuration) is empty:
[code]

Logfile shows neighbor relationship is established and routes have been advertised.
[code

[2018-02-14 17:30] Vascko opened #785 "ExaBGP reports missing environment file"
##### ISSUE TYPE

 - Bug Report

##### OS

CentOS 7.4 (3.10.0-693.11.6.el7.x86_64)
##### VERSION

[code]

##### ENVIRONMENT

[code]

##### CONFIGURATION

[code]

##### SUMMARY

At startup, exabgp warns that no environment file has been found although exabgp.env is present in /etc/exabgp/

[code]
##### STEPS TO REPRODUCE

Install ExaBGP v4.0.5 (PYPI or MASTER)
Save exabgp.env under /etc/exabgp
Star

[2018-02-14 22:44] thomas-mangin commented on #785
thanks for the report. not really a bug .. the location can be set on the command line - fixed anyway. when in /usr - will look in /etc/ and not /usr/etc/

[2018-02-14 22:44] #785 closed

[2018-02-14 22:46] thomas-mangin commented on #784
hello, could you please provide the output of exabgp running with `-d` so I can understand what is happening.

[2018-02-21 12:39] martbhell opened #788 "What should a normal exabgp return code be with systemctl stop?"
##### ISSUE TYPE

 - Bug Report

##### OS

 - CentOS 7.4
 - python2

##### VERSION

[code]

##### ENVIRONMENT

[code]

##### CONFIGURATION

##### SUMMARY

When exabgp service is stopped with systemd then it returns return code 1.

Is return code 1 a normal exit? If it is I can make a PR to update the systemd service file :)

Setting SuccessExitStatus in the systemd service file makes systemd statu

[2018-02-26 20:27] Vascko commented on #784
I think I messed up!

In my initial post I was running
`exabgpcli show neighbors summary`

but the correct command would be
`exabgpcli show neighbor summary`
which in fact reports the correct neighbor relationships:
[code]

It would be great for the CLI to report that as a syntax error instead of giving the output I was getting which would make this issue a feature request :)

[2018-03-01 01:20] SivaKesava1 opened #789 "IBGP Peering on Loopback addresses?"
##### ISSUE TYPE
How to write EXABGP config file if the nodes are using ibgp?
##### OS
Ubuntu 14

##### SUMMARY

[code]
Consider Node A and Node B directly connected with the ip addresses shown above. If we have Node A in Quagga with the configuration as:
[code]

Node B Quagga:

[code]

If I am creating the topology in Mininet and then run Quagga service in Node A and if I want to make Node B as e

[2018-03-01 10:59] he32 commented on #789
You need an IGP-style route (static, ospf, etc.) to 1.0.1.1,
otherwise exabgp will rightfully complain that 1.0.1.1 is
unreachable.

Regards,

- Håvard

[2018-03-01 15:03] thomas-mangin commented on #789
A few things:
 * all IP used must be present and configured on the OS (ExaBGP does not perform any network configuration)
 * the firewall must allow the TCP port 179 connection
 * the routing between IP must work

[2018-03-05 22:18] Vascko opened #790 "ExaBGP fails to start when host-name value in neighbor directive starts or ends with a digit"
##### ISSUE TYPE

 - Bug Report

##### OS
CentOS 7.4 (3.10.0-693.11.6.el7.x86_64)

##### VERSION

[code]

##### ENVIRONMENT

[code]

##### CONFIGURATION

[code]

##### SUMMARY

ExaBGP can't start when "host-name" ends or begins with a digit.
Question: Is "host-name" supposed to be the hostname of the local box or of the remote neighbor?

##### STEPS TO REPRODUCE

Install ExaBGP v4.0.5 (PYPI or MAS

[2018-03-06 06:45] SivaKesava1 commented on #789
Yes, I buy your points, suppose we are reversing the roles and Node A is emulated in Exabgp then will the config look like this?

[code]
Then will the local-address be my loopback address? Assuming we have the ip routing tables configured and met all the conditions @thomas-mangin  mentioned is this the correct config?

[2018-03-06 18:37] jlixfeld opened #791 "exabgpcli output shows "could not read answer to ExaBGP""
##### ISSUE TYPE

Bug Report

##### OS

[code]

##### VERSION

[code]

##### ENVIRONMENT

[code]

##### CONFIGURATION
[code]

##### STEPS TO REPRODUCE
Running ```show neighbor summary``` just reports ```could not read answer to ExaBGP```, however ```version``` reports the version, but never exits:

[code]

[code]

exabgp doesn't actually crash, however...

[code]

##### DEBUG
[code]

[2018-03-06 19:13] jlixfeld opened #792 "Bailing out during import of full table"
##### ISSUE TYPE

 - Bug Report

##### OS

[code]

##### VERSION

[code]

##### ENVIRONMENT

[code]

##### CONFIGURATION
[code]

##### SUMMARY
Throughout the ```process```, logs throw CRC errors for certain prefixes.  Eventually it dies.

##### STEPS TO REPRODUCE
```exabgp exabgp_api.conf```

##### ACTUAL RESULTS
[code]

[2018-03-07 17:02] thomas-mangin commented on #790
host-name value is from a draft-RFC which never saw the light of day. The feature was kept when the configuration parser was updated from version 3 to 4 but it should not be used.

[2018-03-07 17:03] thomas-mangin commented on #789
in BGP the address on both side are the end points of a TCP connection - they should be reciprocal.

[2018-03-07 18:10] thomas-mangin commented on #792
There is no CRC in BGP itself. Please open this issue with mrtparse. Could it be a python2 / python3 issue with the interpreter not being explicit ?

[2018-03-08 04:15] jasonsdn opened #793 "exabgp will tear down it's peer when updating flow route with action redirect"
##### ISSUE TYPE

 - Bug Report

##### OS

##### VERSION

[code]

##### ENVIRONMENT

[code]

##### CONFIGURATION

##### SUMMARY

I am testing flowspec with exabgp, and updating routes by using http api. I use the curl form.
exabgp works fine when using accept/discard options, for example:
curl --form "command=neighbor 172.27.10.77 announce flow route source 10.30.2.0/24 destination 210.210.210.0/2

[2018-03-08 14:26] thomas-mangin commented on #793
Sorry for this bug report, I should be able to look into this issue in the next few days.

[2018-03-08 23:52] deezknuts opened #794 "Advertised VPN prefix not correctly received on remote device"
##### ISSUE TYPE

 - Bug Report

##### OS

##### VERSION

[code]

##### ENVIRONMENT

[code]

##### CONFIGURATION

##### SUMMARY

Wrong prefix seen in advertised IPv4 VPN route.  I'm advertising IPv4 VPN route <any prefix> to my VPN router via the process called announce but instead see 0.0.0.0/0 installed into my Juniper VPN table.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I expec

[2018-03-09 07:31] deezknuts commented on #794
Just did some more testing.  Announced route 10.10.10.10/32 and the remote side vpn route shows up as 10.0.0.0/8 instead.

[2018-03-09 09:25] jasonsdn commented on #793
ok, thank Thomas.

[2018-03-09 10:56] thomas-mangin commented on #794
Can you please run exabgp with the `-d` option so I can look at the packet generated and decide if the issue is with the generation or the decoding done by the remote side.

[2018-03-09 18:02] deezknuts commented on #794
Hi Thomas, thanks for taking a look.  Here's the debug.  There's a lot going on but the advertisement starts from process "announce"

[10.0.0.45_2018-03-09_09-07-27.log](https://github.com/Exa-Networks/exabgp/files/1797887/10.0.0.45_2018-03-09_09-07-27.log)

[2018-03-10 05:39] #789 closed

[2018-03-10 06:06] SivaKesava1 commented on #760
Is the feature added or is still in progress? We are using Exabgp extensively to test our system which might require the above scenario.

Is the following config possible:

[code]
or is there a way to specify neighbor-name instead of IP address in the first line?

[2018-03-11 13:01] jlixfeld commented on #792
Thanks.

It looks like it was some data corruption in the latest-bview.gz.

[2018-03-11 13:01] #792 closed

[2018-03-12 06:23] treemanzhou opened #795 "neighbor become flapping"
##### ISSUE TYPE

 - Bug Report

##### OS

CentOS release 6.7 (Final)
##### VERSION

[code]

##### ENVIRONMENT

[code]

##### CONFIGURATION

##### SUMMARY

the router 's neighbor the exabge  become flapping when i run segmentrouting  feather in my igp .

router：
RP/0/RSP0/CPU0:Mar 12 14:02:56.520 : bgp[1058]: %ROUTING-BGP-5-ADJCHANGE : neighbor 10.20.200.1 Down - BGP Notification received, invalid

[2018-03-12 09:56] thomas-mangin commented on #795
Hello @treemanzhou

You are not providing your configuration and the output of ExaBGP with the option -d

I have no idea what route you sent, and what could have gone wrong, but the fact that your router consider one of the route received as invalid.

I can not help you without more information.

[2018-03-12 09:58] thomas-mangin commented on #794
Thank you .. Could you please provide me with the route which does cause you the issue as this is a lot of data and I do not have your router to see which one is the faulty route !

[2018-03-12 10:06] thomas-mangin commented on #791
From the information provided it looks like the client is waiting for ExaBGP to write the output for the command and that ExaBGP never get to do it .. But I was not able to reproduce the problem .. yet ..

Any way to get access to the system affected ?

[2018-03-12 10:18] treemanzhou commented on #795
i added the -d  option  and  there is no detail output  .
here is my command , and the output is the same as before i presented.
./exabgp -d bgp_bgpls.conf

[2018-03-13 01:58] davidc opened #796 "Watchdog routes not announced"
I am trying to have /32 routes announced but only when the relevant daemon is running, but I can't get this to work. This probably user error as there is seemingly no documentation on either 'route' or 'watchdog', can you let me know what I'm doing wrong please?

[code]

I've tested the process is outputting "announce watchdog" and "withdraw watchdog" correctly. (The process doesn't output a watch

[2018-03-13 04:33] deezknuts commented on #794
Here is the message advertisement.

#!/usr/bin/env python

import sys
import time

messages = [
'announce route 20.20.20.0/24 next-hop 206.80.151.253 rd 65534:65002 community 65534:6666 extended-community [target:65534:65301]'
]

time.sleep(2)

while messages:
    message = messages.pop(0)
    sys.stdout.write( message + '\n')
    sys.stdout.flush()
    time.sleep(1)

while True:
    time.sleep(1)

[2018-03-13 05:03] deezknuts commented on #794
Here's another debug.  Hope this capture it.
[debug2.txt](https://github.com/Exa-Networks/exabgp/files/1805528/debug2.txt)

[2018-03-13 14:17] thomas-mangin commented on #794
[code]

The issue seems to come from the RD encoding .. will fix when I can find some time to investigate what happened.

[2018-03-13 14:18] thomas-mangin commented on #796
you need to give the name of the watchdog. Could you please try `announce watchdog smtp`

[2018-03-13 14:22] thomas-mangin commented on #795
You are still not providing me with what your program generated as command AND the output of exabgp -d .. Therefore I still can not help you.
If there was not detailed output, it probably mean that you are using a packaged version of ExaBGP which is sending the logs to syslog .. if so, please use the latest version from GitHub.

[2018-03-13 14:31] davidc commented on #796
I actually tried that first, but it does not work either:

[code]

It does look like defaulting the watchdog name to the process name was added in a later version than the one in Debian (3.4.17), are there any other recent changes that I might be inadvertently using?

[2018-03-13 14:32] davidc commented on #796
I also tried withdrawing and announcing once the peering is already established, so it's not an issue caused by the announce happening before the BGP session is up.

[2018-03-13 14:43] thomas-mangin commented on #796
It may be a regression - as this is how it should work :-(
You could consider using the healthcheck program if the test is simple enough ?

What version are you using ?

[2018-03-13 15:35] davidc commented on #796
Hi Thomas, it's 3.4.17 from Debian stable.

I'd prefer to use a watchdog if we can get that working, as there are multiple routes to be announced with different localprefs for each different service.

[2018-03-14 02:04] treemanzhou commented on #795
Hi thomas
    i git the latest version  and run  exabgp -d bgp.conf exabgp ,still no detail output ........

![image](https://user-images.githubusercontent.com/20250698/37379531-d1614440-276e-11e8-9e35-e9f17c02d3e3.png)
![image](https://user-images.githubusercontent.com/20250698/37379539-db701682-276e-11e8-9e53-7d4cbb7756a4.png)
![image](https://user-images.githubusercontent.com/20250698/37379546-

[2018-03-14 02:41] deezknuts commented on #794
Thanks Thomas.

[2018-03-14 14:07] davidc commented on #796
Hi,

I have managed to get it kinda working by moving the static { route { } } into the neighbor { }

This resulted in the weird error "configuration | next-hop self can only be specified with a neighbor", however when I changed it to next-hop 5.0.0.2 it worked. I don't know what this error means, as it was in fact defined within the neighbor.

This configuration is not ideal, as it means I now ne

[2018-03-14 17:18] pguibert6WIND commented on #540
Hello,
I have a similar setup, but I have following error message

Wed, 14 Mar 2018 18:48:43 | INFO     | 25978  | configuration | Loaded new configuration successfully
Wed, 14 Mar 2018 18:48:43 | INFO     | 25978  | processes     | Could not start process announce-routes

I use exabgp 3.4.17
my config file contains following line:
process announce-routes {
        run ./api-add-remove.run;
}
and

[2018-03-14 17:42] thomas-mangin commented on #796
Hi the answer is .. `community [ 42579:5000 42579:5005 ];` AFAICR.

[2018-03-14 17:43] thomas-mangin commented on #796
For the next-hop self -- it is coded in a very "hacky" and this is why you had that message. Determining the next-hop in the code is not always easy.

[2018-03-14 17:51] thomas-mangin commented on #540
This is shell 101 not ExaBGP AFAICS - `chmod 755 ./api-add-remove.run`

[2018-03-15 03:27] treemanzhou commented on #795
[exabgp.log](https://github.com/Exa-Networks/exabgp/files/1813905/exabgp.log)

[2018-03-15 05:45] ruissalo commented on #795
Hi @treemanzhou,

What version of IOS XR are you using?

From what I can see the flags the router is sending to ExaBGP are these:
{'E': 0, 'L': 0, 'N': 1, 'P': 0, 'R': 0, 'V': 0, 'RSV': 0}

If those are indeed the flags, then I'm afraid it's an IOS-XR bug, unless my interpretation of the draft is incorrect. Quoting the draft:

[code]
In this case ExaBGP complains about the index being only 3 octet

[2018-03-15 08:01] treemanzhou commented on #795
Hi @ruissalo
    First thanks for your reply ， The version of my router box is  "Cisco IOS XR Software, Version
           6.1.4[Default] " . I run segment routing  on  my  production environments.
     As the pcap below . that's might be a bug , can i work around it ?
###########################################

![image](https://user-images.githubusercontent.com/20250698/37450703-e7fb28d2-2869-11

[2018-03-15 09:21] thomas-mangin commented on #795
@treemanzhou - I did not write the part of the code .. but .. you could modify the code in`lib/exabgp/bgp/message/update/attribute/bgpls/prefix/srprefix.py` to accept a TLV length <> 4 and see if it works for you.
[code]

[2018-03-15 10:19] treemanzhou commented on #795
@thomas-mangin @ruissalo
             it works !!   really appreciate!  that's great help

[2018-03-15 16:10] ruissalo commented on #795
thank you @thomas-mangin :)

[2018-03-15 16:25] thomas-mangin commented on #795
@ruissalo no - thank YOU - for helping 👍 but let's end the bromance here 🤣

[2018-03-15 16:25] #795 closed

[2018-03-21 19:07] deezknuts commented on #794
@thomas-mangin Hi Thomas, were you able to find some time looking into this?  The controller I'm working on depends on the correct prefixes being advertised.

[2018-03-21 19:40] thomas-mangin commented on #794
@deezknuts sorry mad busy time will do this week

[2018-03-23 02:29] DrewBloechl opened #797 "healthcheck: next-hop argument should not be sent through ip_address()"
healthcheck.py's `--next-hop` argument is specified with `type=ip_address`. However, ip_address() really constructs an IP network, so whatever's passed in will come out as a /32 (in the IPv4 case), which results in this API message (note the /32 on the next-hop):

[code]

If I'm following the flow right, the main process then rejects this announce:

[code]

Using the same constructor for both the

[2018-03-23 22:42] #797 closed

[2018-03-27 07:55] plajjan opened #799 "GTSM configuration (incoming-ttl) should support IPv6"
##### Summary
I want GTSM support, i.e. setting a high TTL on outgoing packets and verifying that incoming packets have a high TTL. In v4 this seems properly supported for IPv4 but for IPv6 I don't think it is.

The `IP_MINTTL` socket option used here https://github.com/Exa-Networks/exabgp/blob/master/lib/exabgp/reactor/network/tcp.py#L210 is for IPv4. I think the equivalent for IPv6 is https://gi

[2018-03-27 14:53] thomas-mangin commented on #799
Hi @plajjan - I am behind on support and I need to fix some bugs before working on new features but it does not look like it should be hard to add if Python has support for the feature.

[2018-03-28 03:01] deezknuts commented on #794
@thomas-mangin Thanks for taking a look.  Pls let me know what you find.  My controller is now waiting for the exabgp side.... so  hopefully soon!

[2018-03-28 08:47] thomas-mangin commented on #794
Easter week-end is coming .. with bank holidays -- should help !

[2018-04-02 02:06] jasonsdn commented on #793
Hi Thomas，
any updates ？

[2018-04-02 10:40] #793 closed

[2018-04-02 10:40] thomas-mangin commented on #793
found the cause - fixed - tested - should just now work as expected.

[2018-04-02 10:43] #796 closed

[2018-04-02 11:46] thomas-mangin commented on #794
AFAICS the route is missing label information so it is generated without but is invalid by the RFC and labels are required ! It seems it is just plain luck that the generated route is valid.

[2018-04-02 12:26] thomas-mangin commented on #794
@deezknuts - I fixed an issue with the parsing of routes with label, I was reading label data when it was not present. Now this is fixed, parsing the data generated by ExaBGP gives me exactly what I would expect to see (ie: it matches the command line).
[code]

I am not an MPLS expert but are not labels required for MPLS routes ? Your does not have any.

[2018-04-02 12:43] thomas-mangin commented on #791
For clarity, ExaBGP did not "crash", it had an internal issue and recovered - updated the message to be clearer.

[2018-04-02 12:44] thomas-mangin commented on #791
I would guess it could be an issue with the setup of the pipe between the cli and and exabgp - are you still seeing the issue ?

[2018-04-02 12:51] #790 closed

[2018-04-02 12:51] thomas-mangin commented on #790
Looking at https://en.wikipedia.org/wiki/Hostname
[code]

[2018-04-02 12:53] thomas-mangin commented on #788
Thanks for the report - it should probably not return with 1 (which is a sign of an error) if it was SIGTERM'ed.

[2018-04-02 12:58] thomas-mangin commented on #767
@bhatshrinidhir ping ? all ok ? can I close the issue please ?

[2018-04-02 13:26] #784 closed

[2018-04-02 13:27] thomas-mangin commented on #784
Thank you for the report - fixed :-)

[2018-04-02 13:30] thomas-mangin commented on #791
Just change the code to force python3 for the cli - if it makes a difference it will be a python2 vs python3 issue.

[2018-04-05 06:42] bhatshrinidhir commented on #767
@thomas-mangin yes the issue can be closed. Thanks for fixing the issue. I did not get a chance to test this again after reporting the issue, but I will do it when I get some time.
Thanks again, for fixing the issue!

[2018-04-06 21:44] #767 closed

[2018-04-10 00:04] dhammika opened #800 "Withdrwals include attributes"
##### Summary
Route withdrawals include default path attributes.
Withdrawals without mandatory nexthop don't strictly confirm with bgp spec and remote peer terminates the session with `Missing Well-known Attribute` error msg.

##### OS
[code]

##### Version
[code]

##### Installation
[code]

##### Environment

[code]

##### Configuration
[code]

##### Program output
[code]

##### Steps to reproduc

[2018-04-13 06:43] jasonsdn commented on #793
Thanks Thomas, I will test it.

[2018-04-13 10:51] longmalx commented on #370
Is there an update as to when this issue may be fixed in the 4.x release chain?
Builds from master are still showing this issue.

[2018-04-17 17:14] longmalx commented on #370
I have a rough patch which appears to fix the issue in 4.x - my problem is caused by backup_changes not being populated over reload.

The old code that did this was removed between 3.4 and 4.x in the configuration file handling.

I can submit a pull request with this fix, even though I’m not sure it’s the most elegant solution to the problem.

[2018-04-17 18:56] dhammika commented on #800
@thomas-mangin any thoughts on this?

[2018-04-19 14:13] thomas-mangin commented on #800
Hi @dhammika - thanks for spotting this .. and sorry for the time it takes me to reply ATM. Patches applied, if required I could release a new version.

[2018-04-19 16:45] longmalx commented on #370
@thomas-mangin - I've create a PR #802 for the workaround

[2018-04-19 16:55] dhammika commented on #800
New version tag would be great, thanks!!

[2018-04-25 13:35] job commented on #96
Hi all - "need-help" was added. We hit this bug.

What is required? Wat is the current status?

[2018-04-25 17:33] thomas-mangin commented on #96
Well, need some configuration parsing for generation, reverse when the data is received from the peer, most of the rest of the code is there but I have never configured confed and therefore never took on the work.

[2018-04-26 18:57] falz opened #805 "BMP / RFC7854 support - roadmap feature?"
Exabgp Version 3.1.6 lists "add a very simple BMP deamon" as an added feature, but it sounds like this may have been pulled.

Curious if BMP support is planned for the future, I cannot find a current roadmap document.

[2018-04-30 14:27] Jitoxxx opened #810 "Exabgp to collect RouteReflector Changes!"
##### Summary

##### OS

[code]

[code]

####collector.conf

process parsed-route-backend {
        run /home/ubuntu/exabgp-4.0.5/routecollector/bin/transform-exabgp-json.py;
	encoder json;
}

template {
    neighbor VPN-RR {
	    router-id xx.xxx.xx.xxx;
        local-address xx.xxx.xx.xxx;
        local-as xxxx;
        peer-as xxxx;
        hold-time 180;
	family {
			ipv4 mpls-vpn;
			ipv6 mpl

[2018-04-30 21:26] thomas-mangin commented on #810
The json does not have a 'neighbor' key ... please print it to see what was sent and why it is not there ... I can not really help you much here.

[2018-05-02 08:14] Jitoxxx commented on #810
Yea, working on that still, another question;

When I run Exabgp --env exabgp.env I get the following :

´´´´
no configuration file providedubuntu@modern-roughy:~/exabgp-4.0.5/routecollector/etc$ exabgp -env exabgp.env
08:13:21 | 15219  | welcome       | Thank you for using ExaBGP
08:13:21 | 15219  | version       | 4.0.5-67a808ae
08:13:21 | 15219  | interpreter   | 2.7.12 (default, Dec  4 2017, 1

[2018-05-02 08:35] thomas-mangin commented on #810
it is `--env` and not '-env`

[2018-05-02 08:48] Jitoxxx commented on #810
If I used --env exabgp.env

I get help from all the options Env had and what it does ??
It doesn't load the exabgp.env

[2018-05-02 10:25] Jitoxxx commented on #810
Sorry for all these questions, I'm working on a project and I'm new to BGP and EXABGP.

Is there a way to know if EXABGP receives messages, cause my BGP router say's its sending the data, but I have no clue of how to display it or where to check if it's been deliverd.

Sorry and thank you

[2018-05-02 13:25] Jitoxxx commented on #810
Also I get this when trying starting exabgp:

[code]
This goes on forever.

[2018-05-02 14:29] thomas-mangin commented on #810
if you run with `-d` I will have more clue on what you are doing wrong, for example if the router is not configured correctly, or what is not right.

With your installation the environment file (which is not really required unless you really know you need to change something) should be `/usr/local/etc/exabgp/exabgp.env` as indicated with `generate it using "exabgp --fi > /usr/local/etc/exabgp/exab

[2018-05-03 10:01] Jitoxxx commented on #810
I got it to work, I was still running old instances which blocked the new exabgp config from running.
I'm testing now and I'm guessing it works, but only temporary, I guess the data it's collecting is to much to handle over a timespan? After 7min of collecting 703.000 hits of changes, it stops sending them forward.

Thanks for your help, I'll be searching through exabgp to solve this issue and hav

[2018-05-03 12:10] Jitoxxx commented on #810
For those who are wondering here what happend:

I had an issue when running a script :

[code]

If I run this script it bugs and always closes connections instead of keeping it up.

When I run the ```
exabgp --env exabgp.env grt-collector.cfg
[code]

[2018-05-03 22:32] chantra opened #811 "empty pipe on subprocess restart"
##### Summary

Some explaination is available here: https://gitter.im/Exa-Networks/exabgp?at=5ae9fb0cb37eab7d0460f616

basically, the subprocess dies (for whatever reason) while exabgp was still answering to a command with a lot of content (say "show adj-rib out extensive" with many routes). Upon restart of the subprocess, the stdin pipe is going to be filled/filling up with the answers from the p

[2018-05-04 16:32] thomas-mangin commented on #758
@andrekampert thank you for your help - appreciated.
Please keep in mind that 3.4 is a stable branch and I can't change the JSON object in a way which would cause existing code to break. Adding information is fine.

[2018-05-04 18:58] andrekampert commented on #758
Thanks for the heads up. I've already changed the structure for the notification message to match the other messages for the sake of consistency, but as this is a breaking change, I'll try another route.

In that case, would it make sense to write the ident parameter as a header field?

[2018-05-06 09:01] aabdnn commented on #788
I just noticed this myself, that exabgp exits with code 1 when sent a normal TERM signal (or I press CTRL-C on the keyboard). Under systemd, this is determined to be an abnormal failure, and looks wrong.

[2018-05-07 13:05] thomas-mangin commented on #758
Not sure what you mean that this ...

[2018-05-07 13:06] thomas-mangin commented on #788
On my TODO ..

[2018-05-10 09:53] longmalx opened #812 "Reloading an invalid configuration breaks the API and CLI"
##### Summary
If you attempt to reload a configuration which is invalid, then the processes are not reverted correctly.
This means that subsequent CLI commands will fail with the result "could not send command to ExaBGP".

Doing a reload via SIGUSR1 will restore functionality.

##### OS
bash-4.2# cat /etc/redhat-release
CentOS Linux release 7.4.1708 (Core)
bash-4.2# uname -a
Linux linuxvm 3.10.0-5

[2018-05-12 02:54] adrian62 opened #814 "API only reports first entry of Flowspec BGP update containing multiple flows"
##### Summary
[code]

##### OS

[code]

##### Version

[code]

##### Installation

[code]

##### Environment

[code]

##### Configuration

[code]

##### Program output
[code]

##### Importance

[code]
File is an image of wireshark showing there were 6 updates; I can provide the file or any other supporitng data upon request. Thank You.
![image](https://user-images.githubusercontent.com/25883082/39

[2018-05-14 11:26] thomas-mangin commented on #814
Thank you for the clear bug report. I will investigate the reason for this.

[2018-05-14 11:37] thomas-mangin commented on #758
Sure, adding the neighbour structure is not an issue.

[2018-05-16 12:50] ahmet2mir opened #816 "Fix dynamic IPs in v4"
Hello,

When I added dynamic IPs, I backported the code from 3.4 to 4.
But I can"t remember why I didn't put the same line here

3.4 => https://github.com/Exa-Networks/exabgp/pull/571/files#diff-f94226e54e04eb31c60e0778c53f95f5R371

[code]

4   => https://github.com/Exa-Networks/exabgp/pull/572/files#diff-f94226e54e04eb31c60e0778c53f95f5R449

[code]

The change here https://github.com/Exa-Networks

[2018-05-16 12:52] ahmet2mir commented on #816
See MR #817

[2018-05-16 12:52] #816 closed

[2018-05-17 11:08] thomas-mangin commented on #812
resolved by #813

[2018-05-17 11:08] #812 closed

[2018-05-18 01:08] adrian62 commented on #814
While you are looking at it, it would be awesome if you could nest the data the same way as the hierarchy of updates on the wire, for example node 'path attributes' contains node 'path attribute' which is a sequence of several siblings, one of which is MP_REACH/UNREACH [announce|withdraw], the latter containing siblings (AFI,SAFI,NH, [ sequence of NLRIs ]), thanks.

[2018-05-18 06:56] pubyun commented on #723
upgrade to git version 47b9b5f, the bug disapeared.

don't know which patch fixed it.

any one confirm it?

[2018-05-18 14:09] thomas-mangin commented on #814
@adrian62 happy to consider it but I am not 100% sure I see what you want to see ...

[2018-05-19 20:34] chantra commented on #723
Interesting. I will try to see if this is fixed for me too.
@pubyun did you get a chance to hit bisect to see what commit may have
fixed this?

On Thu, May 17, 2018 at 11:56 PM Peng Yong <notifications@github.com> wrote:

[2018-05-20 01:00] chantra commented on #723
unfortunately, still reproduces for me on ce5a658b2ba238e6ae26b0a21fa65fb3790b0647 using nc on the peer as described in https://github.com/Exa-Networks/exabgp/issues/723#issuecomment-334980224

[2018-05-21 10:08] thomas-mangin commented on #814
Hi @adrian62

The grouping of message is done using message type, announcement / withdrawal, AFI / SAFI then next-hop. Changing this structure would cause a major surprise to current users and while I am not opposed to changing it, I try to not make sure that users of the poorly documented API do not suffer more than strictly necessary.

I agree that the next-hop makes little sense in the context

[2018-05-22 09:47] thomas-mangin commented on #814
@adrian62 - having looked at the RFC and code I now see how to change things to fix the issue but an UPDATE message with multiple NLRI would really help with the coding and testing.

Could you please provide us an output of `exabgp -d` for such UPDATE to help please ?

[2018-05-22 13:35] Jitoxxx opened #818 "Message collection pprint with PY:"
Hello, I have got some settings running on 2 servers, they are both identical apart from one running 4.0.5 and the other one running 4.0.6 of exabgp.

Now the issue I am having is related to my log collector, the files are exactly the same for both versions:
The only difference is that version 4.0.5 gets a pprint which is a normal format for tag rd, as followed: "rd": "XXXXX:XXXXX"
The 4.0.6 gets

[2018-05-22 15:01] adrian62 commented on #814
My joy. Announce is at 7:52:51, later there is a withdraw for the same 6 routes. LMK if anything else I can support you with.
thanks

[exaissue814.txt](https://github.com/Exa-Networks/exabgp/files/2027230/exaissue814.txt)

[2018-05-23 05:06] chantra opened #819 "idle/opensent state and up/down time"
##### Summary

I am not sure if I either don't understand the up/down column properly or if there is a presentation issue.

Basically, when a session is not in established state (idle, opensent at least), the up/down timing shows the time since exabgp was started.

Below, an example where I started a session, after a minute, I stopped the peer, the session went into idle mode and the "up for" show

[2018-05-23 09:18] andrekampert commented on #758
@thomas-mangin Can you please make a new release containing the merged changes to fix this issue?

[2018-05-23 12:46] thomas-mangin commented on #814
It looks to me that the update is correctly decoded ...

[code]

[code]

[2018-05-23 14:31] adrian62 commented on #814
Recopied from above:
```{ "exabgp": "3.4.8", ...```
Not using 4.0 due to a couple of issues I mentioned to you in the past.

[2018-05-23 18:21] thomas-mangin commented on #814
fixed in master - will be in 3.4.27 when released.
[code]

[2018-05-23 19:08] adrian62 commented on #814
Thank You! Is it possible though to put the NLRIs in a list, as it is in your json created by release 4.0? That is consistent with the update structure of other AFs, where we expect under next hop a list (sequence) of nlri entries. The list would be under key 'none' (which is the placeholder for the next-hop attribute, not present in flowspec).
Like this:
[code]

[2018-05-23 20:38] adrian62 commented on #814
Thank you, fix works as expected in my test env.  Is 3.4.27 far away, days, weeks, months?

[2018-05-24 11:13] thomas-mangin commented on #814
If I can fix other issue this week I will but if I can not I will release Monday anyway.

[2018-05-24 17:35] adrian62 commented on #794
If you are not providing a label with your API command the route will cause the encoding to shift some of the prefix bytes into the label field messing up the prefix. For a VPN route a label is MANDATORY.

Your command is missing the mandatory label for VPN SAFIs:
```'announce route 20.20.20.0/24 next-hop 206.80.151.253 rd 65534:65002 community 65534:6666 extended-community [target:65534:65301]'``

[2018-05-24 18:53] thomas-mangin commented on #794
Thank you @adrian62 as I am not operational anymore this is the kind of thing you miss by just reading RFCs ...

[2018-05-24 18:55] thomas-mangin commented on #794
@deezknuts are you happy all is as should ?

[2018-05-25 00:09] chantra commented on #723
as I was tryinmg to do some bissection to find when the issue was introduced.... I found out that 331a9b49ace52d05007c8f8f7359b00fde9d1408 (my patch which fixed part of this busy spin) actually introduce the busyspin which is reproduceable with `nc -l -p 179` :s

[2018-05-25 07:19] thomas-mangin commented on #723
That’s very useful information

[2018-05-25 08:38] #814 closed

[2018-05-25 09:42] thomas-mangin commented on #788
should be working as requested now.

[2018-05-25 09:43] thomas-mangin commented on #723
This patch seems to have fixed the issue AFAICS.

[2018-05-25 10:22] aabdnn commented on #788
Hi Thomas. Thanks for fixing it. I tried to apply this patch to 3.4.26, because we still use 3.4, but it failed to apply. Is the patch only meant to fix the 4.x branch?

[2018-05-25 10:35] thomas-mangin commented on #788
Yes the patch will not apply on 3.4 I will backport when I have a little
time. If I closed the issue feel free to reopen it.

[2018-05-25 13:42] thomas-mangin commented on #788
backported to 3.4

[2018-05-25 13:42] #788 closed

[2018-05-25 13:50] thomas-mangin commented on #819
It should show the time the session has been unconnected or how long it has been connected.

[2018-05-25 13:52] thomas-mangin commented on #818
Looks like it is a regression with python 2 - the machine with 4.0.5 must use python3.
I will investigate more.

[2018-05-25 14:07] #818 closed

[2018-05-25 14:07] thomas-mangin commented on #818
"rd": "?\xfd\x91\x00\x00\xfd\xfa\x00" means that the first short of the RD is 16381.
[code]
Therefore the following code use the string representation of the binary of what looks like AFAIK an invalid RD ( https://en.wikipedia.org/wiki/Route_distinguisher )
[code]
which indeed does not generate some valid JSON.
[code]
It was changed to be an hex string of the value.

[2018-05-25 14:13] thomas-mangin commented on #805
Hello @falz,

At the time BMP was an early draft and a friend of mine asked me for support. For example the OPEN information was not provided and you had to know if you had connections with ASN4 or not to decode the AS-PATH.

It was never updated to the RFC and therefore later removed. While adding support for BMP would be surely quite straight forward, it would require a few days work, and as oth

[2018-05-25 14:17] #794 closed

[2018-05-25 14:20] thomas-mangin commented on #819
No issue changing this behaviour if confusing.

[2018-05-25 14:21] thomas-mangin commented on #658
@plajjan can I close this issue ?

[2018-05-25 14:22] #612 closed

[2018-05-25 14:48] aabdnn commented on #788
Thank you Thomas! We just tested it, and it appears to be exiting correctly with code 0 when sent a TERM signal. Systemd no longer thinks that the service has failed.

[2018-05-25 15:02] chantra commented on #819
sure, this is what I expected too. And from my tests, what I am seeing is that it correctly shows how long the connection has been connected for (established), but then, for other states (like idle, openwait at least), it shows time since start time.

see how time bumps from a few second (established) to 1:23 min once I killed the peer (there is a couple of seconds between those 2 command runs)

[

[2018-05-25 15:11] chantra commented on #819
it seems the original intent was to print "down" based on https://github.com/Exa-Networks/exabgp/blob/e41160bce0da9bef05cb2abd56a74e9fc8e39a7b/lib/exabgp/reactor/api/command/neighbor.py#L83

but it is reset to creation time when the state changes to IDLE: https://github.com/Exa-Networks/exabgp/blob/1ce702ccc60f0acb60ad1a9a25b366a04ad3b4d3/lib/exabgp/reactor/peer.py#L125

which causes
https://githu

[2018-05-26 11:13] thomas-mangin commented on #658
fixed on master - will backport if issue is re-opened.

[2018-05-26 11:13] #658 closed

[2018-05-26 11:27] #819 closed

[2018-05-26 11:28] thomas-mangin commented on #819
I have not tested the fix .. I am trusting my programming skills .. I mean luck !

[2018-05-26 11:35] thomas-mangin commented on #723
@chantra - trying with `nc` does not use 100% CPU anymore when you are happy I will close (no rush) - I just need to add an entry in the CHANGELOG before the release of 4.0.7

[2018-05-26 15:14] thomas-mangin commented on #708
Sorry I missed this issue for quite a LONG time ... Hopefully all fixed now.

[2018-05-26 15:14] #708 closed

[2018-05-26 15:26] thomas-mangin commented on #723
I think fixed it one day ago :p

[2018-05-26 15:27] thomas-mangin commented on #723
I will check the OPEN case later on today.

[2018-05-26 17:53] thomas-mangin commented on #723
A bit more convoluted than I expected ... This time it should be all good.

[2018-05-26 17:55] thomas-mangin commented on #791
@jlixfeld I can not reproduce and you did not provide more information so I will close the issue.

[2018-05-26 18:28] thomas-mangin commented on #811
Now eating all potential left over data before issuing a command

[2018-05-26 18:54] chantra commented on #723
Cool stuff. I will check it back after the long weekend!

On Sat, May 26, 2018 at 10:53 AM Thomas Mangin <notifications@github.com>
wrote:

[2018-05-27 04:03] chantra commented on #811
Nice. Iirc in our experiments, we had to handle timing out. The issue is that you may empty the pipe but exabgp will continue writing to it until the command is over. I can share the code that we used to work around this from the process side. Cc @newEZ

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-05-27 04:08] chantra commented on #811
Here is what we do from the subprocess side
[code]

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-05-27 11:41] thomas-mangin commented on #811
8dab8c55660d902a9ebe5af7b550d0a9915cfef8 should be what was needed.

[2018-05-27 11:43] #811 closed

[2018-05-27 15:07] chantra commented on #811
We took the timeout approach as a middle ground to ensure the pipe is not being written to by exabgp for a previous command and not having to care about handling potentially multiple answers being written back to the pipe.
I think the marker are optional though. Don’t they only get written when you tell exabgp to ack messages? Doesn’t your code work only when tracking is set and will block otherwi

[2018-05-30 18:53] chantra commented on #723
@thomas-mangin looks like it is working for me too! great job and thanks!

[2018-05-30 18:53] #723 closed

[2018-06-01 09:09] timho93 opened #821 "Help with BGP LS Feature"
##### Summary

[code]

[2018-06-01 19:27] ruissalo commented on #821
Hi Tim,

You're correct, reading from stdin should be enough.

a python script may do:
[code]
You add the handler under the process section, specifying the json enconder.

[2018-06-01 19:28] #821 closed

[2018-06-02 23:12] oogali opened #822 "Loopback IP address detection fails on OS X"
##### Summary

ExaBGP cannot parse loopback IP addresses on OS X High Sierra.

It largely appears to be an issue on [line 312](https://github.com/Exa-Networks/exabgp/blob/master/lib/exabgp/application/healthcheck.py#L312) where the first part of the assignment attempts to cast a `None` into an `int`.

The `None` occurs because the output of `ifconfig lo0` on OS X does not include a `prefixlen` bit

[2018-06-03 07:20] #822 closed

[2018-06-03 07:20] vincentbernat commented on #822
I have pushed your suggested fix. Thanks!

[2018-06-04 13:38] timho93 opened #823 "Problems with incomplete BGP-LS Updates"
##### Summary

Hello Guys,

my intention is to integrate exabgp into my own python program. So i do not want to make use of the process functionality. I integrate it as subprocess:
[code]
This makes me able to read from exabps stdout. My initial start for testing was to instruct a Thread to continiously search for Updates in stdout by using this function:
[code]
But results did not make me happy r

[2018-06-05 03:58] ruissalo commented on #823
If the TLV is listed in the wiki then it's tested/known to work with the vendor versions listed there. I see no reason why it wouldn't work with newer vendor releases though. As mentioned in the wiki, please paste the full log using `-d` so we can take a look.

[2018-06-05 07:29] timho93 commented on #823
The following log includes a start of a router that ist configured to be the bgp neighbor of exabgp (configuration part of first comment). Afterwards i start another router which established an ISIS Adjacency to the first node. Lastly i stopped the second node (mp-unreach-nlri)

[code]

[2018-06-05 08:41] thomas-mangin commented on #823
I will let @ruissalo help you with the BGP-LS part .. for the integration with non python program, the API is definitively better than what you are trying to cook: the output of the program can change at any release without warning and your regex will then break.

You could import exabgp, use fork and call the `run` function (in `lib/exabgp/application`) with the right parameters instead of Popen.

[2018-06-05 10:10] timho93 commented on #823
Thank you for your reply :)

Thats a solution i will definitly try at next. But anyway - i tried to get the output in JSON format by using the following **configuration**:

[code]

**output.py:**
[code]

exabgp seems to take the configuration:
[code]

But **i did not get the output in the excepted way** like this out of https://github.com/Exa-Networks/exabgp/wiki/BGP-LS-support:
[code]
The output

[2018-06-05 13:12] mwichtlh opened #825 "String representation of extended communities occasionally empty"
##### Summary

When dumping messages in JSON format, the string representation of extended communities is occasionally empty.

[code]

##### OS

[code]

[code]

##### Version

[code]

##### Installation

[code]

##### Environment

[code]

##### Configuration

[code]

##### Program output

I have a huge dump from which I extracted the debug and json information. The contained data is customer sensi

[2018-06-05 21:55] deezknuts commented on #794
Hi Thomas, sorry for the late reply... I had a long time off and returning.  Yes all is well now. Thank you!!

[2018-06-06 20:12] thomas-mangin commented on #825
Hi @mwichtlh,

Please tell me how this particular number should be represented as it is not not any of the usual suspect and do no know how to decode it, hence why I always provide the value.

[2018-06-11 02:09] 4mig4 commented on #441
What is the status of this ?

[2018-06-11 02:13] 4mig4 commented on #682
thomas what is the status of this issue ? is the github reflecting the correct status ?

[2018-06-11 02:37] asahi-eric opened #826 "Extraneous address family added to peers after the first one configured."
##### Summary

4 peers configured, 2 of IPv4 only and 2 of IPv6 only, order is IPv4 peer, IPv6 peer, IPv4 peer, IPv6 peer.  Each peer is only configured for their respective address family but only the first peer configured in the config file adheres to that.   The remaining 3 try to use both address families.  Doing an `exabgpcli show neighbor configuration` shows that the 3 of the peers are conf

[2018-06-11 10:20] thomas-mangin commented on #441
the label is "fixed need testing" .. so AFAIK should work.

[2018-06-11 10:21] thomas-mangin commented on #682
There was a change to master which may have fixed the issue ... the issue is not closed as it is not sure.

[2018-06-11 10:28] thomas-mangin commented on #826
Not sure how the IPv6 family could "appear" on the peer 1.2.3.2

The the addition of IPv4 to the family: this is not a bug. IPv4 can not be disabled on a session. It is always valid to send IPv4 Unicast. So it does not matter if the capability is announced or not.

Last time I removed this explicit IPv4 - some users complained. If you think I am wrong please help me with the RFC.

[2018-06-12 02:56] asahi-eric commented on #826
I understand about having the default being to enable the IPv4 address family but it would be nice to have the option to explicitly disable this on a per peer basis.  I will try looking through the RFC's on this issue.

Anything else you need from me regarding how the IPv6 address family is still enabled on the 1.2.3.2 peer?

[2018-06-13 21:02] brotherdust opened #827 "Feature-Request: BGP-ORR"
Fantastic work on ExaBGP! I am evaluating it for use in my network and would like to know if [BGP-ORR](https://tools.ietf.org/html/draft-ietf-idr-bgp-optimal-route-reflection-16) is or planned to be supported. I realize it's still in "draft" status, but it's been around for a couple years and most of the major networking vendors have implemented it successfully.

Supporting it would seem to requir

[2018-06-14 18:59] ederlf opened #828 "'NoneType' object has no attribute 'router_id' log message during connection failure."
##### Summary

In my setup (A simulated data center), when trying to connect multiple exabgp instances, some connections fail and the following messages appear in the log  near the notification of connection failure.

[code]

##### OS

[code]

##### Version

[code]

##### Installation

[code]

##### Environment

[code]

I am executing using the following env variables:

[code]

##### Configuration

[2018-06-17 16:23] empi89 opened #829 "Inherit md5-password failed"
I am experiencing a problem when having md5-password in the neighbor scope of a template and having more than one neighbor using this template. I got this problem with 4.0.6 from pip (4.0.6-daa3d6ba) and also with latest master from git (master-9eb817651f47aa159f72c2a74406dbcc3787e46a).

Minimal example configuration to reproduce the problem:
[code]
Output of exabgp -d:
[code]

The following confi

[2018-06-20 20:17] thomas-mangin commented on #829
Yes there is another issue about MD5 issue on 4.x .. I did not modify the code last and do not know why it broke .. Need to ask the author to investigate.

[2018-06-20 20:21] thomas-mangin commented on #828
ah ! the joy of dynamic languages ... Are you using the API to announce some routes, possibly using `next-hop self` ?

[2018-06-21 20:50] brotherdust commented on #827
@thomas-mangin Thank you! Appreciate the response.

[2018-06-22 22:01] prtomasi opened #830 "Not able to install ExaBGP on Ubuntu 16.04"
Hello,

Installation on Ubuntu 16.04 gave me errors.
I've followed the instructions from https://fastnetmon.com/docs/exabgp_integration/
In the last step it showed me these errors:

root@fastnetmon:/etc# env exabgp.daemon.user=root exabgp.daemon.daemonize=true exabgp.daemon.pid=/var/run/exabgp.pid exabgp.log.destination=/var/log/exabgp.log exabgp /etc/exabgp_blackhole.conf
**exabgp: 20045  configu

[2018-06-24 20:57] ederlf commented on #828
I am announcing routes, but not using self.

The next hop is the same as the interface a session is running.
This is how the announcements look like:
[code]

[2018-06-25 11:36] thomas-mangin commented on #828
Could you please run exabgp with the `-d` option.

Before a line such as
[code]

There should be another with the same UUID ( in that case `5a1508fa-6ffc-11e8-8195-024c6ac3d37f` ) looking like
`async | UUID | command` I would like you to look at the `command` which caused the issue.

Also it is likely that not far previously in the log is the exact command when it was parsed.

This information wou

[2018-06-25 11:39] thomas-mangin commented on #830
@prtomasi could you please ask this on the fastnetmon issue tracker. I can not really help you here.

For information:
[code]

Is not an error just a warning and you could get rid of it doing what it suggests.

[2018-06-25 14:38] prtomasi commented on #830
Thanks, I will annoy Pavel Odintsov.

xD

[2018-06-25 14:38] #830 closed

[2018-06-26 07:52] ederlf commented on #828
The place that appears before the error is: check new connection.

[code]

I traced it down to find where router_id was being accessed to find the None object.
exabgp/reactor/loop.py#L243
[code]
exabgp/reactor/listener.py##L184 or #L209 (Could not tell which one was called)
[code]
exabgp/reactor/peer.py#L208
[code]

self.proto.negotiated.received_open is the culprit.

[2018-06-26 15:24] thomas-mangin commented on #828
/me is really confused ...
It should be impossible to have an FSM of OPENCONFIRM and a `received_open` set as `None` !!!

Looking at the code for quite some time and scratching my head, the only thing which would make sense was for the router-id to not be set in the neighbour but your configuration has it ... I added some extra checks for that case - to be safe in case the parser has an issue. Whe

[2018-06-26 15:28] edigheorghiu commented on #823
Hello guys,

@timho93, for you it seems just a matter of formatting, the output from the JSON parser has just one line for each update and if you want to display it in the fancy way you can just use a tool like Visual JSON on MAC OS; hope this solves your issue.

Thanks,
Edi

[2018-06-26 15:50] thomas-mangin commented on #823
There is some examples in the code on how to parse the JSON, please have a look.

[2018-06-26 15:56] thomas-mangin commented on #823
For the formatting the unix tool `jq` is quite good, if it is what was suggested, python can also do it:
[code]

[2018-06-26 16:28] edigheorghiu commented on #823
Also on issue the subject, I was under the impression that the JSON parser is missing some of the updates and it turned out that if you wait long enough, sometimes 1-2 minutes, they appear in the output file with the correct timestamp that matches the "exabgp -d" output.

I'm using python 3.6m in venv and the example provided in the project for Python script.

Exabgp config:

process parse-routes

[2018-06-26 20:21] ederlf commented on #828
@thomas-mangin I understand why you are puzzled. By simply looking the code I could not also find the reason it is none. But I can guarantee it is after printing it

[code]

I get during a connection failure (7th line):
[code]

I will try to provide an exact copy of my scenario in a VM.

[2018-06-26 20:33] thomas-mangin commented on #828
Could you please also send me a _full_ copy of your exabgp log (happy to get it per mail at first@last.com)

[2018-06-26 20:39] thomas-mangin commented on #823
@edigheorghiu you need to use `f.flush()` as otherwise the data is buffered and will be written when the OS decide it is time to sync things. Also you should look at how to use `with open(...) as f:` to make sure the file is always closed. But this should be another issue you are hijacking this thread. This is not about BGP-LS.

[2018-06-27 00:00] ruissalo commented on #823
Hi @timho93 sorry for the delay on this. I haven't had the time to look into it.
Could you please re paste the output of `exabpg -d` using the new configuration you started using?

[2018-06-27 07:06] timho93 commented on #823
Hi,

@edigheorghiu and @thomas-mangin thank you for you reply but the formatting of a json string is not my problem.

@ruissalo no problem. This delay was enough time to solve my issue in using exabgp. My intention was to integrate exabgp as part of an sdn like controller. And like in my first comment i was not able to get the full message. Instead i had only the bgp-ls bgp-ls part. But anyway, no

[2018-06-27 08:56] he32 opened #831 "Check for sub-call data consumption in node.py bgp-ls module seems off"
##### Summary
The error check for "does sub-call consume data" in the bgp-LS node.py file
looks a bit strange.  The code says:

[code]
I would have thought the test should be `if left == values:` instead?

##### Version
Looking at 4.0.1-4501ddf3

##### Steps to reproduce
Code inspection.

##### Importance
Not very...  Would like to know if I read this correctly, though.

[2018-06-27 16:54] thomas-mangin commented on #831
@ruissalo do you have time to comment ?

[2018-06-27 18:03] he32 commented on #831
BTW, I think I found another instance of the same pattern, I'll
see if I can re-locate it...

- Håvard

[2018-06-27 20:00] thomas-mangin commented on #831
@he32 thanks for the code review 👍

[2018-06-27 20:15] thomas-mangin commented on #828
ah ! This is this code
[code]
not this code
[code]
now make sense.

[2018-06-27 21:31] thomas-mangin commented on #828
@ederlf Could you please update to master - re-run and give me again a copy of the full logs please ?
I have added a little of debugging info in the log.

[2018-06-28 08:50] he32 commented on #831
And ... the other occurrance I found is in prefixv4.py, where the code says:
[code]
and that last test should probably be `if left == values:`.

[2018-06-28 14:41] Tinusf opened #833 "BGP LS IPv6 parsing"
It seems that IPv6 BGP LS parsing is not yet supported, is that correct?
Are there anyone working on it?
If not, could you give me some pointers on where I should start to write the code myself?

[2018-06-29 07:29] ruissalo commented on #833
Hi Tinusf,

Thanks for the help :) You can start by adding the v6 NLRI , which has the same structure as the v4 prefix NLRI but with different TLVs. You can find the NLRIs in lib/exabgp/bgp/message/update/nlri/bgpls/

For the rest you can add the missing TLVs in
lib/exabgp/bgp/message/update/nlri/bgpls/tlvs/
and
lib/exabgp/bgp/message/update/attribute/bgpls/

Just make sure you read the RFC carefu

[2018-06-29 07:40] ruissalo commented on #831
+1
it's a bug indeed. Could you pls send the patch? Otherwise I'll do it this weekend. Ideally we should write a test for this ;(

thank you!

[2018-06-29 07:43] ruissalo commented on #823
I'm assuming all is good now then. Feel free to reopen.

[2018-06-29 07:43] #823 closed

[2018-06-29 09:55] he32 commented on #831
I created pull request #834 for this.
No test for what would happen if sub-calls don't consume data, though.

[2018-06-29 16:08] thomas-mangin commented on #833
@Tinusf if you have any question - do not hesitate to ask.

[2018-06-30 20:34] gbock opened #836 "Reloads fail when api stanza is named."
##### Summary
This seems similar to #521 . If the api stanza is named then reloads without any configuration changes fail with:
[code]
exabgpcli fails after reload with `could not send command to ExaBGP`

##### OS
CentOS Linux release 7.5.1804 (Core)
[code]

[code]

##### Version

[code]

##### Installation
[code]

##### Environment

[code]

##### Configuration

[code]
##### Program output

[code]

[2018-07-02 09:49] Tinusf commented on #833
Yea, do you guys have a less public chat?

[2018-07-02 09:50] longmalx commented on #836
The exabgpcli failing behavior sounds very similar to #812

[2018-07-02 09:52] thomas-mangin commented on #828
@ederlf ping ?

[2018-07-02 10:08] thomas-mangin commented on #833
Gitter - Telegram - Discord - WhatsApp - FaceTime ?

[2018-07-02 10:18] ederlf commented on #828
@thomas-mangin I've sent the logs last week directly to your e-mail.
If you did not get it, I've copied it in paste bin.

This time I have saved individual logs per peer. It might be easier to see the problem without all the other peers' messages.
https://pastebin.com/NnGy5pnr
https://pastebin.com/3UKnYEBC

[2018-07-02 12:07] gbock commented on #836
It does, I had cherry picked that patch into our build before opening this issue to see if it helped but it did not.

[2018-07-02 17:51] ajf opened #838 "ExaBGP unconditionally sets TCP_MD5SIG sockopt on Linux."
##### Summary
ExaBGP 4.0.6 unconditionally sets socket to TCP_MD5SIG, even if MD5 isn't in use.

##### OS
Linux 4.17.3 WITHOUT CONFIG_TCP_MD5SIG

[code]

##### Version

[code]

##### Installation

[code]

##### Program output

[code]
##### Importance

[code]

It appears that `lib/exabgp/reactor/network/tcp.py` used to wrap the whole MD5 function in `if md5` but that moved to line 129,  and doesn't

[2018-07-04 09:17] kennydaili opened #839 "'state' message missing with exabgp 4.x"
Hi, i was using exabgp3.4 before, for some reason, i need to upgrade to exabgp4.x(latest version 4.0.6), but i find the 'state' message is missing. There are many places in my program that rely on state messages. So, could you pls add the 'state' message back?

State message was controlled by configure 'neighbor-changes' before, but in latest version, it's cancelled:
[code]
attach source code(in e

[2018-07-05 12:06] thomas-mangin commented on #838
Yes, this code seems to have been mis-indented .. hopefully the patch above fixes the issue.

[2018-07-05 12:19] thomas-mangin commented on #839
Hello @kennydaili,

The code you reference is modifying the class dict which does contain `neighbor-changes`.
[code]

I do not rule out a bug in the code not parsing / sending the state update but it will not be caused by the code you reference.

I need to find some time to investigate. Also you do not provide enough of your configuration for me to attempt to reproduce the issue easily. Do you use

[2018-07-05 13:12] kennydaili commented on #839
Hi @thomas-mangin ,
Many Tks for your help, it's due to my configuration err.
Syntax is different with 3.4.
I go through api.py in full, and find the reason. Tks for your reminder. I will close this issue.

[2018-07-05 13:12] #839 closed

[2018-07-05 15:28] thomas-mangin commented on #839
No issues - You can blame me for not documenting enough the project !

[2018-07-05 15:29] thomas-mangin commented on #766
Does the change done for #838 resolve the issue ?

[2018-07-10 02:10] muyiwhy opened #841 "Store rib in with helper process"
Hi Experts

Is there any documents about how to store RIB in to local DB?

I saw some mentioned that a helper process can be used to do this but I cannot find the related info.

[2018-07-10 14:22] timho93 opened #842 "Not receiving full count of updates followed by session reset"
Hello guys,

perhaps you could help me with new occoured problems.

Following Topology (Imagine another ISIS Router behind the bottom cloud):

![bildschirmfoto 2018-07-10 um 15 46 30](https://user-images.githubusercontent.com/18057496/42513961-8ca09c10-8458-11e8-9ba2-b61e5dda3539.png)

The router csr1000v_2 (right site) estblished a connection with exabgp. In this case only csr1000v_2 and the one

[2018-07-10 14:38] thomas-mangin commented on #842
I would need the output of `exabgp -d` .. how many routes are you sending ?

[2018-07-10 14:45] thomas-mangin commented on #841
https://gixtools.net/gix/looking-glass/

[2018-07-10 15:06] timho93 commented on #842
Configuration exabgp:
[code]

Configuration cisco:
[code]

(Debug Including parsed Content)

[code]

[2018-07-10 16:09] Phenomanan commented on #278
So glad this post exists... I would not have figured the log destination to have been the issue. Thanks!

[2018-07-10 22:56] bmgoau opened #843 "exabgp 4.0.x high 100% cpu randomly"
##### Summary
- Operating 9 exabgp nodes on same image of Ubuntu and ec2 instances. Nothing else runs on the boxes.
- basic conditional anycast route announcement. Monitoring an IP with a process and conditionally announcing a static route/VIP to a downstream router.
- All peer with the same downstream Juniper MX router
- Every now and then, maybe once a week, an Exabgp instance will spin at 100%

[2018-07-10 23:00] bmgoau commented on #843
Per my note above, we are waiting for the issue to reoccur with exabgp.log.all=true, but hopefully the above can help us get started.

[2018-07-11 04:48] chantra commented on #843
@bmgoau this is most likely the same as #723

[2018-07-11 05:09] bmgoau commented on #843
Thanks @chantra . Would you expect updating to 4.0.7 from current 4.0.6 to resolve the issue? The release notes appear to say yes: https://github.com/Exa-Networks/exabgp/blob/master/CHANGELOG

However I note that on GitHub and Pypi 4.0.7 is not a release yet. @thomas-mangin any ideas when 4.0.7 might be available on pypi as a release?

[2018-07-11 10:02] thomas-mangin commented on #843
not the right thread - but 4.0.7 was just released as python 3.7 now makes `async` a reserved keyword (and ExaBGP used the word aync for variable name / file name)

[2018-07-11 16:34] bmgoau commented on #843
Thanks again @chantra and @thomas-mangin . We've deployed 4.0.8 and will reach out if the issue reoccurs. Great work on exabgp - it has helped us solve a lot of problems 👍

[2018-07-11 16:34] #843 closed

[2018-07-17 21:15] adrian62 opened #844 "Slash zero (/0) after prefix length in IPv6 flowspec source and destination"
##### Summary

IPv6 Flowspec routes have a /0 after the prefix length in the source/destination fields like 2001:beef:cafe:0:10:85:7:21/128/0. There is a vendor using a similar notation to communicate information additional to the prefix length, but in this case the data appears in the dedicated source and destination match fields causing us issues downstream of it.
See JSON example below.

#####

[2018-07-18 19:21] #841 closed

[2018-07-26 09:51] timho93 commented on #842
Hey again,

perhaps more informations would help:

My Router (IOS XE 16.8.1) is running with following configuration:
[code]

ExaBGP is running with following configuration:
[code]

and with folloging environment:
[code]

Problem description:
The Router is running. If i start exabgp the connection establishement is successfully. BUT i only receive UPDATE wit nrli-type 3.
What i should receive is m

[2018-07-26 14:30] thomas-mangin commented on #842
Hello @timho93,

Thank you for providing the information requested, unfortunately you are providing me inconsistent information, for example:
 - the IP of the logs do not match the IP of the diagram
 - the IP of the pcap capture does not match the logs ....
which limits a lot the conclusion I can draw from this data.

Trying to be helpful ....

The ExaBGP logs allows me to say ...
 - The OPEN nego

[2018-07-27 07:37] timho93 commented on #842
Sorry my bad,

currently i am working with another topology (it expanded with time):
![sdnlab_topology](https://user-images.githubusercontent.com/18057496/43307038-6438c734-917d-11e8-8aa9-efa4222e6f03.png)
The sdnlab_r1 is communicating to ExaBGP. In context of my last comment only r1 and r2 where active. So the the output of "show bgp link-state link-state" is the correspondending topology inform

[2018-07-27 08:45] timho93 commented on #842
The content of my script rcv_bgpls_updates.py:
[code]

[2018-07-28 21:11] ruissalo commented on #842
Hi @timho93

Thanks for providing the detailed info.

From the logs I can't see anything indicating some sort of parsing issue. Probably @thomas-mangin can spot something in the logs?

I don't think I've tested the implementation against Cisco XE. May I suggest the following: Try deploying another image running something like Cisco XR or Junos 17/16, if possible one of the versions listed in the w

[2018-07-29 11:52] timho93 commented on #842
Hey,

thank you for yout help. I wanted to avoid the integration of another image. But i will try it. On the other hand it would be very interesting to know why it does not run like expected with IOS XE 16.8.1. My pcap always show full information was sent by ios xe. But exabgp every time only parsing one type of nlris.
Do not know if this is helpful but:
- if i start the topology and starting exa

[2018-08-15 14:34] yesbox commented on #751
Although we did find a workaround for my particular use-case at this time, the issue of reading in a large config or a large amount of routes via the config is unusable slow after a certain number of entries is still present.

I would be happy to see scaling limitations like these documented in the project wiki, as the issue is closed.

[2018-08-23 11:50] thomas-mangin commented on #844
Hello @adrian62,

To explain the "/0" - I will need to quote the draft RFC: https://tools.ietf.org/html/draft-ietf-idr-flow-spec-v6-09

[code]

So the extra data is the prefix offset returned by FlowSpec. It is therefore not a bug, if your vendor does not use this feature, please feel free to strip the last "/0".

I do not consider this as being a bug. Sorry for the time it took me to reply.

[2018-08-23 11:52] thomas-mangin commented on #842
@timho93 can we close the issue or is there something you need ?

[2018-08-23 11:53] #838 closed

[2018-08-26 15:16] steiler opened #847 "BGP-LS announced ISIS-SR route"
##### Summary
Dual Vendor Network (Arista / Juniper).
ISIS-SegmentRouting for MPLS enabled.

ExaBGP receives the BGP-LS exported ISIS-SR routes. The Arista EOS (4.21.0F) devices export multiple IP addresses (Loopback + all local IPs) that subsequently are filled into the "local-te-router-id" field of the json message. On Juniper only one of these fields exists. Which is the actual router-id.
Howev

[2018-08-27 00:25] #831 closed

[2018-09-11 23:33] dhammika opened #848 "Flow route parser doesn't support != operator"
##### Summary

Flow route parser doesn't support != operator.

##### OS

[code]

##### Version

[code]

##### Installation

[code]

##### Environment

[code]

##### Configuration

[code]

##### Program output

[code]

##### Steps to reproduce

[code]

##### Importance

[code]
https://tools.ietf.org/html/draft-ietf-idr-rfc5575bis-06#section-4.2.3

[2018-09-27 16:13] adrian62 commented on #844
Thanks and sorry for the detour. Though I have to say that the authors of the proposed _expired_ draft  went down to the deep end with this offset feature. I would strip it out if anyone asked me of its utility.

[2018-09-27 16:13] #844 closed

[2018-10-03 18:30] adrian62 opened #850 "Understanding API command 'announce|withdraw attribute' for vpn families"
##### Summary
Announce attribute syntax is useful when large numbers of routes share attributes and improve performance by obviating the need to parse the common attributes for each route.
However, this syntax appear to treat fields like route-distinguisher or labels as attributes, when in fact they aren't. They are part of the NLRi information of the update.

##### OS

[code]

[code]

##### Versi

[2018-10-05 13:01] arnevt opened #851 "no multiple sources/destinations with flowspec since 3.1"
##### Summary
flowspec does not allow anymore to send multiple sources/destinations in 1 update/flow, although we used this in 3.1 and our juniper MX"es accepted those flows

in 3.1 this was still possible, somewhere in 3.2 we found suddenly in lib/exabgp/configuration/ancient.py a rule reporting "Flow can only have one source" (same for destinations).
In 4.X this code disappeared and we don't get

[2018-10-08 14:15] thomas-mangin commented on #851
I will have to check if my current understanding of the RFC is correct. Many labs have been performed with ExaBGP to test interoperability and this is a surprise to me.

[2018-10-08 14:38] arnevt commented on #851
I understand what you are saying, off course lab test will not have failed because this "simplification" (only 1 source and only 1 destination) will be allowed by all vendors.

also, this change was also noticeable between 3.1 and 3.4 (but we never gave it any attention, so kept running 3.1, until now we really want to upgrade)

Please keep me posted, I will also reread the rfc from my side

[2018-10-08 16:02] adrian62 commented on #850
Just a follow up, when large numbers of routes share an RD and Label the presently-available attribute syntax can still be useful for VPN AFs. But, there may be a defect in the way the label field is treated, because it will ignore it. Without a label a VPN update is not valid.
In the example below 2 routes are announced on the API using the attribute syntax. The command is accepted by the API but

[2018-10-09 10:00] thomas-mangin commented on #850
Thank you for the information - I will try to see why this is in the next few days.

[2018-10-20 00:17] russellkelly opened #854 "EXABGP Crashed when pushing a redirect rule."
##### Summary

##### OS

[code]

[code]

##### Version

[code]

##### Installation

[code]

##### Environment

[code]

##### Configuration

[code]

##### Program output

[code]

##### Steps to reproduce

[code]

##### Importance

[code]

[2018-10-20 21:10] russellkelly commented on #854
Fixed in lastest 4.0 master

[2018-10-20 21:10] #854 closed

[2018-10-21 15:14] russellkelly opened #855 "ExaBgp Crash Using Neighbor Teardown Command"
##### Summary

##### OS

[code]

[code]

##### Version

[code]

##### Installation

[code]

##### Environment

[code]

##### Configuration

[code]

##### Program output

[code]

##### Steps to reproduce

[code]

##### Importance

[code]

[2018-10-21 17:59] solidgoldbomb opened #856 "ExaBGP v4.0.8 does not accept 'announce attribute ...' via API"
##### Summary

As discussed on IRC, this announcement works on v3.4.26 but does not work on v4.0.8.

v3.4.26 shows success:
[code]

v4.0.8 shows failure:
[code]
##### OS
[code]

[code]

##### Version

Working version (3.4)
[code]

Broken version (4.0.8)
[code]

##### Installation
[code]

##### Program output
See summary.  Let me know if you want any additional program output.

##### Steps to repro

[2018-10-24 00:00] jllorente commented on #651
I am also very interested in this feature! It would be superb to have it available in exabgp.
Has there been any progress in this? If not, maybe I can try to setup some virtual environment an produce the PCAP files @thomas-mangin  requested :)

[2018-10-29 12:48] thomas-mangin commented on #651
I am struggling to find time for dev atm .. So please do not expect this feature in 2018 ... sorry!

[2018-10-31 07:42] donudi opened #857 "Can't find conf.ini in the root path"
Hi,

Sorry, I'm quite new to exabgp. and I need your help to start discovering it.
I'm running Ubuntu 18 in VMware, and now I have installed exabgp using pip3. All process went well so far, then, I started to configure BGP information which should be in a file called "confi.ini", but the problem is I couldn't find the file itself.

exabgp info
-------------
root@osboxes:-# exabgp -version
ExaBGP :

[2018-11-02 01:42] adrian62 commented on #850
Any chance looking at this?

[2018-11-02 14:35] mwichtlh commented on #855
I can reproduce the issue. It does not happen on every occasion, but frequently enough to be a problem for me.

[code]

Steps to reproduce: Let two exabgp instances peer with each other, where one of the instances is going up an down a couple of times. The following was tested on Ubuntu.

Virtual local network:
[code]

You can check connectivity between the IPs 80.81.192.157 and 80.81.193.157 by e

[2018-11-05 10:44] mwichtlh commented on #855
I just realized that this may be a different issue. I am opening a separate issue based on my comment above.

[2018-11-05 23:22] james-powis commented on #753
@thomas-mangin I won't disagree, python is not to blame here (by itself), namely the issue comes from MongoDB (https://jira.mongodb.org/browse/PYTHON-186) and its inability to receive integers larger than 8 bytes. Additionally serializing from yaml or json actually demonstrates the part of this issue:

[code]

With exabgp receiving the payload with long ints in excess of mongodb's capability, ther

[2018-11-06 10:28] mwichtlh commented on #855
I digged a bit into the code and came up with a crude patch that allows me to continue with my project. A proper fix is still appreciated, as my knowledge of the ExaBGP code base is very limited.

The first problem is in peer.py, which may dereference self.proto even if it may have been set to None beforehand.

[code]

The second problem is in loop.py. Calling fileno() on a socket can trigger a so

[2018-11-12 17:05] Phenomanan opened #859 "Cannot get MD5 authentication working (v 3.4.21 on FreeBSD)"
##### Summary
I'm having trouble getting md5 authentication to work with my BIRD router, with the config/env pasted below. Note that everything works fine if I simply remove the "md5" field from exaBGP and "password" field from BIRD, all the routes come in and everything, which is why I'm certain that this part is the only issue... however when trying to use md5 exaBGP eventually fails to bind on

[2018-11-14 10:16] thomas-mangin commented on #859
Hello,

I only support fixes / bugs on the latest stable and development version and code - and for the code I wrote.

I did not add MD5 support for FreeBSD and there is some kernel magic to perform to make it work so I am sorry but I can not help.

[2018-11-14 10:18] thomas-mangin commented on #855
Thank you for the patches - I will review them.

[2018-11-14 11:42] mwichtlh commented on #855
Great, let me know when you need any further input.

[2018-11-14 15:57] Phenomanan commented on #859
Thanks for the quick response. And gotcha... first thing I'll do is upgrade to 3.4.25 and see if it helps. Other than that, would you be able to point me in the right direction as to how I can start debugging the md5 authentication? If not, I understand.

[2018-11-14 17:03] thomas-mangin commented on #859
I am working with OSX and Ubuntu .. I am a passable sysadmin with Linux but no much BSD skills here :-(

[2018-11-14 18:40] Phenomanan commented on #859
Gotcha, no problem. Will try to install and test with a non-BIRD router to see whether maybe the problem was just from BIRD's side and not exaBGP. Will update here if that happens to be the case. Thanks!

[2018-11-14 18:47] bcavns01 commented on #855
Would love to see this merged in.  Seems like it might resolve a problem affecting us as well. :)

[2018-11-14 21:12] Phenomanan commented on #859
Tested with a different router (which had better logging than BIRD) - confirmed that the md5 is never being sent, so definitely an issue with the "md5" argument in ExaBGP 3.4.21 for FreeBSD. Hopefully the issue does not exist on 3.4.25. Closing this thread now though.

[2018-11-14 21:12] #859 closed

[2018-11-19 09:20] thomas-mangin commented on #856
`./qa/bin/functional run 02` does not show any issue with the test for `announce attributes` ..
Could it be that you used `announce attribute` singular and that the previous parser just accept it - when it should not have ?

[2018-11-19 09:29] thomas-mangin commented on #857
`exaBGP --help` will show where the file should be created. It will run without it.

[2018-11-19 09:29] #857 closed

[2018-11-19 12:57] thomas-mangin commented on #855
changed the patch to have:
[code]
Let me know if you disagree.

[2018-11-19 12:59] #855 closed

[2018-11-19 13:11] #851 closed

[2018-11-19 13:12] solidgoldbomb commented on #856
Thanks for fixing this.

[2018-11-19 13:13] thomas-mangin commented on #850
Sorry for the delay.

[2018-11-19 13:35] mwichtlh commented on #855
No, its fine. Cleans up the io which I didn't. Thank you for merging in.

[2018-11-19 16:20] bcavns01 commented on #855
What is the expected release date for 4.0.9? (to pypi, etc.)  I'll attempt to wait for an official release if it's on its way. :)

[2018-11-19 16:55] thomas-mangin commented on #850
Sorry for the time it took.

[2018-11-19 16:57] thomas-mangin commented on #848
was resolved with the merge above - closing.

[2018-11-19 16:57] #848 closed

[2018-11-19 17:03] #850 closed

[2018-11-19 17:07] thomas-mangin commented on #836
Is the bug still here ?

[2018-11-19 17:20] thomas-mangin commented on #828
This is untested and just my intuition of what was wrong ... If you still mind could you please check ?

[2018-11-19 17:34] thomas-mangin commented on #855
I will surely realise one tomorrow as I now have enough bug fixes to justify it.

[2018-11-19 17:37] thomas-mangin commented on #441
closing as due to the lack of feedback.

[2018-11-19 17:37] #441 closed

[2018-11-19 17:38] thomas-mangin commented on #370
closing as was fixed with the PR above

[2018-11-19 17:38] #370 closed

[2018-11-20 10:14] thomas-mangin commented on #407
This bug should have been fixed a the rib is reset performed during the reset.

[2018-11-20 10:14] #407 closed

[2018-11-20 20:45] ederlf commented on #828
I hope to be able to to test until the end of this week.

[2018-11-21 04:55] gbock commented on #836
Is there a code change you would like me to test?

[2018-11-21 05:45] gbock commented on #836
This still happens in 4.0.10

[code]

[2018-11-21 13:01] thomas-mangin commented on #828
🕺 Thanks

[2018-11-21 13:01] #828 closed

[2018-11-21 13:04] thomas-mangin commented on #836
I did not fix this issue with 4.0.10 as it required more time that I could give it when I went through all the bugs ... I need to differentiate between name duplication within a config and configuration change.

[2018-11-26 10:44] aimuwai opened #863 "FlowSpec traffic-rate dosen't support 2-bytes as？"
Hi，developers of exabgp
When I use the rate-limit function of flowspec，it dosen't support set a 2-byte as.
Is there any plan to support it?
Thank you!

Configuration example:
then {
                // one action only
                rate-limit <ratelimit>;

According to RFC 5575:
        +--------+--------------------+--------------------------+
        | type   | extended community | encoding

[2018-11-26 14:31] thomas-mangin commented on #863
Hello @aimuwai, you pointed the exact right part of the RFC, the last sentence being:
[code]
So the two bytes are "padding" and are suggested to be based on the ASN. WHY? I have no idea, but clearly, this is not a MUST requirement of the specification and even worse, there is a should - given lower cased - saying that implementation should ignore it !

As this value can not be relied on. Our code

[2018-11-26 14:35] thomas-mangin commented on #863
For clarity, our code set the ASN to zero when creating this extended community, which is what Juniper, who authored the RFC, did with their early implementations.

[2018-11-27 02:32] aimuwai commented on #863
Hi, Thomas
Thanks for your reply.
I have no use of this ASN. I ask this because RFC says that and I want to know why exabgp dosen't support to specify it.
: )

[2018-11-28 13:35] thomas-mangin commented on #863
ok, in that case I will close the issue :-)

[2018-11-28 13:35] #863 closed

[2018-12-01 04:22] russellkelly opened #864 "Exabgp 3.4-stable is not parsing Flowspec routes correctly"
##### Summary

##### OS

[code]

[code]

##### Version

[code]

##### Installation

[code]

##### Environment

[code]

##### Configuration

[code]

##### Program output

[code]

##### Steps to reproduce

[code]

##### Importance

[code]

[2018-12-01 12:01] thomas-mangin commented on #864
This is indeed not a valid syntax for 3.4. Please have a look at this example to see how to adapt the syntax to 3.4: https://github.com/Exa-Networks/exabgp/blob/master/etc/exabgp/run/api-flow.run

[2018-12-01 12:01] #864 closed

[2018-12-03 15:00] gliptak opened #865 "Scrutinizer shows "GitHub Access Token became invalid""
https://scrutinizer-ci.com/g/Exa-Networks/exabgp/

[2018-12-03 17:39] thomas-mangin commented on #865
Permission purge gone too far - fixed.

[2018-12-03 17:39] #865 closed

[2018-12-03 18:36] aecro commented on #682
Hey,
I'm hitting the same issue with super-smash-brogp and ExaBGP 4.0.8-793a2931. I've done some troubleshooting.

So with the default settings of that script, it announces 10000 routes initially, then waits a bit, then enters a loop which announces a random amount between 5000 and 7000 routes and then withdraws 1% of the announced routes. With these settings the initial announce works and exabgp

[2018-12-04 07:42] thomas-mangin commented on #682
code MUST flush stdout and super-smash-brogp does not. Sent them a patch to fix the issue.

[2018-12-04 07:42] #682 closed

[2018-12-04 07:56] 4mig4 commented on #682
Merci beaucoup monsieur ! :)

[2018-12-04 09:22] aecro commented on #682
Mkay, so the flushing takes care of ExaBGP dropping single routes, I can confirm that's working. After the initial update, my router has received exactly 10000 routes, but again, during the second update, exabgp freezes after my router has received ~12600 routes.

[2018-12-06 18:48] aecro opened #867 "exabgp 4.0.10 freezes after announcing more than ~12600 with super-smash-brogp"
##### Summary

When using super-smash-brogp, exabgp freezes after announcing ~12600 prefixes to my Cisco router. The way the script works is, after startup it does a default announce of 10000 random prefixes, then enters a loop which announces 5000-7000 random prefixes and then withdraws 1% of total announced prefixes. All those values are configurable. At the end I included a table with tests aft

[2018-12-13 08:20] trisight commented on #867
Similar problem we encounted. After announced about 4000 prefixes, my exabgp stopped response, the only way is to restart the program.  It happens every time.

[2018-12-13 12:57] thomas-mangin commented on #867
This is a very weird issue and I will need quite some time to figure out what is happening .. Hopefully something to keep me companies over the xmas break.

[2018-12-13 12:57] thomas-mangin commented on #867
PS: The patch I wrote is incomplete as there is many print's which are not flushed and I need to redo it.

[2018-12-17 06:48] trisight commented on #867
the program blocks in _write function in process.py:

`self._process[process].stdin.write(bytes_ascii('%s\n' % string))`

It looks try to set ack to false, everything goes to ok.

[2018-12-17 16:40] thomas-mangin commented on #867
Ah ! Yes, there is a difference of API behaviour between 3.4 and 4.0 and the messages need to be asked. Turning it off should fix the issue :-)

[2018-12-17 16:40] #867 closed

[2018-12-18 14:10] rewajkale opened #868 "ImportError Exception upon running exabgp command"
##### Summary

##### OS

[code]

[code]

##### Version

[code]

##### Installation

[code]

##### Environment

[code]

##### Configuration

[code]

##### Program output

[code]

##### Steps to reproduce

[code]

##### Importance

[code]

[2018-12-18 18:31] thomas-mangin commented on #868
It could be a conflict between a pip install and yum ...
[code]
Then uninstall and reinstall exabpg with yum .??

[2018-12-18 19:01] thomas-mangin commented on #868
Or the RPM package has a fault ?

[2018-12-19 01:45] rewajkale commented on #868
Will you please point to the current location where I can find rpm for this repository? When I git clone the repository it works all good. I would like to have both 4.0 and 3.4 stable rpm for testing. Please help me!

[2018-12-20 19:39] rewajkale opened #869 "How to pass argument to api call in exabgp"
##### Summary

##### OS

[code]

[code]

##### Version

[code]

##### Installation

[code]

##### Environment

[code]

##### Configuration

[code]

##### Program output

[code]

##### Steps to reproduce

[code]

##### Importance

[code]

[2018-12-20 19:55] rewajkale commented on #869
I am unable to pass argument to api call like:
process healthcheck {
    run /usr/bin/python2 /healthcheck.py %neighbor_address%;
    encoder json;
}

Like I would like to pass neighbor address as an argument to api call

Is there any way I can access the neighbor address which is performing api call inside that healthcheck.py file?

[2018-12-21 05:32] #869 closed

[2018-12-29 22:08] st0ffen opened #870 "ExaBGP 4.0.10 crashes after about 10000 advertised - similar to #867"
##### OS

[code]

[code]

##### Version

[code]

##### Installation

[code]

##### Environment

[code]

##### Configuration

[code]

##### Program output

[code]

##### Steps to reproduce

[code]

##### Importance

[code]

-

[2019-01-01 14:01] thomas-mangin commented on #870
Disable message acknowledgement with 4.0 - the code is for 3.4.

[2019-01-02 11:01] #870 closed

[2019-01-11 04:19] ruissalo commented on #847
Hi @steiler,

It's been a long time since you submitted this bug but by any chance, do you still have the logs? I need the content of the update message (the hex string) to valid the fix.

[2019-01-26 16:58] ahmet2mir opened #871 "[exabgpcli] merge (or not) exabgpcli and exabgpctl"
Hello Folks,

We intensively use exabgp and everyday we grep/cat/awk/for/touch/journalctl to get which process is present, if the node is up etc.

Sometime we need to debug what's going bad so we did some check to neighbor, check healthcheck etc.

So I create a tool "exabgpctl" which manage exabgp on user/admin side.

https://github.com/ahmet2mir/exabgpctl
https://exabgpctl.readthedocs.io/en/lates

[2019-01-27 13:59] Ezeon opened #872 "Configuration error when description is set under both template and neighbor"
##### Summary

exabgp gives an configuration error when description is set under both template and neighbor. The error message is misleading, attributing the problem to the wrong configuration line. Removing the description under either the template or the neighbor solves the issue.

##### OS
[code]

##### Version
[code]

##### Installation
[code]

##### Environment
[code]

##### Configuration
[co

[2019-01-29 13:13] longmalx opened #873 "Regression: deleting neighbor from configuration and reloading configuration causes "show neighbor summary" to hang"
##### Summary
I upgraded my system to 4.0.10 and spotted this regression from 4.0.6:

- Start ExaBGP with 2 neighbors
- Remove one of the neighbors from the configuration
- Reload configuration with SIGUSR1
- Use exabgpcli to run 'show neighbors summary' - this now hangs!

##### OS
CentOS Linux release 7.5.1804 (Core)
Linux server 3.10.0-862.6.3.el7.x86_64 #1 SMP Tue Jun 26 16:32:21 UTC 2018 x86_6

[2019-01-29 13:14] longmalx commented on #873
I tracked it down to this pull request added in 4.0.9:
https://github.com/Exa-Networks/exabgp/pull/845

[2019-01-29 13:15] longmalx commented on #873
This patch appears to fix the issue:
[code]

[2019-01-30 14:31] thomas-mangin commented on #873
I looked into it and it seems to be fine.

[2019-01-30 14:32] #873 closed

[2019-01-31 03:33] colinfarley commented on #791
I ran into this issue too, on 4.0.8 and 4.0.10. It seems to be a side effect of setting exabgp.api.ack = false. If this is expected the 3.4 to 4.0 migration wiki page should be updated to indicate that doing so breaks exabgpcli.

[2019-02-17 13:46] wenxin-wang opened #875 "error on ranged neighbor peer connection: AttributeError: 'Listener' object has no attribute 'processes'"
##### Summary
If an exabgp instance is configured with ip range as neighbor ip (passive neighbor), when a neighbor tries to connect the instance will fail with:

[code]

##### Environment

exabgp on current git master branch, run directly using `sbin/exabgp`, running on ArchLInux:

[code]

##### Configuration
The crashed exabgp instance
[code]

The passive neighbor
[code]

##### Cause

In [`exabgp

[2019-02-17 17:03] thomas-mangin commented on #875
Thank you, happy to merge, could you please update the PR to include the right credit in the CHANGELOG and I will merge.

[2019-02-17 17:20] wenxin-wang opened #877 "BGP Identifier collision for ranged neighbor"
##### Summary
If an exabgp instance is configured with ip range as neighbor ip (passive neighbor), when a neighbor tries to connect, the bgp session fails to establish due to "BGP Identifier collision" (need to run with `-d`):

[code]

##### Environment

exabgp on current git master branch, run directly using `sbin/exabgp`, running on ArchLInux:

[code]

##### Configuration
The crashed exabgp inst

[2019-02-28 20:12] AdamJacobMuller opened #878 "UnicodeDecodeError"
##### Summary
Exabgp crashes with UnicodeDecodeError

##### OS
Debian Stretch 9.6

[code]

##### Version
[code]

##### Installation
[code]

##### Environment

[code]

##### Configuration

[code]

##### Program output

[code]

Please take note of this line:
[code]

I added a hook into __init__ str_ascii to print the data which failed to decode.

##### Steps to reproduce

[code]

##### Importance

Y

[2019-03-01 05:34] jkldgoefgkljefogeg commented on #573
I am a bit confused. Why would you send path attributes in withdraw only update?

[2019-03-01 13:01] thomas-mangin commented on #573
It should not be required but clearly from the bug report some implementations are expecting it ... "be liberal in what you accept and conservative in what you send" ... So if sending it (which is harmless) does prevent issues I see no harm in doing so (it waste a few CPU cycles)..

[2019-03-01 13:07] thomas-mangin commented on #878
should be now fixed

[2019-03-01 13:08] thomas-mangin commented on #877
Thank you for the patch - much appreciated.

[2019-03-01 13:08] #877 closed

[2019-03-01 13:13] #875 closed

[2019-03-01 13:15] thomas-mangin commented on #871
Now on the README, a bit too much code to integrate but once again thanks for your work, I am sure users of ExaBGP will find it useful.

[2019-03-01 13:15] #871 closed

[2019-03-01 20:47] jkldgoefgkljefogeg commented on #573
I think I am seeing the exact opposite on Arista where sending withdraw with nexthop results in a BGP notification.

[2019-03-01 21:35] thomas-mangin commented on #573
sigh ! Time to re-read RFCs ...

[2019-03-05 17:27] AdamJacobMuller commented on #878
seems like this still happens elsewhere in the code:

[code]

[2019-03-08 09:29] thomas-mangin commented on #878
@AdamJacobMuller no news == good news ?

[2019-03-08 16:19] AdamJacobMuller commented on #878
@thomas-mangin I haven't tested as I fixed the actual issue that was causing the session disconnects, but, that patch does look better.

Having the session not restart every minute was a better solution :)

[2019-03-12 13:32] thomas-mangin commented on #878
LOL - ok, I will close the issue, please re-open if you find something is still wrong.

[2019-03-12 13:32] #878 closed

[2019-03-15 13:40] martintopholm commented on #826
I'm also seeing this. I have three peers in a [configuration](https://github.com/Exa-Networks/exabgp/files/2971291/example-config.txt) file:

    neighbor 192.0.2.136 { ... family ipv4 unicast; ...}
    neighbor 2001:db8:1:1:: { ... family ipv6 unicast; ...}
    neighbor 203.0.113.8 { ... family ipv4 unicast; ...}

The first is correctly announcing "ipv4 unicast".
The second one announces "ipv4 un

[2019-03-15 18:35] chadell opened #880 "ExaBGP doesn't load configuration files with more than 28 BGP neighbors"
##### Summary

When trying to load the following configuration file, if the number of neighbors is over 29, the process gets stuck and a memory leak happens consuming all the available memory and finally crashing.

Analyzing the behaviour with the debug option, it looks like from neighbor number 22, every one is taking more time to be loaded, until it gets up to neighbor 29 and after spending some

[2019-03-25 10:46] lamehost opened #882 "ExaBGP 4 hangs after sending about 11200 prefixes"
##### Summary

ExaBGP 4.0.10 hangs after sending about 11200 prefixes.

The script below is my very silly attempt to generate churn on an otherwise idling router.
It sends and withdraws prefixes in a fairly random way:

[code]

Please note exabgp.api.ack is set to false.
Last, but not least, the very same script works with latest 3.4

##### OS

[code]

[code]

##### Version

[code]

##### Installa

[2019-04-11 20:02] stowlake opened #883 "ExaBGP syntax question for encoding TCP flags (bitwise OR / bitwise AND / bitwise MATCH) in FlowSpec routes"
##### Summary
Hi,

RFC 5575 (BGP FlowSpec) supports encoding TCP flags for any of following 3 semantics:

1. Bitwise OR
2. Bitwise AND
3. Bitwise MATCH

I interpret the above as follows (using an example):

1. Bitwise OR [ syn ack] --> means if either SYN or ACK is set in TCP flags field of the packet.

2. Bitwise AND [syn ack] --> means if both SYN and ACK are set in TCP flags field of the packet

[2019-04-11 20:14] stowlake commented on #883
Forgot to mention that I tried following commands (different syntax for tcp-flags) for announce but all of these failed due to ExaBGP parsing:

announce flow route { match { destination 1.1.1.1/32; protocol [ TCP ]; tcp-flags [ syn | ack  ]; } then { discard; } }

 announce flow route { match { destination 1.1.1.1/32; protocol [ TCP ]; tcp-flags [ syn & ack  ]; } then { discard; } }

 announce flo

[2019-04-15 10:01] thomas-mangin commented on #883
I will need to re-read the code to be able to answer.

[2019-04-16 20:54] cihankom commented on #791
I also faced with this issue. Everything goes well even healtchecking but exabgpcli show neighbor summary is not working . show neighbor extensive is working everytime. exabgpcli is only working for "extensive" option

exabgp version:
`ExaBGP : 4.0.10-a8462350
Python : 3.5.2 (default, Nov 12 2018, 13:43:14)  [GCC 5.4.0 20160609]
Uname  : Linux osboxes 4.15.0-47-generic #50~16.04.1-Ubuntu SMP Fri M

[2019-04-16 22:17] cihankom commented on #791
I also find a clue. when you execute exabgpcli show neighbour summary or any other combination , command output can be seen in log file but the command output gives an error as "could not read answer to ExaBGP"

[2019-04-17 15:31] thomas-mangin commented on #882
was `exabgp.api.ack` disabled ? if on the command line depending on the shell it may need to be `exabgp_api_ack`

[2019-04-17 15:35] thomas-mangin commented on #883
From the "comments" in the code :

[code]

So the "&" can be used to "or" group a number of "and" grouped checks.

[2019-04-17 19:27] stowlake commented on #883
Thanks!

Hmm... I am using version 3.4.22 (which does not seem to have this).

So, before I upgrade to 4.0, please correct me if I am off here:

a) tcp-flags [ syn ack fin]  --> means SYN **or** ACK **or** FIN
b) tcp-flags [ syn+ack] --> means SYN **and** ACK
c) tcp-flags [ syn+ack fin] --> means (SYN **and** ACK) **or** FIN

Also, do we support bitwise MATCH syntax and if so how to specify this s

[2019-04-17 19:29] stowlake commented on #883
Also, one more question:

Instead of upgrading to 4.0, is it possible to patch in the specific CL to 3.4.22 based version?

[2019-04-17 21:57] thomas-mangin commented on #883
Hi,

I believe correct answers are:
a) tcp-flags [ syn ack fin] --> means SYN or ACK or FIN
b) tcp-flags [ syn&ack] --> means SYN and ACK
c) tcp-flags [ syn&ack fin] --> means (SYN and ACK) or FIN

This should work with 3.4.

[2019-04-17 22:06] thomas-mangin commented on #791
should be "read from" .. but I digress.

ExaBGP does not indeed crash, this message is due to the cli and exabgp using the same crash reporting code.

It looks like the code which generate the summary output as an issue.

[2019-04-18 08:00] lamehost commented on #882
I am sorry, that wasn't obvious (at least not to me).

Setting exabgp_api_ack to False made it work, exabgp.api.ack definitely doesn't work on GNU bash, version 4.4.12(1)-release (x86_64-pc-linux-gnu)

Sorry for the mistake

[2019-04-18 10:43] cihankom commented on #791
also show adj-rib in is not working but I can see the output from exabgp DEBUG logs.
I tried many parameter and only works for "exabgpcli show neighbor extensive".

[2019-04-18 14:53] thomas-mangin commented on #791
Sorry I only notice now that you use 4.0.5 .. could you please try master as I have like the feeling this is an old bug.

[2019-04-18 14:58] thomas-mangin commented on #882
Happy to hear it was that ! :-) It is not obvious and as far as I am concerned is bug when when the "." does not work !

What is your OS please ?

[2019-04-18 15:32] lamehost commented on #882
I am running a docker container on CoreOS
[code]

[2019-04-18 18:41] thomas-mangin commented on #882
Thank you.

[2019-04-18 18:42] #882 closed

[2019-04-22 21:17] stowlake commented on #883
ExaBGP version 3.4.22 does not seem to support syntax for (b) or (c).

Any suggestions?

----
exabgp: Mon, 22 Apr 2019 14:16:14 25114  processes     Command from process announce-routes : announce flow route { match { destination 1.1.1.1/32; protocol [ TCP ]; tcp-flags [ syn&ack  ]; } then { discard; } }\n
exabgp: Mon, 22 Apr 2019 14:16:14 25114  configuration loading | route {
exabgp: Mon, 22 Apr

[2019-04-23 13:22] thomas-mangin commented on #883
Only to use version 4

[2019-04-23 14:36] stowlake commented on #883
OK thanks. I will experiment with ExaBGP version 4 for the above.

Any specific 4.x version that is considered stable enough? I have been using 3.4.22 for sometime and have had no major issues!

Besides this, could you tell if ExaBGP version 4 supports Bitwise MATCH and NOT semantics for TCP flags? I will try it out anyways but would be good to know if you know off top of your head :)

[2019-04-24 09:28] thomas-mangin commented on #883
4.0 is nearly ready to replace 3.4. The know issue is that it does not scale as well as 3.4 and the root cause has not yet been identified.

[2019-04-24 09:29] thomas-mangin commented on #883
I never use the feature for TCP flags myself, the code should work as AFAIK it was tested/used by some users ...

[2019-04-24 14:54] stowlake commented on #883
Thank you for patiently answering the questions.
I will go ahead and close this issue now.

[2019-04-24 14:54] #883 closed

[2019-04-25 04:04] the-c0d3r opened #884 "Exabgp API response"
Currently I have been using exaBGP with the named pipe approach to announce flows to `pipename.in` and reading back the success or error from `pipename.out`. This way of doing things seems very synchronous, and does not seem to be able to handle multiple users, as for each request (announcement) I need to wait for the output (error/success) from output pipe.

I need to fulfill a few requirements f

[2019-04-27 16:07] stowlake commented on #883
FYI - for 3.4.22 version, I am made a (quick) minor change to allow the following syntax for tcp-flags:

_tcp-flags [ syn & ack ];_

Looking at rest of the code, encoding/decoding NLRI should work (as the AND semantics are similar to other match types - e.g ports / protocols)

So, with this change, it seems to work with ExaBGP as both sender / receiver entities..
need to confirm interoperability w

[2019-04-30 19:23] mnanduri commented on #668
Any update on this if it made into any specific version?

[2019-05-01 12:25] thomas-mangin commented on #884
The named pipe are for ExaBGP cli and should really not be used by applications. You can find examples on how to use your own application in the [qa folder](https://github.com/Exa-Networks/exabgp/tree/master/qa).

Version 4 is providing an answer to command so this is implemented already, it can however be disabled to allow compatibility with version 3 scripts.

There is indeed no ID from the comm

[2019-05-01 12:26] thomas-mangin commented on #884
could you please explain why you mean when you ask for "support multiple users in one go" please.

[2019-05-01 12:47] thomas-mangin commented on #883
Happy to review PR if you already have done the work.

[2019-05-01 14:36] vhammond-inap opened #885 "explicit configuration of fifo files"
It would be convenient to specify the fifo files directly via the environment like:

[code]

[2019-05-01 14:38] thomas-mangin commented on #885
[code]

[2019-05-01 14:41] thomas-mangin commented on #885
[code]

[2019-05-02 03:24] the-c0d3r commented on #884
Thanks for the response. I was using the named pipe, since that was the only way I found from the examples which is able to return the status back (success/error). The api examples are all just writing to stdout and do not return a status.
What I meant for "support multiple users in one go" is to have an API that allows the response status, as well as being asynchornous. Named pipe current is sync

[2019-05-02 12:13] thomas-mangin commented on #884
The example were probably written for ExaBGP 3.

[2019-05-02 12:17] thomas-mangin commented on #884
ExaBGP returns success / error on the command acceptance, so it is "kind of" async.

[2019-05-02 13:15] #885 closed

[2019-05-03 05:47] the-c0d3r commented on #884
I've been using the version 4 apparently, that's probably why there is success/error response. May I ask a few more questions.

Should I be looking out for response or just fire and forget it?
How many flowspec rule announcement per second can exaBGP handle?
And how long does it take to send flowspec from exaBGP to the router?
Is there any recommended ways to use the API? (apart from using named p

[2019-05-03 08:24] thomas-mangin commented on #884
You can disable the response. But if the request is correct you should just be able to fire and forget.

I do not have any benchmark. 4 is not as good as 3 for some reason when it comes with high perf. There was a few issues open about this topic, I can just invite you to see what other users said.

It depends on your HW ... From ExaBGP POV it will be very much sub second .. very much so.

If you

[2019-05-06 02:17] the-c0d3r commented on #884
Thank you for the comments. In this case, I'll proceed with the fire and forget approach through the named pipes approach. I'll have to test out the performance soon, so I'll post back the results after that.

[2019-05-06 02:17] #884 closed

[2019-05-06 10:59] thomas-mangin commented on #884
@the-c0d3r If you use named pipe you need to read the answer, if you do not everything will stop at around 10k message when the buffer on the pipe fills and becoming blocking.

[2019-05-06 23:29] ekoyle commented on #605
This is actually kind of unexpected... base64 is a fairly simple encoding, and any string using the correct character set ([`A-Za-z0-9+/`]) with an appropriate length (anything but `4n+1`, so invalid lengths would be 1, 5, 9, 13, ...) will be misinterpreted as base64.

If you were to remove the code that adds `=` and `==`,  then anything with a length divisible by 4 could be improperly interpreted

[2019-05-07 04:41] MrHamel opened #887 "A Way to Drop Learned Routes"
##### Summary
Unable to stop exabgp from learning routes from neighbor, which eventually stuffs RAM.

##### OS
[code]

[code]

##### Version
[code]

##### Installation
[code]

##### Environment
[code]

##### Configuration
[code]

##### Program output
[code]

##### Steps to reproduce
[code]

##### Importance
[code]

[2019-05-07 06:29] ekoyle commented on #872
I am having a similar issue.  It appears that the second neighbor is re-using the context from the first neighbor in the following config:

[code]

I added some print statements in `configuration/core/scope.py` and got the following:

[code]

[2019-05-08 02:00] ianunruh commented on #791
I am facing this issue as well.

[code]

While `exabgpcli show neighbor extensive` and `exabgpcli help` works for me, I cannot get any other commands to work.

[code]

[code]

[2019-05-08 23:22] stowlake commented on #883
will send the PR soon..

[2019-05-12 08:13] thomas-mangin commented on #887
If you disable the adj-rib-in (now by default enabled with 4.0.x) then this will resolve this issue (using `adj-rib-in false` under the peer.

[2019-05-12 08:14] #887 closed

[2019-05-12 08:14] thomas-mangin commented on #887
please re-open if not clear :-)

[2019-05-12 08:20] thomas-mangin commented on #880
Just tested it and it loaded fine. You did not include the error reported.

[code]

[2019-05-12 08:21] thomas-mangin commented on #880
Feel free to reopen if you still have the issue and have more information.

[2019-05-12 09:13] thomas-mangin commented on #872
should be fixed with https://github.com/Exa-Networks/exabgp/commit/7bb4c7ea18725c08a8a41a7c75d24901f56566b4

[2019-05-12 09:13] #872 closed

[2019-05-12 10:16] thomas-mangin commented on #836
The problem was indeed that this key was not cleared, but the fix was a bit more complicated. Thank you. Please let me know if it now works as SIGTERM is not a feature wildly used and it could still be buggy.

[2019-05-12 10:18] thomas-mangin commented on #847
@steiler without your help, we can not move this issue forward. If you can not help us for any reason, no issue, please just let us know.

[2019-05-12 13:15] #791 closed

[2019-05-12 13:16] thomas-mangin commented on #826
The patch was modified (as it was not the right solution but had rightly identified the root cause). Now fixed with https://github.com/Exa-Networks/exabgp/commit/7bb4c7ea18725c08a8a41a7c75d24901f56566b4

[2019-05-12 13:17] #826 closed

[2019-05-12 14:35] thomas-mangin commented on #872
This is now fixed on master.

Thomas

On Tue, 7 May 2019 at 07:30, Eldon Koyle <notifications@github.com> wrote:

[2019-05-13 09:03] thomas-mangin commented on #605
there is a option `md5-base64` which can be used to say if the password is plain text or base64 encoded.

[2019-05-13 11:04] steiler commented on #847
I'm sorry the virtual test topology has been destroyed and right now I don't have the time to recreate it.
Sorry!

[2019-05-15 09:26] chadell commented on #880
thanks @thomas-mangin  I will try it again...
I didn't reported any error because it was none, it just broke and kill the process at that point... or maybe is there another error you where asking for?

[2019-05-15 18:51] thomas-mangin commented on #880
[code]
I would have expected an error message there ! :-)

[2019-05-16 08:14] jzarra34 commented on #805
Hello Mr. Thomas,

In your reply you mention that other solution exists, so far I have not found any: could you please illustrate me which ones are available according to your previous comment? Thanks

[2019-05-16 08:36] thomas-mangin commented on #880
Also I recently changed the code on master regarding configuration parsing so if you need to retest, please re-test with master :-)

[2019-05-16 11:37] thomas-mangin commented on #805
https://github.com/OpenBMP/openbmp

[2019-05-17 08:35] chadell commented on #880
Hi @thomas-mangin , you were right 😉 . With master works fine, I was using the latest release: `https://github.com/Exa-Networks/exabgp/archive/4.0.10.tar.gz`
So you can close the issue, but maybe it would be good to check if the release works for you, and if not, update it to master

[2019-05-20 13:51] PHadem opened #889 "Introduce new BGP attribute in ExaBGP 3.4"
I am working on a research problem. I need to introduce a custom BGP attribute similar to MULTI_EXIT_DISC (MED). Can you pls guide me how to achieve this in ExaBGP 3.4
OS: Ubuntu 14 LTS.

Thanks
Hadem

##### Summary

##### OS

[code]

[code]

##### Version

[code]

##### Installation

[code]

##### Environment

[code]

##### Configuration

[code]

##### Program output

[code]

##### Steps to repro

[2019-05-20 14:40] thomas-mangin commented on #880
Thank you. I should release a new version soon.

[2019-05-20 14:40] #880 closed

[2019-05-20 14:48] thomas-mangin commented on #889
This patch (and the few ones after) should give you a good idea of what is required.

https://github.com/Exa-Networks/exabgp/commit/3761ca81abebabff12045388657abe20ceb9ce59

[2019-05-21 05:57] PHadem commented on #889
Thanks Thomas,
This is just what i needed.

Thanks
Hadem

On Mon, May 20, 2019 at 8:19 PM Thomas Mangin <notifications@github.com>
wrote:

[2019-05-22 08:25] thomas-mangin commented on #889
git clone - work into the folder - all should be obvious if you read the code.

[2019-05-23 11:45] thomas-mangin commented on #766
https://github.com/Exa-Networks/exabgp/commit/21c2768dc0480fadd2b42b6f3f541eb324c22dae and
https://github.com/Exa-Networks/exabgp/commit/8f7499eb1c1c72af2895f03806f0108f75621536 should help with this issue.

[2019-05-26 11:56] thomas-mangin commented on #651
Just took a few years 😇 but it is now done.

[2019-05-26 11:56] #651 closed

[2019-05-26 11:57] #889 closed

[2019-05-26 11:58] thomas-mangin commented on #829
this should now work.

[2019-05-27 09:31] PHadem commented on #889
Hi Thomas,
I am still facing issue in registering a new BGP attribute in ExaBGP after adding the new attribute as below and following the steps in [3761ca8](https://github.com/Exa-Networks/exabgp/commit/3761ca81abebabff12045388657abe20ceb9ce59)
 lib/exabgp/bgp/message/update/attribute/attribute.py
@@ -60,6 +60,7 @@ class CODE (int):
               COMMUNITY          = 0x08
		# RFC 4456
		ORIGINATO

[2019-05-27 10:04] thomas-mangin commented on #889
@PHadem The simplest way for your test would be to change the ID of MED and use MED to send what you need.

[2019-05-27 10:05] thomas-mangin commented on #889
Also as made is a known attribute (please read the BGP spec) you may need to change the MED class to reflect what you want the attribute to be.

[2019-05-27 11:17] PHadem commented on #889
Thanks Thomas,

Will try your suggestion.

Thanks

On Mon, May 27, 2019 at 3:35 PM Thomas Mangin <notifications@github.com>
wrote:

[2019-05-27 12:52] #758 closed

[2019-05-27 13:04] PHadem commented on #889
Hi Thomas,

Can you elaborate more on this.
In lib/exabgp/bgp/message/update/attribute/attribute.py
<https://github.com/Exa-Networks/exabgp/commit/3761ca81abebabff12045388657abe20ceb9ce59#diff-d09ef9b20e41faeec8ca6c6017be7008>
@@ -50,6 @@ class CODE (int):
ORIGIN           = 0x01
AS_PATH        = 0x02
NEXT_HOP     = 0x03
MED                = 0x04
LOCAL_PREF         = 0x05
ATOMIC_AGGREGATE   = 0x06

[2019-05-27 14:49] thomas-mangin commented on #715
better late than never ..

[2019-05-27 14:49] #715 closed

[2019-05-27 14:54] thomas-mangin commented on #702
@aabdnn I would welcome a patch to implement this .. something you can lend us time for ?

[2019-05-27 14:59] #687 closed

[2019-05-27 15:01] #663 closed

[2019-05-27 15:21] thomas-mangin commented on #889
Hadem ,

This will be my last comment on this issue: you should indeed change the code from 0x04 to 0x0B, and change the flag definition in the class

[code]

Use 'med' in the configuration like it was your attribute. If it is not is not clear enough, I can only invite you to read the RFC.

Good luck.

[2019-05-27 15:25] thomas-mangin commented on #200
legacy.

[2019-05-27 15:25] #200 closed

[2019-05-29 14:37] brna62petsto opened #891 "exabgp withdraw all announced routes"
##### Summary

[code]
##### OS

[code]

[code]

##### Version

[code]

##### Installation

[code]

##### Environment

[code]

##### Configuration

[code]

##### Program output

[code]

##### Steps to reproduce

[code]

##### Importance

[code]

[2019-05-29 16:55] thomas-mangin commented on #891
The callback does clear the RIB but does not withdraw the routes from the neighbor
[code]

[2019-05-29 17:00] thomas-mangin commented on #891
The model of command used by ExaBGP, add all command to a list as iterators and then run one command of each to be fair, means that it is possible that following a `clear` command some other command do add routes to the RIB causing a race-condition.

The engine could be changed so that the callback are aware of their position in the queue, only run if they are first and do not pass the hand to the

[2019-05-29 17:01] thomas-mangin commented on #891
flush has the same issue of not being implemented
[code]

[2019-05-30 08:32] thomas-mangin commented on #891
works for me with my limited testing.

[2019-05-30 08:35] thomas-mangin commented on #891
the code for clearly the RIB need to allocate a list of all the changes (already in cache) but for large numbers it may use a little bit more than a little bit of memory.

[2019-06-04 20:50] nrocco commented on #891
@thomas-mangin thanks for your quick response on this issue. @brna62petsto and I will try out commit 3e578992e76d482b337933c012f6a77be4ab186f on one of our test exabgp instances tomorrow

[2019-06-05 19:39] nrocco commented on #891
@thomas-mangin I tried out the latest master branch (3e578992e76d482b337933c012f6a77be4ab186f) but have troubles running `exabgp` daemon:

[code]

Most likely not related to this issue but it is preventing my from testing this :). Any help appreciated.

[2019-06-05 20:11] thomas-mangin commented on #891
oops, that should fix this issue https://github.com/Exa-Networks/exabgp/commit/919fc0753ee582515c28510097a2a082ad3ca0a2

[2019-06-05 20:18] nrocco commented on #891
@thomas-mangin that was exactly the work around I did too :D.

I got passed the the second issue `LookupError: unknown encoding: string-escape` simply by switching from python2 to python3.

I managed to execute the `clear adj-rib out` command:

[code]

I see in the logs that the command was accepted, tomorrow I will check on the `x.x.x.x` side to see if things were really cleared.

I did notice in

[2019-06-05 20:29] thomas-mangin commented on #891
what version of python2 are you running please ?

[2019-06-05 20:32] thomas-mangin commented on #891
will look into the per peer filtering code.

[2019-06-05 20:38] thomas-mangin commented on #891
The peer filtering code should work so if you want to provide me with your current configuration it would help :-)

[2019-06-05 20:39] nrocco commented on #891
Python2 is
[code]

Under python3 it works:
[code]

We are running this on:
[code]

Thanks for looking into the `peer filtering code`. And thanks for helping with this.

[2019-06-05 20:41] nrocco commented on #891
@thomas-mangin tomorrow I will try clearing a few more times and when I have eyes on the neighbour routing tables I can determine if there is an actual issue or not.

In case of an issue I will provide you with our current configuration.

I will get back to you on this asap

[2019-06-10 09:07] #829 closed

[2019-06-10 15:00] Mosesnehru opened #892 "BGP-LS Flaps with error "can not decode update message of type 2""
##### Summary

[code]
##### OS

[code]

[code]

##### Version

[code]

##### Installation

[code]

##### Environment

[code]

##### Configuration

[code]

##### Program output

[code]

##### Steps to reproduce

[code]

##### Importance

[code]

[2019-06-11 15:07] thomas-mangin commented on #892
@Mosesnehru  it looks like a mistake while parsing the data - please could you re-check with master ?

[2019-06-11 15:10] thomas-mangin commented on #891
[code]

Congratulation it looks like you found a bug in Python 2.7 !

[2019-06-11 15:41] thomas-mangin commented on #847
@ruissalo can you still try to send the fix as a PR - and I will try to review it (it can not make things worse)

[2019-06-11 15:43] ruissalo commented on #847
Sure. I'll take a look today or tomorrow.

On Tue, Jun 11, 2019, 8:41 AM Thomas Mangin <notifications@github.com>
wrote:

[2019-06-11 15:48] thomas-mangin commented on #825
Looking at https://www.iana.org/assignments/bgp-extended-communities/bgp-extended-communities.xhtml I can not see how 0x306000000000501 should be decoded.

[2019-06-11 15:48] #825 closed

[2019-06-12 04:26] Mosesnehru commented on #892
Hi Guys,

I tested and getting the same error.

nehru@ubuntu:/opt/exabgp$ sudo git pull
remote: Enumerating objects: 39, done.
remote: Counting objects: 100% (39/39), done.
remote: Compressing objects: 100% (8/8), done.
remote: Total 25 (delta 19), reused 22 (delta 16), pack-reused 0
Unpacking objects: 100% (25/25), done.
From https://github.com/Exa-Networks/exabgp
   919fc075..a2b9e005  master

[2019-06-12 07:14] thomas-mangin commented on #892
Thanks - I had not checked the RFC or tried to decode the provided UDPATE as there was a clear simple bug in the parsing. I will review the code. Thank you for digging the technical information :-)

[2019-06-12 07:27] thomas-mangin commented on #892
but the horribly wrong JSON (which I will fix), I could decode the UPDATE in the initial report. On the second one, you did cut the log before the UPDATE data so I can not check but it looks like the TLV is different (1100 vs 1155) and therefore you may be hitting another bug. Can you pleas include the "parsing UPDATE" line with the full payload so I can have a look at it please ?

[code]

[2019-06-12 07:29] ivan-balan opened #894 "ADD-PATH capability negotiation issue"
##### Summary
Hello,
We are using ExaBGP in our test environment and recently we've added support for the AS-PATH capability. Enabling it on the ExaBGP side, I've noticed that outputs our environment is receiving are wrong (we've adopted source code a bit making ExaBGP returning more information about packets and stuff).

##### Steps to reproduce
Digging deeper into this issue I've found an intere

[2019-06-12 07:37] Mosesnehru commented on #892
Hi @thomas-mangin
Thanks for looking into this issue.

Attached is the complete log.
[exa_bgp_ls_log.txt](https://github.com/Exa-Networks/exabgp/files/3280115/exa_bgp_ls_log.txt)

[2019-06-12 09:11] thomas-mangin commented on #892
Following the patch, please note the "undecoded-sids" attribute, so the decoding is performed but at least it does not stop ExaBGP from working.

[code]

I would need to understand BGP-LS to correctly add the parsing of this SID. I assume this was excluded "in purpose" (I am not the author of that code but it has a comment indicating that only ISIS is supported).

@ruissalo the only place where th

[2019-06-12 09:31] nrocco commented on #891
@thomas-mangin We managed to test the master branch of exabgp (which includes your fix for the clear command) and had successful results.

When we send:

[code]
Jun 12 08:57:17 test exabgp[6117]: 08:57:17 | 6117   | api             | clearing adjb-rib-out for neighbor 1.2.3.4 local-ip 5.6.7.8 local-as 65999 peer-as 65998 router-id 5.6.7.8 family-allowed in-open
[code]

[2019-06-12 11:11] thomas-mangin commented on #894
[code]

```self._send[k] = bool(receive.get(k,self.REFUSE) & self.ANNOUNCE and send.get(k,self.REFUSE) & self.ACCEPT)``` is english for we can send if the receiver can announce it and if we can accept it ...

clearly not right and was fixed with

```self._send[k] = bool(send.get(k,self.CANT) & self.SEND and receive.get(k,self.CANT) & self.RECEIVE)``` we can send if we can send it and if the receiv

[2019-06-12 12:27] ivan-balan commented on #894
I'll try this fix tomorrow and will let you know the results. Thanks again :)

[2019-06-12 13:32] Mosesnehru commented on #892
FYI - the same parsing error occurs in sradj.py.
Complete log attached.
[exa_bgp_ls_log2.txt](https://github.com/Exa-Networks/exabgp/files/3281516/exa_bgp_ls_log2.txt)

06:26:42 | 2120   | outgoing-1    |   File "/home/nehru/.local/lib/python2.7/site-packages/exabgp/bgp/message/update/attribute/bgpls/linkstate.py", line 56, in unpack
06:26:42 | 2120   | outgoing-1    |     klass = cls.registered_l

[2019-06-12 14:22] thomas-mangin commented on #892
`/home/nehru/.local/lib/python2.7/site-packages/exabgp/bgp/message/update/attribute/bgpls/link/sradj.py`

From the path you are most likely not running master ... also as this file was also fixed with the last patch https://github.com/Exa-Networks/exabgp/commit/d5015fa351072b9a413c8f1662fd6c4dae9ec76b

[2019-06-12 15:52] Mosesnehru commented on #892
My bad.
[exa_bgp_ls_log3.txt](https://github.com/Exa-Networks/exabgp/files/3282174/exa_bgp_ls_log3.txt)

08:47:27 | 2591   | outgoing-1    |   File "/opt/exabgp/lib/exabgp/bgp/message/update/attribute/bgpls/prefix/srprefix.py", line 63, in unpack
08:47:27 | 2591   | outgoing-1    |     if flags.flags['V'] and flags.flags['L']:
08:47:27 | 2591   | outgoing-1    | KeyError: 'V'

[2019-06-12 19:42] thomas-mangin commented on #892
No issues at all ... This patch should fix this "next" issue .. Coding blind here but hopefully should be right ... Until the next issue ! 😜

[2019-06-12 19:52] thomas-mangin commented on #891
I am currently fixing an issue with BGP-LS and just performed a change on the AddPath change. Once the code is confirmed good I will release 4.1.0 to PYPI - so yes, soonish.

[2019-06-12 19:53] #891 closed

[2019-06-12 20:17] thomas-mangin commented on #892
[code]
So something else is not right ...

[2019-06-12 21:33] thomas-mangin commented on #892
Correct patch !
[code]
[code]

[2019-06-13 03:03] Mosesnehru commented on #892
Hi @thomas-mangin
I checked this morning. BGP session stays up and I can read the Link-State information now.
I will perform more testing on this.
The "undecoded-sids" can be addressed later as I can do workaround in my program if required.

I am not a python expert , but planning to spend some time on understanding your BGP codes soon.

Thank you very much for your help.

Moses

[2019-06-13 10:25] #892 closed

[2019-06-13 15:02] Marlinc opened #895 "Healthcheck repeats announces"
Hey there,

We have noticed that our healthcheck checks keep re-announcing the prefix that they are testing over and over again. This without a change in the up/down status reported by the command run in `cmd`.

This only occurs when running the healthcheck as part of the ExaBGP daemon in a `process` section. Not when manually running the healthcheck (whether through root or the exabgp user). It d

[2019-06-13 22:04] thomas-mangin commented on #895
Thanks for taking this issue from slack to here.

Should it be a failure of the health check program, full logging should have shown the process being restarted. I am not the author of healthcheck so I had to read the code but I noticed the following comment.

[code]

The code does seems to indeed announce the route after each check. This is a most likely a "protection" for users disabling the ADJ

[2019-06-13 22:06] thomas-mangin commented on #895
@vincentbernat I notice that healthcheck allows to `drop_privileges` but at this point the user running healthcheck may be unable to perform the change. Should a check performed before attempting the change and a warning be logged if it is not possible ?

[2019-06-13 22:15] Marlinc commented on #895
Hey @thomas-mangin,

Thank you for looking at this so quickly, I have attached the `healthcheck.conf` contents to the issue description. I didn't include it at first as its rather simple.

I wish I knew of a different way of checking that would explain the different behaviour when running healthcheck from within in a shell.

[2019-06-13 22:20] Marlinc commented on #895
It appears I forgot to include the strace I mentioned, I have added that now.

[2019-06-13 22:40] thomas-mangin commented on #895
The strace looks good. having it "announce ..." is normal. Is it not working as expected ? AFAICS all is as should.

[2019-06-13 22:42] thomas-mangin commented on #895
@vincentbernat .. healthcheck is not consuming the "done" message that will cause issue !

[2019-06-13 22:44] thomas-mangin commented on #895
@Marlinc please setup `exabgp.api.ack=false` as otherwise healthcheck will fail after some time. ExaBGP 4.0 replies to command when ExaBGP 3.4 does not. This message will at some point become blocking and cause ExaBGP to lock up otherwise.

[2019-06-14 05:20] vincentbernat commented on #895
❦ 13 juin 2019 15:04 -07, Thomas Mangin <notifications@github.com>:

This was done before ADJ-RIB-OUT was implemented. Maybe this could be
optional?

[2019-06-14 05:24] vincentbernat commented on #895
❦ 13 juin 2019 15:06 -07, Thomas Mangin <notifications@github.com>:

As dropping privileges is an explicit request from the user, I don't
think it is wise to just go on if we can't drop privileges.

[2019-06-14 05:25] vincentbernat commented on #895
There is:

[code]

To consume the done message.

[2019-06-14 06:39] thomas-mangin commented on #895
@Marlinc please ignore my comment about `exabgp.api.ack` .. It was late and I missed the read !

[2019-06-14 06:43] thomas-mangin commented on #895
@vincentbernat should the code have something like this to always work ?

[code]

[2019-06-14 07:04] Marlinc commented on #895
@thomas-mangin you are right on manually typing ´enter'. Doing that does result in healthcheck returning an announce on the next check interval.

[2019-06-14 07:30] vincentbernat commented on #895
@thomas-mangin I don't know, isn't it a recipe to create some heisenbugs when ExaBGP slows down for some reason? We could use `sys.stdin.isatty()` instead, but then, we would get a different behaviour when piping through `grep` for example. Maybe a flag `--no-ack` would be cleaner?

[2019-06-14 09:02] thomas-mangin commented on #895
@vincentbernat all the code does is to clear any data on the pipe to make sure the write can not become blocking on ExaBGP's side, it just cause a 0.01 second wait, but no I do not expect this to cause any issue at all. What possible issues do you have in mind please ?

This was just an example I wrote quickly, some production code may look more like this ..

[code]

[2019-06-14 09:09] thomas-mangin commented on #895
@Marlinc I assume this solves your mystery and that all is good from your point of view ?

[2019-06-14 09:13] vincentbernat commented on #895
I fear the ExaBGP process can become CPU starved for some reason (CPU stolen by another VM). The healthcheck process would randomly skip reading the acks and after some iterations, ExaBGP process would block because there are two many acknowledgments not read. This seems a high risk just to let the user run the script manually without pressing enter. Detecting a TTY or using a flag (which could be

[2019-06-14 10:13] thomas-mangin commented on #895
@vincentbernat it would take a few thousand message to fill the pipe buffer. At this point, if the processes are CPU starved to that level, it is very likely that BGP session will be also unstable, but I can accept your argument and using `isatty` would be prevent this kind of surprise just fine.

[2019-06-14 21:51] Marlinc commented on #895
Yes @thomas-mangin my mystery has been resolved, thank you very much both of you

[2019-06-14 21:51] #895 closed

[2019-06-16 19:51] thomas-mangin commented on #895
@vincentbernat thank you - hopefully all good now :-)

[2019-06-16 20:03] thomas-mangin commented on #894
@ivan-balan I will release a new version of ExaBGP as soon as you can confirm this is working as expected :-)

[2019-06-16 20:18] ivan-balan commented on #894
Good evening Thomas! Sorry, I had to focus on other tasks last week, tomorrow I'll test and let you know the results. Thanks!

[2019-06-16 20:21] thomas-mangin commented on #894
Thank you. No worries, I know the feeling !

[2019-06-17 07:32] ivan-balan commented on #894
The fix works:
[code]
Which is correct, our daemon is set to receive add-paths only atm.

Thank you for your help again!

[2019-06-17 08:13] #894 closed

[2019-06-18 09:03] ercintorun opened #897 "could not redirect only the first nlri update to process script"
##### Summary
Could not get first nlri update using stdin, all updates after the first one is redirected to process script. I realized the missing update by adding sys.exit() to process script. As script terminates itself, update is pushed to the terminal by exabgp

superonline@ubuntu_exabgp:~/exabgp-4.0.10/sbin$    ./exabgp /home/superonline/exabgp-4.0.10/etc/exabgp/exabgp.conf --env /home/supero

[2019-06-18 15:03] thomas-mangin commented on #897
@ercintorun your code surely should look like

[code]

But I do not have time to help you debug it more than that.

[2019-06-18 15:06] dmgolembiowski commented on #847
Hi @thomas-mangin and @ruissalo, I have virtually infinite free time but little experience with this particular repository. If someone else (who knows this code inside-out and backwards) is willing to help me with a brief tour, I would be happy to contribute.

<dmgolembiowski@gmail.com>

[2019-06-19 06:01] ercintorun commented on #897
Hello Thomas,

Thanks for the help, it solved my problem. hopefully my coding skills will get better in time.

[2019-06-19 06:13] #897 closed

[2019-06-21 14:26] thomas-mangin commented on #847
Sorry for the radio silence, the offer is much appreciated. @ruissalo anything @dmgolembiowski can help us with, like a PCAP from a router with the feature ?

[2019-06-26 19:04] greg-bock commented on #836
Sorry for the delay, this still appears to error on reload:

[code]

[code]

cli fails as before.

Any subsequent reloads output the following:
[code]

[2019-06-26 21:33] thomas-mangin commented on #836
It will be able to allow a reload but I will have to decide between keeping the process running if it exists or restarting it ..

[2019-07-01 18:37] theasianpianist opened #898 "Received routes are not logged"
##### Summary

I have two neighbors setup with exabgp.

I announce a route on the first neighbor, and the route is received by the second neighbor (10.3.3.2). However, this is not reflected in the logs. I have enabled received route logging in my environment file through `exabgp.log.routes`

##### OS

[code]

[code]

##### Version

[code]

##### Installation

[code]

##### Environment

[code]

###

[2019-07-01 21:39] thomas-mangin commented on #898
Hello @theasianpianist - you are only providing half the information but from what I can see, ExBGP is well receiving the route.
[code]
This section show how it was decoded and how we concluded that you announced 99.99.99.0/24 with a next-hop of 10.3.3.1

[2019-07-01 23:10] theasianpianist commented on #898
What information did I leave out? And I can see that it's shown in the output here, but if I don't run exabgp with a '-d' flag then no information about the received route is displayed.

[2019-07-01 23:34] thomas-mangin commented on #898
`WARNING`: do not rely on the decoded routes on the stdout to always look like they do now,  ExaBGP is not a BGP to stdout program. The STDOUT is not a stable interface, string _will_ change, it _will_ break code which rely on any form of formatting there. That's what the API is for.

That said I believe it make sense to have https://github.com/Exa-Networks/exabgp/commit/5c143e073ff2912207151d4b28

[2019-07-08 14:30] cooperlees commented on #791
Hi,

I seem to be getting identical symptoms to this and would like to help work on closing this. This is my first time debugging ExaBGP so please bare with me.

OS: Ubuntu 18.04.2 LTS
Python: Python 3.6.8 + 3.7.3

ExaBGP Versions:
- 4.1.0-2074ac17
- master-5c143e073ff2912207151d4b28c340ac2651b5b8

## CLI Command
[code]
- Strace: https://pastebin.com/7MBVicra
Seems we stat the file, we have access

[2019-07-08 16:39] cooperlees commented on #791
I'm getting the data into `/run/exabgp.out`.

- Confirm via tail:
[code]

Has anyone had this working with Python >= 3.6?

[2019-07-08 21:16] thomas-mangin commented on #791
Hi @cooperlees,

Thanks for helping with this issue .. I clearly overlooked it !
Let me try a quick patch ... as if EINTR is not handled it is easy to fix.

[2019-07-08 21:28] cooperlees commented on #791
Awesome - Happy to pull a branch and test on my test setup before you merge 👍

[2019-07-09 14:03] thomas-mangin commented on #791
fixed with https://github.com/Exa-Networks/exabgp/commit/70f387300e6ab148d72d4bd7e110bb7f409ca63e

[2019-07-09 14:19] cooperlees commented on #791
Got there! Nice work. It's always something simple, just finding it.

[2019-07-09 20:47] cooperlees opened #900 "Fix CI to Pass"
I'd love to help with and see ✅ again on the CI.

TravisCI:
- Get passing again
- Add in an allowed failed job on Python 3.8 (to see if we have any incompatibilities) - e.g. https://github.com/pypa/bandersnatch/blob/master/.travis.yml

Scrutinizer:
- Possibly remove?

[2019-07-09 20:48] thomas-mangin commented on #900
Happy to remove Scrutinizer

[2019-07-09 20:49] thomas-mangin commented on #900
All the test fail on bionic - so I can try to reproduce

[2019-07-09 20:53] thomas-mangin commented on #900
Got it .. psutil seems to be python3 only (even if installed with pip install on bionic) and import fails even if pip was run before hand.
Coverting the code to python3

[2019-07-09 22:00] thomas-mangin commented on #900
https://github.com/Exa-Networks/exabgp/commit/6ec1f15da093ad395527919c93444ec50b7bcdca

[2019-07-09 23:24] thomas-mangin commented on #900
work on bionic - works on Mac - does not work on travis - find the mistake !

[2019-07-09 23:26] thomas-mangin commented on #898
I will assume that no news is good news. If not the re-open button is always our friend.

[2019-07-09 23:26] #898 closed

[2019-07-11 22:20] cooperlees opened #901 "Wiki Cleanup + Update"
A lot of the wiki, particularly configuration examples are invalid for >= 4.0. This has caused me a lot of guessing, then I found `etc` on the repo.

Should we change the wiki to link to the `etc` dir within the repo so examples stay up to date? I spent a lot of time trying to make sense out of the wiki's examples. I don't recall seeing that the examples in etc exist mentioned on the wiki, but if

[2019-07-12 15:33] cooperlees opened #902 "Replace imp usage with importlib"
`setup.py` is using imp. We should replace that.

[code]
- Please note, great spelling of favour 💃

[2019-07-13 01:40] thomas-mangin commented on #902
Happy to accept a patch :-)

[2019-07-13 01:46] thomas-mangin commented on #901
My goal was to have docstring on the parsing function for the config and then auto-generate help on every part from the parser code which has the structure of the code.

[2019-07-13 01:46] thomas-mangin commented on #901
Happy with any cleanup on the wiki.

[2019-07-13 17:21] #902 closed

[2019-07-13 18:05] thomas-mangin commented on #900
I have build a brand new Ubuntu machine following the steps in the CI files and it works.

[2019-07-15 07:52] thomas-mangin commented on #900
Two issues:
 - `pip install psutil` does not (always) work on the travis-ci VM ! for some reason
 - the docker image has no IPv6 loopback !

[2019-07-15 07:59] thomas-mangin commented on #900
Now now need to convert print format from python2 to python3 but unlocked

[2019-07-15 10:44] thomas-mangin commented on #900
Now passing

[2019-07-15 10:44] #900 closed

[2019-07-15 13:18] cooperlees commented on #900
Nice work! I’ll now have more confidence when changing things in the future.

[2019-07-16 20:40] cooperlees commented on #900
Can we please turn off the other failing CI? 🤞🏼 _(screenshot from head's CI runs)_
![Screen Shot 2019-07-16 at 1 38 05 PM](https://user-images.githubusercontent.com/3005596/61328031-0d04d480-a7cf-11e9-8d1a-e5e40af1ff39.png)
- continuous-integration/codeship
- Scrutinizer

I am sure these will be GUI clicking.