[2013-08-27 21:52] thomas-mangin opened #1 "Problem with OpenBSD 4.7 OpenBGPD"
_From [manuel.guesdon@gmail.com](https://code.google.com/u/manuel.guesdon@gmail.com/) on October 27, 2010 15:42:24_

When ExaBGP (v 1.0.2) try to connect to OpenBGPD (OpenBSD v4.7) and say:
300 16:34:40  OpenBGPPeerIP/  41157 -> OPEN version=4 asn=41157 hold_time=180 router_id=ExaBGPIP capabilities=[Multiprotocol for IPv4 unicast, 4Bytes AS 41157]
300 16:34:41  OpenBGPPeerIP/  41157 Sending Notifi

[2013-08-27 21:52] #1 closed, assigned to thomas-mangin

[2013-08-27 21:52] thomas-mangin opened #2 "Add Support for 4-byte ASNs in x.y Notation"
_From [jonloo...@gmail.com](https://code.google.com/u/101174812691492043012/) on July 14, 2011 17:31:38_

If you attempt to include a 4-byte ASN in the x.y notation, exabgp exits with a traceback.

To see this, include an AS Path that includes an ASN in the x.y notation, such as:

as-path 1.123;

There are two items here:
a) Feature: It doesn't support x.y notation for ASNs.
b) Bug: It doesn't gra

[2013-08-27 21:52] #2 closed, assigned to thomas-mangin

[2013-08-27 21:52] thomas-mangin opened #3 "Invalid python interpreter"
_From [sebastie...@gmail.com](https://code.google.com/u/105195338585807179675/) on December 08, 2011 01:25:42_

On archlinux, python 2.7 interpreter is call python2 an not python. In previous version (pre 2.x.y), interpreter was detected setup.py caller and set correctly.

In new version, exabpg is become a script shell and interpreter is detected by a `which python`. It's python 3 on archlinux.

[2013-08-27 21:52] #3 closed, assigned to nobody

[2013-08-27 21:53] thomas-mangin opened #4 "Daemonization doesn't close file descriptors and redirect to /dev/null"
_From [rlan...@gmail.com](https://code.google.com/u/113997619619217227366/) on July 02, 2012 21:47:50_

What steps will reproduce the problem? 1. Try to launch the daemon with python.subprocess, using communicate()
2. Notice blocking What is the expected output? What do you see instead? There should be no blocking. Since the daemon doesn't close file descriptors and redirect stdin/stderror to /dev

[2013-08-27 21:53] #4 closed, assigned to thomas-mangin

[2013-08-27 21:53] thomas-mangin opened #5 "withdraw route via process is broken"
_From [d...@dsp.name](https://code.google.com/u/112287980180339570955/) on July 28, 2012 23:55:57_

Testing with 3.0.5 I noticed that withdraw route is broken.  The error is:

Sat, 28 Jul 2012 15:55:02 | WARNING  | 16647  | supervisor    | Command failure, route not found : route 192.0.2.1/32 next-hop 10.0.0.1

To reproduce:

sbin/exabgp etc/exabgp/ibgp4-dynamic.txt

Thanks.

_Original issue: http

[2013-08-27 21:53] #5 closed, assigned to nobody

[2013-08-27 21:53] thomas-mangin opened #6 "Connections closed by peer cause ExaBGP to spin CPU"
_From [VeryWitt...@gmail.com](https://code.google.com/u/111013829796279210254/) on August 07, 2012 20:51:17_

What version of ExaBGP you are using? 2.0.8 On which OS ? Linux - Debian testing with Python 2.7.3rc2 Could reproduce the problem on the latest development version ? I haven't actually tested the latest version, but looking at the code in SVN it appears the issue still exists. What steps w

[2013-08-27 21:53] #6 closed, assigned to nobody

[2013-08-27 21:53] thomas-mangin opened #7 "duplicated routes in route list causing several unexpected issues"
_From [reggie....@nexusguard.com](https://code.google.com/u/117033012437418595058/) on September 06, 2012 10:43:08_

Hello, Report issue:
1. identical route can be installed to route list
2. withdraw can only remove one of identical route instead of all
3. routes with same NRLI but different attribute can be installed into route list as well. eventually, removing default route object will cause sy

[2013-08-27 21:53] #7 closed, assigned to nobody

[2013-08-27 21:53] thomas-mangin opened #8 "on sending sigterm, the child process terminate"
_From [thomas.mangin](https://code.google.com/u/thomas.mangin/) on September 08, 2012 16:51:55_

What steps will reproduce the problem? 1. send a SIGTERM to exabgp
2. the child process exit
3. it does not receive/process the down message for all the peers What is the expected output? What do you see instead? The SIGNAL to be intercepted

_Original issue: http://code.google.com/p/exabgp/issues/deta

[2013-08-27 21:53] #8 closed, assigned to thomas-mangin

[2013-08-27 21:53] thomas-mangin opened #9 "log rotation fails"
_From [thomas.mangin](https://code.google.com/u/thomas.mangin/) on September 08, 2012 16:57:11_

What steps will reproduce the problem? 1. start ExaBGP as daemon using a logfile
2. be unlucky (it does not happen all the time at all !)
3. see that the child process died
4. strace -f -s 1000 -p <exabgp pid>
5. noticed with child process dead, do not know if it is related What is the expected output?

[2013-08-27 21:53] #9 closed, assigned to thomas-mangin

[2013-08-27 21:53] thomas-mangin opened #10 "holdtime of zero"
_From [thomas.mangin](https://code.google.com/u/thomas.mangin/) on October 24, 2012 09:53:13_

Should we support holdtime of zero ?

_Original issue: http://code.google.com/p/exabgp/issues/detail?id=10_

[2013-08-27 21:53] #10 closed, assigned to thomas-mangin

[2013-08-27 21:53] thomas-mangin opened #11 "Subset CIDR withdraw issue"
_From [reggie....@nexusguard.com](https://code.google.com/u/117033012437418595058/) on November 06, 2012 07:41:06_

Hello, Report issue:
Route update is not properly conducted if there is overlapping prefix, let say CIDR 192.168.1.0/24 and its subset CIDR 192.168.1.0/(25..30). Withdrawing 192.168.1.0/24 will only update in Exabgp DB, but failed to send the withdraw message to its peers.

Above iss

[2013-08-27 21:53] #11 closed, assigned to nobody

[2013-08-27 21:53] thomas-mangin opened #12 "feature request : disable caching"
_From [thomas.mangin](https://code.google.com/u/thomas.mangin/) on November 16, 2012 08:24:24_

ExaBGP is currently parse all received route, generate python structures for the attributes seen and cache them to improve performance (many routes on the global routing table received from the same transit providers share many attributes).
Daniel Piekacz asked for a way to turn this caching off, on his

[2013-08-27 21:53] #12 closed, assigned to thomas-mangin

[2013-08-27 21:53] thomas-mangin opened #13 "'withdraw' and 'watchdog' options do not seem to work properly"
_From [ryanpsteinmetz](https://code.google.com/u/ryanpsteinmetz/) on November 25, 2012 15:11:01_

What version of ExaBGP you are using? 3.0.10 On which OS ? FreeBSD What steps will reproduce the problem? 1.  Load the configuration from ibgp4-watchdog.txt or ibgp4-withdrawn.txt
2.  Use the sample processes/watchdog-1.sh script
3.  Examine debug log output/RIB on remote router. What is the expected

[2013-08-27 21:53] #13 closed, assigned to nobody

[2013-08-27 21:53] thomas-mangin opened #14 "[patch] add TCP_MD5SIG for FreeBSD systems"
_From [ryanpsteinmetz](https://code.google.com/u/ryanpsteinmetz/) on November 27, 2012 05:46:27_

exabgp's documentation should be updated to include the following information:
1.  Recompile your kernel with the following options added and reboot:
   options         IPSEC
   options         TCP_SIGNATURE
   device          crypto
2.  Create /etc/ipsec.conf with the following contents:
   flush;

[2013-08-27 21:54] #14 closed, assigned to thomas-mangin

[2013-08-27 21:54] thomas-mangin opened #15 "Perl example for an external process"
_From [ryanpsteinmetz](https://code.google.com/u/ryanpsteinmetz/) on November 28, 2012 20:06:09_

If you do not configure STDOUT to be unbuffered, your perl watchdog/dynamic script will not work properly.

Below is an example that should probably be included in the distribution:
# !/usr/bin/perl

use strict;
use warnings;
# Ignore Control C

$SIG{'INT'} = sub {};
# make STDOUT unbuffered

select S

[2013-08-27 21:54] #15 closed, assigned to thomas-mangin

[2013-08-27 21:54] thomas-mangin opened #16 "feature request: withdraw route using partial specification"
_From [briani...@gmail.com](https://code.google.com/u/114022813164024711680/) on December 06, 2012 21:03:51_

Currently, to withdraw a route you have to specify the prefix, next hop and local-preference, etc.

It would be nice to remove routes based on partial information like:
1. just the prefix
2. just the prefix and nexthop

Using 3.0.11 under Ubuntu 12.04.1, btw

_Original issue: http://code.g

[2013-08-27 21:54] #16 closed, assigned to nobody

[2013-08-27 21:54] thomas-mangin opened #17 "json serialisation"
_From [thomas.mangin](https://code.google.com/u/thomas.mangin/) on December 09, 2012 21:35:00_

Several users have reported that they would prefer some JSON to a string representation of the routes using the external API.

_Original issue: http://code.google.com/p/exabgp/issues/detail?id=17_

[2013-08-27 21:54] #17 closed, assigned to thomas-mangin

[2013-08-27 21:54] thomas-mangin opened #18 "peer removal crashes"
_From [justin.a...@gmail.com](https://code.google.com/u/117334745718207823801/) on December 23, 2012 18:12:22_

What version of ExaBGP you are using? 3.0.11 / TIP Could reproduce the problem on the latest development version ? Yes What steps will reproduce the problem? 1. start exabgp
2. remove a peer
3. HUP exabgp What is the expected output? What do you see instead? the peer should be removed, b

[2013-08-27 21:54] #18 closed, assigned to nobody

[2013-08-27 21:54] thomas-mangin opened #19 "High router CPU utilisation on slow script"
_From [thomas.mangin](https://code.google.com/u/thomas.mangin/) on January 22, 2013 18:48:20_

Hi Thomas,

We're playing with exabgp (which we're finding fantastically helpful and useful - so thanks for writing it :-)), however, we're seeing an undesired side effect that hopefully you'll be to help. We run Cisco 6500s, and have an exabgp server (on capable hardware) the problem is, that as we proc

[2013-08-27 21:54] #19 closed, assigned to thomas-mangin

[2013-08-27 21:54] thomas-mangin opened #20 "Configuration parse improvement for groups"
_From [m...@mikeljimenez.net](https://code.google.com/u/114763108011639083516/) on February 06, 2013 11:06:51_

Hello, As per our chat conversation here I report you the bug related to config parsing. Could you please indicate : What version of ExaBGP you are using? 3.x.x On which OS ? Linux Could reproduce the problem on the latest development version ? Yes What steps will reproduce the problem?

[2013-08-27 21:54] thomas-mangin opened #21 "It's spelled 'negotiated'"
_From [froggien...@gmail.com](https://code.google.com/u/104613259437803318830/) on February 13, 2013 16:04:53_

and not 'negociated'.

_Original issue: http://code.google.com/p/exabgp/issues/detail?id=21_

[2013-08-27 21:54] #21 closed, assigned to nobody

[2013-08-27 21:54] thomas-mangin opened #22 "exabgp 3.0.11 and tcpserver behaviour"
_From [lorenzo....@gmail.com](https://code.google.com/u/111323493688150121070/) on February 18, 2013 08:43:28_

Hello Thomas.
1rst of all, congraatulations for exaBGP tool creation. Brilliant idea! Thanks.

I'm quite new to exaBGP. Testing release 3.0.11 and I've found a different behaviour between announcing routes using static config and passing same routes throught tcpserver.
My question is: Is

[2013-08-27 21:54] #22 closed, assigned to nobody

[2013-08-27 21:54] thomas-mangin opened #23 "tcpserver command show routes issues a exabgp traceback"
_From [lorenzo....@gmail.com](https://code.google.com/u/111323493688150121070/) on February 18, 2013 12:13:24_

Thomas,
issuing a tcpserver command 'show routes' generates a exabgp traceback.
Tested w/ version 3.1.4.
Attached extended logs.
Regads,
Lorenzo

**Attachment:** [20130218_issue_report___exabgp_traceback_after_tcpserver_command_show_routes.txt](http://code.google.com/p/exabgp/issues/deta

[2013-08-27 21:54] #23 closed, assigned to nobody

[2013-08-27 21:54] thomas-mangin opened #24 "Feature request : BMP"
_From [fga...@gmail.com](https://code.google.com/u/110330525279389991487/) on February 18, 2013 16:54:25_

Hello, ExaBGP is a great tool but it does not support BMP. http://www.nanog.org/meetings/nanog45/presentations/Tuesday/Scudder_bmp_N45.pdf Could you please add this ? It would be amazing :-)

Regards,
##

Frédéric Gabut-Deloraine
DAILYMOTION

_Original issue: http://code.google.com/p/exabgp/i

[2013-08-27 21:54] #24 closed, assigned to nobody

[2013-08-27 21:54] thomas-mangin opened #25 "traceback just initiating an ibgp v4 or v6 session"
_From [lorenzo....@gmail.com](https://code.google.com/u/111323493688150121070/) on March 13, 2013 17:46:49_

Hello, I've found 2 traceback conditions.
I'm using today's version "2013/03/13" pre-3.1.7
The enviroment is: linux fedora 16 connected to juniper-mx
2 tests: 1rst test for ipv6 and 2nd for ipv4
Steps to reproduce the problem are the same: start exabgp and receive attached log.
I repeated t

[2013-08-27 21:55] #25 closed, assigned to nobody

[2013-08-27 21:55] thomas-mangin opened #26 "issue 20130404 1exabgp-process 2neighbors"
_From [lorenzo....@gmail.com](https://code.google.com/u/111323493688150121070/) on April 05, 2013 05:25:07_

Hi Thomas,
## I have just configured a lab and found a behaviour I want to report to you.

Summary
1 exabgp process w/ 2 neighbors. For each neighbor I use a different tcp-server control process:
- 1 ebgp w/ 192.168.101.15 (j0) → tcp-server-9001
- 1 ibgp w/ 192.168.101.17 (j2) → tcp-server-

[2013-08-27 21:55] thomas-mangin opened #27 "Add a signal to restart sub-processes"
_From [vince.be...@gmail.com](https://code.google.com/u/116541616247182646025/) on April 25, 2013 11:26:46_

A signal to reload the configuration and restart subprocesses would be handy. I attach a proposed but untested patch for this. Unless you come with something else first, I will test it later.

**Attachment:** [0001-add-SIGUSR1-to-reload-configuration-and-restart-subp.patch](http://code.goog

[2013-08-27 21:55] #27 closed, assigned to nobody

[2013-08-27 21:55] thomas-mangin opened #28 "Enhancement: add fifo for external checks"
_From [sebastie...@gmail.com](https://code.google.com/u/113730235746353170644/) on June 05, 2013 11:52:03_

Hello, exabgp is a great tool. Using processes checks is also very useful. Any way is there  a simple way to add a fifo that would be checked (such as processes output) to add or withdraw routes?

The goal is to use an external monitoring system such as nagios event handler to control exabgp

[2013-08-27 21:55] #28 closed, assigned to nobody

[2013-08-27 21:55] thomas-mangin opened #29 "many dynamic announcements block keepalives"
_From [ian.bobb...@gmail.com](https://code.google.com/u/114395100199317514301/) on June 05, 2013 23:09:10_

Hello, What version of ExaBGP you are using? 3.1.10, latest clone of repo On which OS ? Fedora 18, Raspbian, OS X ML Could reproduce the problem on the latest development version ? Yes What steps will reproduce the problem? 1. Setup peering with a process
2. Announce or Withdraw many routes

[2013-08-27 21:55] #29 closed, assigned to nobody

[2013-08-27 21:55] thomas-mangin opened #30 "ipv6 support for add-path"
_From [briani...@gmail.com](https://code.google.com/u/114022813164024711680/) on July 16, 2013 16:03:39_

Running 3.1.10 under "Ubuntu 12.04 LTS" with some ipv6 neighbors which need add-path support.

_Original issue: http://code.google.com/p/exabgp/issues/detail?id=30_

[2013-08-27 21:55] thomas-mangin opened #31 "process checkpoint and fast restart"
_From [vic.banc...@gmail.com](https://code.google.com/u/101337804272337074848/) on July 16, 2013 17:44:32_

Running 3.1.10 under "Ubuntu 12.04 LTS" in a service provider context.

It would be advantageous to have a mechanism to checkpoint an exabgp's running process to disk.  There have been some discussions around adding a mechanism to serialize the exabgp route information hash table to disk as

[2013-08-27 21:55] thomas-mangin opened #32 "Hooking SIGHUP while running in foreground"
_From [kaithar....@gmail.com](https://code.google.com/u/102968841564747236710/) on July 16, 2013 18:12:54_

The process is registering a signal handler for SIGHUP even when running foreground.
If the controlling process (sh via screen in this case, though I'd guess the same occurs when ssh drops a non-screen instance) disappears it sends the child processes SIGHUP not SIGINT, so when screen gets k

[2013-08-27 21:55] #32 closed, assigned to nobody

[2013-08-27 21:55] thomas-mangin opened #33 "run command is converted to lowercase"
_From [vince.be...@gmail.com](https://code.google.com/u/116541616247182646025/) on July 18, 2013 17:18:52_

Hello, The arguments of the `run` command are converted to lowercase. If the command use case-sensitive arguments, this could lead to some problem.

In `configuration/file.py`, `Configuration._cleaned` is converting everything to lower case. This may also cause problem with some other argume

[2013-08-27 21:55] #33 closed, assigned to nobody

[2013-08-27 21:55] thomas-mangin opened #34 "Do not use SO_REUSEPORT"
_From [vince.be...@gmail.com](https://code.google.com/u/116541616247182646025/) on July 18, 2013 17:24:10_

Hello, When running with a recent enough version of Python to have `socket.SO_REUSEPORT` but not a recent enough kernel to support that, we get this error in the logs:

Thu, 18 Jul 2013 18:14:07 | INFO     | 730    | network       | can not write to the peer, reason : Could not create socket

[2013-08-27 21:55] #34 closed, assigned to nobody

[2013-08-27 21:55] thomas-mangin opened #35 "Unhandled exceptions in reactor/protocol.py"
_From [vince.be...@gmail.com](https://code.google.com/u/116541616247182646025/) on July 18, 2013 17:30:18_

Hello, Got this exception:

Traceback (most recent call last):
  File "/usr/lib/python2.7/runpy.py", line 162, in _run_module_as_main
    "__main__", fname, loader, pkg_name)
  File "/usr/lib/python2.7/runpy.py", line 72, in _run_code
    exec code in run_globals
  File "/root/code/dailymoti

[2013-08-27 21:55] #35 closed, assigned to nobody

[2013-08-27 21:55] thomas-mangin opened #36 "Cannot use multiple spaces between tokens"
_From [vince.be...@gmail.com](https://code.google.com/u/116541616247182646025/) on July 19, 2013 14:10:55_

Hi!

exabgp does not like multiple spaces when tokenizing. This is a bit disturbing. I am unsure where to fix that. Either we could remove contiguous spaces in _cleaned or fix various places that are using split to tokenize.

_Original issue: http://code.google.com/p/exabgp/issues/detail?id=

[2013-08-27 21:56] #36 closed, assigned to nobody

[2013-08-27 21:56] thomas-mangin opened #37 "next-hop self is unsupported when announced from a process"
_From [vince.be...@gmail.com](https://code.google.com/u/116541616247182646025/) on July 19, 2013 18:10:03_

Hi!

I was expecting that a configuration where a process is outputting "announce 1.1.1.1/32 next-hop self med 1000" was valid. However, this is not the case. When the command is parsed, the local-address is not part of the scope. I realize this may be difficult to implement because there ma

[2013-08-27 21:56] #37 closed, assigned to nobody

[2013-08-27 21:56] thomas-mangin opened #38 "self configuring neighbors"
_From [thomas.mangin](https://code.google.com/u/thomas.mangin/) on July 25, 2013 09:14:42_

It would be practical when accepting many connections from many peers from a trusted range to not have to specify the details of the connection.

A BGP speaker receiving a connection can extract from the OPEN message sent from the peer all the information it needs to reply. Only the router-id need to be con

[2013-08-27 21:56] thomas-mangin opened #39 "Allow the definition of neighbor "ranges""
_From [thomas.mangin](https://code.google.com/u/thomas.mangin/) on July 25, 2013 09:18:40_

Instead of defining one neighbor in the configuration, allow the creation of multiple neighbor at once.

So in effect

neighbor 1.2.3.1 {
  # ASN, IP, ROUTER-ID information etc
}

could be a short version for
neighbor 1.2.3.1/32 {
  # ASN, IP, ROUTER-ID information etc
}

or
neighbor 1.2.3.1 - 1.2.3.1 {
  #

[2013-08-27 21:56] thomas-mangin opened #40 "better BMP support"
_From [thomas.mangin](https://code.google.com/u/thomas.mangin/) on July 27, 2013 06:40:51_

Integrate BMP support into ExaBGP.

ExaBGP and ExaBMP are currently two applications :
- integrate BMP into ExaBGP
- update BMP version to v7

_Original issue: http://code.google.com/p/exabgp/issues/detail?id=40_

[2013-08-27 21:56] thomas-mangin opened #41 "JSON configuration format"
_From [thomas.mangin](https://code.google.com/u/thomas.mangin/) on July 27, 2013 13:24:18_

ExaBGP 4.0 will have a new JSON configuration format.
Some of the code is already in the repository.

Before hand the code must be change to reference attributes from a central list of seen attributes in routes, and therefore allow announcement with attribute grouping.

_Original issue: http://code.google.c

[2013-08-27 21:56] thomas-mangin opened #42 "Method for triggering route dump to child process"
It would be rather helpful to us to have some method to cause exabgp to provide it's entire route table to the child process.

This would allow a restarted downstream process to have the full table available to it without having to restart exa to force a resend.
As it is, if the child process restarts it is only told about subsequent route changes and thus is unaware of most of the table.  This pr

[2013-08-27 21:56] thomas-mangin opened #43 "exabgp can block when connecting to a peer"
_From [vince.be...@gmail.com](https://code.google.com/u/116541616247182646025/) on August 16, 2013 19:39:03_

See the proposed patch.

`socket.connect()` may block when the peer is unreachable for some
reason (network down for example). We need to pass the socket to async
mode before connecting. Therefore, we don't get the appropriate return
code right now. We intercept it during the first attempt

[2013-08-27 21:56] #43 closed, assigned to thomas-mangin

[2013-08-27 21:56] thomas-mangin opened #44 "Missing argument for NotificationFactory()"
_From [vince.be...@gmail.com](https://code.google.com/u/116541616247182646025/) on August 16, 2013 19:48:46_

Hello, Traceback (most recent call last):
  File "/root/code/dailymotion/exabgp/lib/exabgp/reactor/peer.py", line 469, in _run
    for event in self._connect():
  File "/root/code/dailymotion/exabgp/lib/exabgp/reactor/peer.py", line 319, in _connect
    for message in self._out_proto.read_

[2013-08-27 21:56] #44 closed, assigned to thomas-mangin

[2013-08-27 21:56] thomas-mangin opened #45 "ExaBGP to store its RIB to disk"
_From [thomas.mangin](https://code.google.com/u/thomas.mangin/) on August 19, 2013 15:01:20_

Have an option to have ExaBGP save its RIB to disk as well/instead of memory
For example using sqlite3

_Original issue: http://code.google.com/p/exabgp/issues/detail?id=45_

[2013-08-27 21:56] thomas-mangin opened #46 "Make ExaBGP a route server"
_From [thomas.mangin](https://code.google.com/u/thomas.mangin/) on August 19, 2013 15:02:13_

Yes, you read correctly ... Going after the big boys :-)

_Original issue: http://code.google.com/p/exabgp/issues/detail?id=46_

[2013-08-27 21:56] thomas-mangin opened #47 "Command parsing regression in certain versions"
_From [justin.a...@gmail.com](https://code.google.com/u/117334745718207823801/) on August 22, 2013 14:11:32_

The issue:

Thu, 22 Aug 2013 09:09:54 | INFO     | 6603   | processes     | Command from process service-2 : announce route 192.0.2.1 next-hop 10.0.0.1 community [ no-export ]
Thu, 22 Aug 2013 09:09:54 | WARNING  | 6603   | supervisor    | Command could not parse route in : announce route

[2013-08-27 21:56] #47 closed, assigned to nobody

[2013-08-31 16:34] #31 closed, assigned to nobody

[2013-08-31 16:38] thomas-mangin opened #48 "implement draft-frs-bgp-operational-message-00"
http://tools.ietf.org/html/draft-frs-bgp-operational-message-00 .. still somehow hoping one of the RFC author to do it ... wishful thinking :-)

[2013-08-31 16:49] thomas-mangin opened #49 "implement draft-ietf-idr-bgp-extended-messages"
Implement the [draft](http://tools.ietf.org/html/draft-ietf-idr-bgp-extended-messages-06) once a capability code has been assigned.

[2013-09-03 07:57] pspikings opened #51 "Incorrect parsing of mpls ipv4 withdrawn route"
Hi,

When an mpls-vpn route withdrawn is received exabgp doesn't appear to parse it correctly.

The API sent the following to my program:

{ "exabgp": "2.0", "time": 1378194060, "neighbor": { "ip": "85.116.180.84", "update": { "withdraw": { "ipv4 mpls-vpn": [ "49.0.0.0/8 label [ 524288 2 ] route-distinguisher ��
��" ] } } } }

When it parsed the withdrawn route it appears to be off by 3 bytes (hen

[2013-09-03 10:27] #51 closed, assigned to thomas-mangin

[2013-09-25 17:04] fenner opened #52 "exabgp.service installed in /usr/usr/..."
After

[code]

we find that underneath `$RPM_BUILD_ROOT` we have /usr/usr/lib/systemd/system/exabgp.service, which seems to have an extra `/usr`.

Everything else is installed in the right place.

[2013-09-26 10:52] mpenning opened #53 "exabgp does not send TCP MD5 option (running linux)"
I am running exabgp under Python 2.6.6 and Debian 6.0.  When I request a bgp session with MD5 passwords as shown at the bottom of http://blog.pennington.net/blog/post/exabgp-experiment/, exabgp does not set the TCP MD5 option in the SYN packet.  exabgp is also not accepting Cisco's connection attempts with an MD5 option.

Perhaps this has something to do with Debian, I'm not sure, but I'm filing a

[2013-09-27 09:31] #53 closed, assigned to nobody

[2013-09-27 09:32] #52 closed, assigned to thomas-mangin

[2013-09-27 17:02] ecables opened #54 "Implement direct query of LocRIB into ExaBGP"
The ability to directly query ExaBGP local RIB, similar to BIRD's control socket, would be extremely useful.

[2013-10-03 08:21] hide opened #55 "route announcement issue"
When exabgp received Route-Refresh request for VPNv4, It begin to announce VPNv4 and VPNv6 routes.

[2013-10-03 09:05] pwbristow opened #56 "Repeated announce or withdraw for the same prefix crashes the API"
You can cause the BGP process to go into the weeds with the following.
If you need anything else let me know.

CentOS 6.4
python-2.6.6-37.el6_4.x86_64
bird-1.3.11-1.x86_64
exabgp-3.2.13

Peer Bird config

[code]

Exacfg

[code]

[code]

Wed, 02 Oct 2013 07:45:15 | INFO     | 64075  | reactor       | New Peer neighbor 10.0.0.0 local-ip 10.0.0.1 local-as 56673 peer-as 56673 router-id 10.0.0.1 family

[2013-10-04 11:13] #56 closed, assigned to thomas-mangin

[2013-10-07 09:16] #55 closed, assigned to thomas-mangin

[2013-10-15 03:37] hide opened #60 "lack of announce routes"
If exabgp execute w/o debug option (./sbin/exabgp ./exabgp.conf),
some static route in configuration doesn't announce to peer (217,937/327,680 routes).
Number of announcing routes are different each time.

If exabgp execute w/ debug option (./sbin/exabgp -d ./exabgp.conf),
I seem that all routes are announced correctly.

I think some timing cause an above issue.

<pre>
    static {
        route 1

[2013-10-17 17:06] rob-barnes opened #61 "AttributeError: '_Logger' object has no attribute 'process' <> should be 'processes'"
When helper process is lost, and Exabgp tries to log the event, this error is generated:

Traceback (most recent call last):
  File "/usr/lib/python2.7/runpy.py", line 162, in _run_module_as_main
    "__main__", fname, loader, pkg_name)
  File "/usr/lib/python2.7/runpy.py", line 72, in _run_code
    exec code in run_globals
  File "/usr/local/lib/python2.7/dist-packages/exabgp/debug.py", line 71,

[2013-10-17 17:13] #61 closed, assigned to thomas-mangin

[2013-11-04 18:26] #60 closed, assigned to thomas-mangin

[2013-12-05 17:47] rob-barnes opened #75 "Invalid JSON message"
captured this invalid JSON message (string values need quotes):
{
    "exabgp": "2.0",
    "time": 1386264791,
    "neighbor": {
        "ip": "2607:f080:300:100::3",
        "update": {
            "announce": {
                "ipv6 unicast": {
                    "eor": {
                        "afi": ipv6,
                        "safi": unicast
                    }
                }

[2013-12-06 15:16] #75 closed, assigned to thomas-mangin

[2013-12-28 19:40] pcamarillo opened #80 "Error"
Hi.

It is my mistake, not yours...but as its requested, below you have the log. Thanks.
P.S. Sorry for the bad format of the comment. Don't now about GitHub comment font marking.

---
- Please provide the information below on :
## \- https://github.com/Exa-Networks/exabgp/issues

-- Version

2.7.3 (default, Sep 26 2013, 16:35:25)
[GCC 4.7.2]

-- Configuration

group clients {
        process RS_R

[2013-12-29 10:58] #80 closed, assigned to nobody

[2013-12-29 11:16] pcamarillo opened #82 "Sending routes to multiple peers at once + as-path [[] [] ]"
Hi. I am using the API to send routes from an external script. However, I am getting a funny behaviour... ExaBGP only accepts the routes that I am sending to a determined peer if the peer's ip is equal to the next-hop ip addr...

[code]

[code]

Example where you can see the ones that are being rejected...

[code]

[2013-12-30 16:19] crami opened #83 "No Next-Hop in parsed-route-backend"
The external process seams not to get any next-hop attribute for a any prefix.

Config spippet:

process parsed-route-backend {
   peer-updates;
   parse-routes;
   run /opt/gixlg/exabgp/collector.py gix gix gix gix;
  }

[2014-01-02 23:58] plapukhov opened #85 "EoR for IPv4 Unicast AFI/SAFI encoded as MP attribute not as empty UPDATE"
When generating EoR messages, MP encoding is always used for all AFI/SAFI.

For IPv4 Unicast EoR is an empty UPDATE packet (four zeroes) per the RFC.

PS
This is ambiguous, as IPv4 Unicast could be encoded as either MP or 'classic' list of IPv4 prefixes in UPDATE packet. For backward compatibility, the former should be preferred.

[2014-01-03 02:27] #83 closed, assigned to dpiekacz

[2014-01-03 13:08] thomas-mangin opened #86 "ExaBGP does not handle gracefully logging issues"
IOError: [Errno 13] Permission denied: '/var/log/exabgp-exabgp-ipv4-9k.log'
Logged from file logger.py, line 142
Traceback (most recent call last):
  File "/usr/lib/python2.7/logging/handlers.py", line 77, in emit
    if self.shouldRollover(record):
  File "/usr/lib/python2.7/logging/handlers.py", line 154, in shouldRollover
    self.stream = self._open()
  File "/usr/lib/python2.7/logging/__init_

[2014-01-03 13:23] #82 closed, assigned to thomas-mangin

[2014-01-03 13:24] thomas-mangin opened #87 "parser issue"
Fri, 03 Jan 2014 10:31:52 | INFO     | 1079   | processes     | Command from process rib : neighbor 10.0.0.1 , neighbor 10.0.0.2 , neighbor 10.0.0.3 , neighbor 10.0.0.4 announce route 10.5.9.0/24 next-hop 10.0.0.5
Fri, 03 Jan 2014 10:31:52 | WARNING  | 1079   | reactor       | Command could not parse route in : neighbor 10.0.0.2 , neighbor 10.0.0.3 , neighbor 10.0.0.4 announce route 10.5.9.0/24 ne

[2014-01-03 13:56] thomas-mangin opened #88 "Split as-set from as-path in JSON"
As the title says

[2014-01-03 16:20] #85 closed, assigned to thomas-mangin

[2014-01-03 17:07] #88 closed, assigned to nobody

[2014-01-03 17:14] #30 closed, assigned to nobody

[2014-01-03 17:15] thomas-mangin opened #90 "Add an ExaBGP cli to introspect / control the daemon"
A la Quagga / BIRD.

[2014-01-03 17:21] thomas-mangin opened #91 "Give every Attribute Group/NLRI in the AjdRIBOut an unique ID"
This ID would be unique across multiple instance of ExaBGP and would be passed through the JSON API. It could be used by the JSON API to ask the re-announcement of the prefix, more efficiently as ExaBGP would not have to parse any data but will just use the in-memory object representing the NLRI in memory

[2014-01-03 22:31] thomas-mangin opened #92 "EOR for IPv4 multicast"
Determine if the way we handle EOR for ipv4 multicast is correct

[2014-01-04 13:09] #87 closed, assigned to nobody

[2014-01-31 12:18] oriordan opened #96 "Adding support for BGP confederation"
Since the AS_PATH value has to be one of [('AS_SET','0x01'), ('AS_SEQUENCE', '0x02')], the peer drops after connection. I've read that BGP confederation will not be supported (it was written a year ago, don't know the current status) but there's a fairly light patch to keep the peer up so you can still get routing updates.

As per http://www.rfc-editor.org/rfc/rfc3065.txt:

<pre>
diff -rupN exabgp

[2014-02-03 22:54] thomas-mangin opened #97 "High performance : problem with ExaBGP when connected to hundred of peers"
The current loop in ExaBGP does not perform keepalive task as first, but only perform them after some peers have been found to take more time than a loop (1 second).
It has been found that with over 100 peers, and the decoding of a lot of updates, it can cause some peers to flap.

[2014-02-04 11:16] #54 closed, assigned to thomas-mangin

[2014-02-04 13:08] #86 closed, assigned to nobody

[2014-02-18 14:29] #97 closed, assigned to thomas-mangin

[2014-02-22 07:54] frosty-aw opened #100 "JunOS and exabmp disconnect"
Hi,

Exabmp disconnects a test I'm doing from a Juniper  SRX-240 running version 11.4R8.4 with this error message:

new BGP connection from ('192.168.199.94', 65252)
error: uncaptured python exception, closing channel <**main**.BMPHandler connected 192.168.199.94:65252 at 0x1b6c5f0> (<type 'exceptions.KeyError'>:'debug' [/usr/lib64/python2.6/asyncore.py|read|78] [/usr/lib64/python2.6/asyncore.py|h

[2014-02-25 21:57] pcamarillo opened #101 "Terminate ExaBGP from the API"
Is it possible to add a feature to terminate ExaBGP from the json api?? Thanks!

[2014-02-25 22:29] #101 closed, assigned to nobody

[2014-02-26 19:47] backb1 opened #102 "KeyError in rib store"
Version: 3.2.19 (!)

ExaBGP and its host were under heavy load. I don't have a log (or "-d") output yet.

[code]

or is this "\* Fix: multiple bugs with multi neighbor commands"?

[2014-02-27 16:33] HnohJ opened #103 "kill -SIGUSR1 doesn't succesfully recognise remove routes"
Issuing a kill -SIGUSR1 doesn't seem to pick up when routes are removed the configuration. E.g. if I have the following configuration running and then edit the config file to hash out the route within the static section, it doesn't withdraw the route from the announcement. I have to kill and restart exabgp for it to withdraw the route. Here's the basic config I'm using:

[code]

[2014-03-03 12:12] thomas-mangin opened #104 "Implement draft-vandevelde-idr-remote-next-hop-05"
http://datatracker.ietf.org/doc/draft-vandevelde-idr-remote-next-hop/

[2014-03-05 14:58] backb1 opened #105 "Wrong 'next-hop' and 'as-path'"
Version: master branch (~3.3.1)

ExaBGP sends incorrect 'next-hop' and 'as-path'

ExaBGP log:

[code]

[2014-03-05 16:06] spakka opened #106 "Adding update message sequencing/keys"
It would be useful for later ordering/sequencing of update messages (for later playback into a RIB state machine from a database of updates, for example), if the received messages (parsed or raw) output had a sequence counter on them.

Thanks
Colin

[2014-03-05 16:13] spakka opened #107 "raw message output as well as parsed"
Hi,

It would be useful to be able to output a json object containing the raw message, in addition to the parsed version. This would allow easy conversion of the messages into MRT update format. This should also be synchronised with parsed message (if both messages contain the same unique key) so they can be correlated later.

This also means we capture the raw data to parse at a later date for ne

[2014-03-05 16:18] spakka opened #108 "API presentation of capability negotiation"
It would be great if we could get additional output providing the detail of what capabilities were advertised with the peer in the OPEN message.

Thanks
Colin

[2014-03-05 16:30] spakka opened #109 "API to provide optional keepalive messages"
It would be useful if there was some form of optional output providing a periodic message to indicate that a peer connection is still up. This would be useful if update messages are routed into, for example, a queue (as a producer) as it would allow the queue consumers to be aware of whether the session is still up and receiving data (since a consumer usually cannot tell if there are producers att

[2014-03-05 16:36] spakka opened #110 "Output of invalid raw message before notification/tear-down"
Related to the request to request for raw message output - if an 'invalid' message that for whatever reason would cause a Notification and then a session tear-down, it would be useful if the raw message can be captured and output (possibly with a 'reason' property, 'invalid' or 'couldnt parse' or whatever) - so we have a capture of the raw message that caused a session to fail.

This becomes usefu

[2014-03-06 10:11] #102 closed, assigned to thomas-mangin

[2014-03-06 13:44] #110 closed, assigned to nobody

[2014-03-10 22:35] ydave opened #114 "EBGP multihop"
This is a great tool.

I want to use exabgp to peer with a remote router. How to define ebgp-multihop in exabgp? I tried searching in examples but did not find any on this.

Any pointers?

Regards,
Yagi

[2014-03-11 13:28] #114 closed, assigned to nobody

[2014-03-14 09:44] backb1 opened #115 "Not all process commands processed"
Version: master

ExaBGP somehow does not process all commands I send to it.

I've sent 1232 commands but in the ExaBGP log there are only 1184 commands.

I send you the logs by email.

[2014-03-15 15:22] #115 closed, assigned to thomas-mangin

[2014-03-15 15:25] #105 closed, assigned to thomas-mangin

[2014-03-15 18:43] thomas-mangin opened #120 "IPv6 JSON export bug"
Thu, 27 Feb 2014 17:48:43 | INFO     | 63944  | reactor       | New Peer neighbor 2a02:b80::61:0:b3 local-ip 2a02:b80:14:1::e local-as 65505 peer-as 30740 router-id 82.219.41.77 family-allowed in-open
Thu, 27 Feb 2014 17:48:43 | INFO     | 63944  | reactor       | New Peer neighbor 2a02:b80::62:0:b3 local-ip 2a02:b80:14:1::e local-as 65505 peer-as 30740 router-id 82.219.41.77 family-allowed in-ope

[2014-03-15 22:37] #92 closed, assigned to thomas-mangin

[2014-03-18 15:21] apoikos opened #123 "Environment variables names rejected by most (all?) shells and systemd."
Hi,

The exabgp.\* environment variables, are rejected by most (if not all shells):

[code]

[code]

[code]

Additionally, they are rejected by systemd as well:

[code]

In order to be portable, environment variables should only contain letters,
digits and underscores. It should be trivial to map the EXABGP_\* environment
variable space to the internal config representation.

Regards,
Apollon

[2014-03-18 17:56] #123 closed, assigned to thomas-mangin

[2014-04-09 15:42] rob-barnes opened #128 "malformed JSON: missing close curly-brace"
shortly after starting an iBGP connection with add-path, helper process receives this malformed JSON error:

Expecting object: line 1 column 161 (char 161): { "exabgp": "3.3.2", "time": 1397052006.55, "neighbor": { "ip": "2607:f080:300:100::2:1", "route-refresh": { "afi": "ipv6", "safi": "unicast", "subtype": "end"} }

Above is missing a closing curly brace.
A nice way to avoid malformed JSON stri

[2014-04-09 15:54] rob-barnes opened #129 "Exabgp process consumes 100% cpu when tcp connection problem"
if misconfigured or other reasons, Exabgp process consumes 100% cpu when tcp connection problem: "attempting to accept connections, socket not ready"

strace showed a continual read of select.select, so I patched it this way, but there must be a much better way.

exabgp/reactor/network/tcp.py
@@ -137,6 +137,10 @@
        try:
            _,w,_ = select.select([],[io,],[],0)
            if not w:
-

[2014-04-09 16:07] #128 closed, assigned to nobody

[2014-04-09 16:21] #129 closed, assigned to nobody

[2014-05-06 12:38] bimbar opened #130 "Bug in as path pack() while peering to cisco 7200vxr"
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/exabgp/reactor/peer.py", line 558, in _run
    for action in self._main(direction):
  File "/usr/local/lib/python2.7/dist-packages/exabgp/reactor/peer.py", line 525, in _main
    new_routes.next()
  File "/usr/local/lib/python2.7/dist-packages/exabgp/reactor/protocol.py", line 265, in new_update
    for message in up

[2014-05-07 13:25] #130 closed, assigned to nobody

[2014-05-21 20:29] racompton opened #132 "MD5 auth not working"
BGP MD5 Auth not working in version 3.3.2.  Tested with Juniper MX 240 router.  See thread on Google groups: https://groups.google.com/forum/#!topic/exabgp-users/HJU-_l5qLSc

[2014-06-30 12:22] Tindrin opened #137 "FlowSpec decode error"
Just started looking at exabgp since I want to listen to incoming flows and make changes to them, seems like exabgp is the only program for this.

Got the message: "UNHANDLED PROBLEM, please report"

Mon, 30 Jun 2014 12:54:35 | INFO     | 31807  | reactor       | New Peer neighbor 172.24.3.1 local-ip 172.24.3.2 local-as 65202 peer-as 65200 router-id 172.24.3.2 family-allowed in-open
Mon, 30 Jun 20

[2014-06-30 19:17] #137 closed, assigned to nobody

[2014-06-30 19:48] thomas-mangin opened #138 "3.4"

[2014-06-30 19:52] thomas-mangin opened #139 "New configuration parser"
Have a better, more deterministic configuration parser opening the way for other improvements.

[2014-06-30 19:58] #48 closed, assigned to thomas-mangin

[2014-07-02 15:30] franklouwers opened #140 "Process monitoring/restarting doesn't work"
Hi,

As per Thomas on G+, ExaBGP should supervise a "process" and restart if the process fails:

This doesn't seem to be the case. This is Debian 7, running the exabgp 3.3.2 tarball, with one of the shipped setups (ibgp4-dynamic.txt):

[code]

We can't even kill -9 the script, need to kill the exabgp process before we can kill the child.

[2014-07-02 20:34] #140 closed, assigned to thomas-mangin

[2014-07-04 09:06] #120 closed, assigned to thomas-mangin

[2014-07-04 09:14] #138 closed, assigned to nobody

[2014-07-05 15:55] GeertHauwaerts opened #141 "Unhandled Exception when using FlowSpec and group-updates"
When sending 6000+ FlowSpecs with group-updates ExaBGP terminated with an UNHANDLED EXCEPTION.

If you remove group-updates, the 6000 FlowSpecs get processed successfully.

The message I see in JunOS:

ExaBGP backtrace:

X

[2014-07-05 17:50] #141 closed, assigned to thomas-mangin

[2014-07-25 11:52] dpiekacz opened #150 "Issue with attributes parsing"
In some instances ExaBGP process shutdown itself with message "problem using select, stopping" as below.

Fri, 25 Jul 2014 10:34:27 | ERROR    | 11880  | reactor       | peer 82.219.0.68 ASN 30740   UNHANDLED PROBLEM, please report
Fri, 25 Jul 2014 10:34:27 | ERROR    | 11880  | reactor       | peer 82.219.0.68 ASN 30740   <type 'exceptions.AttributeError'>
Fri, 25 Jul 2014 10:34:27 | ERROR    | 1

[2014-07-27 09:03] #150 closed, assigned to thomas-mangin

[2014-07-30 12:58] thomasraabo opened #154 "Crash / Traceback."
Hi Guys.

Can´t do scripting via php on exabgp.

My program "just" sends the following.

print('announce route 91.133.32.0/24 next-hop 94.231.111.33 community 48854:666' . PHP_EOL);
print('announce route 91.133.32.2/32 next-hop 1.1.1.1' . PHP_EOL);

If i do it from the tcp-control

announce route 91.133.32.0/24 next-hop 94.231.111.33 community 48854:666
announce route 91.133.32.1/32 next-hop 127.0

[2014-07-30 19:05] #154 closed, assigned to thomas-mangin

[2014-07-31 01:41] hide opened #155 "split doesn't work"
split command doesn't work well.

<pre>
Thu, 31 Jul 2014 10:34:22 | INFO     | 36092  | configuration | environment file missing
Thu, 31 Jul 2014 10:34:22 | INFO     | 36092  | configuration | generate it using "exabgp --fi > /usr/local/etc/exabgp/exabgp.env"
Thu, 31 Jul 2014 10:34:22 | INFO     | 36092  | reactor       | Performing reload of exabgp 3.4.1
Thu, 31 Jul 2014 10:34:22 | INFO     | 360

[2014-07-31 08:48] #155 closed, assigned to thomas-mangin

[2014-08-05 02:01] hide opened #156 "Notification message handling"
Hi Thomas,

I seems that exabgp ignores received notification message.

exabgp close BGP session when it detects TCP connection is closed.

[2014-08-16 21:34] robert-hatch opened #160 "exabgp/reactor/peer.py"
Very simple demo config with routeros pushing a single route to exabgp and i am getting this error:

Sat, 16 Aug 2014 22:25:57 | INFO     | 2618   | configuration | analysing tokens ['}']
Sat, 16 Aug 2014 22:25:57 | INFO     | 2618   | configuration |   valid block options ['static', 'flow', 'l2vpn', 'neighbor', 'process', 'family', 'capability', 'operational']
Sat, 16 Aug 2014 22:25:57 | INFO

[2014-08-16 22:46] #160 closed, assigned to nobody

[2014-08-25 12:00] rob-barnes opened #162 "malformed JSON encoding for 'operational' (missing close curly brace)"
in reactor/api/encoding.py

@@ -349,7 +349,7 @@
        return self._header(
            self._neighbor(
                peer,
-               '"operational": { "name": "%s", "afi": "%s", "safi": "%s", "advisory": "%s"' % (
-               '"operational": { "name": "%s", "afi": "%s", "safi": "%s", "advisory": "%s" }' % (
                  operational.name,operational.afi,operational.safi,operation

[2014-08-25 12:14] #162 closed, assigned to nobody

[2014-09-04 07:28] ptitbic opened #163 "Support of VPLS Auto-Discovery messages in ExaBGP"
RFC 4761 describe the use of BGP for L2VPN VPLS service.
There are 2 types of BGP messages for VPLS: Signaling (already implemented and functionnal :-)), and Auto-Discovery (RFC 4761 part 3.1).

In many provider networks, the signaling is handled by LDP while the VPLS membership discovery and announcement is done via BGP.

I can provide captures of BGP VPLS AD update if needed.
Regards,
Pierre

[2014-09-05 07:12] varunparvathaneni opened #164 "problem in using Exabgp"
Hi, I am trying to set up bgp on two virtual machines and update routes between them for which I am using the example files in dev/self/simple and I am getting errors after the update message due to which the connection is getting closed.The following is the screenshot of the errors I am getting and the config files I used on the two Vm's respectively.
Please help out on this problem.
![errors](ht

[2014-09-05 09:12] #164 closed, assigned to thomas-mangin

[2014-09-12 08:53] ksmdeepak opened #165 "Problem when using dynamic routes"
When I used the dynamic-1.sh file in etc/exabg.processes to dynamically update routes its working fine.But when I am using dynamic-1.pl (default file in package) the routes are not being communicated.Same thing happened when i wrote the same code in python.Any leads would be helpful.
Errors:
| INFO     | 2343   | routes        | peer 10.0.0.2 ASN 65533   << UPDATE (10) nlri eor 2/134 (ipv6 flow-vp

[2014-09-12 11:11] lazy404 opened #166 "show routes extensive doesn't show communities"
The community values are correctly advertized to the peers, but they are not visible in show routes extensive command

[2014-09-12 11:20] lazy404 opened #167 "Coments in announced routes"
It whould be great if one could add a comment to the announced route like

`announce route 10.11.11.11 next-hop 10.0.200.1 community [ 65000:2 65001:33 ] comment "bla bla bla"`

and view it by using

`show routes extensive`
`neighbor 1.3.4.5 10.11.11.11/32 next-hop 10.0.200.1 comment "bla bla bla"
`

It could be used to add any kind of metadata to the announcment in DDOS mitingation scenarios,
lik

[2014-09-12 18:09] dwcarder opened #168 "unhandled exception"
I just changed from 3.3.2 to 3.4.2 with the same configuration, and am getting this error:

Fri, 12 Sep 2014 12:59:54 | INFO     | 30027  | reactor       | Listening for BGP session(s) on 146.151.145.77:179
Fri, 12 Sep 2014 12:59:55 | INFO     | 30027  | reactor       | Performing reload of exabgp 3.4.2
Fri, 12 Sep 2014 12:59:55 | INFO     | 30027  | configuration | loading | neighbor 146.151.145.

[2014-09-12 22:57] #168 closed, assigned to thomas-mangin

[2014-09-12 23:10] #166 closed, assigned to thomas-mangin

[2014-09-16 09:34] lazy404 opened #169 "Support for 32 bit extended community ASN's rfc5668"
I'm trying to add support for http://tools.ietf.org/html/rfc5668

The syntax will be target:123456L:123, 'L' indicates that it is a rfc5668 community 32 bit asn and 16 bit number.

So far I have modified the parsers.
https://github.com/lazy404/exabgp/commit/8fa2d08421bd878095171e630f72c36125d33f2c
https://github.com/lazy404/exabgp/commit/2cf228f70ee14e9df98025cda9ccae6f0b8fe2d3

https://github.com

[2014-09-16 23:10] #132 closed, assigned to nobody

[2014-09-17 00:01] #169 closed, assigned to nobody

[2014-09-19 18:08] wmiltenburg opened #171 "Aggregator AS specifier"
I was looking at the possibilities of using the aggregator attribute when announcing routes. Looking at a unit test, I could see that it is possible to specify the IP address of the one who aggregated the prefixes, but I couldn't find an option to specify the AS that aggregated the addresses.

Looking at  the code I saw that ExaBGP is using the ASN of the ExaBGP instance, wouldn't it be a good fea

[2014-10-08 22:00] mathershifter opened #172 "Route and label are mangled when specifying a label in a static route"
Hi there,

I've setup exabgp as a listener and a speaker and I'm trying to define a label in my static route.  I've used you example from 'etc/exabgp/ibgp4-label4.txt' as a reference.  However, when the update is parsed on the listener- the label is changed and the route is 0.0.0.0/0.

Here are the details of my setup:
## speaker.conf:

[code]
## listener.conf

[code]
## listener startup

[code]
#

[2014-10-21 20:36] JustinAzoff opened #174 "dyanmic process commands need to be full paths"
Because of the `stat` checks that exabgp does on `run` commands you need to put the full path to the tool in the configuration file.

Is there any reason this shouldn't be changed to search `PATH`?

I can submit a pull request for this but I wanted to see if it was like that for a reason.

[2014-11-02 17:24] ivoronin opened #175 "exabgp silently drops 2nd and further commands from a process if they come in a batch"
If subprocess writes multiple lines simultaneously exabgp processes only first of them. This happens because exabgp reads only first line after the end of each polling cycle (processes.py, lines 176-179).

[2014-11-03 07:58] #172 closed, assigned to thomas-mangin

[2014-11-03 08:02] #26 closed, assigned to nobody

[2014-11-03 08:04] thomas-mangin opened #176 "explicit relation between neighbor and api"
Make it easy and explicit to start multiple backend process and assign neighbors to them.

[2014-11-03 08:05] #20 closed, assigned to nobody

[2014-11-03 08:10] #165 closed, assigned to thomas-mangin

[2014-11-03 08:12] #49 closed, assigned to thomas-mangin

[2014-11-03 13:00] #175 closed, assigned to thomas-mangin

[2014-11-06 17:07] xdel opened #178 "Possible race during start of exabgp daemon (3.4.3 tag)"
exabgp.conf

[code]

Approximately for half of launch attempts BGP session is going to `6/5 Ceased` on the daemon side, and, after holdtime expiration, from Established to Idle on the other side (where quagga daemon sits). The other half of launches going perfectly well, exabgp displays `up` neighbor state.

Non-racing startup looks like following (.220 is a quagga peer):
![established](https://cl

[2014-11-16 19:07] #178 closed, assigned to nobody

[2014-11-21 07:27] ksmdeepak opened #180 "Doubt regarding VRF's"
So I have been working with exabgp for a couple of months now. You have used the executable files for a lot of functions like announcing dynamic routes. So my specific query was regarding this file exabgp / dev / runtest / api-vpnv4.run. You are adding prefixes for VPNs here in this file. In general we store this information in VRF. Can you please clarify as to how you are going about this- whethe

[2014-11-21 20:35] davejknight opened #181 "MD5 on IPv6 session causes UNHANDLED PROBLEM"
Hi,

I've hit a bug when configuring an md5 secret on an iPv6 session.
# Logs

[code]
# My config

[code]
# OS / Package details
# exabgp --version

3.4.2
# python --version

Python 2.7.6
# lsb_release -a

No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 14.04.1 LTS
Release:    14.04
Codename:   trusty
# uname -a

Linux hivecast-20-ussnn.as15135.net 3.13.0-24-generic #47

[2014-11-26 13:54] xdel opened #182 "Quagga does not accept 127.0.0.1 as next-hop value"
Hi Thomas,

Given a sample session from below, single /32 route with nexthop 127.0.0.1 is injected, resulting in a forever-broken session between ExaBGP and a test peer. Route withdrawal does not help much, only complete restart of an ExaBGP instance fixes the problem. As this can be evaded by putting corresponding code in the control instance, the same issue may have unwanted effects in other rou

[2014-12-01 10:23] Habbie opened #183 "healthcheck.py --timeout does not kill child"
Because of `shell = True` in the `Popen` call, the direct child process is `sh -c`, and this `sh` process is all that `p.kill()` (under `except Alarm`) kills, leaving the actual checking tool to pile up processes (if it fails to timeout at all).

Workaround: `--cmd 'exec ...'`.

Suggested fixes, none of them very convincing (except 3 I suppose):
1. `shell=False` plus `shlex.split`
2. always prepen

[2014-12-01 10:56] Habbie opened #184 "nit: healthcheck.py sends 'med 1000' on withdraw with "--withdraw-on-down""
This might become a problem if exabgp ever becomes stricter on syntax - after all, there is no MED in a withdraw message.

[2014-12-01 19:04] #183 closed, assigned to nobody

[2014-12-02 21:48] glenhayden opened #189 "ipv6 flowspec bug"
I have been using exabgp to create some flowspec rules using ipv4. However, I would like to perform some similar tests but using flowspec with ipv6 via exabgp. Does exabgp support flowspec with ipv6?

[2014-12-03 14:21] #184 closed, assigned to nobody

[2014-12-03 15:43] #180 closed, assigned to nobody

[2014-12-03 16:05] #174 closed, assigned to thomas-mangin

[2014-12-03 16:11] #171 closed, assigned to thomas-mangin

[2014-12-06 18:59] fakrul opened #194 "IPv6 neighbor issue"
I am getting following error while configuring IPv6 neighbor

[code]

[2014-12-08 10:04] kataev opened #195 "Announcing IPv6 route over IPv6 session not running."
Announcing IPv4 route over IPv6 session running very well.
But announcing IPv6 route over IPv6 session not running.
tcpdump show that there no UPDATE Message packet when announcing IPv6 route, but exabgp logging that "Updated peers dynamic routes successfully".
Success ipv4 route [adding](https://gist.github.com/kataev/0afb712ad0157bd9e5c9#file-exabgp-log-L159)
Ignored ipv6 [adding](https://gist.g

[2014-12-09 15:59] #195 closed, assigned to thomas-mangin

[2014-12-10 11:08] #182 closed, assigned to nobody

[2014-12-10 16:22] #181 closed, assigned to nobody

[2014-12-10 22:03] jtkristoff opened #196 "Additional JSON data"
It would be convenient to have the following additional data items be included in JSON data structures.  They could be optional for backwards compatiblity, but ideally in future versions of ExaBGP they would be there we can take advantage of them in code.
1. For anything related to a particular neighbor (e.g. update), include both the local and remote ASN and peering address.
2. Include an identif

[2014-12-11 10:06] kvlangenhove opened #197 "Unhandled problem in processes.py"
Hi,
trying to create a relatively simple setup to log bgp updates from our L3VPN route-reflectors, but bumping into the following problem:
-- Information

ExaBGP : 3.4.2
Python : 2.7.1 (r271:86832, Jan 26 2011, 14:42:10)  [GCC 4.1.2 20080704 (Red Hat 4.1.2-44)]
Uname  : #1 SMP Tue Aug 21 17:10:18 EDT 2012
MaxInt : 9223372036854775807

-- Configuration

neighbor 213.224.245.43 {
        family {

[2014-12-11 16:28] #197 closed, assigned to nobody

[2014-12-13 09:18] #196 closed, assigned to thomas-mangin

[2014-12-13 09:35] #194 closed, assigned to nobody

[2014-12-13 09:36] #189 closed, assigned to nobody

[2014-12-14 12:31] #109 closed, assigned to thomas-mangin

[2014-12-14 13:43] #167 closed, assigned to thomas-mangin

[2014-12-14 14:56] #176 closed, assigned to thomas-mangin

[2014-12-14 14:58] #91 closed, assigned to thomas-mangin

[2014-12-14 14:59] #41 closed, assigned to nobody

[2014-12-15 14:22] thomas-mangin opened #200 "ExaBGP pick list, what is "TODO""
This is an unordered list of sub-project which would be beneficial for ExaBGP
### Documentation
- [ ] write some documentation
  - [ ] document the configuration format
    - [ ] document the various tricks of productivity (env vs ini, -d, --decode, etc.)
    - [ ] document adj-rib-in impact
    - [ ] document the environment variables
    - [ ] document the main configuration file
    - [ ] docum

[2014-12-15 20:43] #100 closed, assigned to thomas-mangin

[2014-12-16 14:42] aabdnn opened #201 "Release 3.4.5 is not tagged"
I've just built a Python wheel of exabgp from the git repo, and the wheel file has the correct version number, 3.4.5.

However, when I install and start this version, it thinks it is version 3.4.4, because version.py has the wrong version number.

[2014-12-16 15:14] aabdnn opened #202 "systemd files should not be packaged"
exabgp's setup.py wants to install a systemd file for exabgp on all platforms that are not NetBSD. This is wrong on many levels:
1. Other OSes such as OpenBSD and FreeBSD don't have systemd either.
2. Even among the Linux distros, not all are on systemd. For example, CentOS 6 and earlier are using upstart.

Therefore, the exabgp.service systemd file should not be arbitrarily installed into /usr/li

[2014-12-17 11:01] NickGudov opened #203 "Invalid flows sent via the API do break the parser"
Hello

Seems exabgp can't parse valid commands from service-dynamic after first invalid command received.

sbin/exabgp -v
3.4.3

log

Wed, 17 Dec 2014 14:53:02 | INFO     | 16565  | processes     | Forked process service-dynamic
**Wed, 17 Dec 2014 14:53:02 | INFO     | 16565  | processes     | Command from process service-dynamic : announce flow route {\n match {\n source 10.0.0.1/32;\n }\n then {

[2014-12-18 15:05] #203 closed, assigned to nobody

[2014-12-18 17:40] #156 closed, assigned to thomas-mangin

[2014-12-20 16:39] #103 closed, assigned to thomas-mangin

[2014-12-30 01:36] thardie opened #205 "Exception caused by missing as_conf_sequence attribute"
peer 10.113.0.254 ASN 33047   UNHANDLED PROBLEM, please report
 peer 10.113.0.254 ASN 33047   <type 'exceptions.AttributeError'>
 peer 10.113.0.254 ASN 33047   'ASPath' object has no attribute 'as_conf_sequence'
 Traceback (most recent call last):
   File "/usr/lib/python2.7/dist-packages/exabgp/reactor/peer.py", line 555, in _run
     for action in self._main(direction):
   File "/usr/lib/python2

[2014-12-30 09:09] #205 closed, assigned to thomas-mangin

[2014-12-30 17:43] #202 closed, assigned to nobody

[2014-12-30 21:54] thardie opened #207 "debian changelog file is not updated to match release version"
Please update the debian/changelog file to be in sync with the release version mentioned in CHANGELOG

[2014-12-30 22:01] thardie opened #208 "Debian build process missing systemd file"
End of dpkg-buildpackage:

mv /home/users/thardie/exabgp/debian/exabgp/usr/lib/systemd /home/users/thardie/exabgp/debian/exabgp/lib
mv: cannot stat `/home/users/thardie/exabgp/debian/exabgp/usr/lib/systemd': No such file or directory
make[1]: *** [override_dh_auto_install] Error 1
make[1]: Leaving directory`/home/users/thardie/exabgp'
make: **\* [binary] Error 2
dpkg-buildpackage: error: fakeroot

[2014-12-31 12:42] #208 closed, assigned to nobody

[2014-12-31 12:49] #201 closed, assigned to nobody

[2015-01-01 17:38] sanjmonkey commented on #108
+1 for this feature enhancement.  I would love to know what capabilites the session has negotiated. I'm not necesarily interested in who sent what (though I can obvioulsy derive it given both sent/received).  Perhaps we can see it in one of the first state messages?
Cheers, Sandy

[2015-01-01 23:04] thomas-mangin commented on #108
I complained like hell the first time I implemented BMP as I could not say if ASN4 was enabled on the sessions or not !  This is not hard to do, hopefully it will done soon and will make the raw data much more useful.

[2015-01-02 10:22] thomas-mangin commented on #207
this is now automatically updated on release
https://github.com/thomas-mangin/exabgp/commit/f1a22f91e91128351d7547d77982650046fb7d53

[2015-01-02 10:22] #207 closed

[2015-01-02 10:23] thomas-mangin commented on #207
Thank you for pointing this out early enough that 3.4.6 could be fixed !

[2015-01-02 12:52] lvanbever opened #211 "Immediately bring down a BGP peer upon failure of the underlying TCP session"
Instead of waiting for the hold-timer to expire, ExaBGP could immediately tear down the BGP session upon failure of the underlying transport session (e.g., upon router failure). In situations where fast convergence is paramount, this can greatly speed up the overall convergence time (especially if ExaBGP already knows backup paths).

[2015-01-02 13:03] thomas-mangin commented on #211
Hi Laurent, I had a look at the code and AFAICS, on TCP failure the code will immediately try to reconnect.
If I am correct on socket failure, the socket is marked with "with data" by select, we will then try to read it, find the issue and raise an network error which is intercepted by the main loop and perform a peer cleanup and force an immediate reconnection.
Could you please let tell me when y

[2015-01-03 09:16] thomas-mangin commented on #96
Any information on how other vendor configure this, good or bad, would be welcome.

[2015-01-07 13:12] tim-preston opened #212 "aggregator clause causes an exception on 3.4.6"
Attempting to set an ```aggregator``` clause on a prefix causes an error on 3.4.6

[code]

Sample config to to trip this - this goes through the parser fine, but throws the above exception as soon as it tries to announce the prefix.
[code]

Removing the ```aggregator``` clause clears the issue. This was working fine on 3.3.2, I haven't tested on versions between 3.3.2 and 3.4.6

[2015-01-08 09:08] thomas-mangin commented on #212
Hello, this is already fixed in the latest master.

[2015-01-08 09:08] #212 closed

[2015-01-08 09:09] thomas-mangin commented on #212
I will release 3.4.7 to fix the issue as it may be more important than I first thought

[2015-01-08 10:20] thomas-mangin commented on #212
released, thank you for reporting the issue :+1:

[2015-01-14 16:13] tim-preston opened #213 "When using multiple config files second and subsequent files clone sessions from the first"
I seem to have a problem when running multiple config files ina single ExaBGP instance. What is hapening is that the first config file on the command line is running as expected, but sessions in the second and subsequent config files seem to be cloning the details from the first config. So if I have four config files with the 100 sesions each I see the first 100 sessions configured in the first co

[2015-01-14 18:56] thomas-mangin commented on #213
Hi Tim. You are the most unlucky man when reporting issue. I found this one when i used scrutinizer-ci a few days ago and noticed it. The good news is that it should be fixed in the latest master.
The good news is that it is already fixed.

[2015-01-14 18:56] #213 closed

[2015-01-15 00:36] a16 opened #214 ""attribute" doesn't work in multiple lines"
Hi,

"attribute"(Generic attribute) works fine in single line, but it doesn't work in multiple lines.
Is this intentional? If not, I'll send a PR.

I guess it's a piece of cake...
[code]

[2015-01-15 15:20] thomas-mangin commented on #214
well spotted ! could you please send me a PR, please also update the CHANGELOG file to provide attribution, I will merge

[2015-01-18 18:56] thomas-mangin commented on #214
Merged - thank you for the patch.

[2015-01-18 18:56] #214 closed

[2015-01-28 01:15] a16 opened #219 "Unable to send just 4096 bytes BGP message"
RFC4271 says the maximum BGP message size is 4096 bytes.

I was able to send a BGP message which has up to 4095 bytes using the latest code,
but unable to send just 4096 bytes BGP message with the log below.
[code]

When I modified as below and ran exabgp, it seemed to work correctly. Is it a bug?
[code]

[2015-01-28 14:53] thomas-mangin commented on #219
Domo arigato !
I was not sure about the check when I wrote it so the size was off by one :p fixed by https://github.com/thomas-mangin/exabgp/commit/2dca68cdae1e0968546006823b894eec36c77e9d

[2015-01-28 14:53] #219 closed

[2015-01-29 11:47] a16 opened #220 "Is it possible to send a BGP UPDATE message with multiple NLRI?"
Hi Thomas,

This is a feature request, maybe...

When exabgp generate to send BGP UPDATE messages using ```static route```, it seems to send BGP UPDATE messages per ```route``` respectively even if all of the ```route``` have the same PATH attributes. I've confirmed the messages on the wire using packet capture.

[code]
For example, if I use the above config, exabgp would send 2 BGP UPDATE message

[2015-01-29 17:06] thomas-mangin commented on #220
Hello :smile:

I believe you will be happy :

[code]

So all you have to do is enable upgrade grouping with your peer.

[2015-01-29 17:14] thomas-mangin commented on #220
There is also an unofficial API to announce routes with the same update. The new configuration format goes one step further and does explicitly create named attribute groups and you must apply theses groups to NLRI .. However it is not yet ready, hopefully later this year.

[2015-01-30 05:25] a16 commented on #220
:+1:  Just what I wanted!! It worked. Thanks!

[2015-01-30 10:34] thomas-mangin commented on #220
:smile: :clap:

[2015-01-30 10:34] #220 closed

[2015-02-09 09:03] job opened #221 "feature request: allow easy configuration of groups of peers by defining a prefix as neighbor"
It would be really nice if you could configure an IPv4 or IPv6 prefix as neighbor rather then a single IP address, to easily share configuration between peers. Example configuration:

[code]

Considerations:
- If a prefix is configured as `neighbor`, automatically `passive;` should be enabled
- From the `OPEN` message exabgp should derive what the peer's ASN is
- Don't forget IPv6 support

[2015-02-09 11:33] thomas-mangin commented on #221
Hi Job, do you need this feature real soon now, or is it just a wish list as it would be nice to have (but no rush for it).

[2015-02-09 11:35] job commented on #221
I'd classify this as a ```Defcon 5```

[2015-02-15 11:05] thomas-mangin opened #223 "Debian packaging"
We lost our debian package: https://tracker.debian.org/pkg/exabgp
@vincentbernat @henry-nicolas

[2015-02-15 11:17] vincentbernat commented on #223
Yes, unfortunately. And it's too late to get them back for next stable release. However, when Jessie is out, they can be pushed in jessie-backports. If @henry-nicolas doesn't have time anymore, I can take care of the packaging.

[2015-02-15 15:59] thomas-mangin commented on #223
@henry-nicolas did not reply last time we discussed this. I will email him directly once more and ask him to comment one way or another here.

[2015-02-15 16:26] henry-nicolas commented on #223
Sorry guys, I'm quite busy at the moment with family changes and work. So, yes, if Vincent can continue working on it, it would be best for ExaBGP

[2015-02-15 16:33] thomas-mangin commented on #223
@henry-nicolas thank you for letting us know.

[2015-02-15 18:57] thomas-mangin commented on #223
@henry-nicolas - thank you for you help over the years - all the best with the family and work.
@vincentbernat closing this issue, thank you very much for offering your help.

[2015-02-15 18:57] #223 closed

[2015-02-25 12:03] thomas-mangin opened #231 "readlink syntax change between OS"
Issue noticed on OS X, may be also an issue on *BSD

[code]

[2015-02-25 12:15] thomas-mangin commented on #231
@vincentbernat
https://www.youtube.com/watch?v=tUncwY4SBOA

[2015-02-25 12:46] vincentbernat commented on #231
Let me fix that! ;-)

[2015-02-25 13:04] #231 closed

[2015-02-27 13:31] thomas-mangin opened #233 "Change the maintainer in setup.py"
@vincentbernat  I invited you to join the dev team ( so I can assign issues to you .. ahahaha - evil laugh ).

We should update setup.py so new release have you as the maintainer for debian and correctly update the debian/changelog file ( and whatever else more you need ).

[2015-02-27 13:47] vincentbernat commented on #233
I will update the packaging this week-end or next week-end. In the meantime, I can just update the names if you want.

[2015-02-27 15:23] thomas-mangin commented on #233
I am happy to let you do what need to be done :relaxed:

[2015-03-03 20:22] jtkdpu opened #234 "logging customization"
A few requests related to ExaBGP logging.

 * It should be possible to set the facility for syslog output.
 * The log level is generally best determined by the application itself and not set as  global value for all log messages by the user.
 * The format of messages sent to syslog is seemingly incorrect or suboptimal.

This last point needs some clarification.  For instance, when an update arrive

[2015-03-04 13:55] thomas-mangin commented on #234
Hi John, Thank you for taking some time and making suggestions to improve ExaBGP. I will try to address your requests with some code at some point.

I have no machine which is sending output to syslog so I have never had a look at what it looks like since the initial implementation, it may indeed be sub-optimal.

The log information was primarily designed for STDOUT/STDERR logging with something l

[2015-03-05 21:10] esequei opened #235 "family ipv4 mpls-vpn broken"
Hi Thomas,

Seems that latest release breaks VPNv4 peerings. The version we use 3.4.3 works fine with family ipv4 mpls-vpn. With git checkout 3.4.7 the problem disappears. Sorry, I don't know how to attach the logs.

Best regards,

Eduardo

LOGs:

stack@ubuntu:~$ git clone https://github.com/Exa-Networks/exabgp.git
Cloning into 'exabgp'...
[...]
remote: Counting objects: 22682, done.
remote: Total

[2015-03-05 23:52] thomas-mangin commented on #235
Thank you for reporting this issue which was not caught by the unitesting ..
Could you please run sbin/exabgp with the option -d and provide me the output of data received for this UPDATE so I can fix the issue and add a test for it.

[2015-03-05 23:59] thomas-mangin commented on #235
I have the root cause of the problem and will release 3.4.9 with a fix as soon as I can reproduce and fix the issue. It was cause by a refactoring of how class do register for the different NLRI

[2015-03-06 16:14] thomas-mangin commented on #235
Ok .. The registration code was AFI,SAFI and was called with SAFI,AFI.
https://github.com/thomas-mangin/exabgp/commit/fedc7ec4d9f8ab76ca9f1350eed7815b99657fe2

[2015-03-06 21:55] #235 closed

[2015-03-06 22:41] thomas-mangin commented on #233
@vincentbernat
Planning to release 3.4.9 this week-end (as soon as I have confirmation that the new MD5 code work on more than my laptop VM) . updating your email address - anything more I should do ?

[2015-03-07 15:00] vincentbernat commented on #233
I am currently updating packaging. Should be done by today.

[2015-03-07 15:09] vincentbernat commented on #223
I am wondering, could we generate the manual page from another source?

[2015-03-07 17:20] thomas-mangin commented on #233
Great - Thank you very much - much appreciated.

[2015-03-07 17:20] thomas-mangin commented on #223
I have a private mail from @he32 with a man page. I will forward you the mail.

[2015-03-07 19:05] #233 closed

[2015-03-12 14:20] icb- commented on #42
Adding to this, I would like to be able to request a dump of current routes from each peer at any time (`show routes received [from <peer> [<peer> ...]]`?), not just at script start. Ideally for me, the dump would be in a single message (per peer) to the script.

[2015-03-14 19:47] vincentbernat opened #240 "Official Debian packaging"
Hey Thomas!

Do you mind if I use the repository for the official packaging in Debian too? This will add a `debian/sid` branch (and maybe other if we backport to older versions, more if you wanted a PPA for some Ubuntu versions), as well as a bunch of `debian/sid/XXXX` tags (idem).

Otherwise, I can put that on Debian's own hosting platform. No big difference for me.

[2015-03-14 20:20] thomas-mangin commented on #240
No issues at all.

[2015-03-14 20:21] thomas-mangin commented on #240
As I want to release a LTS release at the end of the 3.x cycle it would make sense too.

[2015-03-14 20:28] vincentbernat commented on #240
I would also need that you push the 3.4.9 tag. :)

[2015-03-14 20:36] thomas-mangin commented on #240
It should have been pushed ! python setup.py release does it ..
[code]

[2015-03-14 21:04] vincentbernat commented on #240
Hummm, never noticed that `git fetch` didn't fetch them automatically. My bad.

[2015-03-14 21:04] #240 closed

[2015-03-23 21:37] CrackerJackMack opened #243 "exabgp -t should exit with a non-zero status code"
When testing a configuration for exabgp using `exabgp -t ansible.cfg` should return a non-zero error code for failed configurations.  This would be great for conditional restarts or even template validations when using configuration management such as salt, ansible, chef, etc.

[2015-03-24 11:32] thomas-mangin commented on #243
Good idea. Thank you.

[2015-03-24 11:40] thomas-mangin commented on #243
[code]

What version are you running as this feature is already there ?

[2015-03-24 15:33] CrackerJackMack commented on #243
[code]

[code]

[2015-03-24 16:12] #243 closed

[2015-03-24 16:13] thomas-mangin commented on #243
Yes, indeed buggy code, sorry for this. Hopefully this is will now be correctly reported.

[2015-03-25 15:17] pavel-odintsov opened #244 "Web interface for flowspec management"
Hello, folks!

I tough many nights about flowspec and found very challenging problem. In most popular cases we are deploying flowspec with upstream for attack mitigation. But flowspec implemented only by Juniper. What should I do if I haven't Juniper equipment?

Well, I could install exabgp and code for it. But in case of DDoS attack will be fine to get web interface with interactive interface for

[2015-03-26 11:09] thomas-mangin commented on #244
Hello, Pavel. Flowspec is now supported by Cisco on XR. https://supportforums.cisco.com/document/12226726/asr9000xr-understanding-bgp-flowspec-bgp-fs

I started to work on a DDOS mitigation solution but progress has halted ( lack of time ) I intend to continue and integrate it with ExaBGP when I can ...

Many people would be interested few have the time to create it / participate.

[2015-03-26 11:19] pavel-odintsov commented on #244
Maybe we could integrate it with my toolkit https://github.com/FastVPSEestiOu/fastnetmon? Unfortunately it's written not in Python but I could implement API and bindings.

I working on action part of FastNetMon which could convert "attack snapshot" into flow spec ruleset for spreading over backbone.

[2015-03-26 11:28] thomas-mangin commented on #244
Sure, there is an "PIPE" API - not very well documented but plenty of examples in the qa/ folder. I will gladly help.

[2015-03-29 19:21] m4ccbr opened #245 "unable to advertise a vpnv4 prefix."
ExaBGP version : 3.4.9
Python version : 2.7.3 (default, Dec 18 2014, 19:03:52)  [GCC 4.6.3]
System Uname   : #57~precise1-Ubuntu SMP Tue Jul 15 03:50:54 UTC 2014
System MaxInt  : 2147483647

peer 100.100.11.11 ASN 100

<class 'struct.error'>
'H' format requires 0 <= number <= 65535
Traceback (most recent call last):
  File "/opt/exabgp-3.4.9/lib/exabgp/reactor/peer.py", line 584, in _run
    for a

[2015-03-30 21:40] thomas-mangin commented on #245
Hi - should be fixed with this patch.
https://github.com/Exa-Networks/exabgp/commit/79d20e3e632ea8ece6e2443475c61ad31a531908

[2015-03-30 21:40] #245 closed

[2015-04-12 09:11] ARCHAJ opened #247 "pip does not install example files"
Hello everyone,
I have a question , I couldn't find the configuration files on my Ubuntu 14.04 lts.
![exabgp_3-4-9_files](https://cloud.githubusercontent.com/assets/11909376/7105023/ca3ee8e4-e0f3-11e4-8eb4-c16f328cfe81.png)

[2015-04-12 09:48] thomas-mangin commented on #247
@vincentbernat for more information, I got a mail from @ARCHAJ telling me that under unbuntu there was no configuration file anymore ( perhaps not even an example ). Could it be as they updated to the latest debian version ? should we make sure a sample file is present ?

[2015-04-12 16:44] vincentbernat commented on #247
The screenshot is not from the Debian package (use of `/usr/local`). But, yes, in the Debian package, there is no more a default `/etc/exabgp/exabgp.conf` (which was empty with a comment pointing to `/usr/share/doc/exabgp/examples`) because we use that to know if we should start the daemon. This is considered as the right thing to do for daemons where no default sensible configuration file can be

[2015-04-12 19:42] ARCHAJ commented on #247
Thank you for response :)
I have searched at /usr/share/doc there is no exabgp folder there.

[2015-04-13 20:58] vincentbernat commented on #247
I am a bit lost about what this bug report is about. How did you install exabgp?

[2015-04-13 21:15] ARCHAJ commented on #247
I installed pip , and after i made:
root..#pip install exabgp

[2015-04-13 23:42] thomas-mangin commented on #247
@ARCHAJ pip does not install the documentation. I will be updating it to do so but in the meanwhile the solution would be to use the github repository to find what you need. Thank you for reporting this issue to us.

[2015-04-13 23:44] thomas-mangin commented on #247
For clarity, ExaBGP's documentation is nearly non-existent and you will need to learn about it looking at the various examples in the qa folder.

[2015-04-14 14:15] ARCHAJ commented on #247
could you precise me , where shall i make the qa folder,or the exabgp config file to work with it .
another question ,witch operating system and a way to install exabgp do you suggest ?

[2015-04-14 23:46] thomas-mangin commented on #247
https://github.com/Exa-Networks/exabgp/tree/master/qa/conf

[2015-04-15 17:37] jpan613 opened #248 "Match Multiple TCP-Flags with Hex value in Flowspec Rules"
Since the flowspec support in Exabgp is mostly used for DDoS mitigation, it'd be nice to have the ability to match multiple tcp-flags in hex value like on the JunOS platform. For example, a tcp christmas tree packet will have the hex value of 0x29.

[2015-04-20 20:44] pavel-odintsov commented on #244
Thanks so much. I will try to implement support for it!

[2015-04-26 09:01] pavel-odintsov commented on #244
Thomas my great thanks for your tool! I have configured external management for ExaBGP: http://www.stableit.ru/2015/04/how-to-control-exabgp-from-external-tool.html and will add integration to my FastNetMon detection toolkit shortly.

[2015-04-26 13:08] pavel-odintsov commented on #244
Awesome news! ExaBGP integration for DDoS detection toolkit FastNetMon have implemented: https://github.com/FastVPSEestiOu/fastnetmon/blob/master/docs/EXABGP_INTEGRATION.md
 :) It works with charm and my GREAT thanks to ExaBGP for this capability.

[2015-04-26 15:54] thomas-mangin commented on #244
@pavel-odintsov this is great ! Thank you for adding this integreation, much appreciated ! If you ever need a feature on ExaBGP's side, let us know !

[2015-05-02 16:44] thomas-mangin commented on #248
Hello,

I have never used tcp-flags but as far as I can see 0x29 is 0x20 + 0x08 + 0x1 which would be setup as [ urgent | push | fin ]. The code must then use the three value in a flow spec rules where they are AND'ed.

Due to the way the code is designed using a single value would require to decompose it in its valid sub-component and this would be a large change in the code.

However using intege

[2015-05-03 17:49] jpan613 commented on #248
Thanks for replying. Allowing [ 0x20 0x8 0x1 ] would be a good solution.
As for use case, attackers use malformed tcp packets for DDoS attack:
https://blogs.akamai.com/2015/01/tcp-flag-ddos-attack-by-lizard-squad-indicates-ddos-tool-development.html
So it's important to have the ability to match and drop them on the edge of the network using flowspec.

[2015-05-04 13:03] Orangefish opened #250 "capability asn4 unexpected behavior (v.3.4.10)"
When i turn off 4b ASN (capability  asn4 disable)
ExaBGP  send AS-number in AS_PATH PA  as  4b value.

For example :
capability  asn4 disable;
announce route with as-path [ 100 ]

neighbor router turn down session and:
"%BGP-3-NOTIFICATION: sent to neighbor 1.1.1.1 3/11 (invalid or corrupt AS path) 9 bytes 40020602 01000000 64"

AS_PATH contain 4b value (00 00 00 64):
40 02 06 02 01 00 00 00 64

B

[2015-05-05 14:10] thomas-mangin commented on #250
Hello @Orangefish - could you please confirm that the issue is well/still present on 3.4.10 ?

[2015-05-05 14:12] thomas-mangin commented on #250
And I can not read :laughing: - will look at it and fix.

[2015-05-05 15:14] thomas-mangin commented on #250
@Orangefish - this patch should fix the issue if you apply it on 3.4.10
https://github.com/thomas-mangin/exabgp/commit/ee7179ae4c08ba645bdc682c516f1a9b14e01cd5

I need to look at how best use git to create a 3.4 stable branch and apply the two last patch which are bug fixes only.

[2015-05-05 17:51] thomas-mangin commented on #250
This patch is now also on a new branch called 3.4 which will contain only bug fixes which can be backported from master (3.5.x) to (3.4.x)

[2015-05-05 17:51] #250 closed

[2015-05-06 14:23] fobser commented on #106
Does this need a config option? As far as I can tell from the code it should always do this.
I'm expecting a field 'counter' in json, but it's not there:

{
  "neighbor": {
    "message": {
      "update": {
        "announce": {
          "ipv4 unicast": {
            "193.0.4.28": {
              "41.221.108.0/23": {},
              "41.221.105.0/24": {}
            }
          }
        },

[2015-05-06 16:23] thomas-mangin commented on #106
No, I will check the code. It may be that only the time was implemented but adding it would not be too hard

[2015-05-07 19:09] thomas-mangin commented on #106
https://github.com/thomas-mangin/exabgp/commit/ad02f855cfdcdfa0a1fcdbf0702b4e3eaaad0a6d
Let me know if you need this back ported to 3.4 ( as the patch does not apply as it ).

[2015-05-08 13:04] fobser commented on #106
On 07/05/15 21:09, Thomas Mangin wrote:

that would be very helpful there are just to many changes in your repo that break
stuff on our end.

[2015-05-08 13:38] thomas-mangin commented on #106
I feared you would say that ..  :sob:

[2015-05-08 13:50] fobser opened #252 "processes started as root"
On 3.4.10 (don't know when it started, it's working fine on 3.4.5) processes are started as root.
Depending on what you are doing hilarity ensues (e.g. writing json out to disk, the files will be owned by the wrong user etc.)
exabgp itself drops to nobody which then means that you can no longer stop exabgp because it tries to take down the forked processes which it no longer can do.

When killing

[2015-05-08 13:53] fobser opened #253 "bin/exabgp missing when turning into a python wheel"
When I turn 3.4.10 into a wheel and pip install it (in a virtualenv) on centos 6 bin/exabgp is not there. Curiously it turns up when installing the wheel on OS X. So it might be pip version related?
This used to work on 3.4.5.

It looks like bin/exabgp is somehow generated as a post-install action? I'm wondering why it's not shipped as a data/script/... thingy.

[2015-05-08 14:00] fobser opened #254 "exabgp.env not found in a virtualenv"
Say I have an /opt/exabgp virtualenv and exabgp.env is sitting in /opt/exabgp/etc/exabgp.env.
On 3.4.10 does not find that file:

This used to work on 3.4.5

Maybe https://github.com/Exa-Networks/exabgp/issues/253 is related.

[2015-05-08 14:12] pyke369 commented on #252
Saw the exact same problem here: a privileges drop for the main exabgp process, but helper processes running as root _on the first launch_ (but then running as the same use as the main exabgp process when re-started, with the exact same "hanging" issue as described above).

[2015-05-08 14:22] fobser commented on #253
Ok, we figured it out. It's a pip version problem. I.e. pip from epel is to old. If we update pip in the virtual env it works just fine. Also we think what you are doing in setup.py with entry_points is kinda nice :)

[2015-05-08 14:22] #253 closed

[2015-05-08 14:41] thomas-mangin commented on #106
Hello, could you please check that the 3.4 branch does what you expect it to do ?

[2015-05-08 16:34] thomas-mangin commented on #252
I had complication during the development of the incoming MD5 connection as the way the kernel handle the binding. This bug is likely a side effect of this ! I will rectify.

[2015-05-08 16:35] thomas-mangin commented on #253
Thank you for finding out what it was .. I would have been hard pressed to reproduce the issue !

[2015-05-08 16:37] thomas-mangin commented on #254
Could you please run exabgp under strace and grep -B10 -A10 'exabgp.env' so I can see what env file your installation is trying to open ?

[2015-05-12 20:50] #106 closed

[2015-05-13 13:05] thomas-mangin commented on #254
ok - I was surprised to find exabgp in bin and not sbin. I assume you installed exabgp in /opt/exabgp with pip. ExaBGP hardcode the location it is looking in .

The env folder can be specified with the --env command line option if you do not want your configuration file in /etc/exabgp/ but /opt/exabgp

I may review how I lookup the folder ( in bgp.py line 61+ ) but more information would be welcom

[2015-05-13 15:13] fobser commented on #254
Oops sorry, forgot to let you know. I'm very busy this week and
can't work on exabgp. I hope I can provide more information
next week and test the counter fix as well

[2015-05-13 15:15] thomas-mangin commented on #254
No issue at all, thank you for letting me know.

[2015-05-14 11:36] thomas-mangin commented on #252
This should be fixed both on 3.5 and 3.4 with this commit d803487

[2015-05-14 12:07] thomas-mangin commented on #254
@fobser you have a very "interesting" installation.

when using the code from a tarball / git from opt, the path of exabgp should be `/opt/exabgp/sbin/exabgp` , note that it should be sbin

As your command line is `/opt/exabgp/bin/exabgp /opt/exabgp/etc/exabgp/exabgp_foo.conf` it looks like the program was installed by pip in /opt/exabgp ( and not /opt directly )

This seems to be confirmed by the

[2015-05-14 16:22] pavel-odintsov opened #259 "Lack of error in log when ExaBGP can't listen BGP socket"
Hello, Thomas!

I tried to run ExaBGP for my new appliance and found interesting bug. I want listen BGP for incoming connection.

But I forgot to switch off Quagga on this port:
[code]

And ExaBGP which runs with command:
[code]

Do not notify me about this issue.

[code]

But in non daemon mode I got good explanation of error:
[code]

Could you fix it? :) I spend about 40 minutes when I remember

[2015-05-14 17:41] pavel-odintsov commented on #244
Thomas, I need your help again :(

I want implement BGP flow spec interface for all my firewalls (netmap-ipfw) and manage whole DDoS mitigation process with it.

I have two hosts:
- DDoS detector which announces dangerous flows to firewall with BGP Flow Spec
- Firewall, it receives flow spec announces and send notification to netmap-ipfw daemon.

Config for detector:
[code]

Config for firewall:
[

[2015-05-14 19:12] thomas-mangin commented on #244
what version of ExaBGP are you using ? if it is a recent one ( 3.4.10 or 3.4 stable branch ) then the receive-routes; and send-packets; options do not exist anymore.
3.5 ( master ) change ( sigh ) once more the format. try:
[code]

You can find the latest example for the current version in the qa folder.

[2015-05-14 20:22] pavel-odintsov commented on #244
Hello

Thanks for fast answer. My ExaBGP : 3.4.10 on both servers

I tried and modern syntax too:
[code]

But there are no results.

Monitor log:
[code]

Firewall log:
[code]

[2015-05-14 20:37] pavel-odintsov commented on #244
Well, suppose I fix it!

[2015-05-14 20:45] pavel-odintsov opened #260 "JSON serialisation failure"
Hello!

I can't reproduce it but I should report it.

[code]

[2015-05-14 20:46] pavel-odintsov commented on #244
Working config.

Monitor:
[code]

Firewall:
[code]

Dump:
[code]

And everything works fine. But I suddenly hit new bug: https://github.com/Exa-Networks/exabgp/issues/260

[2015-05-14 21:14] pavel-odintsov opened #261 "BGP flow spec parser/crafter separation to dedicated library"
Hello, Thomas!

Do you have any ideas about providing BGP flow spec parser/crafter as separate Python library?

I found so much very interesting code for this task:

[code]

And I and everyone need strong and reliable parser for generating flow spec for ExaBGP and for parsing flow spec from ExaBGP.

And your code is awesome and haven't any competitors.

I could help with it (my Python is as bad as

[2015-05-14 21:46] thomas-mangin commented on #244
fixed the code in the 3.4 branch and 3.5 master, some keys were missing. I still need to fix the "none" key which is clearly wrong too.

[2015-05-14 21:47] thomas-mangin commented on #260
Do you still have the whole log ? I guess this issue came when you tried to print a flow route.

[2015-05-14 22:03] thomas-mangin commented on #261
Yes, sure, if the code can be helpful then yes. I need to work on other area first but if you give it a try I will help you.

[2015-05-14 22:06] thomas-mangin commented on #259
Outch .. Not sure why ExaBGP did not report the issue even on command line . Looking into it.

[2015-05-14 22:14] thomas-mangin commented on #259
You should have the same message on deamon mode or not. Could you please look if the logs were not going to syslog in the first case ? Also use and abuse the '-d' option to turn on debugging and see what is wrong !

[2015-05-14 22:15] #244 closed

[2015-05-14 23:15] thomas-mangin commented on #260
The previous patch will cause a much clearer error message should/when the issue occurs again.
I am closing the issue as I can not fix it without more information.

[2015-05-15 08:51] victor-sudakov opened #262 "Need offical documentation and script examples for collecting BGP routes"
There is neither documentation nor script examples for collecting/saving BGP routes for further processing (like building src/dst ACLs for squid for example). I would like some to be provided in the distribution.

[2015-05-15 09:33] thomas-mangin opened #263 "Make healthcheck.py more visible"
We should move healthcheck from /etc/process ( where it is pretty well hidden ) to the bin folder ( and remove the .py extension ).
Also adding some links on the main README.md file to @vincentbernat blog on how to use it.

[2015-05-15 09:42] vincentbernat commented on #263
Yes, no problem. Do you want me to do it?

[2015-05-15 11:10] #263 closed

[2015-05-15 12:22] pyke369 commented on #262
Hello Victor,

You may want to take a look at https://github.com/pyke369/exabgp-helpers/tree/master/exaprefixdb. This little ExaBGP helper script will actually dump the routes/prefixes received from an arbitrary number of BGP sessions in multiple files at a regular interval, relying on filters like ASPath, BGP community or BGP peers. It actually works fine with multiples copies of the global Inter

[2015-05-15 13:00] pavel-odintsov commented on #244
Awesome! Thank you!

[2015-05-15 13:07] pavel-odintsov commented on #260
Will check shortly. Thanks!

[2015-05-15 13:07] pavel-odintsov commented on #259
Will check shortly.

[2015-05-15 17:31] thomas-mangin commented on #252
This also could have been related to https://github.com/Exa-Networks/exabgp/commit/a97353bb4923fa755926430a6beaed3403129a20

[2015-05-15 17:33] thomas-mangin commented on #248
Done some refactoring to add the feature, so 1/2 way there ( as I need to be able to know what are valid values for each rule )

[2015-05-15 17:58] jtkdpu opened #264 "per peer show routes outgoing RIB"
The show routes command that is available through the tcp-server interface should provide the ability to show the outgoing RIB on a per-peer basis.

[2015-05-15 18:22] pavel-odintsov commented on #260
Whole log here: https://gist.github.com/pavel-odintsov/223b0a3fa8e344a1c1cd

[2015-05-15 18:38] pavel-odintsov commented on #259
Checked against master's branch from Git.

Without daemon mode:
[code]

No error in daemon mode:
[code]

And blank logs:
[code]

There are no any records in /var/log/syslog|messages|daemon|user.

Do you need any additional information?

[2015-05-15 18:43] pavel-odintsov commented on #259
I executed strace of falling process:
[code]

[2015-05-15 18:47] pavel-odintsov commented on #259
As you can see errors about can't bind to socket written to some file descriptor with handle == 2, it's definitely stderr.

[2015-05-15 18:51] pavel-odintsov commented on #259
Well, this calls definitely related with daemonization code.

Because according to strace you close stdout but still write to it:
[code]

[2015-05-15 19:05] pavel-odintsov commented on #244
Looks more pretty! Thanks!

{ "exabgp": "3.5.0", "time": 1431716393, "host" : "synproxied.fv.ee", "pid" : 2599, "ppid" : 2008, "counter": 1, "type": "update", "neighbor": { "address": { "local": "10.0.3.115", "peer": "10.0.3.114" }, "asn": { "local": "1234", "peer": "65001" }, "direction": "receive", "message": { "update": { "attribute": { "origin": "igp", "as-path": [ 65001 ], "confederation-path

[2015-05-16 08:13] thomas-mangin commented on #260
@pavel-odintsov Thank you, very much for helping me here.
To debug this issue, I need to know the content of the BGP update which triggers the issue. If you are able to reproduce the issue when exabgp is running with -d then I would be able to help more.

[2015-05-16 08:23] thomas-mangin commented on #259
On OSX or on Ubuntu :

[...]
Sat, 16 May 2015 09:19:27 | WARNING  | 59080  | configuration | Loaded new configuration successfully
Sat, 16 May 2015 09:19:27 | CRITICAL | 59080  | reactor       | Can not bind to 0.0.0.0:179, you may need to run ExaBGP as root
Sat, 16 May 2015 09:19:27 | CRITICAL | 59080  | reactor       | unset exabgp.tcp.bind if you do not want listen for incoming connections
Sat,

[2015-05-16 09:04] thomas-mangin commented on #248
The implementation nearly done yesterday and was completed https://github.com/Exa-Networks/exabgp/commit/7c7820cb528b4b09020dbbb0b291491ec5a404c8

I will not backport this change back to 3.4 as it may cause name changes change for flow part (it should not but I prefer to be sure and not break 3.4 installation).

[2015-05-16 09:24] thomas-mangin commented on #262
@pyke369 how about integrating this tool within the exabgp repository ? I would be fine giving you commit access to be able to maintain the code.

[2015-05-16 10:47] victor-sudakov commented on #262
@pyke369 Are you sure there is no error in line 10 of exaprefixdb-sample.conf? I am almost sure there should be no comma there.

[2015-05-16 10:53] pavel-odintsov commented on #259
Hello, Thomas!

Could you provide your public ssh key? I could try to build environment for reproduce of this bug.

[2015-05-16 12:35] pyke369 commented on #262
@victor-sudakov yes, you are absolutely right:

[code]

I fixed it in the repository. Please note this already is an advanced configuration (with 4 BGP sessions and a lot of filtering). The simplest one you could start with is more like:

[code]
This will dump all received routes from all established BGP sessions in /tmp/all.db every 10 minutes. You could start with this and then introduce more co

[2015-05-16 12:36] pyke369 commented on #262
@thomas-mangin sure thing. let me just clean the repo. a little bit and push a small documentation first.

[2015-05-16 14:27] victor-sudakov commented on #262
@pyke369 I'm trying to test it with exabgp-3.4.8 with a simple config (see below) but my database comes out empty all the time. Any ideas why?

exaprefixdb.conf:
{
   "interval": 180,
   "backups":  5,
   "basepath": "/var/tmp/prefixdb",
   "aliases":
   {
       "212.73.125.217": "gateway",
       "212.73.125.216": "leopard"
   },
   "exports":
   [
      { "database": "all" }
   ]
}

exabgp.conf

[2015-05-16 16:28] pyke369 commented on #262
@victor-sudakov could you check the following please?

- the exaprefixdb.py is being started by exabgp and running properly
- the user running the exaprefixdb.py process has write access to the the /var/tmp/prefixdb folder
- you waited at least <interval> seconds (180 seconds in your case, we wait that long to make sure the first dump is not empty or partial, especially with Internet full-tables)

[2015-05-16 17:17] victor-sudakov commented on #262
Yes to your first three questions. Because the file /var/tmp/prefixdb/all.db is indeed being created, but it contains only a linefeed and no prefixes. It would not be created if there were permission or starting problems.

As to the fourth question. The cisco router thinks it's sending prefixes to exabgp, but I cannot make sure it is receiving them.

Sat, 16 May 2015 23:11:45 | WARNING  | 96069  |

[2015-05-16 17:22] victor-sudakov commented on #262
And where did you learn about exabgp_log_all ? It's not found anywhere in the exabgp code as "pkg info -l exabgp | xargs grep -i exabgp_log_all" shows nothing.

Neither does "exabgp /usr/local/etc/exabgp/exabgp.conf" start anything in the foreground. In FreeBSD exabgp is started from a rc.d script and looks like this in the ps output:

97002 ??  R        0:06,39 /usr/local/bin/python2.7 /usr/local

[2015-05-16 17:57] pyke369 commented on #262
"exabgp_log_all=true" is just a way of setting an environment variable before starting the exabgp process itself. you can find about environment variables by just starting exabgp with no argument (see option 4) to set env. variables below).

[code]

I don't know about the specifics of the FreeBSD packaging (I'm using Linux), but you should probably stop the stock ExaBGP daemon first (using the rc.

[2015-05-16 18:07] victor-sudakov commented on #262
I don't see the environment variable "exabgp_log_all" anywhere in the exabgp code. How does it make sense?

[2015-05-16 18:09] pavel-odintsov commented on #261
Hi!

Thomas, I have finished some investigation and found few very interesting things. First of all, I found you have used Juniper syntax and it's awesome because Cisco and Alcatel syntax is very complex and scary.

But I found significant differences in config format for announces and receives sides.

I have following announce:
[code]

On receiving side in "string" field I have it in different fo

[2015-05-16 18:23] pavel-odintsov commented on #261
Will be fine if we can got string representation of flow from receiver side and put it in ExaBGP configuration without any changes. With this approach we could use same parser for generation (for ExaBGP config) and for parsing (from update API hook) for passing data forward.

[2015-05-16 18:30] pavel-odintsov commented on #261
We could use same approach as blackhole announce. I found in examples:
[code]

[2015-05-16 18:37] pavel-odintsov opened #265 "decode flow extended-community"
Hello, Thomas!

I testing actions for flow spec and use this config:

[code]

But on receiving side I got following json and I can't find there nor "discard" action nor "mark 10":

[code]

And 9225905311645171722L for extended-community looks strange too :)

[2015-05-16 18:41] pavel-odintsov commented on #261
And will be fine to get single line flow rule representation because current implementation of remote triggered flow announce saw very complex:
[code]

And sing line representation looks more pretty:
[code]

[2015-05-16 19:09] thomas-mangin commented on #262
./sbin/exabgp -h

https://github.com/Exa-Networks/exabgp/blob/master/lib/exabgp/configuration/setup.py
https://github.com/Exa-Networks/exabgp/blob/master/lib/exabgp/configuration/environment.py

[2015-05-16 19:11] thomas-mangin commented on #261
The printing is Junos like but the format is configuration like ( using list ) so you need
`fragment [ is-fragement ]`
if I recall correctly.

[2015-05-16 19:15] thomas-mangin commented on #261
Hi @pavel-odintsov , it would be nice if you tried to not mix threads as following what is happening is quite hard.
This whole thead is supposed to be about separation of library and it is not :p Could you please re-open the initial question in a new issue and I will rename this thread to match the content. Thank you.

[2015-05-16 19:16] thomas-mangin commented on #265
Yes both things are clearly issues. I will fix them asap.

[2015-05-16 19:20] pavel-odintsov commented on #261
Oh, sorry. Will sure create new ticket ASAP! :)

[2015-05-16 19:21] pavel-odintsov opened #266 "Different format of slow spec in ExaBGP config for announcements and from receiving side"
Hi!

Thomas, I have finished some investigation and found few very interesting things. First of all, I found you have used Juniper syntax and it's awesome because Cisco and Alcatel syntax is very complex and scary.

But I found significant differences in config format for announces and receives sides.

I have following announce:
[code]

On receiving side in "string" field I have it in different fo

[2015-05-16 19:22] pavel-odintsov commented on #261
Moved to new ticket: https://github.com/Exa-Networks/exabgp/issues/266 This ticket dedicated for library discussion only.

[2015-05-17 06:17] victor-sudakov commented on #262
This must be some FreeBSD specific issue then. Look:

# /usr/local/sbin/exabgp -h
# /usr/local/sbin/exabgp
===> To start exabgp, you should use:
===>   service exabgp start
# grep log_all /usr/local/lib/python2.7/site-packages/exabgp/configuration/environment.py
#

All is empty, as you see. Is there anything I could put into exabgp.conf to enable debug?

[2015-05-17 06:19] victor-sudakov commented on #262
It must be some FreeBSD specific issue then.  Look:

$ /usr/local/sbin/exabgp
===> To start exabgp, you should use:
===>   service exabgp start
$ /usr/local/sbin/exabgp -h
$ grep log_all /usr/local/lib/python2.7/site-packages/exabgp/configuration/environment.py
$

Is there anything I can put into exabgp.conf itself to enable debug?

[2015-05-17 08:49] pyke369 commented on #262
Not in exabgp.conf directly, but in exabgp.env. This file should be located in the /etc/exabgp folder (and if it does not already exists, you can still use "exabgp --fi" to generate a first template and go from there).

[code]

[code]

[2015-05-17 09:21] thomas-mangin commented on #266
For the simple case of = for flag, protocol, icmp type, icmp code, fragment, this has been added with https://github.com/Exa-Networks/exabgp/commit/7f0406b33dcdef266d50a06021a5cae565b96ea7

[2015-05-17 10:36] thomas-mangin commented on #266
added trick to allow single line flow https://github.com/Exa-Networks/exabgp/commit/8f5fb1352653f0ed8c1c7ca459919e7224d10f3c

[2015-05-17 10:42] victor-sudakov commented on #262
Bingo, now I have a very detailed exabgp log with lots of updates. For some reason however, those updates are not passed to the script which I run from the "process" section. The only thing I see passed to this script is the line

{ "exabgp": "3.4.8", "time": 1431858703, "host" : "noc.sibptus.ru", "pid" : "3455", "ppid" : "1", "counter": 1, "type": "notification", "notification": "shutdown"}

and

[2015-05-17 11:06] thomas-mangin commented on #265
changed extended-community to be hexadecimal

[2015-05-17 11:07] thomas-mangin commented on #262
If you are running master make sure "parsed" is in your receive section.

[2015-05-17 11:18] victor-sudakov commented on #262
@thomas-mangin I have published the complete log at ftp://ftp.sibptus.ru/pub/vas/exabgp.log.zip
it includes also the config file, could you please look if anything is missing or in the wrong section?

[2015-05-17 11:30] thomas-mangin commented on #262
Updates generated from ExaBGP itself are not send to the script. If you need this feature you need to use master and then to change the section from "receive" to "send" to see what was generated.

[2015-05-17 11:51] victor-sudakov commented on #262
@thomas-mangin I don't need updates generated by ExaBGP itself. I need updates received by ExaBGP from its two peers to be sent to the script.

Let's consider the prefix 31.211.40.0/22 received by ExaBGP from 212.73.125.216
You can see in the log that ExaBGP is receiving this prefix.

Sun, 17 May 2015 17:04:26 | INFO     | 49814  | parser        | parsed announce nlri 31.211.40.0/22 next-hop 213.1

[2015-05-17 11:53] thomas-mangin commented on #262
Because the current parser is brain dead, put the process section before your neighbors and tell me if it fixes it.

[2015-05-17 12:03] victor-sudakov commented on #262
Yes, putting the process section before the neighbors fixes it. Who might think!

[2015-05-17 12:13] victor-sudakov commented on #262
Now exaprefixdb is also working as expected. Thank you guys!

[2015-05-17 12:17] thomas-mangin commented on #262
I will close this thread. Clearly no documentation was written but it is of little use for everyone and docs are a know issue - they do not need an entry here :cry:

[2015-05-17 12:17] #262 closed

[2015-05-17 16:37] thomas-mangin commented on #259
Can you please tell me where I can mail it to you please ?

[2015-05-17 16:41] thomas-mangin commented on #265
The information is encoded in the extended community. I could add a key which tries to decode it and show it a string. Not sure it is really the best way tho.

[2015-05-17 17:22] pavel-odintsov commented on #265
String representation will be much times better then binary encoded value.

[2015-05-17 17:23] pavel-odintsov commented on #259
pavel.odintsov@gmail.com

[2015-05-17 17:29] pavel-odintsov opened #267 "Withdrawal of flow spec announce on ExaBGP daemon interruption"
Hello, Tomas!

I have implemented very draft integration of netmap-ipfw and flow spec with huge help from ExaBGP!

Now I could add filtering rules from flow spec announces https://github.com/FastVPSEestiOu/fastnetmon/blob/master/src/scripts/firewall_queue.py :)

But when I interrupt ExaBGP which announces this flows I expected withdrawal of announces because I want to remove they from firewall tab

[2015-05-17 17:30] thomas-mangin commented on #264
Untested but done for you.
https://github.com/thomas-mangin/exabgp/commit/d701acf64a7aedd62e86b23b2d5d22a021a26e5d

[2015-05-17 17:33] pavel-odintsov commented on #266
Now:
[code]

Are working fine!

[2015-05-17 17:34] thomas-mangin commented on #267
Hello Pavel, This is because on shutdown BGP does not send the the withdrawn routes, so there is nothing to send. It just send a notification. So you you make sure you keep a copy of the routes you installed and in the process section register for "neighbour-changes" and on shutdown or peer down, you should remove the routes you added.

[2015-05-17 17:40] #266 closed

[2015-05-17 17:44] pavel-odintsov commented on #267
Looks good, I could add information about source of my flows and remove they on peer down. Looks good. Will try it shortly.

[2015-05-17 17:45] #267 closed

[2015-05-17 17:57] pyke369 opened #268 "Processes from different groups are receiving all messages from all groups"
Hello @thomas-mangin,

There seems to be a problem when trying to declare multiple groups with different BGP peers and processes definition: all processes are receiving all messages from all groups.

Let's say you have the following ExaBGP configuration:

[code]

The external.py script is just dumping everything it receives in a file:

[code]

When starting the daemon (v3.4.10), I get this:

[code

[2015-05-17 17:59] pavel-odintsov commented on #267
Yes, works for me:

``bash
{   u'counter': 18,
    u'exabgp': u'3.5.0',
    u'host': u'filter.fv.ee',
    u'neighbor': {   u'address': {   u'local': u'10.0.3.115',
                                     u'peer': u'10.0.3.114'},
                     u'asn': {   u'local': u'1234', u'peer': u'65001'},
                     u'reason': u'in loop, peer reset, message [closing connection] error[the TCP conn

[2015-05-17 18:07] thomas-mangin commented on #268
This is a issue with the current configuration and internals which I want to fix in the next configuration format ( by explicitly assigning the process to the neighbors)

The simplest way to get around it is to create two configuration file and run exabgp with both in the command line. It will fork two process each handling one configuration file.

As it will not be a small fix, I will do it durin

[2015-05-17 18:25] pyke369 commented on #268
I did some additional testing, and it seems putting the processes definition inside the neighbors sections lead to the correct behavior: each process only receives the messages from the associated neighbor and the associated neighbor only. The problem is that I'd like to have multiple neighbors within a group sharing a single external process.

I think the correct behavior should be that an associ

[2015-05-17 18:27] thomas-mangin commented on #268
I agree with you, it is just not simple/practical to implement with the code as-it.

[2015-05-17 21:45] pavel-odintsov opened #269 "JSON generation bug for neighbor-changes"
Hello...

I'm so sorry but I have found new bag again.

I have this error when I run flow announce from another ExaBGP instance:
[code]

Here you can find my script: https://gist.github.com/pavel-odintsov/c620639766720c4610f0

ExaBGP config:
[code]

[2015-05-17 21:49] pavel-odintsov commented on #269
And I found place where broken json (value without quotes) located:
[code]

I received your commits about extended-community and can't find any bugs.

[2015-05-18 00:11] pavel-odintsov commented on #266
Hell, I have issues with single line format.

Old fashioned way works perfectly:
[code]

But modern did not work:
[code]

And will be fine if you add some logging when ExaBGP read something from scripts. It will simplify debugging in this case.

[2015-05-18 09:05] pavel-odintsov opened #270 "How to distinguish announce and withdraw for BGP Flow Spec from receiver side"
Bonjour!

Next step of tests.

I execute following commands from announce peer:
[code]

From ExaBGP side I could perfectly see information about announce:
[code]

But when I trigger "withdraw" from peer I got enough useless message:
[code]

Is it possible to get some ID for this de-announced rule or complete flow spec description? Without this feature ability to disable flow speak announces is use

[2015-05-18 13:18] thomas-mangin commented on #266
I will look into it when I can - must be a silly thing.

[2015-05-18 13:19] thomas-mangin commented on #270
This looks wrong - I will investigate.

[2015-05-18 18:54] thomas-mangin commented on #270
I added some testing code and it looks right to me :

`{ "exabgp": "3.4.8", "time": 1431975215, "host" : "mangin.local", "pid" : "19692", "ppid" : "19683", "counter": 9, "type": "update", "neighbor": { "ip": "127.0.0.1", "address": { "local": "82.219.212.34", "peer": "127.0.0.1"}, "asn": { "local": "65534", "peer": "65533"}, "message": { "update": { "attribute": { "origin": "igp", "as-path": [ 655

[2015-05-18 18:57] thomas-mangin commented on #270
The EOR message you received may have been what is known as an End of RIB (EOR) marker following the full loading of the configuration file. It let the remote router knows that it can sync the routes to the forwarding plane as no more are coming part of the initial route dump.

[2015-05-18 18:59] thomas-mangin commented on #269
Damn, JSON does not let you express number as hexadecimal, this is why it was sent as integer before ! I broke it .. need to revert the patch !

[2015-05-18 19:01] pavel-odintsov commented on #269
What about custom to string converter?

[2015-05-18 19:04] thomas-mangin commented on #269
Sorry - a community is a number and unlike normal one, there is no good syntax to express them. hex would have give a fixed size number - but base 10 it is.

[2015-05-18 19:06] #269 closed

[2015-05-18 20:08] thomas-mangin commented on #234
was it what you wanted ?
https://github.com/thomas-mangin/exabgp/commit/c0327fa91ad1014f3f330f00985f6b7bcbca13f8

[2015-05-18 22:12] #247 closed

[2015-05-18 22:28] pavel-odintsov opened #271 "Please add single line way to specify flow spec"
Hello!

As mentioned in https://github.com/Exa-Networks/exabgp/issues/266 will be fine to add support for single line slow spec format.

[2015-05-18 22:29] pavel-odintsov commented on #266
I have created separate ticket for single line flow spec rules because this ticket about another issues.

[2015-05-18 22:34] pavel-odintsov commented on #270
Awesome!

I got it for enable announce:
[code]

And this for disable announce:
[code]

[2015-05-18 22:37] pavel-odintsov commented on #270
And now I have way to distinguish announce and disable route with: ```"announce": { "ipv4 flow" .. }``` and ```"withdraw": { "ipv4 flow": ... } ```

Thanks!

[2015-05-18 22:37] #270 closed

[2015-05-18 22:42] thomas-mangin commented on #266
Must have been a missing \n at the end of the single line 😊

[2015-05-19 14:50] spakka opened #272 "Attributes appearing on withdraws"
Hi,

After running for a while with lots of incoming updates (from a full-table feed), we start to see withdraw update messages which have attributes on them, despite the underlying message not having them (normally a withdraw just contains a list of prefixes unless there is also an announce in the same message)

We see the following example output:
[code]

You can see there is an as-path, origin,

[2015-05-19 16:48] thomas-mangin commented on #272
Hi Colin, I will investigate and fix in 3.5 - not sure I should in 3.4 ...

[2015-05-20 09:54] pavel-odintsov commented on #271
Implemented.

And works perfectly:
[code]

[2015-05-20 10:07] pavel-odintsov commented on #271
I have checked multiple times against Git version and could not achieve ability to work without trailing "\n". But examples in qa/ folder provide ability to work without trailing "\n".  How?)

[2015-05-20 10:57] thomas-mangin commented on #271
There is an example in ./qa/self/flow/

[2015-05-20 15:34] thomas-mangin commented on #271
@pavel-odintsov  oh ! and btw, run env exabgp.api.file=/var/run/exabgp.cmd ./sbin/exabgp `configuration file` and look the magic happen ( on 3.5 only ). This named pipe will be for the API (and therefore should not be used by applications but hey - I thought it may be useful for quick checks

[2015-05-20 16:17] thomas-mangin commented on #272
Colin, I had to think twice but I think I have a strong educated guess about what it could be.

Could you apply this patch and tell me if the issue still persist.
https://github.com/Exa-Networks/exabgp/commit/0f5449aff0b78a194b0d1734e1871d5ba69ad4bf

[2015-05-22 13:25] pavel-odintsov commented on #271
Really useful feature for me ;) Any plans about standard client?

[2015-05-22 13:59] thomas-mangin commented on #271
See https://plus.google.com/+ThomasMangin/posts/AD8L7vBikWS

[2015-05-22 14:58] pavel-odintsov commented on #271
The requested URL was not found on this server. That’s all we know.

:(

On Friday, May 22, 2015, Thomas Mangin <notifications@github.com> wrote:

--
Sincerely yours, Pavel Odintsov

[2015-05-22 19:56] thomas-mangin commented on #271
Ah ! You need to join the G+ ExaBGP community ...

[2015-05-23 15:41] #271 closed

[2015-05-23 16:27] #234 closed

[2015-05-23 16:27] #272 closed

[2015-05-23 16:28] #264 closed

[2015-05-23 16:28] #254 closed

[2015-05-23 16:28] #252 closed

[2015-05-23 16:35] #211 closed

[2015-05-23 16:38] thomas-mangin commented on #39
duplicate of #221

[2015-05-23 16:38] #39 closed

[2015-05-23 17:04] thomas-mangin commented on #259
Hello @pavel-odintsov - Did I miss a mail with the server information or have you been busy with other things ?

[2015-05-23 20:49] pavel-odintsov commented on #259
Sorry for delay :( Yep, I'm busy but I remember about it.

[2015-05-25 18:52] majek opened #275 "Flowspec key"
On one side I have two flowspec rules:

[code]

While on the other side I can see only one update:

[code]

I guess they conflict, based on destination ip. Is that deliberate?

[2015-05-25 19:58] thomas-mangin commented on #275
Hello @majek - not it is a bug, let me see if I can find the source.

[2015-05-25 19:59] thomas-mangin commented on #275
That said you can create a rule which will match both:
protocol [ udp tcp];

[2015-05-25 20:12] majek commented on #275
I'm quite certain the dest ip is taken as the primary key.

[2015-05-25 21:52] thomas-mangin commented on #275
Quickly looking at the code, it looks like the tuple source/destination IP but I have not yet invetigated much.

[2015-05-26 10:02] fobser commented on #254
Finally got around testing this. Yes, this works now.
The setup is this:
* git clone https://github.com/Exa-Networks/exabgp.git
* (cd exabgp && tar czf ../exabgp-3.10.tar.gz *)
* pip wheel ./exabgp-3.10.tar.gz
* virtualenv /opt/exabgp
* source /opt/exabgp/bin/activate
* pip install exabgp-3.4.10-py2-none-any.whl
and with that I get /opt/exabgp/bin/exabgp (bin, not sbin), don't know why this happen

[2015-05-26 10:08] fobser commented on #106
works for me, thanks!

[2015-05-26 10:12] fobser commented on #252
works for me

[2015-05-26 10:32] thomas-mangin commented on #254
Thank you :-)

[2015-05-26 10:33] thomas-mangin commented on #254
The code goes in bin because it is where pip install programs ( there is no distinctions between daemon and utilities ). I may look at changing this in 3.5

[2015-05-26 10:33] thomas-mangin commented on #106
Thank you (again) for checking

[2015-05-26 10:34] thomas-mangin commented on #252
And again - much appreciated :smile:

[2015-05-26 18:41] CrackerJackMack opened #276 "Regression is updates between 3.4.9 and 3.4.10"
Been running exabgp for a few months and noticed a regression when I updated to 3.4.10.  Looks like it might be an encoding issue related to asn4 ?  Meant to file this a while back but  just getting around to it :calendar: has been swamped.  Downgrading back to 3.4.9 fixed my issue for the time being and holding off on upgrading.  This is taken from my production systems so I don't have any packet

[2015-05-26 19:21] thomas-mangin commented on #276
Thank you for the bug report, this should be fixed in the 3.4 branch on github. I will release a 3.4.11 version soon.

[2015-05-26 19:26] CrackerJackMack commented on #276
Ah, found it.  I couldn't find #250 prior.  Thank you for the fix.

[2015-05-26 19:26] #276 closed

[2015-05-26 19:29] thomas-mangin commented on #276
I have just released 3.4.11.

[2015-05-26 21:20] CrackerJackMack commented on #276
3.4.11 fixed it.  Thank you so much.

[2015-05-27 11:03] sanjmonkey opened #277 "Open messages with unassigned / reserved capabilities bork json output"
Hello!

I have a peer who looks to be trying to negotiate a legacy (aka vendor specific) implementation of ORF by sending me capability 0x82 in his open message, only, this doesn't look to be being caught into either reserved or unassigned ranges defined in capability.py, and hence borks when trying to assemble the JSON.

removed logs to protect the innocent

[2015-05-27 13:16] thomas-mangin commented on #277
Ok - looking into this now.

[2015-05-27 14:05] thomas-mangin commented on #277
ARGH, you are running master. Could you please update and tell me if the issue is still there ?
It may have been as it had a experimental support for the hostname draft.

I have the following performing my test:

Wed, 27 May 2015 15:02:39 | INFO     | 60531  | message       | Peer       127.0.0.1 ASN 65332   << OPEN version=4 asn=65332 hold_time=10800 router_id=38.229.66.20 capabilities=[Multiprot

[2015-05-27 14:20] thomas-mangin commented on #277
fixed with https://github.com/Exa-Networks/exabgp/commit/237be22ae8a74e8e794a613bb76ae0837b3839dd

[2015-05-27 14:20] #277 closed

[2015-05-28 02:29] pavel-odintsov opened #278 "EXABGP CRASHED / HELP US FIX IT with ExaBGP 3.4.11"
Hello, Thomas!

I need ur help again.

[code]

When I run it with my config it crashed:
[code]

Original config here: https://www.dropbox.com/s/6tdnt38ijfbawpc/buggy_exabgp.conf?dl=0

Thanks for your attention!

[2015-05-28 02:35] pavel-odintsov commented on #278
Looks like this bug related with no permissions for writing to /var/log/exabgp.log. I changed log file to /tmp/exabgp.log and everything goes well:
[code]
Could you offer human readable error in this case? :)

[2015-05-28 07:55] thomas-mangin commented on #278
can you please run exabgp --di and post the output here.

[2015-05-28 11:33] fobser commented on #107
Hi,
so we have raw messages for OPEN, UPDATE and KEEPALIVE.
NOTIFICATION messages seem to be missing entirely. A parsed version is transported in type: "state" message in json:

[code]

Can we have a dedicated type: "notification" message with the raw message?
Maybe exabgp can already do that and it's only a configuration error on my end:
[code]

Thanks,
Florian

[2015-05-28 12:47] thomas-mangin commented on #278
You were right, this was due to a permission issue when wanting to write the file. If you indicate a place where ExaBGP can write it will work. Fixed in master, the patch is too big to rollback to 3.4

[2015-05-28 12:49] thomas-mangin commented on #107
It should have been sent, I will investigate.

[2015-05-28 12:54] thomas-mangin commented on #107
ok should now be fixed both in the 3.4 branch and master.

[2015-05-28 12:54] #107 closed

[2015-05-28 12:55] thomas-mangin commented on #107
PS: please open new issues for new bugs (even if related) otherwise I may miss the comment.

[2015-05-28 13:40] fobser commented on #107
On 28/05/15 14:55, Thomas Mangin wrote:

Thanks, I was actually wondering what you prefer (new or reopen). Will do the next time.
I'll test asap.

[2015-05-29 07:48] pavel-odintsov commented on #278
Hello!

Sorry but reproduced with master:
[code]

[code]

exabgp --di here:
[code]

[2015-05-29 07:50] thomas-mangin commented on #278
Sorry I was sure I had correctly fixed it.

[2015-05-29 07:51] pavel-odintsov commented on #278
Reproduced on another machine :(

[code]

[2015-05-29 07:52] thomas-mangin commented on #278
Thanks - I have all the information I need.

[2015-05-29 12:25] thomas-mangin commented on #278
The bug was only fixed on master ... On 3.4.11, please just use a location where you have write access :smiling_imp:

[2015-05-29 12:25] #278 closed

[2015-05-29 12:28] pavel-odintsov commented on #278
Haven't saw any commit since day after yesterday in master:
[code]

[2015-05-29 12:29] thomas-mangin commented on #278
Ok, it was only on my own repository ..

Saving password to keychain failed
Identity added: /Users/thomas/.ssh/id_rsa.personal (/Users/thomas/.ssh/id_rsa.personal)
Counting objects: 143, done.
Delta compression using up to 4 threads.
Compressing objects: 100% (136/136), done.
Writing objects: 100% (143/143), 14.33 KiB | 0 bytes/s, done.
Total 143 (delta 116), reused 0 (delta 0)
To git@github.com:E

[2015-05-29 12:31] pavel-odintsov commented on #278
OK, waiting for public version for testing :)

[2015-05-29 12:33] thomas-mangin commented on #278
I tested on my local machine and it seems to work as expected.

[2015-05-29 13:23] fobser opened #279 "raw header/body for NOTIFICATION"
(opening a new bug, this started in #107)
https://github.com/Exa-Networks/exabgp/commit/97eb57d526d4e88179f374c5332798027ed09574 made this worse.
Before we had this:
[code]

now we get this:
[code]
and no type:notification message.

(I also tried 3.4 but there I'm not even getting type: state messages (at all). I need to check if that ever worked or if this is a recent regression on 3.4)

[2015-05-29 14:15] thomas-mangin commented on #279
Hi, just to make sure, if you use 3.5, NOTIFICATIONs are not UPDATEs so the configuration file MUST now include them in the list of message to receive.

[2015-05-29 14:19] fobser commented on #279
sure, I have this:
[code]

[2015-05-29 14:26] thomas-mangin commented on #279
Thanks, looking into it.

[2015-05-29 14:57] thomas-mangin commented on #279
Hopefully this lovely patch will fix your issue ..
https://github.com/Exa-Networks/exabgp/commit/f40c73329e38286847a6279fa7c82f94e0d9b595

[2015-05-29 19:41] thomas-mangin opened #280 "Better control of the relation between process and neighbor"
Following the report in #268 , add to the configuration format an explicit relation between peer and process section such as

[code]

[code]

Due to the current parser however, it is likely that the process group will need to be created before the neighbor and that having group { neighbor, process, neighbor } will only add the process communication to the second neighbor only.

[2015-05-29 19:42] thomas-mangin commented on #268
As this is not a bug per say but a bad design of the configuration parser, will be addressed in #280

[2015-05-29 19:42] #268 closed

[2015-05-29 19:47] pyke369 commented on #280
Hi Thomas,

Do you plan to add this type of relation at the group level? Or will one have to add this directive to each neighbor within a group?

Thx.
Pierre-Yves

[2015-05-29 20:01] thomas-mangin commented on #275
asked for clarification on the idr mailing list

[2015-05-29 20:24] thomas-mangin commented on #280
I can also add it at group level but I will have to charge you a few beer for the feature :black_joker:

[2015-05-29 20:27] thomas-mangin commented on #280
You read the example correctly, it is indeed how I would expect it to work

[2015-06-01 09:53] fobser commented on #279
yes, thank you, looks good:
[code]
and the state message we get after this looks good, too:

[code]

[2015-06-01 13:35] pyke369 commented on #280
After some thinking, having the feature at the group level may not really be necessary, since the processes array directive (in each neighbor section) will provide the same thing in a nice way (pfiou, I saved a few beers here ^_^). Do you know when you plan to work on this new syntax? Will you backport it to 3.4.X? Thx.

[2015-06-01 14:24] thomas-mangin commented on #280
I will try to put this to the top of the queue, the group feature is only a few lines of code so you will get it anyway .. I plot for beer failed !
The feature is not hard but turn the way the code works around, so it will not be a small patch. Furthermore after thought, I believe the send/receive options should be set per process for finer grained control. So it may end up being.
[code]

[code]

[2015-06-01 14:32] thomas-mangin commented on #279
Good to hear. You may want to keep an eye on #280 as it will change once more the configuration format before the 3.5.0 release.

[2015-06-01 14:32] #279 closed

[2015-06-01 14:37] thomas-mangin opened #282 "Backend process negotiated information on crash / restart"
ExaBGP currently can send OPEN, then UPDATE message to the backend process. The OPEN information is required to be able to decode UPDATE ( ASN4, and ADD-PATH negotiation ).

Should the process crash, the process need to have persistently store this data otherwise parsing is impossible.

ExaBGP could help by (both or either):
- allow the backend process to re-request both send/received OPEN
- inclu

[2015-06-01 14:39] thomas-mangin commented on #282
@fobser - created following our discussion with Colin but unless you really need this feature I would rather push it development down the line.

[2015-06-01 14:42] thomas-mangin opened #283 "Provide State Machine Information via API"
When ExaBGP is used to generate MRT file from a received routing table, the MRT dump need to include BGP FSM code. Currently the backend process needs to generate this data based on the event received ( connection up, peer up, peer down ). It would simplify the code of the backend process if ExaBGP were to generate this data.

[2015-06-01 14:43] thomas-mangin commented on #283
@fobser - created following our discussion with Colin but unless you really need this feature I would rather push it development down the line.

[2015-06-01 17:09] pyke369 commented on #280
As long as it's clearly stated in the documentation, that shouldn't be a problem. Tell me if you want some help coding this, I'll be glad to help.

[2015-06-01 17:18] thomas-mangin commented on #280
@pyke369 .. ok, if you want documentation, the price is not beer anymore, it is wine :smiling_imp:
Like most programmers I prefer features to bugs and bugs to documentation ... I know this is not good.
BUT you can expect all the examples in the qa/conf folder to have been updated, so it is not all bad ...

[2015-06-02 00:27] thepacketgeek commented on #280
I love documentation. I've been following updates for a bit and am trying to familiarize myself with the project and I'd love to help on the docs side. I hope to start making some contributions soon!

[2015-06-02 07:41] thomas-mangin commented on #280
@thepacketgeek That is great news to hear. If you need any help or have any question, feel free to grab me on Gitter or IRC.

[2015-06-02 09:17] fobser commented on #282
For what we are doing it would be more helpful to have the negotiated capabilities in every update message. We are streaming the data into hadoop and then a job produces update mrt dumps.
It could store the negotiated capabilities somewhere and look it up as needed but from what I understand from our hadoop developer that's pretty inconvenient.
The way the system is setup we can't easily request a

[2015-06-02 09:30] thomas-mangin commented on #282
A better way may be to detect when a process has died and re-send any open. It would only require :
 - to save in the neighbor the OPEN send and received
 - to check when forking the process if :
    * this is not the first time we are starting the process
    * if not then check if OPEN are available, and them them
    * add to the OPEN JSON a way to know if a message is an original or duplicate

[2015-06-02 09:46] thomas-mangin commented on #282
I realise this require the backend code to be able to decode the OPEN, so alternatively, we could generate JSON representation of the OPEN negotiation and send this. But this will be ExaBGP specific when the OPEN way mean that the backend only need to be able to unpack JSON and understand BGP.

[2015-06-02 10:12] fobser commented on #283
The BGP4MP_STATE_CHANGE{,_AS4} subtypes contain old state and new state, so that's what we need in json output.

[2015-06-03 01:59] thepacketgeek commented on #280
Will do, I'm about to head away on vacation but would love to sync up the
week after.

On Tue, Jun 2, 2015 at 12:41 AM Thomas Mangin <notifications@github.com>
wrote:

[2015-06-03 07:26] thomas-mangin commented on #280
I removed a long thread of discussion with @pyke369 and @thepacketgeek as I modified the format of the configuration since the ticket was created and it made it clearer.

[2015-06-03 20:33] thomas-mangin commented on #283
The code was changed to improve the FSM, it should now be easy to hook a JSON call once the option is added.

[2015-06-05 14:42] irom77 opened #289 "Unsupported Optional Parameter"
Setup BGP with Checkpoint Gaia and getting Unsupported Optional Parameter notification , see below:

Fri, 05 Jun 2015 10:38:32 | INFO     | 13387  | network       | Peer      10.29.1.68 ASN 65000   out loop, peer reset, message [notification received (2,4)] error[OPEN message error / Unsupported Optional Parameter]

No problem with Cisco router at the same time, how I can debug exaBGP ?

[2015-06-05 19:53] thomas-mangin commented on #289
Please run exabgp with -d on the command line and provide the output on this issue. Can you please run either 3.4.11 or the 3.4 branch when testing, to make sure the bug is not already fixed.

[2015-06-06 12:13] irom77 commented on #289
I 'fixed' it by adding ' ipv4 unicast;'

family {
        ipv4 unicast;
    }
Thnx

[2015-06-06 12:48] thomas-mangin commented on #289
This is great news but it should not have been an issue in the first place. Could you please still send me the output ? Thank you.

[2015-06-07 13:55] irom77 commented on #289
Here it is :
Sun, 07 Jun 2015 09:54:14 | DEBUG    | 4340   | wire          | Attempting connection to 10.29.1.68
Sun, 07 Jun 2015 09:54:16 | DEBUG    | 4340   | wire          | session 1 outgoing 10.29.1.102 / 10.29.1.68         SENDING  (312) FFFF FFFF FFFF FFFF FFFF FFFF FFFF FFFF 007D 0104 FDE8 00B4 0A1D 0166 6002 0601 0400 0100 0102 0601 0400 0100 0202 0601 0400 0100 0402 0601 0400 0100 8002 0

[2015-06-07 16:33] thomas-mangin commented on #289
Thank you :+1: , I will investigate

[2015-06-08 12:40] thomas-mangin commented on #289
Ok, The peer is sending us a notification (2,4) during the setup instead of a KEEPALIVE to get into OPENCONFIRM. So, IMHO the BGP implementation of the vendor is broken and can not handle the Multi Protocol extension we are sending ( it should just ignore it ).
Thank you for this, AFAICS, nothing I can do to improve ExaBGP and/or prevent to hit the bug.

[2015-06-08 12:40] #289 closed

[2015-06-08 14:01] irom77 commented on #289
Agreed, Thnx

[2015-06-08 21:28] jpan613 commented on #248
Just got a chance to test this. It looks like when you use tcp-flags [ 0x20 0x8 0x1 ], exabgp OR these flags instead of AND them.
See this output from "show firewall filter __flowspec_default_inet__" on the receiving end of the flowspec rule:
10.0.9.1,10.0.2.102,proto=6,tcp-flag=20,=08,=01,len=24

Ideally we should see:
10.0.9.1,10.0.2.102,proto=6,tcp-flag=29,len=24

Let me know if that makes sens

[2015-06-09 06:54] thomas-mangin commented on #248
Ok understood: what I implemented is not what you asked ! I have allowed to use numeric instead of name with the current syntax but not a way to add the number ...

[2015-06-09 11:29] thomas-mangin commented on #248
I will allow a new syntax : tcp-flags [ 0x20+0x8+0x1 ]

[2015-06-09 11:31] thomas-mangin commented on #248
But you can also use the symbolic names

[2015-06-10 10:32] #248 closed

[2015-06-11 16:24] pavel-odintsov opened #292 "Persistent BGP and BGP Flow Spec"
Hello, Thomas!

On ENOG9 we have really awesome report about DDoS mitigation for Russia's greatest IX (http://www.enog.org/presentations/enog-9/44-msk-ix-enog-9-kazan.pdf) and they described very interesting topic about BGP persistency.

Case is really simple. We have huge attack to the network with multiple vectors (udp, tcp) and we have mitigated significant part of attack with Flow Spec.

But i

[2015-06-11 16:30] thomas-mangin commented on #292
Hi - no objection to add this feature ( and some of the missing FlowSpec new drafts ) but I am in the middle of some other core work, so it will have to wait a little.

[2015-06-11 16:33] pavel-odintsov commented on #292
Really awesome to hear this! No strict ETA but will be fine to get in in 6-12 months when enough amount of vendors will add this features =)

[2015-06-20 08:54] thomas-mangin commented on #139
Code has started on this. The whole parser is being rewritten. It still creates a dictionary tree which is then used to generate the Python Object. The objectives / steps to completion are:
- finish this parser to get feature parity with the current one
- remove the intermediary dictionary creation ( it will improve performance )
- then possible change the core to use ijson to have a JSON configur

[2015-06-21 00:15] thepacketgeek commented on #90
I'm trying to find a relevant open issue, but something that might be necessary for this to be implemented is the ability to add/remove neighbors via API without need to reload the conf file and close current BGP sessions.

[2015-06-21 13:55] thomas-mangin commented on #90
This is a common request that I will be able to add once the new configuration code is completed. Please feel free to open a new feature request.

[2015-06-21 17:18] thepacketgeek opened #294 "Modify neighbor via API without requiring config reread"
I can see a scenario happening where a BGP neighbor needs to be add/removed from ExaBGP's peering without affecting the other neighbors. Currently, to add/remove/shutdown a peer the ExaBGP process must be restart to reread the config file.

An API command similar to the existing commands can be added, something like:
    ```neighbor add 10.10.0.1 peer-as 65000 [local-as 65001 | local-address 10.0.

[2015-06-21 21:08] thomas-mangin commented on #294
Yes , this feature has been requested multiple time and is on the top of the todo list.

[2015-06-21 21:33] icb- commented on #139
If it's not too late, I would like to vote for the config language **not** being JSON. JSON is great  between a webserver and client-side Javascript, but its lack of comments makes it unsuitable for a config file. There are a couple "workarounds" for this, namely duplicating keys (which don't survive a deserialize/serialize operation) and naming conventions (prefixing comments with `_`, which can

[2015-06-21 21:42] thomas-mangin commented on #139
I need to look at how the code works but I would expect to be able to 'pre-process' the file to allo the current use of # comments. I will update this thread before making any irreversible changes.

[2015-06-23 01:46] hide opened #295 "Unable to advertise VPN prefixes"
Hi, Thomas,

exabgp 3.4.10 couldn't advertise VPN prefixes. 3.4.8 is OK.
Please see attached log.

[code]

[2015-06-23 07:16] thomas-mangin commented on #295
Hello Hideaki, Thank you for reporting this regression. I will look into it asap (it may not be today).

[2015-06-23 13:19] pavel-odintsov opened #296 "state machine invalid transition ?"
Hello, Thomas!

Some tests with announce receiver resulted to ExaBGP break :(

[code]

And I could not reproduce this case.

On the another side I have bird with ~20 /32 announces.

[2015-06-23 14:23] pavel-odintsov commented on #296
I could reproduce it, it fails every 3th call in thus env.

[2015-06-23 16:10] thomas-mangin commented on #296
Are you running 3.4 stable, if so this test of the machine state should be disabled in the latest version.

[2015-06-23 16:11] pavel-odintsov commented on #296
I got this code from master...

[2015-06-23 16:14] thomas-mangin commented on #296
master is currently in a BIG state of flux please use 3.4 stable ( at least for the next few weeks )

[2015-06-23 16:19] pavel-odintsov commented on #296
OK, roger that :)

[2015-06-24 14:16] thomas-mangin commented on #200
This list old items' get deleted.

[2015-06-24 15:37] thomas-mangin commented on #295
Hello Hideaki, I just tested 3.4 stable and it is fine. If you used master, it is broken as I am implementing #280 and #139 - most is now done on my tree alone but it left master not working as should - please accept my apology for this issue.

[2015-06-24 15:38] thomas-mangin commented on #295
Could you please confirm that the 3.4-stable branch works as should. Thank you very much.

[2015-06-24 16:13] thomas-mangin commented on #295
My local test did work but not the CI I added where the route was encoded with safi 4 and not 128 - will re investigate

[2015-06-24 17:44] thomas-mangin commented on #295
Very sorry, I found an issue on 3.4 stable .. I am not sure when/how I introduced it. Hopefully this resolve this issue !

[2015-06-25 11:33] thomas-mangin commented on #296
Ok - our state machine is not working as should - I have implemented a work around. This issue will not happen until it is fully fixed.

[2015-06-25 11:34] #296 closed

[2015-06-29 09:16] pyke369 commented on #139
Here is a short excerpt of a code that would just allow JSON with comments (in different forms like leading #, leading //, C-like /* */) and fix trailing , before block closing. Easy-peasy enough.

[code]

[2015-06-29 09:41] thomas-mangin commented on #139
Thank you, and indeed, this would work. It would require the whole JSON file to be loaded fully in memory I would rather have a progressive parser. I will comment more when I have investigated more.

[2015-06-29 10:00] clickfreak commented on #139
How about YAML for config file? It's easy to read (for humans and machines), and has some useful internal features (anchors, etc) for large configurations. JSON <-> YAML is very easy.

[2015-06-29 10:14] thomas-mangin commented on #139
The text processor should ideally be interchangeable ( JSON and YAML are two ways to present the same underlying HashTable, List, etc ).

[2015-06-30 06:05] starthir opened #297 "IPv6 route nexthop not updating"
When reading from a pipe, ExaBGP is not updating the nexthop of a route. The neighbor is IBGP.

For example:
We start ExaBGP and print to the pipe:
"neighbor 2001::4 announce route 2605::2/128 next-hop 2001::1 local-preference 500"

We then announce the same route, but with a different nexthop (2001::2 instead of 2001::1):
"neighbor 2001::4 announce route 2605::2/128 next-hop 2001::2 local-prefere

[2015-06-30 07:41] thomas-mangin commented on #297
Thank you for reporting this issue, I will work on replicating (unfortunately not today) and fixing ASAP

[2015-06-30 10:30] thomas-mangin commented on #297
Could you please confirm which version of ExaBGP you are using ( git master, git 3.4-stable branch, or release ).

[2015-06-30 15:55] #295 closed

[2015-06-30 15:56] starthir commented on #297
Issue was confirmed on 3.4.7 and 3.4.11 releases.

[2015-06-30 16:48] thomas-mangin commented on #297
Have replicated the issue, can not work on it atm, will fix asap.

[2015-06-30 21:18] thomas-mangin commented on #297
issue fixed on the 3.4-stable branch - master will be done later on.

[2015-06-30 21:23] thomas-mangin commented on #259
As I can not reproduce, without more help, I am closing this ticket (this is more a cosmetic issue that a bug). Feel free to re-open.

[2015-06-30 21:23] #259 closed

[2015-06-30 22:05] starthir commented on #297
The IPv6 route next-hop is now changing, but only if it is one not used before.

For example, on the following sequence, (1) and (2) works fine, but (3) doesn't. When we send "show routes extensive" to the pipe, it actually return two route entries with same destination, but the two different next-hops:

1) "neighbor 2001::4 announce route 2605::2/128 next-hop 2001::1 local-preference 500"
2) "nei

[2015-07-01 02:25] thepacketgeek commented on #294
I just tested and realized the 'reload' API command does not tear down existing BGP sessions. This works for me as I can just issue a reload command when I need to add/remove a peer.

[2015-07-01 06:22] thomas-mangin commented on #294
😀

[2015-07-01 11:14] thomas-mangin commented on #297
Thank you for spotting this. now fixed.

[2015-07-02 05:42] starthir commented on #297
Cool, tested this with IPv4 and IPv6 routes over IPv4 and IPv6 sessions, next-hops changing fine with no extra routes laying around. Thanks!

[2015-07-02 08:42] thomas-mangin commented on #297
Very pleased to hear it. Thank you for spotting, and reporting this issue.

[2015-07-02 08:42] #297 closed

[2015-07-06 16:12] stroboscope opened #298 "Multiple IPv6 MPREACH attributes in one UPDATE can not be decoded"
Hello

Can you explain - this is a problem with configuration or incorrect exabgp behavior?

There are 2 routes in config.

        static {
                 route a:b:c:22::a1/128 next-hop a:b:c:20::11;
                 route a:b:c:22::a2/128 next-hop a:b:c:21::11;
        }

Got this reply from neighbor (cisco) on exabgp update:
UPDATE Message Error (3), subcode Malformed Attribute List (1)

exa

[2015-07-08 08:36] thomas-mangin commented on #280
implemented on master

[2015-07-08 08:44] thomas-mangin commented on #298
Sorry for the slow answer, I just only noticed your issue.

Recent master do turn-on group update ( reducing the number of UPDATE message generated ) by default. In your example ExaBGP generate an update with two MPREACH attribute ( the place IPv6 routes are stored into ). It would seems that this is what is causing Cisco to be un-happy.

Two things:
 - what I am doing is illegal as not allowed in

[2015-07-08 09:04] hide commented on #298
according to RFC4271 (section 6.3), do not set multiple MP-REACH NLRIs in the UPDATE message.

see also error handling draft (https://tools.ietf.org/html/draft-ietf-idr-error-handling-19).

[2015-07-08 09:07] thomas-mangin commented on #298
@hide Thank you very much for pointing me to my mistake .. I will update the code to only group IPv4.

[2015-07-08 09:46] stroboscope commented on #298
Thank you !

[2015-07-08 10:14] thomas-mangin commented on #298
This patch should correct this behaviour ..
https://github.com/Exa-Networks/exabgp/commit/a85245d30347f30f7d8e4fb64ae432f70e3dbf6e

Sigh, this does create lots of CPU waste as the Attributes much be decoded again and again for each NLRI !  But thinking about it, ExaBGP itself probably does not accept such update as the MPR[U]NLRI classes used to decode it are also expecting a single attribute pres

[2015-07-08 10:14] #298 closed

[2015-07-10 19:41] thomas-mangin commented on #292
Before I can implement this feature, I will need access to a router / vm which implement the feature ( so I can check the capability is sent correctly and make sure to use the right value for the LLGR_STALE  / NO_LLGR Community ).

[2015-07-10 20:13] pavel-odintsov commented on #292
Hello!

Thanks for interest! Will try to find test laboratory.

On Friday, July 10, 2015, Thomas Mangin <notifications@github.com> wrote:

--
Sincerely yours, Pavel Odintsov

[2015-07-12 21:30] hengchai opened #301 "Flowspec TCP Flags bit-match and exact-match"
Juniper flowspec parses "tcp-flags syn" as bit-match and "tcp-flags =syn" as an exact-match. Exabgp only does exact match even without = (equals). Please consider allowing for bit matches?

[edit] set routing-options flow route test match tcp-flags syn
\# show route table inetflow.0
\*,\*,tcp-flag:02/term:1 <== Matches any packet with SYN flag regardless of any other flags

[edit] set routing-opti

[2015-07-13 10:56] thomas-mangin commented on #301
This was already requested (and forgotten about) on the mailing list
https://groups.google.com/forum/#!searchin/exabgp-users/colon/exabgp-users/nCJPndfK3EY/mxygwg5kMqAJ

Thank you @hengchai to have pointed me to it.

[2015-07-13 10:56] thomas-mangin commented on #301
"Type 9 - TCP flags"

         Bitmask values can be encoded as a 1- or 2-byte bitmask.  When
         a single byte is specified, it matches byte 13 of the TCP
         header [RFC0793], which contains bits 8 though 15 of the 4th
         32-bit word.  When a 2-byte encoding is used, it matches bytes
         12 and 13 of the TCP header with the data offset field having a
         "don't care" va

[2015-07-13 15:34] pavel-odintsov opened #302 "Problems with exabgp.api.file"
Hello, Thomas!

I could use Git master again :) Thanks for it!

I'm trying to check this feature: https://plus.google.com/+ThomasMangin/posts/AD8L7vBikWS

But haven't any success with it.

[code]

But there are no any socket files in /tmp:

[code]

And no open handles at all:

[code]

Example configuration:

[code]

[2015-07-13 16:45] thomas-mangin commented on #302
This feature is not completed and now broken on master. I intend to have it fixed for the release.

[2015-07-14 02:00] ruansteve opened #303 "exabgp startup failed"
Hi thomas,

I am new to exabgp, I download the exabgp to /root/, then try to run exabgp to do some verification.
[code]

[code]

How can I call exabgp with a simple config file?
Thanks.

[2015-07-14 07:19] pavel-odintsov commented on #292
Hello, Tom!

What about this https://community.gns3.com/thread/3747 ?

[2015-07-14 08:27] thomas-mangin commented on #303
Hello @ruansteve,

You must have downloaded a version of ExaBGP which is broken. The code in master saw lots of change recently, an will again soon, so I would advise you to use the 3.4 branch if you are going to do anything in production.

[code]

alternatively, if you feel courageous, update the code and it should work

[code]

[2015-07-14 08:27] #303 closed

[2015-07-14 08:31] thomas-mangin commented on #292
Thank you for the information. I have no GNS3 lab but I will look when I can at what Cisco did.

[2015-07-14 11:24] pavel-odintsov opened #304 "Implement timeout for announces"
Hello, Thomas!

Detailed explanation about this feature I have provided here: https://github.com/FastVPSEestiOu/fastnetmon/issues/326

In few words, I need ability to withdraw routes after some time, it's important in case when my toolkit crashed or switched off incorrectly.

Actually, we could try another approach mentioned in your Google Plus post when ExaBGP could check case "announcer applicat

[2015-07-14 11:58] thomas-mangin commented on #304
I understand the use case. Please give me a few days to get round to working on it.

[2015-07-14 12:01] pavel-odintsov commented on #304
Thanks!

[2015-07-14 13:09] thepacketgeek commented on #292
I've tried using FlowSpec on the XRv and you can only configure the client side. I received an error trying to commit the following commands:

[code]

[2015-07-14 13:27] thomas-mangin commented on #292
Hi @thepacketgeek.

Is this message released to this thread ? which is about the implementation of a new draft.

Or is it a generic flow spec issue with XR ( in that case I would rather you opened on a new issue or asked on gitter.

If this is unrelated, I will delete both yours and my comment - otherwise only mine and your reply.

[2015-07-14 13:55] thepacketgeek commented on #292
Yes, I was replying to the thread that Pavel posted on the GNS3 forum about the XRv 5.2.2 release. Just stating that it wouldn't work to test FlowSpec because the feature is not supported on the XRv.

[2015-07-15 00:43] xiaopeng163 commented on #292
XRv can't install flowspec rules in local interface, because that need hardware support, but XRv just is a software router.

[2015-07-15 03:24] ruansteve commented on #303
Thanks thomas.
I am trying use verify BGP EVPN, I check the log, it's ported from version 4.0.0.0.
so version 3.4 does not include it.

[2015-07-15 11:50] thomas-mangin commented on #303
EVPN support is not complete on ExaBGP - it is planned for 4.0.0 but at the moment it is not finished. bagpipe-bgp is what you need for EVPN support ATM.

[2015-07-15 17:03] plajjan commented on #38
You could potentially derive router-id from your own IP address if you really want to minimise the configuration as much as possible ;)

[2015-07-15 17:16] thomas-mangin commented on #38
@plajjan yes, the example is not good. And indeed it can be take from TCP.

[2015-07-17 12:17] mmarchand opened #306 "Flowspec redirect to IP not working with XR 5.3.1 ?"
Hi,

I am trying to setup a redirect-to-ip rule from exabgp (3.4.11) to IOS XR 5.3.1 but XR does not seem to receive the appropriate extended communities and so does not redirect the traffic.

ExaBGP log says :
[code]
but XR sees:
[code]
if I set the same rule locally on XR (with class-map/policy-map), I get almost the same output but with these communities added (and with this it actually redirec

[2015-07-17 12:28] mmarchand commented on #306
also replacing redirect/redirect-to-nexthop with a discard action, I correctly get the communities in XR (and traffic is discarded) :
      Extended community: FLOWSPEC Traffic-rate:0,0

[2015-07-17 12:33] thomas-mangin commented on #306
Hi @mmarchand

Sorry for this, Could you please send me a raw BGP dump ( using the -d option of exabgp ) of what Juniper generates for this flow so I can :
 - check my parser to make sure I understand the encoding / decoding
 - can check how my update generation differs

It would help me a lot fixing this issue. Thanks.

[2015-07-17 12:52] mmarchand commented on #306
first time playing with -d , tell me if it's wrong/not enough ;)
this should contain a new announce then a withdrawal of a redirect-to-ip from XR :

Fri, 17 Jul 2015 14:47:40 | DEBUG    | 64356  | wire          | session 1 outgoing 5.6.7.8 / 1.2.3.4     RECEIVED  (47) FFFF FFFF FFFF FFFF FFFF FFFF FFFF FFFF 0044 02
Fri, 17 Jul 2015 14:47:40 | DEBUG    | 64356  | wire          | session 1 outgoing

[2015-07-17 13:05] thomas-mangin commented on #306
[code]

[2015-07-17 13:06] thomas-mangin commented on #306
I have the following:
[code]
I will check it it well should be 8000 and not 8008

[2015-07-17 13:15] thomas-mangin commented on #306
Ok - this would be better to add a community for next-hop and I have 5 line patch for that, so I will change the format in 4.0.0 but in your case please try:

"neighbor %s announce flow route { match { destination %s; } then { redirect-to-nexthop %s; } }\n"

redirect is for RFC5575 redirection and you want draft-simpson-idr-flowspec-redirect-02

[2015-07-17 13:19] thomas-mangin commented on #306
sorry, it may need to be:
[code]

[2015-07-17 13:20] thomas-mangin commented on #306
https://github.com/Exa-Networks/exabgp/blob/3.4/lib/exabgp/configuration/ancient.py#L200

[2015-07-17 13:24] mmarchand commented on #306
that would be :
"neighbor %s announce flow route { next-hop e.f.g.h; match { destination %s; } then { redirect-to-nexthop; } }\n"
but I already tried this syntax and this does not set the extended communities either :(

[2015-07-17 13:32] thomas-mangin commented on #306
That the part where I run away ... or start looking into why !

[2015-07-17 13:33] mmarchand commented on #306
the decoder says exabgp sends for this flow :
"extended-community": [ 9223372036854775808 ]
to compare to XR's "extended-community": [ 576460752303423488 ] probably (not sure how to split the various parts of it :)

[2015-07-17 13:55] thomas-mangin commented on #306
I am very confused, your packet :
[code]

Has the following extended community
[code]
with the content
[code]
and not
[code]
as I would have expected. I need to understand where the 08 comes from.

[2015-07-17 13:58] thomas-mangin commented on #306
Ok, I need to take some time read the document
http://www.iana.org/assignments/bgp-extended-communities/bgp-extended-communities.xhtml
vs
https://tools.ietf.org/html/draft-simpson-idr-flowspec-redirect-02#section-5

[2015-07-17 14:49] nfevrier commented on #306
Hey Thomas, Mickael,
FYI, the XR implementation is based on:
https://www.ietf.org/id/draft-ietf-idr-flowspec-redirect-rt-bis-04.txt
So, the expected extended community for redirect-to-IPv4 is 0x8108.
Cheers,
Nicolas.

[2015-07-17 15:14] thomas-mangin commented on #306
@nfevrier this is surprising as it is not what the XR is sending back to ExaBGP.
[code]

I can change the code to make it work but then I am breaking some other tests. So this is not a 5 minutes fix as I hoped  (ok now counting in hours).

Taking the 3.4 stable tree branch and applying this patch may work (it may break other things you may not care about tho).

[code]

This should generate what XR

[2015-07-17 15:16] nfevrier commented on #306
Gimme a couple of days to confirm with engineering and I'll get back to you.
Thanks,
N.

[2015-07-17 15:18] mmarchand commented on #306
just tested the patch,
you also need to change the 0x80 to 0x08 just below in the code and then it does indeed work ;)

[2015-07-17 15:21] mmarchand commented on #306
sorry in branch 3.4 "master" it would be okay indeed, it's been refactored
3.4.11 needs the second tweak

[2015-07-17 15:24] thomas-mangin commented on #306
@nfevrier thank you, I am surprised by the output, it looks wrong to me
Reading http://www.iana.org/assignments/bgp-extended-communities/bgp-extended-communities.xhtml#transitive
I would have understood  `0x8008 0x00000000` but not `0x0800 0x000000000` as we see

[2015-07-17 15:24] thomas-mangin commented on #306
@mmarchand I was due to release 3.4.12 which has other fixes, so I will do this week-end.

[2015-07-17 15:26] thomas-mangin commented on #306
@mmarchand this is even weirder .. so the code needs `0x0808 0x000000` as community ?

[2015-07-17 15:31] thomas-mangin commented on #306
https://www.ietf.org/id/draft-ietf-idr-flowspec-redirect-rt-bis-04.txt says :
[code]
So I could accept having an issue with encoding and needing 0x8108 if https://tools.ietf.org/html/draft-ietf-idr-flowspec-redirect-ip is not what I should have used.

[2015-07-17 15:34] mmarchand commented on #306
just to be clear here is the function updated:

[code]

without the second 0x80->0x08 change , XR sees :
[code]

and with the second change :
[code]

[2015-07-17 15:54] thomas-mangin commented on #306
@mmarchand Thank you for the clarification. @tmmorin refactored this code to prevent this duplication already, so I missed it when writing the patch :p

[2015-07-17 16:07] thomas-mangin commented on #306
@tmmorin @mmarchand @nfevrier

Having quickly looked at the difference between the drafts, the -rt way of encoding does not require to use the next-hop field. Having to use the next hop filed is a pain to implement but does not limit redirection to IPv4 addresses ( unless a way to encode the IPv6 using multiple community is proposed but that would be ugly )

My issue is that it seems both draft ar

[2015-07-21 08:16] nfevrier commented on #306
Hi Thomas, Michael,
after talking to engineering, I realise I'm mixing up things and created a confusion.
0x8108 is not for redirect-to-IP but it's a redirect-to-RT with the RT expressed in the IPv4 form:
In our CLI format, it's the third of this list:

So it's not https://www.ietf.org/id/draft-ietf-idr-flowspec-redirect-rt-bis-04.txt that should be used here.
0x08 is indeed currently used in our

[2015-07-21 23:34] nfevrier commented on #306
And to conclude on this point, IOS XR implementation of the redirect-to-IP (and very much likely IOS XE since it reuses a lot of XR code for BGP FS) is based on this draft:
https://tools.ietf.org/html/draft-simpson-idr-flowspec-redirect-02

    0                   1                   2                   3
    0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1
    +-+-+-+-+-+-+-+-+-+-+

[2015-07-22 03:36] xiaopeng163 commented on #306
The ext-community code for redirect to RT is `0x8008` and redirect to nexthop is `0x8000`.

I think Cisco implemented both. Like redirect to nexthop

[code]

[2015-07-22 07:42] nfevrier commented on #306
@xiaopeng163
Hi Peng Xiao,
Here is the list of the extcomm Cisco implemented for flowspec (IOS XR images from 520 to 531)
Traffic rate: 0x8006
Traffic action: 0x8007
Redirect RT ASN2B: 0x8008
Redirect RT V4 addr: 0x8108
Redirect RT ASN4B: 0x8208
Traffic Mark: 0x8009
Redirect IP NH: 0x0800 <-- Note: not 0x8000
Kind regards,
N.

[2015-07-22 07:47] xiaopeng163 commented on #306
@nfevrier thanks for that

[2015-07-22 08:02] thomas-mangin commented on #306
@xiaopeng163 Do you know why the redirect to NH is x0800 and not x8000 ..

[2015-07-22 11:05] #280 closed

[2015-07-24 20:58] realpdm commented on #90
This would be extremely useful I believe. The current way of interacting with the API is less than ideal for me being able to debug my control program. If my program has an exception and dies for some reason there is also no mechanism for it to restart automatically.

A model where the control program run separate from exabgp and can interact with it with a connectable API or a CLI  would work muc

[2015-07-27 14:18] he32 opened #310 "PYTONPATH setting in bin/ scripts sketchy"
Hi,

the new scripts (in 3.4.12) in the bin/ directory, healthcheck, exabgpcli and exanetlink
all contain this line:

export PYTHONPATH="$path"/lib:/usr/share/exabgp/lib/3.4.4

This seems ... non-portable (exabgp's bits are not necessarily installed
in that location), uses the wrong version number (this is 3.4.12), and it's
not clear to me what the last part is attempting to do.
Comments?

Regards

[2015-07-29 15:05] thomas-mangin commented on #310
Thank you for raising this, now removed - it is not required anymore
https://github.com/Exa-Networks/exabgp/commit/d189aa357ff955ac02fc790d6f46cd45629a834e

[2015-07-29 15:05] #310 closed

[2015-07-29 15:07] thomas-mangin commented on #310
For the clarity of doubt, this is not installed and only used when running from the tarball.

[2015-08-03 09:28] ton31337 commented on #302
@thomas-mangin any news about this? Is there any other way to query without CLI connection status (Connected, OpenSent, OpenConfirm, Active)?

[2015-08-03 09:56] thomas-mangin commented on #302
@ton31337 This is one of the next things coming up ( the only reason it is not yet being worked on is that I am on summer holidays and that the weather is good :p ) The state machine currently in master ( first attempt ) is wrong but I know how to fix it.

[2015-08-03 09:58] ton31337 commented on #302
cheers and waiting for fix \o/ ;-)

[2015-08-03 09:59] pavel-odintsov commented on #302
Will be fine to get this option :) Because it's very hard do finish good 2 way integration with ExaBGP without internal API :(

[2015-08-03 10:17] thomas-mangin commented on #302
@pavel-odintsov - the way you used to do should still work. So what features are you missing ?

[2015-08-03 10:22] pavel-odintsov commented on #302
I need some way to query ExaBGP about prefixes and flow spec announces who is being announced now. Because sometimes my toolkit hangs or customer want to restart it and I need learn routes which was announced before.

is there any way to do it now?

[2015-08-03 11:23] ton31337 commented on #302
@thomas-mangin I'm not sure if it's somehow related, but:
[code]
If running like: `env exabgp.api.file=/etc/exabgp/exabgp.cmd ./exabgp /etc/exabgp/exabgp.conf`, no api file is created as this issue states. Will this be solved, right?

[2015-08-03 12:05] thomas-mangin commented on #302
Yes, it will be solved when I get to work on it.

[2015-08-03 12:06] ton31337 commented on #302
Great :)

[2015-08-03 12:07] thomas-mangin commented on #302
@pavel-odintsov - you can use the commands "show routes" and "show routes extensive"

[2015-08-03 12:09] thomas-mangin commented on #302
@pavel-odintsov : here are all the commands currently supported / known

# grep "@Text" ./lib/exabgp/reactor/api/command/text.py
@Text('shutdown')
@Text('reload')
@Text('restart')
@Text('version')
@Text('teardown')
@Text('show neighbor')
@Text('show neighbors')
@Text('show routes')
@Text('show routes extensive')
@Text('announce watchdog')
@Text('withdraw watchdog')
@Text('flush route')
@Text('anno

[2015-08-03 12:13] pavel-odintsov commented on #302
Looks like "show routes" is what I'm looking for :)

[2015-08-06 20:53] irom77 opened #311 "invalid keyword "multihop" ?"
How do i setup multihop in exabgp to peer with cisco ?

cisco:
router bgp ASN2
neighbor 10.73.21.200 ebgp-multihop 255

exabgp:
Thu, 06 Aug 2015 16:51:55 | ERROR    | 27849  | configuration | syntax error in section group
Thu, 06 Aug 2015 16:51:55 | ERROR    | 27849  | configuration | line 4: multihop 10 ;
Thu, 06 Aug 2015 16:51:55 | ERROR    | 27849  | configuration |
Thu, 06 Aug 2015 16:51:55 |

[2015-08-07 07:46] thomas-mangin commented on #311
ExaBGP does not enforce any hop restrictions.

You can set a TCP TTL with the ttl option under the neighbor but not multi hop.

[2015-08-07 16:14] pavel-odintsov commented on #292
@xiaopeng163 it's nice option! Do you have any XRv licenses for open source developers? I would like to deploy it but can't find where I could get it.

[2015-08-07 16:36] pavel-odintsov commented on #302
We need following options from ExaBGP side:
- Announce  some BGP Flow Spec rule
- Withdrawal some BGP Flow Spec rule
- Get full list of announced rules

So we need somehthing more flexible than "pipe" integration because we read and write information from/to ExaBGP.

I have used this code:
[code]

But I have not ideas how to implement approach where I could read and write data to/from ExaBGP in sa

[2015-08-07 16:36] pavel-odintsov commented on #302
Sorry for bothering you on vacations, it's not very important question :)

[2015-08-08 09:07] pyke369 commented on #302
2015-08-07 19:36 GMT+03:00 Pavel Odintsov <notifications@github.com>:

You can have a look here:
https://github.com/pyke369/exabgp-helpers/blob/master/exasrv/exasrv.py#L221-L226
for an example of an helper program that read announces from exabgp (to
program a Unix system routing table locally)
and also send announces to exabgp (depending on an external service
availability status).

--
Pierre-Yves

[2015-08-09 16:10] #311 closed

[2015-08-09 16:16] thomas-mangin commented on #302
@pavel-odintsov as @pyke369 indicated what you want to do is already possible. There is also some examples in the qa folder. data can be read on stdin and written on stdout. You should make sure your read are not blocking, or you can use two threads .. up to you, my code using the async way.

[2015-08-09 22:36] Millnert opened #312 "healthcheck.py when run as process unable to add loopback IP"
https://github.com/Exa-Networks/exabgp/blob/master/lib/exabgp/application/healthcheck.py#L296

Running rpm of 3.4.12 tag on RHEL7; SELinux not the culprit.

My process line:

      process testservice1 {
        run /usr/bin/python -m exabgp healthcheck --cmd "test -f /tmp/testservice1" --ip 10.19.25.253;
      }

When executed from shell, it works as expected and it manages to add the IP.

But wh

[2015-08-09 22:45] Millnert commented on #312
The error is:

    RTNETLINK answers: Operation not permitted

SELinux in permissive mode. Looking into it further.

[2015-08-10 05:13] xiaopeng163 commented on #292
@pavel-odintsov following the link https://community.gns3.com/thread/3747  i can download the **iosxvr-k9-demo-5.2.2.ova**, but i haven't used it. Because i usually used the Cisco internal image within cisco. So i don't know how to use it for outside people.

[2015-08-10 09:50] Millnert commented on #312
OK, exabgp runs as a regular user, which explains why it's not allowed to add an IP address.

[2015-08-10 18:17] thomas-mangin commented on #312
@Millnert - sorry for the time I will take to handle this issue - but I am trying to not connect too often during this last week of holidays.

@vincentbernat any idea on how to best handle root permission / capabilities ? Running ExaBGP as root is not ideal if it is only to give the sub-process access to NETLINK. Should we change healthcheck to be safe if chmod'ed +t and have this as the best opti

[2015-08-10 18:30] Millnert commented on #312
@thomas-mangin np, I was just gathering info and storing it here.
In some Linux distros you can give away net capabilities as well, but I'm not sure what is worse or better.

For our deployment I think I'm deferring IP address management outside any specific application to our common host IP address management system, because I want to be certain it has happened before an application's daemons sta

[2015-08-10 18:48] thomas-mangin commented on #312
@Millnert the way my business implements it is to have the ip address setup as a /32 on the loopback, configure sysctl to not have the mac address broadcasted on any ethX and ip source verification is disabled.

Full configuration available here :
http://thomas.mangin.com/data/pdf/SYSADMIN%204%20-%20Mangin%20-%20BGP%20for%20sysadmin.pdf

[2015-08-10 22:30] vincentbernat commented on #312
I suppose you mean `+s`. That's not possible for a Python script.

Either set your loopback addresses outside the healthcheck process or run the healthcheck process as root (with sudo for example). We could drop privileges if needed to avoid staying root.

[2015-08-10 22:53] vincentbernat commented on #312
I did push a commit for dropping user privileges.

[2015-08-13 15:36] dfox-spb opened #313 "ExtCommunity flowspec format"
Little question: How to encode extended-community in json output (like "extended-community": [ 9225150068611567616 ] }) to a human view ( like "rate-limit 5000" ) or a may be to a source hex ( 8006511C47435000 ) ?

[2015-08-14 07:57] dfox-spb opened #314 "Crashing exabgp 3.4.12 when received flowspec rule with tcp-flag (syn/ack/fin etc)"
I'm testing exabgp as FlowSpec controller.

FlowSpec are generated on Juniper. Source rule (OK with exabgp)
[code]

Exabgp is crashing when i'm trying to add something like "set routing-options flow route t2 match tcp-flags syn"

( crashing session with this one neighbor, flaps up/down recurring, other sessions working good - 2nd flowspec generator cisco asr9k)

crash info:
[code]

[2015-08-14 08:12] qqTYXn7 opened #315 "Valid commands being read as invalid"
I'm performing experiments using exabgp that require me to run several instances of exabgp in parallel, each announcing a large amount of routes (over 100,000 each, some up to 540,000).
There's a bug that has been causing me a large amount of trouble, and that is that sometimes exabgp seems to misread commands, causing it to not announce some of the routes.
When it occurs I get warning messages su

[2015-08-14 09:08] thomas-mangin commented on #315
Hi @qqTYXn7 Could you please run exabgp with '-d' on the command line and provide me the log around the area you are seeing the problem (at least 10 lines up and down).

[2015-08-14 09:12] thomas-mangin commented on #313
This is not as simple as it first seems as the signification of the community is very AFI/SAFI dependant : ( the same community for an IPv6 unicast route would hold no particular meaning) and this information is (currently) not available when parsing an UPDATE.

I will look into what is required to make the rendering more human friendly.

[2015-08-14 09:14] thomas-mangin commented on #314
Hello @dfox-spb if you run exabgp with the '-d' option, it should print the content of the update which is causing exabgp to crash. with this data, I will be able to replicate the issue and fix it.

[2015-08-14 09:21] thomas-mangin commented on #312
@vincentbernat, yes I meant +s and it is true that you need a C wrapper to do something like it - forgot.

@Millnert, it seems that the only way is to tempt the devil with something like that and that we can not really do anything in the code to help, so I will close the issue. Feel free to re-open if required.

[2015-08-14 09:21] #312 closed

[2015-08-14 09:26] dfox-spb commented on #314
ok) part of debug log

Fri, 14 Aug 2015 11:45:42 | DEBUG    | 8356   | wire          | session 1 outgoing 185.5.162.179 / 172.16.111.1     RECEIVED  (117) 0000 002B 4001 0100 4002 0602 0100 00FD E7C0 1008 8006 0000 0000 0000 900E 000F 0001 8500 0009 0120 0B0B 0B0B 0381 06
Fri, 14 Aug 2015 11:45:42 | INFO     | 8356   | message       | Peer    172.16.111.1 ASN 64999   << UPDATE
Fri, 14 Aug 2015 11:

[2015-08-14 09:38] dfox-spb commented on #313
Thank you!
may be possible add into json original hex? In addition to 'extended-community'?

in debug mode I`m see that parsing working in exabgp
Fri, 14 Aug 2015 11:55:35 | INFO     | 8377   | parser        | parsing flag c0 type 10 (extended-community) len 08 payload  (19) 8006 0000 0000 0000

Fri, 14 Aug 2015 11:55:35 | INFO     | 8377   | routes        | peer 172.16.111.1 ASN 64999   << UPDATE

[2015-08-14 09:57] thomas-mangin commented on #314
Thank you - I am travelling today but will look asap.

[2015-08-14 10:06] qqTYXn7 commented on #315
Here:
http://pastebin.com/NVHxcUTg

[2015-08-14 10:28] thomas-mangin commented on #313
I believe I have done it and undone it, but I can not remember why. It is possible that the code in master now displays hex as I allowed non-backwards compatible chance as the next major release will be 4.0.0

[2015-08-14 10:29] thomas-mangin commented on #313
I believe I have done it and undone it, but I can not remember why. It is possible that the code in master now displays hex as I allowed non-backwards compatible change as the next major release will be 4.0.0

[2015-08-14 10:40] thomas-mangin commented on #315
'''
Fri, 14 Aug 2015 09:50:28 | INFO     | 55487  | processes     | Command from process add-routes : announce route 103.12.192.0/24 as-path [ 3356 9498 58659 ] next-hop self
Fri, 14 Aug 2015 09:50:28 | INFO     | 55487  | reactor       | Route added to neighbor 198.180.152.3 local-ip 198.180.152.128 local-as 3356 peer-as 65002 router-id 198.180.152.128 family-allowed in-open : 0.0.0.0/0 next-hop

[2015-08-14 10:50] thomas-mangin commented on #315
Could you please perform a test for me and not use cat but force the file to be displayed line by line with a sync between each line print as it is doomed to be a buffering issue. I would guess that cat send more than our 4k read buffer and that it causes some line truncation/garbage.

I should still look at why this append but it should be trivial to avoid with a 5 line script replacing cat.

[2015-08-14 10:55] qqTYXn7 commented on #315
I don't quite understand what you mean.
Could you please rephrase that?
You want me to use a different program than cat?

[2015-08-14 12:01] thomas-mangin commented on #315
I am currently travelling - so no easy way to help you but yes something like
[code]

[2015-08-14 13:34] mrekai opened #316 "'IPSelf' object has no attribute 'ton'"
Injecting routes from a health check script had worked fine on 3.4.8, but now fail.  Announcements are of the form "announce route ${self_anycast_net} next-hop self" where ${self_anycast_net} is an IPv6 /128 address.  BGP is IPv6 only.

ExaBGP version : 3.9.0
Python version : 2.7.10 (default, Aug 12 2015, 08:03:41)  [GCC 4.2.1 Compatible FreeBSD Clang 3.4.1 (tags/RELEASE_34/dot1-final 208032)]
Sys

[2015-08-14 20:21] thomas-mangin commented on #316
If you are not running the 3.4 stable branch or a release, could you please confirm that this bug is still present on the latest master .. I believe I had fixed it already part of the normal development process.

[2015-08-14 20:55] mrekai commented on #316
It is not present in 3.4.8 (from FreeBSD ports).  It is present in 3.9.0 as of today when downloading master from GitHub.

For the time being, I'm fine remaining on 3.4.8, though a few quirks there (unrelated to this, possibly due to my lack of wisdom) led to trying some later versions.

[2015-08-14 21:43] thomas-mangin commented on #316
Thank you - I will fix asap .. please let me enjoy my last two days of holidays ..

[2015-08-15 07:05] qqTYXn7 commented on #315
I used a short perl script instead of cat:
[code]
The problem still happened.

[2015-08-15 12:28] thomas-mangin commented on #315
This code still suffers from buffering issue. in the shell script, the data will have been flushed after each echo (or so do I naively believe), this is not the case in perl : http://perl.plover.com/FAQs/Buffering.html

in python you could use:
[code]

[2015-08-15 12:31] thomas-mangin commented on #315
To be exact, the perl code would not change how buffering work - it has no issue, it does not change how things would be :wink:

[2015-08-16 00:59] qqTYXn7 commented on #315
I replaced cat with your python script and that seemed to have fixed it.
Thanks for your help.

[2015-08-16 10:49] thomas-mangin commented on #315
This is good news. Now that I am sure of what the issue is, I will look into how/if I can make 'cat' work.

[2015-08-16 12:10] vincentbernat commented on #315
I think you will need to allocate a pty to prevent libc doing buffering. Some programs may have their own flags to avoid that (`python -u` for example), some don't.

[2015-08-16 12:11] thomas-mangin commented on #315
@vincentbernat ... I do not mind if there is some buffering, ExaBGP should be able to correctly handle truncation of data due to reaching the max size of the read() buffer. But if you have a good pointer for me to read on this I would not mind it :smile:

[2015-08-16 12:16] vincentbernat commented on #315
I didn't read the whole bug report, I thought issue was about buffering. Using a PTY to circumvent that is quite easy. Use `pty.openpty()`. Provide the first file descriptor to the subprocess and you can read unbuffered data from the second file descriptor. That's not exactly the same as doing flush after each line since you may read character per character. So, definitely not a solution if the pr

[2015-08-16 12:22] vincentbernat commented on #315
However, note that by default, with libc, you'll get line buffering when connected to a PTY.

[2015-08-17 11:51] mrekai commented on #316
No worries.  Enjoy and thanks.

[2015-08-17 13:02] thomas-mangin commented on #315
After fixing the fix. hopefully cat will be our friend again ..

[2015-08-17 13:02] #315 closed

[2015-08-17 13:09] #316 closed

[2015-08-17 13:10] thomas-mangin commented on #316
Hello @mrekai can you please try again, I may have fixed the issue ( I am in a meeting so I did not test the fix yet .. )

[2015-08-17 13:24] thomas-mangin commented on #306
AFAICR this is now fully fixed and I can now close the issue.

[2015-08-17 13:24] #306 closed

[2015-08-17 13:53] thomas-mangin commented on #314
Hello @dfox-spb - can you please let me know if this patch fixes the issue for you .. it should :smile:

[2015-08-17 16:23] thomas-mangin commented on #301
I believe the fix for #314 also fixed this issue.

[2015-08-17 16:46] hengchai commented on #301
Yep confirmed the patch fixed this and now "syn" is a bit match, "=syn" is exact match.

[2015-08-17 17:00] thomas-mangin commented on #301
:+1:

[2015-08-17 17:00] #301 closed

[2015-08-17 17:01] thomas-mangin commented on #314
As #301 was closed following the patch, I will also close this issue.

[2015-08-17 17:01] #314 closed

[2015-08-18 06:43] dfox-spb commented on #314
Hi, Thomas!
I'm not really a familiar with git and didn`t understand how to use the patch. Can you tell me how to apply the patch to the 3.4.12 release?

I tried using the master branch, but I get the version 3.9.0 which is not parsing my configuration.

[2015-08-18 08:11] dfox-spb commented on #314
I`m check with latest commit from you (@thomas-mangin 	hopefully addressing #314)
(i`m use git clone master branch)

tcp flags seems to working good now, but new crashing with flag fragments (is-fragment):

flowspec rule that crash exabgp:
" set routing-options flow route fr match destination 99.99.99.99/32
set routing-options flow route fr match fragment is-fragment
set routing-options flow route

[2015-08-18 09:15] thomas-mangin commented on #314
Thank you, fragment was typed as numeric when it is binary. This has been fixed .. Hopefully this was the last mistake.

[2015-08-18 13:21] dfox-spb commented on #314
Yes, now fragment also working good.
I`m continue tests and i wrote you if I found any bugs :)

[2015-08-18 13:36] thomas-mangin commented on #314
Good - thank you for letting me know.

[2015-08-18 14:48] dfox-spb opened #317 "Parsing grouped bgp update"
When exabgp receive grouped bgp update (2+ prefixes in one update message)  it is parsed as one prefix (in my case it is flowspec rules)

i'm using api process to export received updates
[code]

for example:
juniper(172.16.111.1) is announcing 8 flowspec rules (and grouped them by update messages)
in out i'm seeing only 2 rules.

[code]

in log i'm seeing
[code]

and this is on console output

[co

[2015-08-18 15:13] dfox-spb commented on #317
+ debug +tcpdump

debug
Tue, 18 Aug 2015 18:10:26 | DEBUG    | 21457  | timers        | peer 172.16.111.1 ASN 64999   Receive Timer 179 second(s) left
Tue, 18 Aug 2015 18:10:26 | DEBUG    | 21457  | timers        | peer 172.16.111.1 ASN 64999   Receive Timer 179 second(s) left
Tue, 18 Aug 2015 18:10:26 | DEBUG    | 21457  | wire          | session 1 outgoing 185.5.162.179 / 172.16.111.1     RECEIV

[2015-08-19 09:33] dfox-spb commented on #317
Until this bug is only in the case ipv4 flowspec AF updates.
When I`m receive many simple ipv4 AF prefixes in one update  they parsed good.

one more question:
I am want use only "ipv4 flow"/"ipv6 flow" AF  and configuring neighbors as
family {
 ipv4 flow;
}
but if neighbor sent me ipv4 updates (FullView for example) it is parsed and sent to my script. Can I`m limit this and receive only configure

[2015-08-19 12:19] thomas-mangin commented on #317
Can you please re-open a second issue for this and I will delete your comment above and this one.

[2015-08-19 12:41] dfox-spb opened #318 "Filter updates by address-family"
I want to only use "ipv4 flow"/"ipv6 flow" AF and configuring neighbors as

[code]

but if neighbor sent me ipv4 updates (FullView for example) it is parsed and sent to my script. Can I`m limit this and receive only configured address family?

from configured neighbor I`m see that NLRI ipv4 unicast support advertised by exabgp

[code]

and one more little question:
is it possible to configure max-

[2015-08-19 12:43] dfox-spb commented on #317
I open new issue from my comment

[2015-08-19 12:43] thomas-mangin commented on #317
Sorry but you will have to speak with Juniper, the packet received are well what I am decoding.
Two updates are received each receiving one flow route.

[2015-08-19 12:45] dfox-spb commented on #317
Hmm... as i see update packet with 1 rule is less than update packet with 4 rules
in 2 update messages 2x4 flow routes

[2015-08-19 12:55] thomas-mangin commented on #317
I need more time to check what it could be .. I will try to come back to you asap.

[2015-08-19 12:57] dfox-spb commented on #317
Hmm... as i see update packet with 1 rule is less than update packet with 4 rules
in 2 update messages was 2x4 flow routes

okey, for example i`m created 1 flowspec rule with rate-limit 333k, 4 flowspec rules with rate-limit 500k, and 9 flowspec rules with discard
Juniper are grouped this in 3 update message (1,4,9) because they have different extcommunity attributes:

on exabgp i`m see only 3 rul

[2015-08-19 13:08] #317 closed

[2015-08-19 13:08] thomas-mangin commented on #317
Hopefully this issue is now fixed. Thank you for reporting it and sorry for missing what it was at first.

[2015-08-19 13:16] dfox-spb commented on #317
Now seems good... all rules parsed correctly
Thanks! ipv6 tests be soon :)

[2015-08-19 14:37] thomas-mangin commented on #317
:+1:

[2015-08-19 22:31] thomas-mangin commented on #275
I believe this is now working.

[2015-08-19 22:50] racompton opened #321 "Getting error "attempting to accept connections, socket not ready" when using md5 and setting exabgp 3.4.12 to listen to a port"
I am trying to get exabgp to listen on port 179 for incoming BGP connections.  I can see python listening on the port:
   rcompton@exabgp:/etc/exabgp$ sudo lsof -i -n | grep bgp
   python2.7 18335     root    4u  IPv4  32272      0t0  TCP *:bgp (LISTEN)
   python2.7 18335     root    5u  IPv4  32408      0t0  TCP 96.34.X.X:48444->154.35.X.X:bgp (SYN_SENT)
but I am getting an error that says "attem

[2015-08-24 14:55] dfox-spb commented on #318
And how about implement max-prefix limit ? It would be a useful feature...

[2015-08-24 15:19] thomas-mangin commented on #318
Hello,

I have a dilema on this issue. Initially I was doing what you said, which is to filter ipv4 unicast routes if the capability was not announced. But I am not sure how the RFC should be read and after user feedback I went back to accept IPv4 unicast (as it can be sent without the MP capability announcement).

I will re-look the RFC and see if this is indeed correct and if I can not make my m

[2015-08-25 05:29] dfox-spb commented on #318
Thanks! Will wait :)

[2015-08-25 05:32] dfox-spb opened #323 "Feature request: configuring max-prefix limit"
It would be very helpful to have a configuration of max-prefix limit. Per neighbor/per AF.

[2015-08-25 08:49] spakka opened #324 "Duplicate messages appear after long runtime"
Hi Thomas,

After leaving ExaBGP (3.4.12) running for a day or so, processing a BGP full table, after a while the backend process starts receiving all messages duplicated (but with differing 'counter' values). This escalates over time - when it first starts, it will send each message twice, but if you leave it running for even longer, eventually it will be sending every message 5 or 6 times (befor

[2015-08-25 09:49] thomas-mangin commented on #324
Colin, I am very very surprised. I will check the code path _today_ and come back to you very soon.

[2015-08-25 10:17] thomas-mangin commented on #324
Hello Colin.

Could you please tell me how many process you are normally running per ExaBGP ?

As I will not be able to reproduce the issue easily:
 - could you run the program with pypy to see if the problem also exists there.
 - could you please have a look the the protocol.py file and on line 166 and 168 add printing to see if this print is also duplicated.

The only place I could see a duplica

[2015-08-25 10:18] thomas-mangin commented on #324
Also this code was rewritten in master but is not backward compatible .. So the fix will be for 3.4 only.

[2015-08-25 10:22] thomas-mangin commented on #324
Could you also please print something on line 236 of processes.py (start of the except block) to see if an exception was raised while writing ( I would expect so and the handling of it to be the issue ).

[2015-08-25 11:55] spakka commented on #324
Hi,

1

We are actually testing it under pypy at the moment, and yes indeed it still exists

Aha, that is a very useful pointer! Now I can replicate it.
Indeed, now that I've looked at that, out of 10 running processes, the only one that was producing duplicates is one where the process died and was respawned. And I just tried deliberately killing one of the other child processes, and letting it r

[2015-08-25 12:35] thomas-mangin commented on #324
Colin, this is most useful and I should be able to reproduce now.

[2015-08-25 12:36] spakka commented on #324
So, a bit of extra debugging (thanks again for the pointer), in the case where I kill the child process:
[code]
So it looks like the kill came in while handling an update message from peer 193.232.226.74, and this also caused the code to reset the connection to the peer.
The messages continue from the other peer (193.0.4.28), and note that our output process sees the KEEPALIVE at "Tue, 25 Aug 2015

[2015-08-25 12:49] spakka commented on #324
[code]

I guess I should also mention that it would be much preferred if a glitch in the process did not reset the peer connection (although I can understand the logic there!)

[2015-08-25 12:52] thomas-mangin commented on #324
Thank you for this Colin - the reset of the peer was not by design ! Sorry for this issue.

[2015-08-25 16:05] thomas-mangin commented on #324
attempted to fix your issue with https://github.com/thomas-mangin/exabgp/commit/487af824c5cda76450692cf3aa62911d5d2496a5
This was not tested and I had limited time today .. but I have a good chance to have been lucky :smile:

[2015-08-25 17:22] spakka commented on #324
Will test it first thing tomorrow - thanks for looking at it so quickly :)

[2015-08-25 17:30] thomas-mangin commented on #324
Do not tell Anand .. I must still fix the syslog issue ... :stuck_out_tongue_winking_eye:

[2015-08-26 07:55] spakka commented on #324
I applied the patch this morning, and it seems to have stopped the peer connection from being reset, but the duplicates still appear :(

[code]
At least it keeps going after the process is respawned.

[2015-08-26 08:24] thomas-mangin commented on #324
ok - Thank you. will look more into it.

[2015-08-26 09:01] thomas-mangin commented on #324
Second time lucky ?
https://github.com/thomas-mangin/exabgp/commit/1ce8137a7842082c5dcc8da0c31dd9a38f4f60a9

[2015-08-26 09:26] spakka commented on #324
Yep, seems to have done the trick :) killed the child process a couple of times, it respawns and no duplicates detected afterwards :) Most awesome! The peer session stays up too.

[2015-08-26 11:06] thomas-mangin commented on #324
I may need to rewrite the  patch as this is not the best way to implement the fix but it was the best way to check if my understanding of the issue was right.

[2015-08-26 11:15] thomas-mangin commented on #324
Nope, this was finally the best way to do it. Thanks.

[2015-08-26 11:15] #324 closed

[2015-08-26 15:49] mrekai opened #325 "Missing state messages."
exabgp 3.4.12 on FreeBSD will sometimes pass JSON state messages via the API, other times it will not.  On one run,a process will receive state messages of type state with neighbor state of up, down, connected.  After a stop and restart of the exabgp process, perhaps of these state messages will be received.  Restart again, maybe they will show up -- varies from run to run, seems completely non-de

[2015-08-26 15:56] thomas-mangin commented on #325
Hello @mrekai - this is very little information to go by with. Could you please provide more information as AFAIK and can see the code behaves correctly. Could you provide what your code looks like ( if required sending me a private mail ) ?

[2015-08-26 16:05] mrekai commented on #325
I first considered the possibility that my code was eating the messages.  I been able to record the absense of state messages with a very simple test case of code:

#!/bin/sh

while read line
do
  echo $line >> /tmp/exarecv
done

Relevant exabgp config:

  process writer {
    encoder json;
    receive {
      parsed;
      update;
      neighbor-changes;
      notification;
    }
    run /usr/loc

[2015-08-27 15:42] switchtower opened #326 "HTTP API 'show routes' capture"
First of all, I've been following ExaBGP for a while now and recently started replacing our 'trigger' routers with ExaBGP for RTBH and internal null routes.  It's worked well so far, but I'm having problems getting the routes from Exa to compare with what is currently in the master DB: there are multiple servers running in each ASN that are kept up-to-date via message queues when people add/remove

[2015-08-28 08:10] thomas-mangin commented on #326
Hello @switchtower,

which version or ExaBGP are you using, older version of ExaBGP would not handle neighbor messages while performing the dump while newer should.

Thomas

[2015-08-28 08:33] thomas-mangin commented on #325
@mrekai it is possible that the message is send IF the session is established by ExaBGP but missed if the session is established by the remote end. I will check this possibility and come back here with more information when I done.

[2015-08-28 10:43] switchtower commented on #326
[code]

[2015-08-28 11:04] thomas-mangin commented on #326
:sob:
Fixing this on 3.4 would most likely be a major work I would rather not start if possible.
Would you mind using the latest master ? AFAICR it is fixed already there.

[2015-08-28 11:16] switchtower commented on #326
I'll update to master and let you know what I find.  Thanks for the quick responses! :)

[2015-08-28 11:33] switchtower commented on #326
updated to 3.9, but it doesn't appear to like the 3.4 configuration file:
[code]
I'll keep digging, again, thanks for your help. :)

[2015-08-28 12:14] mrekai commented on #325
I had considered this possibility, but haven't found a good way to verify who establishes or to force one to do so instead of the other.  If there is a method, please advise and I will try.  Also now running 3.4.12 from Git.

[2015-08-28 12:16] thomas-mangin commented on #326
Please look at the ./qa folder for example of the new format ( the JSON format was also slightly modified, changes are listed in the CHANGELOG file )

[2015-08-28 12:19] thomas-mangin commented on #325
You can use the option "passive" on a neighbor to prevent it to make ongoing connections.

[2015-08-28 12:36] mrekai commented on #325
Hrm, this seems to make the Ciscos I'm using in this case never come up.  They go idle, active, open sent, idle.  Not going to worry about that now.

[2015-08-28 12:53] thomas-mangin commented on #325
Could you please run ExaBGP with the -d option so I can see the reason why it does not work ?

[2015-09-02 19:42] charlescng opened #328 "Questions regarding Graceful Restart"
Our organization has been using ExaBGP in our internal networking peering with our Arista equipment. Generally speaking, things have been working smoothly as expected but we do have issues with Graceful Restart. It’s not working as we are expecting and we like to get more information.

There have been cases where a virtual IP is blackholed or moved to a route with a lower local-preference for a fe

[2015-09-03 08:16] thomas-mangin commented on #328
Hi Charles - thank you for this very good report.

For the absence of the NOTIFICATION message. I suggest that we use a new issue (or private mail) to track this particular question as I will need to understand how the session was tear down to see if this behaviour was expected or not.

For the graceful-restart issue, ExaBGP is behaving 'as designed' (but not as expected from your POV it seems) as

[2015-09-08 11:53] liuheyang opened #329 "can "show routes" command work?"
in my exabgp application, one exabgp connects to 2 vyatta virtual router by IBGP

on the exabgp side, we can "announce/withdraw route" and "show neighbors",

but  for command  "show routes", only the successful is returned, without any routing entry.

how can i get the routing entry?

[2015-09-08 14:00] thomas-mangin commented on #329
will answer as soon as possible.

[2015-09-08 14:21] thomas-mangin commented on #329
From memory, I believe that "show routes" is showing the "ADJ-RIB-OUT" and not IN. So if you did not send any routes to the Vyatta, it will not show anything.

I am due to create a fully featured cli for ExaBGP and it is now overdue. It will happen soon.

[2015-09-08 14:23] charlescng commented on #328
Thanks for the quick answers, Thomas.

I think for our use case, having the option for ExaBGP to not send an EOR and letting the child process handling any route updates is sufficient.

I'll take a stab at implementing something.

Thanks!

[2015-09-08 14:26] thomas-mangin commented on #328
Thank you Charles, if you have any question, feel free to drop me a line on this thread or join our channel on gitter for interactive chat.

[2015-09-09 09:23] liuheyang commented on #329
thanks, i am looking forward to the fully featured CLI.
1) i firstly announce route to vyatta and it is successful, then send the "show routes" command.  announce route is act as "ADJ-RIB-OUT"
2) my topology: Vyatta A ----ebgp----Vyatta B,  exabgp---ibgp---Vyatta A; exabgp---ibgp---Vyatta B
    "neighbor Vyatta A  announce route 100.10.0.0/16 next-hop self community [65001:1]", the route is relaye

[2015-09-09 09:33] xiaopeng163 commented on #329
@thomas-mangin Generally, I think `show routes` means the local BGP RIB table, just like cisco router's `show ip bgp`

[code]

for the RIB out table, like routes send to neighbor 10.75.44.11
[code]

so I suggest we should use different CMD for get RIB IN and RIB OUT.

[2015-09-09 09:46] thomas-mangin commented on #329
@xiaopeng163 ExaBGP does not have a RIB ...

[2015-09-09 09:48] thomas-mangin commented on #329
@liuheyang I will have a look as soon as I can

[2015-09-09 16:11] ton31337 commented on #302
@thomas-mangin any news?

[2015-09-09 16:12] thomas-mangin commented on #302
For the moment it is possible to do the same thing using the helper process, I will fix and re-add the api file soon but I am currently crawling under work and had little time for dev.

[2015-09-10 06:05] liuheyang opened #330 "about exabgp, is there other version implemented by c, c++ or java, and is there detail design documents,thanks"

[2015-09-10 10:49] thomas-mangin commented on #330
https://github.com/Exa-Networks/exabgp/wiki/Other-OSS-BGP-implementations

[2015-09-10 10:49] thomas-mangin commented on #330
The wiki is the only source of information - it is indeed lacking.

[2015-09-10 10:49] #330 closed

[2015-09-15 07:56] victor-sudakov opened #331 "ASN4 issue"
Exabgp 3.4.12 would not talk to a Cisco 3660 route reflector tearing down the BGP session all the time with the following notification: 'can not decode update message of type "2"'. The packet dump of a failed BGP session is available at ftp://ftp.sibptus.ru/pub/vas/badbgp.cap  (the ExaBGP speaker being at 212.73.124.11).

The error message on the router is
Sep 15 11:06:33.473 TSK: %BGP-5-ADJCHANGE

[2015-09-15 07:58] thomas-mangin commented on #331
Current traveling, should be able to look into it later today.

[2015-09-15 08:05] victor-sudakov commented on #331
How do I attach the debug output here ? it says ZIP file type is not supported.

[2015-09-15 08:08] victor-sudakov commented on #331
Oh well, put it to ftp://ftp.sibptus.ru/pub/vas/exabgp.log.zip

[2015-09-15 08:26] thomas-mangin commented on #331
Thank you - downloaded

[2015-09-15 08:27] victor-sudakov commented on #331
Is the problem not around the "type object 'AS4Path' has no attribute '_AS4Path__new_aspaths'" issue? The IOS on the route reflector is a rather old 12.2(46a)

[2015-09-15 08:30] thomas-mangin commented on #331
Can replicate :
[code]

[2015-09-15 08:52] thomas-mangin commented on #331
Turning off ASN4 will hide the bug until I can code a fix.

[2015-09-15 08:53] victor-sudakov commented on #331
Turning off where? This Cisco router does not support them.

[2015-09-15 09:23] thomas-mangin commented on #331
https://github.com/Exa-Networks/exabgp/blob/3.4/qa/conf/no-asn4.conf

[code]

[2015-09-15 09:32] victor-sudakov commented on #331
Put this into neighbor context:

       neighbor 212.73.125.217 {
                description "gateway.sibptus.ru";
                capability {
                        asn4 disable;
                        }
                }

Did not help.

[2015-09-15 09:33] thomas-mangin commented on #331
Can you please send me the log with the new configuration - so I can look into it later on please.

[2015-09-15 09:46] victor-sudakov commented on #331
Put new log to  ftp://ftp.sibptus.ru/pub/vas/exabgp.log2.zip

The error message on the router remained the same:
Sep 15 15:44:33.004 TSK: %BGP-5-ADJCHANGE: neighbor 212.73.124.11 Up
Sep 15 15:44:33.368 TSK: %BGP-3-NOTIFICATION: received from neighbor 212.73.124.11 1/0 (header: unknown subcode) 41 bytes 63616E20 6E6F7420 6465636F 64652075 70
gateway#
Sep 15 15:44:33.368 TSK: %BGP-5-ADJCHANGE: neigh

[2015-09-15 09:47] victor-sudakov commented on #331
I don't understand why it's resetting the peer now:

exabgp 39896  network       Connected to peer neighbor 212.73.125.217 local-ip 212.73.124.11 local-as 43859 peer-as 43859 router-id 212.73.124.11 family-allowed in-open (out)
exabgp 39896  network       Peer  212.73.125.217 ASN 43859   out loop, peer reset, message [notification sent (1,0)] error[Message header error / Unspecific / can not decod

[2015-09-15 09:56] thomas-mangin commented on #331
Short version : exabgp is buggy, noticing the problem and tearing down the session (to not affect other peers).

[2015-09-15 10:43] victor-sudakov commented on #331
I thought disabling asn4 would have been a workaround, that's why I was surprised.

[2015-09-15 10:47] thomas-mangin commented on #331
I thought it too but until I can really look into it, it was guest work .. sorry, it did not work :cry:

[2015-09-15 11:05] victor-sudakov commented on #331
Thank you in advance.

[2015-09-15 13:32] thomas-mangin commented on #331
I just pushed a patch both in the 3.4 and master branch. I hope this fixes the issue.

[2015-09-15 15:02] thomas-mangin commented on #331
[code]

The class AS4Path4 inherit from ASPath but could not use the function __new_aspaths as it was set as private.

[2015-09-15 17:03] victor-sudakov commented on #331
Excuse me, what's the git command to obtain the patch for 3.4.12, before the patched version makes it into the FreeBSD ports?

I am a svn and hg guy, git perplexes me.

[2015-09-15 17:15] victor-sudakov commented on #331
Ah,
git diff 4499fd23c3f6eaee941c94bf6339524e4c36cac7 8ff7dc071bce2dd4524ad484d84117ced9e876bc

makes it. Thank you!

[2015-09-16 18:06] thomas-mangin commented on #331
@victor-sudakov - Can I close this issue please ?

[2015-09-17 02:37] victor-sudakov commented on #331
Thank you, let's close it.

[2015-09-17 02:37] #331 closed

[2015-09-22 07:06] ton31337 commented on #302
@thomas-mangin by the way, maybe there is another way to just extract/get connection status? I mean I need just to monitor if session is up, down, active, etc?