[2019-07-16 22:31] cooperlees opened #905 "TravisCI not always running venv python"
I was trying to add Python 3.8 + nightly builds to ExaBGP CI, and found that `pypy` CI is not always actually running with Travis Environment's version as:
- `command -v python3` etc.

This lead to you needing the system apt installs. I'd like to remove (and will have a PR coming) to address this.

An example is the Python2 version was actually running with system Python 3.5:
[code]

[2019-07-16 22:53] thomas-mangin commented on #900
I will try to get scrutiniser working to see if it is work keeping as in the past it found some bug doing linting.

[2019-07-18 09:36] thomas-mangin commented on #905
@cooperlees I assume we can not close this.

[2019-07-18 14:00] cooperlees commented on #905
Yeah, this is solved. Just need to see what bug PyPy and Python 2 are hitting.

[2019-07-18 14:00] #905 closed

[2019-07-18 14:23] thomas-mangin commented on #905
It looks like timing issue with the testing code ... sigh ! Not easy to change of fix.

[2019-07-18 15:57] cooperlees commented on #905
Why doesn’t it effect Python 3?

[2019-07-18 17:10] thomas-mangin commented on #905
it does affect all python. I had some times pypy fails and some other python2. It seems python3 behave a little bit better !

[2019-07-22 12:18] cjeker commented on #760
I really would like this feature. I was able to use this in 3.4 but now this no longer works.
My goal is to simulate many peers without having to run individual processes for each since that just does not scale. I would like this so that testing large IXP setups is possible without running 1000 of python processes.

Ideally using one API endpoint to fill all neighbors at once (using 'neighbor 11.1

[2019-07-22 13:46] leonnnn commented on #828
To add another perspective, I’ve found this issue is still present with ExaBGP 4.0.10 as well as git master.

Like @ederlf, I’ve hit this while simulating a network of routers with sessions setup between multiple instances of ExaBGP. Perhaps this means it’s triggered in circumstances where the two peers are started at nearly the same time in an automated fashion.

Studying the code, I too am unabl

[2019-07-22 13:56] thomas-mangin commented on #828
@leonnnn thank you for the help pointing me toward the conflict resolution code. Could you please open an new issue ?

[2019-07-22 16:45] thomas-mangin commented on #828
@leonnnn I performed a stress test of this code path and could not reproduce ... You can have multiple exabgp installed on a same machine. If you had for example the OS packaged version and later install with pip you could still have the old version running .. Could you make sure this is not the case before opening the issue please !
Also if you run exabgp with `-p -d` the program will drop you in

[2019-07-22 17:06] thomas-mangin commented on #760
@cjeker please let me know if it does the tick :-)

[2019-07-22 21:24] cjeker commented on #760
@thomas-mangin: yes, this seems to do indeed what I hoped for.
I can now run a single exabgp doing roughly 80 connections to the same route server but each connection is using a different local-as and local-address. It seems to work nicely.
Thanks a lot.

[2019-07-23 06:28] thomas-mangin commented on #760
@vincentbernat do you mean that when using the API controlling what peers get what command was causing issue .. if you can remember :-p

[2019-07-23 06:50] vincentbernat commented on #760
I didn't even remember this issue was mine until you mentioned me! ;-)

[2019-07-23 10:29] thomas-mangin commented on #760
@vincentbernat thank you for the reply .. something for me to check then ! ;-)

[2019-08-11 23:04] Vascko opened #909 "JSON output for API command responses"
##### Summary
Hey Guys,
I'm not quite sure at this point if this is a bug or feature request. Please clarify: I configured the JSON format in every place I could find but ExaBGP responses to commands like "show adj-rib out" seem to always be in text format. No matter if the command has been sent through the native CLI tool or on the STDOUT of a process. Is this intended? If yes, implementing text

[2019-08-13 10:02] thomas-mangin commented on #909
Yes, the response are alway in text format .. This will be a feature to get them in JSON it is on the todo list a list I do not have much time to look into tho :-( ..

[2019-08-14 21:40] Vascko commented on #909
No worries - confirmation that this is working as expected is enough for me right now. Thanks, Thomas!

[2019-08-15 05:19] sincerywaing opened #910 "Is there a way to test cfg file?"
current `--test` parameter does not support to check what's behind `run`, for example:

[code]
it does not check if `/usr/bin/python healthcheck -F abc.cfg` success or fails, or the syntax inside abc.cfg.

Is there any workaround to check if above works or not?

[2019-08-15 14:15] vincentbernat commented on #910
This doesn't seem possible. How would it be able to check if an arbitrary binary would work correctly without executing it?

[2019-08-22 03:58] andy19910403 opened #911 "Does Exabgp have "write config" in command"
Hi all:
I announced routes by Exabgp demon ,
After restarting Exabgp server, the announced routes are disappeared in Exabgp demon
How can I keep routes when I restart server

Thanks~

[2019-08-22 09:29] thomas-mangin commented on #911
Hello Andy,

You should add them in the configuration file if you want them available upon restart. Routes announced via the API (or CLI) are not saved. You will have to take care of this persistence.

Perhaps https://erco.xyz is what you want ?

[2019-08-22 12:03] thomas-mangin commented on #910
@sincerywaing I agree with @vincentbernat and as it has been a week since the reply, I am closing this issue. Feel free to reopen if needed.

[2019-08-22 12:03] #910 closed

[2019-08-23 17:56] pettai opened #912 "ExaBGP crashes then IPv6 session is taken down from the remote side"
##### Summary
ExaBGP crashes then IPv6 BGP session is taken down (cleared) from the remote side

##### OS
[code]

##### Version
Latest version from Debian/Ubuntu's apt repo
[code]

##### Installation
[code]

##### Environment
[code]

##### Configuration
[code]

##### Program output
[code]

##### Steps to reproduce
* setup a IPv4+IPv6 bgp session between exabgp <-> (juniper) router
* clear the IPv6

[2019-08-26 19:25] thomas-mangin commented on #912
I believe this was fixed on master. It would be nice if you could check.

[2019-08-27 10:34] thomas-mangin commented on #912
For clarity, a similar issue was raised and the line with the problem re-written and I believe the fix is from 4.1.0 with the changelog message
[code]

However from the issue https://github.com/Exa-Networks/exabgp/issues/878, the fix was not tested.

[2019-08-27 10:35] thomas-mangin commented on #766
As there was no feedback, I am closing the issue. Please feel free to re-open if you believe the issue is still present.

[2019-08-27 10:35] #766 closed

[2019-08-27 13:01] pettai commented on #912
Aha, I looked at the release notes for IPv6-related issues and didn't map it to that one.
Then I will try to test it later then I have the time to rebuild ExaBGP package.
Thx for now

[2019-08-27 13:08] mattoddy commented on #509
Hi Thomas, from what directory should I be running this command from as I just get '-bash: exabgp: command not found'. Thanks.

[2019-08-27 13:13] mattoddy opened #913 "exabgp stops sending ack messages during full internet table advertisment."
Hi,

I'm having problems trying to send the full internet table to a Juniper MX960.

The BGP session becomes established then around 16000 routes it seems that ACK message fail to be received on the Juniper side.

I am using the following conf file.

[code]

Thanks

[2019-08-27 19:40] thomas-mangin commented on #509
This is a different question. I believe your issue with not with ExaBGP but with understanding how pip/git and the bash $PATH work. This is not an issue with the program. You can ask on the mailing list for help. https://unix.stackexchange.com/questions/26047/how-to-correctly-add-a-path-to-path

[2019-08-28 15:07] thomas-mangin commented on #913
This problem/question has been answered
* https://github.com/Exa-Networks/exabgp/issues/882
* https://github.com/Exa-Networks/exabgp/wiki/Migration-from-3.4-to-4.0

[2019-08-29 21:29] pettai commented on #912
The good news is that the crash seems fixed as you suggested.
But the bad news is IPv6 peering isn't established correctly after again.
It lies around in Active to Connect state, and finally get Establ just to drop back to Active state again.

``` exabgp[18642]: 21:20:39 | 18642  | reactor         | connected to peer-2 with outgoing-22 2001:6b0::xx-2001:6b0::yy ```

On the remote side:

[code]

[2019-08-30 07:26] thomas-mangin commented on #912
Could I please have see the content of exabgp logs when run with -d ?

[2019-08-30 15:33] isseykun opened #914 "failing to establish peering session between exabgp and ios"
##### Summary

Failing to establish a BGP neighbor relationship with iosxr. The BGP state is stuck in Active. No firewall is configured on Linux and ports are open. Both devices have reachability with the configured address.
##### OS

[code]

[code]

##### Version

[code]

##### Installation

[code]

##### Environment

[code]

##### Configuration

[code]

##### Program output

[code]

##### Steps

[2019-08-30 15:37] thomas-mangin commented on #914
Hello, This is an ERCO problem https://erco.xyz not ExaBGP - I do not use ERCO I can not help sorry ! It looks like the ERCO web interface is not running.

[2019-08-30 15:39] thomas-mangin commented on #914
Also it is likely that ERCO was created for ExaBGP 3.4 and not 4.0 and that you will need to disable command acknowledgment for the API
https://github.com/Exa-Networks/exabgp/wiki/Migration-from-3.4-to-4.0

[2019-08-30 15:40] isseykun commented on #914
the problem is not with the erco, I have tested using only the neighbor set from the above config and it fails to form adj

[2019-08-30 20:01] thomas-mangin commented on #914
You are right , it is not only the connection to ERCO which is not working. Sending an open message to the peer failed too (first). As a TCP connection could not be esablished, please keep in mind that ExaBGP does not setup your host networking .. so it is not a bug but looks like a setup/configuration issue.

[2019-08-30 20:03] thomas-mangin commented on #913
@mattoddy can you please confirm if it was well the issue ?

[2019-08-31 08:44] thomas-mangin commented on #914
Hi @isseykun

Now having a little bit more time to think about it.

The ERCO problem could be caused by the SIGTERM (ie, the error in the log is due to an initiated shutdown). The OPEN message was sent (so the TCP session must have established). The connection closed thereafter, so it looks like the other peer accept the TCP session but closed the connection without a NOTIFICATION.

I am confused

[2019-08-31 11:05] isseykun commented on #914
@thomas-mangin after further investigation, it was the issue of the switching interface. By changing to a new port, its working perfectly. Hence you may delete this case as it's not relevant to exabgp. Appreciate your valuable time for this.

[2019-09-02 06:29] thomas-mangin commented on #914
Happy you could find the root of the issue ...

[2019-09-02 06:29] #914 closed

[2019-09-02 16:25] #913 closed

[2019-09-03 19:22] pettai commented on #912
Hi again,
The output is quite verbose... can I send it to you via email or other ways?

[2019-09-03 19:42] thomas-mangin commented on #912
Sure, email is good

[2019-09-04 19:31] pettai commented on #912
(I posted a question about your email address in the contact form on your webpage, because I can't find it)

[2019-09-05 10:07] pettai commented on #912
Email sent now

[2019-09-05 10:31] thomas-mangin commented on #912
ack - will look into it asap.. seems to be caused by:
[code]

[2019-09-05 10:37] thomas-mangin commented on #912
There is more than one issue. I will need to look into this a bit later
[code]

[2019-09-05 11:22] pettai commented on #912
ok thanks

[2019-09-08 08:12] thomas-mangin commented on #912
A number of comments:
 - some IPv4 routes are announced to peer for which IPv4 unicast was not setup part of the Multi-Protocol negotiation (if you are going to announce IPv4 routes please be explicit about it on both side of the router)
 - I am not sure without spending time in the code that "next-hop self" works for IPv6 .. it just may
 - The session is dropping as one of the peer is NOT configu

[2019-09-11 15:30] mattoddy commented on #913
Hi Thomas, apologies for the late response. I can confirm that this solution fixed the problem . Thanks.

[2019-09-12 07:52] omkartikare opened #915 "ExaBGP getting stuck after announcing 12838 labelled v6 routes"
exabgp -v
ExaBGP : 4.0.1-065deca1
Python : 2.7.16 (default, Sep  2 2019, 11:08:29)  [GCC 6.5.0 20181026 (Red Hat 6.5.0-3)]

Seeing issue where exabgp just gets stuck after announcing 12838 labelled v6 routes as 6pe routes. If this is related to the ack message, please let me know how/where we need to set that
+++++++++++++++++++++

process ta356_routes {
   run /usr/bin/python /home/otikare/exabgp

[2019-09-14 11:24] pettai commented on #912
After specifying type at the Exa side, it no longer seems to be a problem, so I think we can close this issue. The original issue that caused a crash was resolved by 4.1.10.
Thx

[2019-09-14 11:24] #912 closed

[2019-09-18 08:27] mattoddy opened #916 "exabgp full internet table"
Hi, I have been able to advertise the full internet table using the old 'announce route' syntax however I believe there is a more efficient way to do this. I can see in the article that there is an 'announce attributes' syntax. https://github.com/Exa-Networks/exabgp/wiki/Large-Configuration-File

I have used the command:
[code]

When I run this command the process hangs and does that send any outp

[2019-09-18 10:26] thomas-mangin commented on #916
@mattoddy no personal experience with the tool. Hopefully the author can look at what is wrong. Happy to answer questions if help is needed.

[2019-09-19 10:23] mattoddy commented on #916
Thanks Thomas. I've raised an issue on the mrtparse Github.

[2019-09-20 10:16] ykondratov opened #917 "incorrect vpnv4 announcements via cli"
##### Summary
When announce vpnv4 route via exabgpcli the BGP update is formed incorrectly: prefix and rd cannot be read by receiving side.

##### OS
[code]

[code]

##### Version
[code]

##### Installation
[code]

##### Environment
[code]

##### Configuration
[code]

##### Program output
In debug output everything seems correct. No errors are shown.
[code]

##### Steps to reproduce
1.  Lab enviro

[2019-09-23 12:51] thomas-mangin commented on #917
The command used is:
[code]
which generates the following packet:
[code]

Decoding the packets ourselves:
[code]

[2019-09-23 13:10] kzemek opened #918 "Route refresh request fails"
#### Summary
When attempting route-refresh via CLI, the reactor fails with
[code]

Looke like the issue was introduced while fixing #708 , in commit https://github.com/Exa-Networks/exabgp/commit/3a6bf9fd2fe71ee61481f83e6ff1017c9d3141dd . The route refresh object is now a list, while `inject_refresh` called in https://github.com/Exa-Networks/exabgp/blob/master/lib/exabgp/reactor/api/command/announc

[2019-09-24 00:21] thomas-mangin commented on #917
Answer: the "label" is missing and the route therefore invalid. master now has a fix to refuse invalid routes (missing label, rd or next-hop for announcement)

[2019-09-24 00:41] thomas-mangin commented on #916
I will close - feel free to re-open if you need anything.

[2019-09-24 00:41] #916 closed

[2019-09-24 08:13] MAK4789 opened #919 "Installation Guide for GIX LG"
##### Summary
 I have installed ExaBGP on my machine having Centos 7 but unable to find the next step for GIX LG. Can any one help me out?

##### OS
CentOS Linux release 7.7.1908
[code]

[code]

##### Version

[code]

##### Installation
pip
[code]

##### Environment

[code]

##### Configuration

[code]

##### Program output

[code]

##### Steps to reproduce

[code]

##### Importance

[code]

[2019-09-24 08:29] thomas-mangin commented on #919
Please could you ask GIXLG Author for help here. Also please keep in mind that his code was written (AFAIK) for version 3 and therefore will likely not work with ExaBGP version 4.

[2019-09-24 08:29] #919 closed

[2019-09-24 12:32] MAK4789 commented on #919
Hi Thomas,

Thanks alot for your support. Can you please share ExaBGP version 3 with me? as i am unable to find it over internet.

Regards,

Muhammad Ali
+92-346-2750502
________________________________
From: Thomas Mangin <notifications@github.com>
Sent: Tuesday, September 24, 2019 1:29 PM
To: Exa-Networks/exabgp <exabgp@noreply.github.com>
Cc: MAK4789 <muhammad.ali.k@hotmail.com>; Author <author

[2019-09-24 17:40] thomas-mangin commented on #919
https://pypi.org/project/exabgp/3.4.26/

[2019-09-24 17:42] thomas-mangin commented on #507
it depends on how it was installed. you can install version 3 using pip

https://pypi.org/project/exabgp/3.4.26/

[2019-09-25 10:30] ykondratov commented on #917
Thomas, thank you. I checked, with label specified it works fine.

[2019-09-25 10:30] #917 closed

[2019-09-25 20:19] elindsey commented on #541
Unfortunately I need to send flowspec redirect routes to Juniper gear, so I'll have to patch my exa to support the ietf draft.

Given the RFC (still ☹️) hasn't been finalized and there's now a vendor split between simpson, ietf, and both - is there interest in upstreaming that patchset behind a config flag, or do you want to hold off?

[2019-09-26 06:04] thomas-mangin commented on #541
Yes, i would gratefully take this on.

[2019-09-26 09:58] MAK4789 commented on #507
Hi Thomas,

Thanks alot for the help. i have installed ExaBGP version 3 now via "> python setup.py install", all looks good now. Can you please confirm that how can we start the exabgp services? as i have tried "systemctl start exabgp" & "systemctl start exabgp-3.4.26" but no luck.

Regards,

Muhammad Ali
+92-346-2750502
________________________________
From: Thomas Mangin <notifications@github.co

[2019-09-26 14:07] thomas-mangin commented on #507
There is a systemd file in `etc/systemd/exabgp.service`. You will have to install it (update the binary path) to make it work.

[2019-09-27 01:10] elindsey opened #922 "Slack invite link outdated"
The Slack invite link in the README (under the support section here - https://github.com/Exa-Networks/exabgp/blob/master/README.md) is outdated.

I'm not sure if Slack is still used, but that link leads to a page that says: "This invite link is no longer active. Please check with the person who shared it with you to see if there's a new link available."

(if you update it, might remove the G+ link

[2019-09-27 10:00] thomas-mangin commented on #922
The link is not supposed to expire !

[2019-09-27 10:01] #922 closed

[2019-09-27 10:03] thomas-mangin commented on #922
Thank you for reporting the issue ..

[2019-10-09 10:16] MAK4789 commented on #507
Hi Thomas,

Thank you so much for your support. It helps me to establish iBGP as well. Can you please confirm that how can we run BGP commands on ExaBGP? is it under below path??

cd /etc/exabgp-3.4.26/bin/ ./exabgpcli

Furthermore, can you please also confirm if ExaBGP required any API to run?

Your kind support will be highly appreciated in this regard.

Regards,

Muhammad Ali
+92-346-2750502
__

[2019-10-11 15:54] arbaldin opened #924 "API commands response"
Hi there.

It's not really a problem, just a question. I've been read everything I could about exabgp API, but unfortunately I was unable to figure out an answer.

Using sample code I found around the internet, I was able to create a python script that receive command through http. I can use it to send route announce and withdraw an it work great. I can also send other commands, like version (this

[2019-10-13 12:58] thomas-mangin commented on #924
https://github.com/Exa-Networks/exabgp/wiki/Migration-from-3.4-to-4.0#api

[2019-10-13 12:59] thomas-mangin commented on #924
with version 4 all the commands now return like version does.

[2019-10-16 06:42] martinohansen opened #925 "Log rendered useless by endless spam"
Hi! First of all, thanks to everyone involved for an absolute awesome BGP daemon, it's just great.

Our log is getting spammed quite heavily by the healthcheck and exabgp process. We're almost only seeing the below lines. I would like to know if it is possible and, if so, how to disable logging of of these lines. I hope that some of you people can help me out. Thanks.

[code]

I've included some s

[2019-10-16 10:11] thomas-mangin commented on #925
[code]

[2019-10-16 14:18] ykondratov opened #926 "API announces to passive neighbors"
##### Summary

Maybe not an issue, but a question. I run exabgp with config for passive neighbors from a subnet. Peering is established successfully, but when I try to announce routes via API, nothing is actually sent, even though I see that command is accepted. Maybe I need to turn on some option in env file or config in order to send updates to passive neighbors?

##### OS

[code]

[code]

#####

[2019-10-17 08:46] thomas-mangin commented on #925
The healthcheck logs are created directly by the program and not exabgp. ExaBGP let you decide what you want to log (or not) via the env. You could surely disable some of the output if you find it too verbose.

[2019-10-17 08:48] thomas-mangin commented on #924
The program is forked and the STDIN of your program is connected to the output of ExaBGP. You just need to read it.

[2019-10-17 08:48] ykondratov commented on #926
I try to send it via CLI like this:

[code]

Still no update sent to neighbor.

[2019-10-17 13:18] pguibert6WIND opened #927 "Support for Redirect IPv6 extended communities (for Flowspec Redirect-IPv6)"
Hello,

Is the RFC 5701 supported ?
If not, this would be good to have in order to have support for Redirect-IPv6 from [0]

Thanks,
Philippe
[0] https://tools.ietf.org/html/draft-ietf-idr-flow-spec-v6-09

[2019-10-17 15:37] pguibert6WIND commented on #927
which draft overrides the other one : draft-ietf-idr-flow-spec-v6-09 or draft-ietf-idr-flowspec-redirect-ip ?

[2019-10-17 16:00] thomas-mangin commented on #927
I do not believe that https://tools.ietf.org/html/rfc5701 was implemented. What you are finding is the Flowspec next hop redirect RFC. It should however be quite straight forward to implement.

[2019-10-17 16:02] thomas-mangin commented on #927
I have not implemented redirect-to-nexthop-ietf - as far as the author @elindsey tested it is working - https://github.com/Exa-Networks/exabgp/pull/923

[2019-10-17 16:26] elindsey commented on #927
It is the correct type and subtype, but you're looking for a different feature. 🙂

The patchset recently added is for redirect to next hop (draft-ietf-idr-flowspec-redirect-ip), this is for rewriting a next hop. This is action type 0x000c, as documented here https://www.iana.org/assignments/bgp-extended-communities/bgp-extended-communities.xhtml (search for 0x000c).

What you're asking about is re

[2019-10-17 16:32] elindsey commented on #927
As for rfc5701 specifically - support for it was added to be able to send the ipv6 extended community for the 0x000c next hop action. I don't believe anything else in the exa codebase currently uses it, but it would be easy to modify if you want to support additional ipv6 extended communities.

[2019-10-17 18:54] martinohansen commented on #925
Thanks, i will try to adapt the log output to my needs.

[2019-10-17 18:54] #925 closed

[2019-10-17 19:34] pguibert6WIND commented on #927
I would be ok to specify the command.
what about the following :
`redirect-to-nexthop-vrf-rt-ipv6 <IPV6>:<AS2B>`

for the implementation, I also would be happy to help for that; alittle guidance could be helpful however.
thanks,

[2019-10-17 20:00] elindsey commented on #927
I don't speak for exa or Thomas, so anything he says overrides me - but I'll voice my thoughts

I would first see if this functionality can be attached to the existing `redirect` config directive, which handles the original rfc 5575 0x8008 action. If possible I would extend that same config directive to now handle the ipv6:asn notation.

`redirect-to-nexthop`/`redirect-to-nexthop-ietf` exists beca

[2019-10-21 15:32] pguibert6WIND commented on #927
I have to admit that the format is equal to me, provided that the feature can be put into exabgp.
so your counter proposal would suit me.
thanks.

[2019-10-21 20:30] thomas-mangin commented on #927
@elindsey thank you for your help figuring out what the type and sub-type needed to be :p
I noticed that there was a bug with you code (as the registration of the two differents Attributes (normal and the v6 you added) was done within the same namespace. I fixed it with the patch above moving registered_extended into the sub-classes to give them both distinct registration.

@pguibert6WIND can you

[2019-10-21 21:32] elindsey commented on #927
Ahh, thanks for the fix. 🙂

I think the 0x0002 in the patch is incorrect. RFC 5701 specifies a route target format of type 0x0002, but draft-ietf-idr-flow-spec-v6-08 is the actual flowspec redirect ipv6 action that happens to reuse that format for a different purpose with type 0x800B. 0x80 is from the experimental use range, which is why I assume it's not in the IANA registry - this redirect ipv6

[2019-10-21 21:41] thomas-mangin commented on #927
@elindsey happy to change the 0x0002 to whatever is seen in production ...

[2019-10-21 21:42] thomas-mangin commented on #927
@elindsey perhaps I am mixing redirect with adding an IPv6 RT and Origin support ..It has been quite a few years since I last looked at the community RFCs.

[2019-10-21 21:57] thomas-mangin commented on #926
Could you try without filtering with "nei .." to see what happens with "announce route .." please?

[2019-10-21 22:17] thomas-mangin commented on #507
I do support ExaBGP when something does not work but do not have the time to teach people Unix. I would expect users to have some Unix skills to use ExaBGP. If you are looking for a cli, Bird or Quagga/FRR may be better choices/

[2019-10-22 08:13] ykondratov commented on #926
I tried to announce without "nei" keyword:
[code]
and in packet capture on the outgoing interface I can see one BGP Update packet, which is sent to the first established neighbor (the one with lowest RID)
![image](https://user-images.githubusercontent.com/41232010/67268348-e1c00e80-f4bc-11e9-9068-94cb4c486ffb.png)

In the debug of exabgp I can see that routes added to all neighbors. But in fact on

[2019-10-22 11:00] thomas-mangin commented on #926
Not many people would use passive. If the other neighbors have not connected it is right for the route to not be sent to them. Also if they connect later, I am not sure if they will get it or not once th API call was done. They should.

[2019-10-22 11:12] ykondratov commented on #926
I use passive to workaround this issue https://github.com/Exa-Networks/exabgp/issues/836
So that when a new peer is added I don't have to reread config and restart the api process.

So it is a feature-request I guess: to be able to send announce/withdraw to passive neighbors per neighbor?

[2019-10-22 14:38] pguibert6WIND opened #929 "[exabgp 3.4.17 ] scalability / can not run more than 1024 bgp sessions on same host"
On a test setup, it is not possible to run more than 1K peers.
The system is a Linux machine.
Even when reconfiguring the 'ulimit -n setting', the limit is still visible.

it is possible to leverage that limit ?

[code]

[2019-10-22 16:44] pguibert6WIND commented on #927
Hi @thomas-mangin ,
so previously, I made a patch to replace the route ttarget redirect IP with route target redirect VRF like that one:
[code]
the behaviour is ok from my side.
now with the patch you submitted, I made change to the exabgp config:
[code]
and I tried to run exabgp, but with no success.
[code]
did I make someting wrong?

[2019-10-22 16:46] pguibert6WIND commented on #927
adding to this, currently it is possible to have the following as for simpson draft:
[code]
My expectation is that redirect either takes an IP (v4 or v6 like for simpson draft with IP included in NLRI)  or an IPv6 route target ( the new draft for redirect vrf).

[2019-10-22 18:28] thomas-mangin commented on #927
Need to look how I can do the parsing ..

[2019-10-23 08:38] thomas-mangin commented on #926
If I cal recall the code correctly, the configuration is parsed and when as "/net" is used, the configuration is duplicated and the IP updated. So if the ADJ-RIB-OUT is enabled (caching of route sent), then all sent/received routes should be in the per peer rib and be sent/resent on reconnection.

[2019-10-23 08:40] thomas-mangin commented on #926
[code]

Are you still seing this -- you should not !

[2019-10-23 10:21] ykondratov commented on #926
I've checked once more. Maybe I am doing smth wrong, but as far as I can see, BGP update is not sent to all neighbors in Established state. My lab is with 2 neighbors.
[code]
I use CLI like this:
[code]
And the update is sent only to 10.0.3.132. I guess it came up first, because earlier update was sent only to 10.0.3.128. So in my setup BGP update is sent to neighbor, who established the peering f

[2019-10-23 11:04] juise opened #930 "restart via"
##### Summary

call `restart` via tcp api...

##### OS

[code]

##### Version

[code]

##### Installation

[code]

##### Environment

[code]

##### Configuration

[code]

##### Program output

[code]

##### Steps to reproduce

[code]

[2019-10-23 11:42] juise commented on #930
the bug in https://github.com/Exa-Networks/exabgp/blame/master/lib/exabgp/reactor/loop.py#L397

[code]

[2019-10-23 13:29] thomas-mangin commented on #930
Thank you - silly bug will fix.

[2019-10-23 13:39] juise commented on #930
PR in progress...

[2019-10-23 13:42] juise commented on #930
https://github.com/Exa-Networks/exabgp/pull/931

[2019-10-23 16:46] thomas-mangin commented on #930
That's surprising. I will have to dig into the code to understand why

[2019-10-23 17:58] thomas-mangin commented on #929
`ulimit -n` should indeed be do the right thing ... if it does not then it must be a limitation in the python select interface or OS.

It also may be wise to try to use async I/O in python to handle over 1k peers on a single core (as python can not take advantage of multiple cores) .. unless you are only planning on sending un-regular updates ..

I would recommend breaking the configuration in blo

[2019-10-23 18:09] thomas-mangin commented on #927
`redirect IPV6:asn` should now work as you want

[2019-10-24 08:10] thomas-mangin commented on #930
Thank you @juise for your help !

[2019-11-03 18:25] tarelda opened #932 "Maximum 13104 routes advertised"
##### Summary

When api processes reaches 13104 routes advertised exabgp hangs.

##### OS

[code]

[code]

##### Version

[code]

##### Installation

[code]

##### Environment

[code]

##### Configuration

[code]

##### Program output

[code]

##### Steps to reproduce

[code]

##### Importance

[code]

##### Temporary fix
https://github.com/Exa-Networks/exabgp/blob/a59f9d00861a21829b9fcc1bc501777a

[2019-11-04 13:51] thomas-mangin commented on #932
https://github.com/Exa-Networks/exabgp/wiki/Migration-from-3.4-to-4.0
API Section

[2019-11-04 13:51] #932 closed

[2019-11-09 19:08] thomas-mangin commented on #932
Sorry if the answer was a bit short .. I was busy that day !

[2019-11-18 14:10] pierky opened #934 "Sessions down because holdtime expired, KEEPALIVE not sent"
##### Summary
Hello @thomas-mangin,

I'm observing some sessions going down because of holdtime expired.

I've seen this on 2 routers (all those using that ExaBGP instance), which are connected to the same instance of ExaBGP from different places and using different networks and links (well, the host where ExaBGP runs is the same):

- rtr_a, at Nov 18 06:59:39 (hold time was 20 seconds)
- rtr_b, a

[2019-11-18 17:16] thomas-mangin commented on #934
Hello @pierky - are you reading the ack message send for your command? If you do not it will lock ExaBGP including the sending of KEEPALIVE as the code is fully async.

[2019-11-18 17:17] thomas-mangin commented on #934
I can not think of anything which could cause this, but I will have a look when I can.

[2019-11-19 07:50] pguibert6WIND opened #935 "[exabgp 4] multiple bgp session to same peer not possible"
*context*
I want to create multiple BGP sessions with a an equipment X.
If I populate multiple IPs on exabgp side, I think I can have multiple bgp peerings.

exabgp ============== equipmentX
     (multiple IPs)                    (same IP)

*config*
[code]

*observation*
this config was working ok with exabgp 3.4.17, but is not ok with exabgp 4.
I expect this should still be possible with exabgp 4

[2019-11-19 09:39] pierky commented on #934
Hi @thomas-mangin, I see the "reactor async" and the "process responding to announce-routes : done" messages, is this what you're referencing to?

[code]

[2019-11-19 09:59] thomas-mangin commented on #934
Could you please enable `exabgp.log.timers`? It would help to see what is happening there.

[2019-11-19 11:30] pierky commented on #934
`exabgp.log.timers` is already `True`; I see 'receive-timer' and 'send-timer' messages being reported in the log file above, is that the expected output of that logging config knob?

[2019-11-19 14:15] thomas-mangin commented on #934
Sorry - I am trying to help but I am really really busy today and I am struggling to find the time.

[2019-11-19 14:23] thomas-mangin commented on #934
Making the logs easier to read
[code]

[2019-11-19 14:29] thomas-mangin commented on #934
The two usual reasons for this issue are:

- If you are sending command using ExaBGP 4.0 via the PIPE and do not consume the response, the PIPE will get full and then ExaBGP will block trying to reply to the command.
https://github.com/Exa-Networks/exabgp/wiki/Migration-from-3.4-to-4.0

- NTP is not run on a VM, and the drift gets too large and is correctly in one go (like with cron) - ExaBGP does

[2019-11-19 15:18] pierky commented on #934
Hi @thomas-mangin, thanks for the feedback.

- My script sends messages to ExaBGP using
[code]
Does the PIPE/ack applies to this as well? Or are you talking only about the named pipes /run/exabgp.in and .out (which I don't even use on that system)?

- I have a NTP tool running on that VM, and the time seems to be accurate, in sync.

[2019-11-20 08:42] pierky commented on #934
I forgot to mention something that may help to narrow down the issue or trigger additional troubleshooting ideas: once the sessions go down, they don't automatically recover by themselves, I need to restart ExaBGP in order to bring them up again.

[2019-11-20 08:47] chantra commented on #934
Yes, you need to read the ack/error sent back by exabgp. Alternatively you
can disable ACKs via a config option, which, IIRC, is in the wiki page.

[2019-11-20 10:24] pierky commented on #934
Ok, thanks, I've set exabgp.api.ack to False now and I'll check if that will solve the issue.

[2019-11-20 13:22] cihankom commented on #934
I have same error also and Luckily there is already thread.
I have already set ack in exabgp environment and reading ACK messages after sending command in healtcheck script. vm and host has NTPD service also.
But even setting all of these, exabgp gives an error "Hold timer expired ".

I want to ask also is there any chance to determine of number of unseen acknowledge before resetting connection? m

[2019-11-20 22:13] zxaos commented on #788
I'm still seeing this behaviour on 4.2.1. I originally thought it was healthcheck process related however it still occurs even if the healtcheck is never started. Any ideas?

[code]

[2019-11-21 16:56] thomas-mangin commented on #934
@pierky I would assume it would. I will close the issue. If it does not please re-open it.

[2019-11-21 16:56] #934 closed

[2019-11-21 16:56] thomas-mangin commented on #934
@cihankom while it looks the same the issue may not be the same. Could you please open your own issue. without a full output of ExaBGP log I can not help.

[2019-11-23 18:03] thomas-mangin commented on #935
works for me !

[code]

[code]

[2019-11-23 18:06] thomas-mangin commented on #929
You can use `exabgp <conf1> <conf2> ..` ExaBGP will fork another process for each configuration but for the 1024 limit, it is within select - which is the only system call portable, the only way to raise the limit would be to use poll/epoll/kqueue.

[2019-11-23 18:07] thomas-mangin commented on #929
Unless it is really an issue, I wont work on this. You could place BIRD configured as route reflector as a frontend to exabgp if this kind of scalability matter.

[2019-11-23 18:08] thomas-mangin commented on #927
not sure what I should do to close this ...

[2019-11-25 08:19] pguibert6WIND commented on #927
Hi Thomas,
please give me a bit more time to clarify better the need.

[2019-11-25 08:41] pguibert6WIND commented on #935
thanks for quick update.
we will redo the test on our side. (we got the issue by being ebgp peer and it was not working).

[2019-11-28 13:15] arozhentsev opened #937 "[exabgp4] Reloading exabgp rise an error if api in template section of exabgp.cfg"
##### Summary
Hello, Everyone!
Reloading exabgp rise an error if api in template section of exabgp.cfg.
"the name "services" already exists in api"

##### OS
Linux debian10 4.19.0-6-amd64 #1 SMP Debian 4.19.67-2+deb10u1 (2019-09-20) x86_64 GNU/Linux

##### Version
ExaBGP : 4.0.8-793a2931

##### Installation
pip
latest OS package

##### Environment
exabgp.env
+++++++++++++++++++++++++++++++++++
[ex

[2019-11-29 15:16] jsenecal opened #938 "Manpages are outdated"
##### Summary

ExaBGP [manpage](https://github.com/Exa-Networks/exabgp/blob/master/doc/man/exabgp.1) needs to reflect the proper (current) parameters.

For instance, `--folder` is no longer a supported parameter.

Thanks,

##### OS

[code]

##### Version

[code]

##### Installation

Installing from pip, but the [versions available in Debian testing/unstable](https://dyn.manpages.debian.org/testing

[2019-12-05 17:45] #827 closed

[2019-12-09 17:57] thomas-mangin commented on #938
Thank you for reporting the issue. As I did not write the initial man page, any help would be appreciated.

[2019-12-10 01:15] thomas-mangin commented on #929
implemented poll instead of select for network and api pipe.

[2019-12-10 01:17] thomas-mangin commented on #929
but not yet for the one you encountered 🤦‍♂

[2019-12-10 04:10] #929 closed

[2019-12-10 04:23] thomas-mangin commented on #926
sorry for the delay, this should do the trick !

[2019-12-10 04:24] #926 closed

[2019-12-12 17:27] sweatyjedi1977 opened #940 "add-path capability not sent in open message for ipv6 nlri-mpls family"
##### Summary

add-path is configured for family ipv4 unicast and ipv6 nlri-mpls, but the capabilities in the open message from ExaBGP only include ipv4 unicast

##### OS

[code]

[code]

##### Version

[code]

##### Installation

[code]

##### Environment

[code]

##### Configuration

[code]

##### Program output

[code]

##### Steps to reproduce

[code]

##### Importance

[code]

[2019-12-13 17:10] auranext opened #941 "EVPN documentation or examples"
Hello,

For VXLAN/EVPN COMWARE - LINUX interactions we are using FRRouting for a while
FRRouting interact with linux kernel networking stack with zebra component and netlink interface
Now I m looking for more packet processing performance so i decide to evaluate userspace network stack
I m searching a BGP agent that talk to userspace network stack like VPP, Snabby or ovs-dpdk
I found some candidat

[2019-12-16 11:23] thomas-mangin commented on #941
Hello Maxime,

I should be honest: ExaBGP documentation is very much "Read the code" ATM and it did not change for years ...

I did not write the EVPN code but if you have any particular question, I will try to help.

Thomas

[2019-12-26 15:55] pierky opened #942 "Random crashes because of "^C received" (Reactor `elif event & select.POLLHUP`)"
##### Summary
I'm experiencing some random crashes which, after troubleshooting, I was able to pinpoint to Reactor's `_wait_for_io` method, these `if` case:
https://github.com/Exa-Networks/exabgp/blob/master/lib/exabgp/reactor/loop.py#L118-L119

I changed the string used in line https://github.com/Exa-Networks/exabgp/blob/master/lib/exabgp/reactor/loop.py#L119 to "^C PIERKY received" to make it di

[2019-12-26 15:57] thomas-mangin commented on #942
@pierky thanks for this report, I just recently converted all the select calls to poll and must not have noticed this issue.

[2019-12-26 16:10] pierky commented on #942
Oh @thomas-mangin thanks for the quick reply!

Looking forward to testing the solution or any workaround that you'll propose, although I'm not sure I'll be able to do it in the next days.

[2019-12-26 16:16] thomas-mangin commented on #942
@pierky - ok, I understand what I did (failed to read man poll) and  this patch should fix the issue you had.

[2019-12-26 16:22] thomas-mangin commented on #942
oops the patch need more work 📦

[2020-01-03 14:37] thomas-mangin commented on #942
@pierky all good ?

[2020-01-03 14:53] pierky commented on #942
Oh, I haven't noticed the update indeed :) I'll be able to check it after Jan 7th...

[2020-01-09 15:52] badrabubker commented on #788
Hello,
i could still reproduce this on 4.0.8 and exabgp was existing with the status _unknown_.
Looking at the code when receiving SIGTERM or SIGHUP SHUTDOWN was received and shutdown function was called but the return code was never set.
Cheers

[2020-01-09 22:24] thomas-mangin commented on #942
ping ? can you please confirm this is fixed. If so I will release a new version.

[2020-01-09 22:30] thomas-mangin commented on #940
Only IPv4 was implemented with https://www.rfc-editor.org/rfc/rfc7911.txt

[2020-01-09 22:31] thomas-mangin commented on #937
This should have been fixed with one of the latest configuration change.

[2020-01-10 10:28] jkldgoefgkljefogeg opened #944 "api processes TypeError: unhashable type: 'Neighbor' on self._dispatch[message_id]"
`neighbor api send packets` or `neighbor api send consolidate` causes exabgp to crash loop

https://github.com/Exa-Networks/exabgp/blob/d006a34a/lib/exabgp/reactor/api/processes.py#L338

[code]

[2020-01-10 11:20] jkldgoefgkljefogeg opened #945 "clarification on config default"
It looks like not all default in config parser classes are being used

https://github.com/Exa-Networks/exabgp/blob/d006a34a/lib/exabgp/configuration/neighbor/__init__.py#L114

`adj-rib-out` actually has default true in 4.1.2-d006a34a, not matching class `ParseNeighbor` definition.

Am I missing something or default is not implemented for some parser?

[2020-01-10 11:35] thomas-mangin commented on #945
Taking a neighbour without adj-rib configured:
[code]

Because this code is indeed misleading:

https://github.com/Exa-Networks/exabgp/blob/d006a34a/lib/exabgp/configuration/neighbor/__init__.py#L159

[2020-01-10 11:35] #945 closed

[2020-01-10 11:39] thomas-mangin commented on #944
@jkldgoefgkljefogeg you do not provide the full logs - I can not help without knowing what command you sent. You can use exabgpcli to show me.

[code]

[2020-01-10 11:43] jkldgoefgkljefogeg commented on #944
I didn't send anything over named pipe. exabgp is crashing looping (doesn't not bind on tcp/179) with api send packet/consolidate enabled.
[code]

[2020-01-10 12:36] thomas-mangin commented on #944
Initial test does not replicate - will look at your config.
[code]
[code]
[code]

[2020-01-10 12:38] thomas-mangin commented on #944
also working with
[code]

[2020-01-10 12:39] thomas-mangin commented on #944
So please provide me your `full configuration` and `full output` as I can not reproduce - if you can not / do not I can not help.

[2020-01-10 12:59] pierky commented on #942
Hi @thomas-mangin, I've been actually able to start testing this in advance, and it has been stable for 6 days now. So far so good, the random crashes were used to happen more frequently than every 6 days!

[2020-01-10 15:32] thomas-mangin commented on #944
Tried with python3.8 on Mac (I was testing with 3.7) can still not reproduce.

[2020-01-10 16:56] jkldgoefgkljefogeg commented on #944
[code]

[2020-01-10 22:13] #942 closed

[2020-01-13 10:39] thomas-mangin commented on #944
@jkldgoefgkljefogeg thank you

Can you also provide the output of your `/home/user/tmp/exabgp/exabgp.py` program as it is what is causing this error and I need to see which command is badly parsed.

[2020-01-13 22:56] thomas-mangin commented on #944
@jkldgoefgkljefogeg are you still able to help ?

[2020-01-13 23:36] ocochard opened #947 "Error building 4.2.0 FreeBSD package (missing setup.cfg)"
##### Summary

Updating FreeBSD port tree with this last version (4.2.0), but package generation failed.

##### OS
[code]

##### Version

Source from 4.2.0

##### Program output

[code]
##### Workarround

Dirty fix: Removing line 17&18 fix it.

[2020-01-14 02:02] jkldgoefgkljefogeg commented on #944
[code]

[2020-01-14 07:15] thomas-mangin commented on #944
@jkldgoefgkljefogeg  two things:
the script should not end.
Without the text file I am not any wiser

[2020-01-14 09:09] thomas-mangin commented on #947
@ocochard this line was a left over test ! it was already removed on master. I will release 4.2.1 very soon.

[2020-01-14 16:08] thomas-mangin commented on #947
You should also add this if you can not wait for 4.2.1
https://github.com/Exa-Networks/exabgp/commit/0760a24eb9ed1ab3e04ef3c1d2a379bce9f13369

[2020-01-14 16:10] thomas-mangin commented on #947
releasing now so it is done

[2020-01-14 16:12] #947 closed

[2020-01-15 07:10] jkldgoefgkljefogeg commented on #944
There is nothing in `/home/user/tmp/exabgp/everyone/exabgp_api.txt`. The script just appends to this file.

It doesn't seem like the crash is related to the process script. I get the same error with the following script if `neighbor api send packets` or `neighbor api send consolidate` is enabled in exabgp config

[code]

[2020-01-15 08:48] thomas-mangin commented on #944
thank you. Sorry I answered too quickly. I need to know what is received by exabgp and what packet causes the issue. Running with -d will display this information.

[2020-01-15 09:03] jkldgoefgkljefogeg commented on #944
tcpdump on port 179

[code]

[2020-01-15 09:33] thomas-mangin commented on #944
@jkldgoefgkljefogeg as you are using MD5 the tcpdump is not most useful. I asked for you to provide the output of exabgp -d - this is a request in the template to open issue. The configuration you gave me did not include any MD5 information. My time is not free.

[2020-01-15 09:39] thomas-mangin commented on #944
ExaBGP does provide me the data I need to reproduce the issue (the raw OPEN message in a format I can copy and paste using `exabgp --decode <your config>`. The dump you provided me is not even a pcap file which I could use. Please provide me what I ask as if I can not reproduce I can not help.

[2020-01-15 09:57] jkldgoefgkljefogeg commented on #944
[code]

[2020-01-15 10:06] thomas-mangin commented on #944
Thank you - I will look into it now.

[2020-01-15 10:44] thomas-mangin commented on #944
[code]

[code]

The IP are not matching .. `198.51.100..209` .. You are really making it hard for me to help you.

[2020-01-15 19:00] jkldgoefgkljefogeg commented on #944
updated with original `-d` output, sorry about that

[exabgp_open.zip](https://github.com/Exa-Networks/exabgp/files/4066886/exabgp_open.zip)

[2020-01-15 22:13] #944 closed

[2020-01-15 22:18] thomas-mangin commented on #944
This bug is fixed. The configuration you gave me is not the one which generated this open. In the configuration you used you have some OPEN capability setup which is not in what you provided me.

[2020-01-15 22:19] thomas-mangin commented on #937
Closing due to lack of feedback and as it is likely already fixed.

[2020-01-15 22:19] #937 closed

[2020-01-15 22:20] thomas-mangin commented on #935
@pguibert6WIND can we close this issue ?

[2020-01-15 22:20] jkldgoefgkljefogeg commented on #944
This is still missing `message.ID`?
https://github.com/Exa-Networks/exabgp/blob/master/lib/exabgp/reactor/protocol.py#L153

[2020-01-15 23:45] thomas-mangin commented on #944
fixed too.

[2020-01-16 00:39] jkldgoefgkljefogeg commented on #944
Thanks. Confirmed it is now working with consolidate/packets

[2020-01-17 02:06] topranks opened #949 "Flowspec: redirect-to-nexthop-ietf sending same NH for all updates"
### Short description

ExaBGP always sends the same IPv4 next-hop address for all flowspec redirect routes.

### Environment

Ubuntu 18.04  ExaBGP from git as follows:

    root@exa:~/exabgp-git/sbin# ./exabgp --version
    ExaBGP : master-57f5c1ec81afafc96c32af4e6a04cf8a2555bbd5
    Python : 3.6.9 (default, Nov  7 2019, 10:44:02)  [GCC 8.3.0]
    Uname  : Linux exa 4.15.0-66-generic #75-Ubuntu SM

[2020-01-17 10:36] thomas-mangin commented on #949
Reproduced :
[code]
ran with
[code]
[code]

[code]

[code]

[2020-01-17 10:39] thomas-mangin commented on #949
So I can not reproduce. Can you help ?

[2020-01-17 12:38] topranks commented on #949
Great thanks a million for looking at this Thomas.

First up I am thinking my environment might be a bit messed up, I installed from Ubuntu repo first then removed, then pypi and removed and finally used tar.

So let me scrap my VM and fire up a new one with clean build and make sure I see the exact same thing.  If I do I will try to run the same commands as you have above and post them here.  Aft

[2020-01-17 15:13] topranks commented on #949
Ok so I get the same with a clean install of 4.2.3.

When I show the rib-out no next-hop IP address is shown:

[code]

I noticed something similar in the decoder output of the routes sent on the wire, actual IP of the next hop seems to be missing from the end of the string.

[code]

This also appears to happen when I add routes at the command line - *in quick succession* - but not if I delay them

[2020-01-18 12:16] topranks commented on #949
Also one last thing.... I ran the exact same command you ran in your instance on mine - to decode the HEX you seen in your test.  On my version it doesn't show the next hop - it did on yours?

[code]

[2020-01-18 16:43] topranks commented on #949
Got the same result running with Python 3.7 also.

[2020-01-20 11:16] topranks commented on #949
One last observation:

If I add the routes with the time delay between each one, then as above the next-hop encoded in the community string is different on each one, and everything is ok.

If I then reset the BGP peer, when the session comes back up ExaBGP announces all the UPDATEs again, but this time the next-hop is the same on them all.

[2020-01-20 13:17] thomas-mangin commented on #949
@topranks the next-hop requires the patch listed above "display the next-hop of redirect flow Exa-Networks#949" you will only find it on master. I will now look at the data you provided.

[2020-01-20 13:18] thomas-mangin commented on #949
"This also appears to happen when I add routes at the command line - in quick succession - but not if I delay them slightly. For instance if I do this I end up with the same next-hop for both" - thank you this is very useful information.

[2020-01-20 13:22] thomas-mangin commented on #949
Looking at the RIB code - this patch may indeed have already fixed the bug by representing the strings for both community differently. Could you please pull master and verify it is indeed already fixed :-) ?

[2020-01-20 14:32] topranks commented on #949
Thomas,

Thank you for the feedback.  I can confirm that everything works ok with the latest version from master.  Looks like your fix corrected what is sent on the wire as well as just the parser output.

Testing I now see:

[code]

And my receiving router shows the different next-hops for each route:

[code]

Thank you so much for the great help with this.  And thanks in general for ExaBGP it is

[2020-01-20 14:32] #949 closed

[2020-01-23 21:25] adrian62 opened #950 "Malformed ipv6 labeled-unicast update"
##### Summary
Announcing ipv6 labeled unicast route to peer over the API results in a malformed update (apparently fields are shifted in the encoding of the NLRI).

Sample: announce route cafe:dead::beef/128 origin igp label [ 299808 ] local-preference 100 next-hop ::ffff:198.18.0.5

Junos peer receives:
inet6.0: 4 destinations, 4 routes (3 active, 0 holddown, 1 hidden)
  ad00::be:ef00:0/104 (1 en

[2020-01-23 21:32] cooperlees commented on #950
Just to confirm, you show your ExaBGP version as 3.4.26, but state you used pip latest - does that mean the bug still exists in 4.2.4?

[2020-01-23 21:39] adrian62 commented on #950
Sorry, I think I missed that section in the ticket. I don't use release 4.x.

[2020-01-23 22:11] thomas-mangin commented on #950
Hi @adrian62

I can confirm that the bug is well present in the version 3. Could I ask you why you are not converting to version 4 as it was fixed there. I am not actively working on version 3. as version 4 is now the stable version.

[code]
[code]

[2020-01-23 22:30] adrian62 commented on #950
4.x is not an easy let alone quick move for me now, I attempted it at the beginning of my project and I had to back out to 3.x due to the substantially better performance of the API in 3.x when large numbers of updates are sent to exabgp from the process.
Could the fix be backported or it's a major rewrite of that part in 4.x?

[2020-01-23 22:33] cooperlees commented on #950
In the long term I feel we should try identify and fix the performance regression you’ve found. Can you open an issue and repro for that?

Then you get to move forward and ExaBGP fixes its scaling. Win win.

[2020-01-24 00:17] thomas-mangin commented on #950
@adrian62 I will have a look but I will need a few days

[2020-01-24 13:06] thomas-mangin commented on #950
For the performance "regression", it is to be expected. version 3 as a much simpler parser, the new one is more flexible (I can not really say simpler as the code is quite complex) but some of the design choice were not made to focus on performance. A rewrite of the tokeniser and low level code would be required to change things (and it is very unlikely to ever be as fast as v3).

[2020-01-28 08:12] pguibert6WIND commented on #935
yes, we can.
thanks.

[2020-01-28 08:12] #935 closed

[2020-01-28 10:35] thomas-mangin commented on #950
[code]

The solution until I find out which branch I should commit, etc.

[2020-01-28 13:56] thomas-mangin commented on #950
@adrian62 forgot to notify you of the fix/patch to apply in the previous comment.

[2020-01-28 16:50] adrian62 commented on #950
Thanks Thomas this is awesome response. Applied patch and the problem is corrected.

[2020-01-30 16:35] thomas-mangin commented on #950
https://pypi.org/project/exabgp/3.4.27/

[2020-01-30 16:36] thomas-mangin commented on #950
@adrian62 completed :-)

[2020-01-30 16:36] #950 closed

[2020-01-30 16:39] #918 closed

[2020-01-30 16:41] #924 closed

[2020-02-04 16:36] ruben-herold opened #951 "loopback addresses not detected if no labels in use"
##### Summary

loopback addresses not detected if no labels in use

##### OS

centos 8

bash-4.4# uname -a
Linux box 4.18.0-147.3.1.el8_1.x86_64 #1 SMP Fri Jan 3 23:55:26 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
bash-4.4#

##### Version
[code]

##### Installation
[code]

The loopback addresses are not detected if no lables in use:

[code]

Fix is very simple will add Pull request

[2020-02-05 14:02] thomas-mangin commented on #951
@ruben-herold I assume this issue can be closed.

[2020-02-05 15:15] thomas-mangin commented on #951
@vincentbernat I may have been a bit quick to release:
https://github.com/Exa-Networks/exabgp/commit/4c9463c29ea1ab446be48a91f510252243dfd165

could you please review ?

[2020-02-05 17:12] thomas-mangin commented on #951
Thank you. updated and released 4.2.6

[2020-02-05 17:12] #951 closed

[2020-02-05 18:02] ruben-herold commented on #951
Runs fine thx for the merge

[2020-02-11 22:10] cooperlees opened #953 "Make DNS Lookup Optional"
##### Summary
Can we look at making DNS resolution *optional*. I have nodes that run as edge POP nodes for a mesh network and will never be able to do a DNS resolution successfully always, as they need BGP to talk to their controller. Once this is up, we could add to `/etc/hosts` and talk to our DNS servers, but before that I just pay the speed price.

Happy to do the PR, but wanted to know what w

[2020-02-11 23:04] thomas-mangin commented on #953
@cooperlees set host-name and domain-name in the neighbor and it will skip the DNS lookup.
[code]

[2020-02-11 23:21] cooperlees commented on #953
I even looked over that code and missed that option. My bad. Will test and if all good close this issue. #hopeless

[2020-02-12 00:03] thomas-mangin commented on #953
no issue  🤣  I am not any better myself 🤦‍♂

[2020-02-12 15:36] cooperlees commented on #953
So 2 things:

1)
I added the host-name + domain name as follows and got a syntax error:
[code]
LOG:
[code]
2)
warn() still always runs. And does the DNS queries serially.
- Would you accept at least threading them?
- Can I make it optional if all neighbors have host-name + domain-name specified?

[2020-02-13 19:18] adudek16 commented on #573
We just upgraded from 3.4.26 to 4.1.0 and our sessions are broken when withdrawing a route. Broken meaning our Nokia routers reset the session with Missing Well-known Attribute. In our case it appears that exabgp is no longer sending the route to be withdrawn?

[2020-02-13 19:24] adudek16 commented on #573
We just upgraded from 3.4.26 to 4.1.0 and our sessions are broken when sending and update  withdrawing a route. Broken meaning our Nokia routers reset the session with Missing Well-known Attribute. In our case it appears that exabgp is no longer sending the routes to be withdrawn?
[3.4.26.pdf](https://github.com/Exa-Networks/exabgp/files/4200556/3.4.26.pdf)
[4.1.0.pdf](https://github.com/Exa-Netwo

[2020-02-13 21:43] thomas-mangin commented on #573
https://tools.ietf.org/html/rfc4760

[code]

next-hop is an attribute.

[2020-02-13 21:46] thomas-mangin commented on #573
if you edit the file with the reverse of the patch above and remove the "and part", you can revert the behaviour to what Nokia seems to want.

[2020-02-13 22:36] adudek16 commented on #573
In text
3.4.26
[code]
vs
4.1.0
[code]

[2020-02-13 22:43] adudek16 commented on #573
If I should open a new issue then I can. My issue is more about the missing "Withdrawn Routes" which I am pretty sure is required, otherwise why would you send an Update with Unreach NLRI?

[2020-02-13 23:05] adudek16 opened #954 "Route withdraw is not sending the withdrawn route"
##### Summary
[EDIT] When exabgp has not sent any routes out, eg when sending an anycast address for HA only when primary is down, route update does not contain the route being withdrawn, as result BGP session is torn down by neighbor with Missing Well-known Attribute.  Looking at the tcpdump differences, it appears that the route is not being sent the update.

3.4.26
[code]
vs
4.1.0
[code]

#####

[2020-02-14 09:22] thomas-mangin commented on #954
related to https://github.com/Exa-Networks/exabgp/issues/573

[2020-02-14 09:38] thomas-mangin commented on #954
start test
[code]
then run either
[code]
generates
[code]
decoded as
[code]

QED? Update to a more recent version of ExaBGP ? I can not replicate on master.

[2020-02-14 19:08] adudek16 commented on #954
Installation: pip3 install -U exabgp==4.2.6
I am able to replicate this.  I will provide more data.

[2020-02-14 20:50] thomas-mangin commented on #954
@adudek16 .. thank you as I can not fix what I can not replicate !

[2020-02-14 20:51] thomas-mangin commented on #954
@adudek16 if you have both pip and apt/other package installed make sure you are running the latest version .. it caught quite a few users over the years :-p

[2020-02-15 00:48] adudek16 commented on #954
I think I have a simple way to reproduce this.
Simple bgp session established with no announcements.
[code]
Following your example:
[code]
The bgp session comes up with the router as expected with no issues.
Now I send
`exabgpcli withdraw route 2a02:b80:fffa:ffff::2020/128 next-hop 2a02:b80:fffb:11:8000::2020`

tcpdump capture shows
[code]
[code]

It appears that the update being generated is not

[2020-02-15 09:57] thomas-mangin commented on #954
did you ever announce the route first ? if not, this is probably where the difference lies and I can try that.

[2020-02-15 13:37] adudek16 commented on #954
No. We are using this to announce an anycast address only if the primary
server is down.

On Saturday, February 15, 2020, Thomas Mangin <notifications@github.com>
wrote:

[2020-02-16 22:06] adudek16 opened #955 "Running exabgpcli "show adj-rib out extensive" without any routes being announced crashes."
Stared exabgp with a bgp session only, no routes exchanged in or our. I can provide the conf file if needed.

[code]

[2020-02-17 05:08] thomas-mangin commented on #955
[code]

command: show adj-rib out extensive
[code]
05:05:51 | 80653  | ka-outgoing-1 | send-timer 55 second(s) left
05:05:52 | 80653  | ka-outgoing-1 | receive-timer 174 second(s) left
05:05:52 | 80653  | ka-outgoing-1 | send-timer 54 second(s) left
05:05:52 | 80653  | process       | command from process api-internal-cli-2823b8bc : show adj-rib out extensive
05:05:52 | 80653  | reactor       | as

[2020-02-17 05:10] thomas-mangin commented on #955
[code]
this is master which at the moment is the same as 4.2.6

[2020-02-17 05:11] adudek16 commented on #955
I’ll try to recreate.

On Monday, February 17, 2020, Thomas Mangin <notifications@github.com>
wrote:

[2020-02-17 14:25] adudek16 commented on #955
I am not able to recreate at the moment.

[2020-02-17 14:25] #955 closed

[2020-02-17 15:18] thomas-mangin commented on #954
If you announce the IP before removing it the bug is not present .. I found an issue with the code bug fixing it is not trivial.

[2020-02-17 17:03] adudek16 commented on #954
Not just a missed logic case?

[2020-02-18 08:19] thomas-mangin commented on #954
No more complex and the bug is hard to trigger as you must withdraw a route before announcing to trigger it

[2020-02-18 13:33] adudek16 commented on #954
I wouldn't say it is hard to trigger.  Do you understand the use case? I'm actually surprised that this hadn't been hit earlier since our use case is a standard way to do HA using an anycast address. I should check if the same thing happens if I use ipv4.   To me, it seems straight forward, we tell exabgp the exact route to withdraw, but the update is not generated with the information specified.

[2020-02-20 02:29] adudek16 commented on #954
Some more data points.
1) `exabgpcli withdraw route 10.10.100.100/32 next-hop 70.0.29.20`
2a) `exabgpcli withdraw route 2003:1b3b:fffa:ffff::2020/128 next-hop 2003:1b3b:fffb:11:8000::2020`
or
2b) `exabgpcli withdraw route 2003:1b3b:fffa:ffff::2020/128`
Then the issue does not appear, meaning the update is generated as expected
[code]
Not sure if this is relevant at the moment but 1) does not send

[2020-02-20 08:34] thomas-mangin commented on #954
It is not hard to trigger, it is not triggered by normal use case. One should never send a withdrawal command if the announce was not sent previously.

[2020-02-20 08:36] thomas-mangin commented on #954
Fixing the code correctly for when it is triggered is what is hard

[2020-02-20 11:55] Flygarfisken opened #956 "Issue with process in exabgp.conf"
Hi,

### I need help to redistribute Server loopback: 1.1.1.3 over exabgp but can't get the process working

I have been working with this for a while now and tried all kind of different syntaxes and such... it is making me crazy.
I am trying to setup Ubuntu Anycast DNS setup with bind9 and exabgp and I know that others have done it before

Router: 1.1.1.1
Server: 1.1.1.2
Server loopback: 1.1.1.3

[2020-02-20 13:20] thomas-mangin commented on #956
The syntax is invalid for exabgp 4.x
https://github.com/Exa-Networks/exabgp/blob/master/etc/exabgp/api-add-remove.conf

[2020-02-20 13:20] #956 closed

[2020-02-20 13:48] Flygarfisken commented on #956
I do not have such deep knowledge and would love to get assistance... been struggling with this for weeks now
Really thankful for the help!

**Found this healthcheck file**

**Should I use it like this?**

admin@test:~$ systemctl status exabgp
● exabgp.service - ExaBGP
   Loaded: loaded (/lib/systemd/system/exabgp.service; disabled; vendor preset: enabled)
   Active: failed (Result: exit-code) sin

[2020-02-20 15:05] thomas-mangin commented on #956
This should work
[code]

[2020-02-20 15:05] thomas-mangin commented on #956
But you need to pass the right parameters to healthcheck.py

[2020-02-20 15:33] Flygarfisken commented on #956
I have tried with both of your commands and I get this when I try to do systemctl restart exabgp - haven't touched the healthcheck.py file - this was installed when exabgp was installed
[healthcheck.py.txt](https://github.com/Exa-Networks/exabgp/files/4231588/healthcheck.py.txt)

admin@sto-dc01dns03:~$ systemctl status exabgp
● exabgp.service - ExaBGP
   Loaded: loaded (/lib/systemd/system/exabgp.

[2020-02-20 15:38] Flygarfisken commented on #956
I FOUND IT!
You wrote like this

But there is a tiny " before python3 and when I removed it I got it to work!

Omg thank you so very very much!

[2020-02-20 20:46] Flygarfisken opened #957 "Exabgp doesn't create a /var/run/exabgp/exabgp.pid in 18.04"
Hi again,

I am using monit to monitor the processes in ubuntu.

Exabgp doesn't seem to create the exabgp.pid anywhere in the system in version 18.04 and I wonder if you know any workaround?

I have uploaded some information from a working and non working machine

[Non Working Machine.txt](https://github.com/Exa-Networks/exabgp/files/4232918/Non.Working.Machine.txt)
[Working Machine.txt](https://g

[2020-02-20 20:57] Flygarfisken commented on #957
I can find this in the /etc/init.d/exabgp
PIDFILE=/var/run/$NAME/$NAME.pid

[2020-02-24 01:38] adrian62 opened #958 "Add-path path identifier not encoded in labeled SAFI (4)"
##### Summary

##### OS

[code]

[code]

##### Version

[code]

##### Installation

[code]

##### Environment

[code]

##### Configuration

[code]

##### Program output

[code]

##### Steps to reproduce

[code]

##### Importance

[code]

[2020-02-24 09:53] thomas-mangin commented on #958
Add-Path is only implemented for IPv4 Unicast ATM. If you can send me a PCAP with some UPDATE with IPv6 and Add-Path, I will look at adding the feature.

[code]

[code]

So only IPv4 Unicast is negotiated.

[2020-02-24 10:11] thomas-mangin commented on #957
The PID will be either managed by systemd or ExaBGP. I would assume it was caused by a change in the systemd `exabgp.service` file.

`systemctl show -p MainPID exabgp` should provide you with the information.

[2020-02-24 11:25] Flygarfisken commented on #957
The PID changes on every reboot and is different on every server - which I can see with the command you provided.
The exabgp 3.4.10 creates a pidfile /var/run/$NAME/$NAME.pid - but the new exabgp 4.0.2 doesn't and I need a pidfile for the software Monit to work.

When I do `cat /etc/init.d/exabgp` in exabgp 4.0.2 I can find this `PIDFILE=/var/run/$NAME/$NAME.pid`
I have installed exabgp by running

[2020-02-24 11:41] thomas-mangin commented on #957
@Flygarfisken - I do not package ExaBGP for Ubuntu. I assume the code is the same as for Debian which is kindly maintained by @vincentbernat

It is possible to modify the systemd service file to have ExaBGP save the PID (or have systemd do it - which is surely the bette path) but it is a sysadmin thing and not a bug with ExaBGP.

I can not support each and every installation of ExaBGP, please look

[2020-02-24 12:09] Flygarfisken commented on #957
@thomas-mangin Of course, I understand! I appreciate all the help and support I've got so far!

@vincentbernat do you have any suggestions?

Again, many thanks for all the help!

[2020-02-24 12:34] vincentbernat commented on #957
With systemd, ExaBGP is started with `Type=simple` (implicitely). So, no PID file is required, ExaBGP doesn't write one and systemd doesn't write one either. I see two solutions:

1. You teach monit to ask systemd for the main PID (as suggested above)
2. You put in `/etc/systemd/system/exabgp.service.d/override.conf` something like:

[code]

[2020-02-24 16:41] adrian62 commented on #958
I will look at setting up a device other than exabgp to send the labeled update with path identifier.
But just to be clear, add-path send works fine in exabgp for SAFI unicast, that includes IPv6 unicast. It's the labeled SAFI (which encodes the NLRI differently) that is not supported.
See this quick test:
[code]
And the Junos router likes it:
[code]

[2020-02-24 17:17] adrian62 commented on #958
Look at packet 9 in the attached trace (I  zipped it because the web page doesn't like the extension .pcap).
The first update in that packet is the announce with add-path, second is the EOR.
[add-path-v6-J2J.pcap.zip](https://github.com/Exa-Networks/exabgp/files/4245820/add-path-v6-J2J.pcap.zip)

[2020-02-24 18:26] Flygarfisken commented on #957
Hi @vincentbernat and sorry for being so noobish.

Do you mean that I should do like this?`

1. `mkdir /etc/systemd/system/exabgp.service.d` - since the map doesn't exist
2. `nano /etc/systemd/system/exabgp.service.d/override.conf` - since the file doesn't exist
3. Write the service below
[code]
4. save and reboot?

Option 2 (maybe)
I have figured out this too - I found a few files in `/usr/lib/tm

[2020-02-24 21:57] vincentbernat commented on #957
With first option, use:
[code]
and you should have a PID in `/var/tun/exabgp/exabgp.pid` which is up-to-date.

[2020-02-25 07:48] Flygarfisken commented on #957
@vincentbernat
Doesn't work...

root@sto-dc01dns02:~# cat /etc/systemd/system/exabgp.service.d/override.conf
[Service]
ExecStartPost=sh -c "echo $MAINPID > /var/run/exabgp/exabgp.pid"
root@sto-dc01dns02:~# systemctl daemon-reload
root@sto-dc01dns02:~# systemctl restart haproxy
Failed to restart haproxy.service: Unit haproxy.service not found.
root@sto-dc01dns02:~# cd /var/run/exabgp
bash: cd: /var

[2020-02-25 07:56] vincentbernat commented on #957
Sorry, `systemctl restart exabgp`

[2020-02-25 07:59] Flygarfisken commented on #957
@vincentbernat
Still nothing, tried rebooting the machine too

[code]

[2020-02-25 08:08] vincentbernat commented on #957
`systemctl status exabgp` should show you the error. You may change `ExecStartPost=` to:
[code]

[2020-02-25 08:25] Flygarfisken commented on #957
The `systemctl status exabgp` is all fine when I do the `systemctl restart exabgp`
Even though I change the `ExecStartPost=` to
`ExecStartPost=sh -c "echo $MAINPID > /var/run/exabgp.pid"`

[systemstl status exabgp.txt](https://github.com/Exa-Networks/exabgp/files/4248822/systemstl.status.exabgp.txt)

[2020-02-25 11:54] thomas-mangin commented on #957
Your guesses are going to be as good as mine. From the output the file was well recognised by systemd.

[2020-02-29 05:42] adrian62 commented on #958
This patch appears to enable the add-path capability negotiation for AF ipv6 and SAFI labeled-unicast (aka nlri_mpls).
Note I only tested this for add-path send, not for receive or bi-directional. I suppose that the encoding of the path identifier was present in the code because it existed for ipv4 labeled-unicast.
Please let me know if you think this is safe.

[code]

[2020-02-29 05:47] adrian62 commented on #958
Clarification that I tested the fact that exabgp successfully advertised its add-path capability for ipv6 nlri-mpls and was able to announce a route with the correct path ID to a Junos device:

[code]

[2020-02-29 10:47] thomas-mangin commented on #958
try this patch:
[code]

[2020-02-29 10:49] Flygarfisken commented on #957
Hi,
Sorry for late reply, the flue hit me quite bad.
Back to my question:

1. Exabgp version 3.4.10 in Ubuntu 14.04 creates a /var/run/exabgp.pid
2. Exabgp version 4.0.2 in Ubuntu 18.04 doesn't create a pid-file at all because of `Type=simple` - right?
3. I have tried running your commands to create a pid file but it doesn't work

[code]

I need to figure out how to get the number (in this case) 1

[2020-02-29 10:49] thomas-mangin commented on #958
Sorry - yes, you are right, this is what need changing :-)

[2020-02-29 10:53] thomas-mangin commented on #957
You could change the exabgp daemonise option and not using systemd simple.

[2020-02-29 11:04] Flygarfisken commented on #957
Would you mind explaining?

[2020-02-29 11:09] thomas-mangin commented on #957
using `type=forking` and set the env `Environment=exabgp_daemon_daemonize=1`

[2020-02-29 11:35] Flygarfisken commented on #957
Where do I find the `type=simple`

I have found `Environment=exabgp_daemon_daemonize` in `/lib/systemd/system/exabgp.service`
At the moment it says `false` - it should be changed to `1`?

[2020-02-29 11:37] vincentbernat commented on #957
Check in `journalctl -u exabgp` why the `ExecStartPost` command may fail. I think putting `/bin/sh` instead of `sh` may fix it.

[2020-02-29 12:10] Flygarfisken commented on #957
@vincentbernat
Many thanks Vicent! Got it working!

1. `mkdir /etc/systemd/system/exabgp.service.d`
2. `nano /etc/systemd/system/exabgp.service.d/override.conf`
3. Paste
[code]
4. Reboot
5. `sudo monit status`

[code]

[2020-02-29 12:10] #957 closed

[2020-03-02 03:21] adrian62 commented on #958
You should be a role model to developers. In most cases a request like mine results in yet another code branch being added. This is extraordinary.
By the way, it may also solve issue #940 if this part of the code in 4.x is similar enough.

[2020-03-02 03:21] #958 closed

[2020-03-02 09:28] thomas-mangin commented on #958
Thank you for pointing this.

[2020-03-02 10:47] thomas-mangin commented on #958
Thank you for this. 3.4.28 release.

[2020-03-02 10:48] thomas-mangin commented on #940
This is now fixed in master.

[2020-03-02 10:48] #940 closed

[2020-03-03 09:07] blny commented on #954
Hi, Thomas

Seem's I have also this problem. This my step for reproduce

1. Advertise route

Tue, 03 Mar 2020 11:42:02 189605 process       command from process ctrl-routes : announce route 2606:4700:3036::/64 next-hop ::ffff:195.34.52.115 community 8359:608
Tue, 03 Mar 2020 11:42:02 189605 reactor       async | ctrl-routes | announce route 2606:4700:3036::/64 next-hop ::ffff:195.34.52.115 communi

[2020-03-03 18:39] adudek16 commented on #954
I will double check but I believe that looks like the same behavior I see.
@blny it looks like you are only doing IPv6 the same as me.

[2020-03-04 13:22] blny commented on #954
@adudek16 I'm running IPv4 and IPv6 inside IPv4 session. With IPv4 all OK announce and withdraw route. With IPv6 in version 4.0.8 I don't see UNREACH NLRI at all. Upgrade exabgp to latest version 4.2.6 - I see UNREACH NLRI with removed prefix, but without NH.. So BGP session was dropped by BGP neighbor

[2020-03-04 14:16] thomas-mangin commented on #954
@blny did you disable the adj-rib-out ? As if the Adj-Rib-Out is disabled that would explain why we can not get the next-hop from it if it is not provided on the command.

In any case, we should not attempt to send a invalid update and this should be raised to the user.

[2020-03-04 17:30] mitradir opened #959 "section receive is invalid in process, process"
Hi!

I installed exabgp with pip and tried to use the process section as described in the [wiki](https://github.com/Exa-Networks/exabgp/wiki/Configuration-:-Process). Here is part of my config:

[code]
But when I tried to run exabgp I'm got the next message:

19:31:45 | 13937  | configuration | performing reload of exabgp 4.2.6
19:31:45 | 13937  | configuration | not reloaded, no change found in t

[2020-03-05 09:22] blny commented on #954
Hi, @thomas-mangin  I checked both variant - adj-rib-out enabled and disabled.. result the same, then I send withdraw route with next-hop

Thu, 05 Mar 2020 12:09:46 231218 process       command from process ctrl-routes : withdraw route 2606:4700:3037::/64 next-hop ::ffff:195.34.52.115

outgoing BGP UPDATE missing NH in the mp-unreach-nlri

[2020-03-05 09:27] thomas-mangin commented on #959
https://github.com/Exa-Networks/exabgp/blob/master/etc/exabgp/api-api.conf

[2020-03-05 09:27] #959 closed

[2020-03-05 09:28] thomas-mangin commented on #959
What you are using is indeed not a valid version 4 syntax

[2020-03-05 09:30] thomas-mangin commented on #847
@tomjshine very nice - I will merge - thank you. Do you want to add an entry in the CHANGELOG part of the patch ?

[2020-03-05 11:03] tomjshine commented on #847
Hey Thomas,

Cool! And thanks!

Is that something you normally do? Or would I need to amend the commit and
push again? If the latter it could be the weekend.

Whatever works best for you really.

Thanks,
Tom

On Thu, Mar 5, 2020, 9:30 AM Thomas Mangin <notifications@github.com> wrote:

[2020-03-06 14:17] thomas955 opened #961 "aggregator attribute syntax"
##### Summary
Aggregator statement in configuration marked as syntax error if spaces missing after "(" and before ")" :
e.g. `route 1.1.1.0/24 ... aggregator (29736:2.2.2.2)`
It is working if i insert spaces `( 29736:2.2.2.2 )`.

It is possible to announce the route in both ways with or without spaces via exabgpcli:

`./exabgpcli announce route 1.1.1.0/24 ... aggregator (29736:2.2.2.2)` <- working

[2020-03-06 14:35] thomas-mangin commented on #961
Thank you very much for reporting the issue. Fixed :-D

[2020-03-06 14:35] #961 closed

[2020-03-09 15:54] garybuhrmaster opened #962 "High CPU utilization in 4.2.6 compared with 4.1.2"
##### Summary

CPU utilization of essentially idle exabgp process is much higher in 4.2.6 then 4.1.2.

Doing a strace on the process shows rapid polls with short timeouts.

My WAG is that the change from select to poll someplace missed that the timeout (to poll) is now in milliseconds rather than seconds (to select).

As a mitigation I changed the environmental value of reactor.speed to be 1000 ra

[2020-03-09 16:41] thomas-mangin commented on #962
Thank you for the report and your findings. I will investigate and update as required :-)

[2020-03-11 16:43] thomas-mangin commented on #962
It is possible that the issue is well due to the timeout, but the python documentation says:
[code]

[2020-03-11 17:53] garybuhrmaster commented on #962
That section is valid for edge triggered polling (epoll), but the python documentation for Polling Objects says....

poll.poll([timeout])
..... If timeout is given, it specifies the length of time in milliseconds which the system will wait for events before returning.

And for what it is worth, the select.select documentation says:  The optional timeout argument specifies a time-out as a floating

[2020-03-15 21:34] thomas-mangin commented on #962
[code]

It seems that I had already noticed this during the conversion and indeed missed some code !

[2020-03-15 21:43] #962 closed

[2020-03-22 10:13] Mosesnehru opened #963 "BGP-LS Attributes 'sr-adj-flags' , 'sids' 'sr-adj-weight' JSON Format Error"
Hi,

When I receive BGP-LS update of an Segment Routing enabled Link , bgpls-link NLRI has the Adj-SIDs in the attributes.

These ADJ-SIDs are devcoded from the TLV type 1099 as per 👍
  https://tools.ietf.org/html/draft-ietf-idr-bgp-ls-segment-routing-ext-16#section-2.2.1

Each link Adjacency can have multiple TLV1099 for multiple ADJ-SIDs of that particular link.

In my case I have , two ADJ SIDs

[2020-03-22 10:17] thomas-mangin commented on #963
Could you please use exabgp with the option -d and provide us a copy of the UPDATE which is incorrectly parsed so we can fix the code please

[2020-03-22 10:37] Mosesnehru commented on #963
[exabgp_output_1.log](https://github.com/Exa-Networks/exabgp/files/4365031/exabgp_output_1.log)

[2020-03-22 10:38] Mosesnehru commented on #963
The out logs attached.

[2020-03-22 23:49] tomjshine commented on #963
Hey Guys, I'm happy to look at this one. It's not so different to https://github.com/Exa-Networks/exabgp/pull/960, in that there are multiple copies of the same TLV within the update. It will require a breaking change to the output data structure.

[2020-03-23 01:01] ruissalo commented on #963
go for it!

[2020-03-23 11:02] thomas-mangin commented on #963
@tomjshine I agree with @ruissalo. ATM exabgp breaks when parsing - better move the problem down the line to the user. It will be the second time we would have had to do this. Just need a big note in the CHANGELOG.

[2020-03-23 11:03] thomas-mangin commented on #963
@tomjshine if you need any help - let me know

[2020-03-24 00:38] tomjshine commented on #963
@thomas-mangin, I had a go anyway - https://github.com/Exa-Networks/exabgp/pull/964. See what you guys think.

[2020-03-24 00:40] tomjshine commented on #847
I think this can be closed now

[2020-03-24 08:35] #847 closed

[2020-04-01 12:38] sincerywaing opened #965 "v4.2.6: exabgp stuck at read(0,"
exabgp 4.2.6

config:

[code]
I don't see anything wrong but it errors out: syntax error in section process on line x: }

[2020-04-01 12:47] thomas-mangin commented on #965
Starting exabgp this way will help:
`env exabgp.debug.configuration=1 ./sbin/exabgp config -d CONFIG`

`encoder json;` missing in the process section.

[2020-04-02 09:18] sincerywaing commented on #965
cool thanks Thomas.

I managed to get it work.

btw is there any change on v4 that use the healthcheck command? the same config file with `command=some command` does not work in exabgpv4 while it works in v3. basically it seems no longer doing what specified in `command`

[2020-04-02 13:08] thomas-mangin commented on #965
healthcheck will now only issue the route once I believe. There is a wiki entry for converting from 3 to 4.

[2020-04-02 13:08] thomas-mangin commented on #965
`exabgp --de` to see if the option is correctly set

[2020-04-02 13:58] sincerywaing commented on #965
[code]

looks like correct.

[2020-04-02 13:59] sincerywaing commented on #965
my situation looks a lot like below

[code]

but I thought since I have ack=false, I shouldn't have the issue.

[2020-04-02 14:18] sincerywaing commented on #965
my `command = python some.py` is actually doing some curl to an application and logging to a file. but the log stops around 20s after exabgp starts up. in 3.4 it logs every `internval`.

[2020-04-03 06:17] sincerywaing commented on #965
it turned out issue with init file. close for now

[2020-04-03 08:09] sincerywaing commented on #965
tried shuffle things around but it still stuck after running about 20s. strace shows stuck at read(0,

[2020-04-03 08:21] sincerywaing commented on #965
I think I know why. though in env I set ack=false, I have sudo directive in the config as I need take out the vip. and these parameters are exclusive to each other. do we know why is that? any workaround?

[2020-04-03 08:21] thomas-mangin commented on #965
Hi @sincerywaing

You have a problem with blocking IO. Please use the `ack=false` if you do not know about to write async IO code.

https://github.com/Exa-Networks/exabgp/blob/master/etc/exabgp/example-api-program.run

[2020-04-03 15:05] sincerywaing commented on #965
@thomas-mangin Thanks. the thing is that I already have ack=false set in env file (see previous discussion). but I took a look at code it’s conflict with sudo? any workaround on this?

[2020-04-03 15:32] thomas-mangin commented on #965
And if you use read (which is a blocking call) on 0 aka stdin (which is what ExaBGP sends back)  when there is no data to be read, it will stay there forever. Do not read from ExaBGP if you are not sure there is thing to read, and there will be nothing to read if you use `ack=false`

[2020-04-04 00:44] sincerywaing commented on #965
sounds good. one last question - isn’t ack=false the default setting? is it conflict with sudo?

[2020-04-04 13:51] sincerywaing commented on #965
btw how do I know when I use read? my script does not read anything...

[2020-04-04 14:29] thomas-mangin commented on #965
You wrote
[code]

You are telling me your code does.

[2020-04-04 15:20] sincerywaing commented on #965
ah I thought this is what exabgp does... essentially my code is not doing anything but curl...

[2020-04-05 03:39] sincerywaing commented on #965
@thomas-mangin my configuration is essentially the same as https://github.com/Exa-Networks/exabgp/blob/e9fa7ced7a4867b7ff7ca72e20a305d7231894c3/etc/exabgp/example-healthcheck.conf

[2020-04-05 04:13] sincerywaing commented on #965
more logs when I reload exabgp

[code]

[2020-04-05 05:02] sincerywaing commented on #965
I managed to fix this by adding some code in https://github.com/Exa-Networks/exabgp/issues/895#issuecomment-502030892
@thomas-mangin do you recommend this code as a separate process (in a while loop) or integrate it inside an existing process? e.g. run clear_pipeline() after the each time the main func run.

[2020-04-05 05:51] sincerywaing commented on #965
more on strace:

[code]

[2020-04-05 07:40] sincerywaing commented on #965
looks like indeed `ack=true` fixed my problem. it seems exabgp is waiting for `done\n' from process, while having `ack=true` can send it.

[2020-04-06 16:06] #965 closed

[2020-04-06 16:06] thomas-mangin commented on #965
need to update the doc to be clearer.

[2020-04-06 16:48] thomas-mangin commented on #963
could you please provide the "received TCP payload" I should use to test your patch please ?

[2020-04-07 22:14] tomjshine commented on #963
is this what you need?

[code]

[2020-04-07 23:43] Mosesnehru commented on #963
Yes, That's correct.
However , the current ExaBGP code only supports decoding of ISIS SR attributes / flags.
I am using OSPF and need to modify my parsing script to shift some flags and SID.

I will confirm shortly.

[2020-04-07 23:45] Mosesnehru commented on #963
Hi Thomas,
Sorry for the delay, I will attach the Capture,
Moses

[2020-04-08 18:16] Mosesnehru commented on #963
hi @thomas-mangin
[BGP_LS_ADJ_SID_01.zip](https://github.com/Exa-Networks/exabgp/files/4452119/BGP_LS_ADJ_SID_01.zip)

Capture of BGP_LS update messages.
Second update message is a good example for two ADJ SIDs.

[2020-04-15 14:47] sincerywaing opened #966 "exabgp 4.2.6 has duplicated process when reload with usr2"
version: 4.2.6

how to reproduce:

run exabgp with process, then you’ll see one process running as defined after run directive.

then update the command used by run, send a usr2 to exabgp.

You’ll see both process (old run command and new run command) are running.

Start and stop the service could clear the old command process.

another question is what’s the difference between sending usr1 and us

[2020-04-15 15:26] thomas-mangin commented on #966
Thank you @sincerywaing - I will look into it and see why this happening.

[2020-04-16 00:20] sincerywaing commented on #966
another question is what’s the difference between sending usr1 and usr2? if I want a graceful reload (don’t want bgp neighbor down or route withdraw), seems usr2 is preferred?

@thomas-mangin what’s your suggestion on this one?

[2020-04-16 22:37] subsecond commented on #573
I ran into the exact same issue today while testing ExaBGP 4.2.6 against an older version of FRR running on Cumulus Linux 3.7.12. And at first, I also thought that this was an ExaBGP issue since I was not facing any problems with ExaBGP 3.x in the past.

This is what I did on the ExaBGP 4.2.6 side (2001:db8::200):

[code]

And this is what happened on the Cumulus Linux 3.7.12 side (2001:db8::100):

[2020-04-16 22:55] adudek16 commented on #573
@subsecond Have you seen anything like #954?

[2020-04-17 09:35] subsecond opened #967 "Remove path attributes in an UPDATE message that only contains MP_UNREACH_NLRI"
##### Summary
Following the principle "be liberal in what you accept and conservative in what you send" we should remove the path attributes `ORIGIN` and `AS_PATH` from UPDATE messages that only contain the `MP_UNREACH_NLRI` because [RFC4760](https://tools.ietf.org/html/rfc4760) states:

Currently, when sending a BGP `withdraw`, here is what that update message looks like on the wire:

[code]

Bot

[2020-04-17 09:56] subsecond commented on #954
Since @adudek16 pinged me regarding this issue here, I am trying to answer as best I can:

@adudek16 Did you update to ExaBGP 4.2.6? Can you still reproduce the initial behavior as described in https://github.com/Exa-Networks/exabgp/issues/954#issue-565002616? I was not able to reproduce your initial issue. Later in the thread you mention that only the nexthop attribute is missing (see my comment

[2020-04-17 10:02] thomas-mangin commented on #967
I believe we currently send both reach and unreach in the same message. I need to see what the impact would be on the code but in principle it makes sense.

[2020-04-17 10:31] subsecond commented on #967
Fully agreed: We should only remove all path attributes in case we do not send `MP_REACH_NLRI` in the same update.

[2020-04-17 13:40] adudek16 commented on #954
@subsecond Yes. I can reproduce it easily with the steps above.

[2020-04-17 13:45] subsecond commented on #954
Could you be a bit more specific, please:

Which part exactly can you reproduce? The missing next-hop attribute? Or is the entire withdrawn route missing? With ExaBGP 4.2.6 or 4.1.0?

The more details you provide the better one can understand what we are dealing with here.

[2020-04-17 13:52] adudek16 commented on #954
@subsecond 4.2.6 as stated on Feb 14 message. I will get fresh captures. today.

[2020-04-22 01:11] sincerywaing commented on #966
@thomas-mangin are you able to reproduce the issue?

[2020-04-22 11:43] thomas-mangin commented on #966
@sincerywaing I have not been working on ExaBGP, but I will get to it.

[2020-04-24 12:40] alexejli commented on #805
+1 for BMP in ExaBGP

Currently available tools handling BMP are not maintained or are too big and include much more than just BGP messages handling. OpenBMP's latest commit was on Mar 6, 2018, and if you take a look at issues the general feeling is that it is the last commit ever on that repo. Cisco "support's" that project so...nothing unexpected..

ExaBGP was always my "swiss army knife of netw

[2020-04-24 12:42] thomas-mangin commented on #805
The support was there for the early draft .. It may come back but I do not want to promise anything.

[2020-04-24 12:56] paololucente commented on #805
I hope @thomas-mangin does not mind if i take opportunity to reply to this very point mentioning the pmbmpd daemon of pmacct ( https://github.com/pmacct/pmacct ) to collect BMP messages (in a way the perfect companion tool for an ExaBGP BMP implementation).

pmbmpd does only BMP collection while other daemons (ie. nfacctd) can correlate BMP to flow messages. One can ship messages to Kafka and from

[2020-04-24 14:17] thomas-mangin commented on #805
Hi Paolo, how do you dare promote other good open source software here :-D

More seriously do you want me to list pmacct in the list of BGP speakers I have on the wiki ?

[2020-04-24 16:19] paololucente commented on #805
Hi Thomas :-) I would totally love that, yes. But here stands always my dilemma: is a BGP collector a BGP speaker? Or maybe we would need a note for pmacct (collector only); or a separate list for collectors? Paolo

[2020-04-27 15:26] thomas-mangin commented on #805
You are under BMP atm. If you want to edit the text feel free you can I believe!

[2020-04-27 15:29] paololucente commented on #805
Wonderful, thank you! That looks fantastic. Paolo

[2020-04-28 09:32] pettai opened #969 "Exabgp 4.1.2 ends up running in an unknown state (not sending announcements)"
##### Summary
After some time (12<36h) Exabgp 4.1.2 stop sending announcements & exabgpcli can't interact with it anymore

##### OS
[code]

[code]

##### Version
[code]

##### Installation
[code]

##### Environment
[code]

(the .env file is a lot bigger than this, but perhaps this is because of the state of exabgp that the output becomes tiny)

##### Configuration
[code]

##### Program output
[cod

[2020-04-28 10:46] thomas-mangin commented on #969
Please search the past issues for `exabgp.api.ack`. The issue is also explained in the migration wiki from 3 to 4.

[2020-04-28 10:48] thomas-mangin commented on #969
Also, I only support the latest stable release and master. It could be this problem exists in 4.1.x

[2020-04-28 17:47] pettai commented on #969
Okay, I understand that.
Anyway, since `ack = true` seems to cause much issues (at least here on github), why does it seem to be the default for exabgp (4) ?

At first I though it was the debian package that set it default, but the debian package script(s) just generate the .env file upon installation, as per:

[code]

Perhaps the default for exabgp (4) should be set to `ack = false` ?

[2020-04-28 19:04] thomas-mangin commented on #969
Because otherwise, the application has no way to know if the route was accepted for announcement or not.

[2020-04-28 19:04] #969 closed

[2020-04-29 10:24] pizu opened #970 "exabgp startup issue."
Hi,

We are using the exabgp from github and this is working without any issues but when trying to use the  package from ubuntu we are having the bellow issue:

● exabgp.service - ExaBGP
     Loaded: loaded (/lib/systemd/system/exabgp.service; disabled; vendor preset: enabled)
     Active: failed (Result: exit-code) since Wed 2020-04-29 10:11:11 UTC; 1s ago
       Docs: man:exabgp(1)

[2020-04-29 10:49] #970 closed

[2020-04-29 10:50] pizu commented on #970
enabled:

User=exabgp
Group=exabgp

in: /lib/systemd/system/exabgp.service

[2020-05-07 03:41] leleobhz opened #971 "Issue parsing process->run if have commas on command"
##### Summary
This run command:

[code]

Leads to this error:

[code]

Analysing with strace, exabgp tries to subprocess the following execve:

[code]

##### OS
Docker container based on python:3-slim-buster. Kver from host is:

[code]
##### Version

ExaBGP was built in the following form:
[code]

##### Steps to reproduce

Just configure any run command that contains commas. and start ExaBGP. In s

[2020-05-07 07:54] thomas-mangin commented on #971
Hello @leleobhz

Can you please provide us your configuration. Thanks.

[2020-05-07 20:06] leleobhz commented on #971
Hello Thomas!

I'll just hide the IP address, ok?

[code]

Environment is:

[code]

Do you need something else?

Thanks!

[2020-05-07 20:49] thomas-mangin commented on #971
try using quotes ("") after run and before ;

[2020-05-07 21:00] arnevt opened #972 "change of static route in config file causes update and afterwards withdrawal after reload"
##### Summary
hi,

in our exabgp setup (long running 4.0.9, but also tested on latest 4.1 and 4.2 released) we announce a static route via
[code]
if we change that to e.g.
[code]
and issue a systemctl reload (kill -USR1) we have the symptom that the route disappears from our network. Looking via tcpdump tells me we see a BGP update for the new (changed) route, but afterwards an BGP withdrawal for

[2020-05-08 12:40] thomas-mangin opened #973 "correctly fix workaround"
https://github.com/Exa-Networks/exabgp/commit/4aa06e4358e81696f819a9f96f15ac45f85831af

Need a proper solution

[2020-05-09 22:03] paunadeu opened #974 "Non-local address on neighbor generate non-related alerts"
##### Summary
Trying to configure neighbor with a non local-address configured gives a error that can lead to confusion.

##### OS
[code]

##### ExaBGP Version
[code]

##### Installation
[code]

##### Environment
[code]

##### Configuration
[code]

##### Program output
[code]

##### Steps to reproduce
Maybe more accurate error message should be displayed to avoid user confusion:
[code]
I think thi

[2020-05-09 22:06] paunadeu commented on #974
[code]

[code]

[2020-05-10 17:05] thomas-mangin commented on #974
with your config I get:

[code]

[2020-05-10 17:09] thomas-mangin commented on #972
Argh, I feel like killing the SIG feature .. It was written before there was a way to control exabgp externally and it is a pain ..

[2020-05-11 22:14] akilnath commented on #643
Quagga
hostname SoftBGP
password zebra987
enable password zebra987
log file /var/log/quagga/bgpd.log

debug bgp events
debug bgp filters
debug bgp fsm
debug bgp keepalives
debug bgp updates

router bgp 65530
bgp router-id 172.16.0.18
bgp log-neighbor-changes

neighbor 172.16.0.26 remote-as 65501

ExaBGP
group Core_v4 {
    hold-time 180;
    local-as 65501;
    peer-as 65530;
    router-id 172.16.

[2020-05-12 13:03] sincerywaing commented on #966
I feel this has something to do with process keeps ending the routes every time it completes a healthcheck. `reload_completed` can't be finished.

[2020-05-12 14:17] sincerywaing commented on #966
it also withdraw the route even there is new process announcing the route.

[2020-05-14 20:02] leleobhz commented on #971
@thomas-mangin Samething :(

[2020-05-16 08:32] thomas-mangin commented on #971
I have successfully run your configuration file on my machine with the socat installed on my mac and an ubuntu VM (Ubuntu 18.04 LTS using multipass).

[code]

As installing with
[code]
does not work, which is a real bug :-(, the reason must be that you must not be using the exabgp version you think you are.

[code]

[2020-05-16 08:32] thomas-mangin opened #975 "pip install git+https://github.com/Exa-Networks/exabgp.git@4.2.6 fails"
As installing with
[code]
does not work, which is a real bug :-(, the reason must be that you must not be using the exabgp version you think you are.

[code]

[2020-05-16 08:34] thomas-mangin commented on #975
Support for python2 was removed from master so this on is going to remain unresolved :-(
Looking to fix master.

[2020-05-16 08:36] thomas-mangin commented on #971
https://github.com/Exa-Networks/exabgp/issues/975

[2020-05-16 08:37] thomas-mangin commented on #971
could you provide the version of exabpg reported by the executable ?

[2020-05-16 10:11] thomas-mangin commented on #975
fixed with
https://github.com/Exa-Networks/exabgp/commit/b8c6cd5a1126e573915c7fba34f9732a4af7225c

[2020-05-16 10:11] #975 closed

[2020-05-16 10:13] #974 closed

[2020-05-16 10:34] alexejli opened #976 "Unspecific/unsupported family ipv4 mpls-vpn with extended next-hop capability enabled"
** Bug Report **

While experimenting with sending different routes between two exabgp instances I came across a possible bug. When I send a route like one from your example (etc/exabgp/run/api-attributes-vpn.run):

announce attribute route-distinguisher 63333:100 label [ 110 ] next-hop 10.0.99.12 nlri 128.0.64.0/18

.. second exabgp peer breaks and keeps restarting session with error - UPDATE mes

[2020-05-16 14:50] thomas-mangin commented on #976
master is currently in flux and but could you please test the fix above. The previous patch is also related.

[2020-05-16 15:01] thomas-mangin commented on #966
same bug as #972

[2020-05-16 15:03] thomas-mangin commented on #972
A way around the issue is to use graceful-restart with 10 seconds and restart exabgp, it will give the router 10s to get the new routes before removing the old ones as stale.

[2020-05-17 07:31] subsecond commented on #967
Thanks for the patch, @href.
I can confirm that the patch indeed resolves our issue in older versions of FRR.

[2020-05-17 07:31] #967 closed

[2020-05-17 08:24] alexejli commented on #976
It works now:

Sun, 17 May 2020 10:19:10 8086   process       command from process test : announce attribute route-distinguisher 63333:100 label [ 110 ] next-hop 10.0.99.12 nlri 129.0.64.0/18
Sun, 17 May 2020 10:19:10 8086   reactor       async | test | announce attribute route-distinguisher 63333:100 label [ 110 ] next-hop 10.0.99.12 nlri 129.0.64.0/18
Sun, 17 May 2020 10:19:10 8086   configurati

[2020-05-17 09:10] #976 closed

[2020-05-18 02:34] sincerywaing commented on #972
if I remember correctly I had set the graceful restart to default 60s already.but I can double check.

Any way we can test this? i.e. release a 4.2.6.1?

[2020-05-18 07:40] thomas-mangin commented on #972
pip install git+https://github.com/Exa-Networks/exabgp.git should work but I started to change master in view of releasing exabgp 5 so there is lots of change. The configuration format is still the same atm but the command line did change a bit

[2020-05-18 16:16] paunadeu commented on #974
What can I do for you? Why I get this error? Can do something for debug deeper?

[2020-05-18 20:44] thomas-mangin commented on #974
Nothing you can do really, it is already fixed on master but as I started some work toward what will become 5.0 so the next release will take some time .. I will branch and release a 4.xx release with the fix.

[2020-05-18 21:19] thomas-mangin commented on #974
I have released 4.2.7 if you want to see if it fixes the issue.

[2020-05-19 07:08] arnevt commented on #972
going to try in a few days, don't wanna run this in production and our staging/dev network is occupied by dev ATM :)

[2020-05-20 10:32] sincerywaing commented on #966
@thomas-mangin tested on 4.2.7 still same issue. duplicated process. I think this has something to do with stdin issue with this version, as the stale process is waiting for stdin and stuck there.

[2020-05-20 11:04] thomas-mangin commented on #966
what is the code of your process?

[2020-05-20 16:39] thomas-mangin commented on #966
@sincerywaing
[humouristic mode on]
My ego is simply too large to entertain the possibility of a bug in my code. Therefore I can only assume the issue is in this invisible code of yours ..

If you want **free** support and help for a **free tool**, in my not so available free time (**no my time is NOT FREE**) ... please provide me with something which allows me to help you. Otherwise, I will have

[2020-05-20 20:32] leleobhz commented on #971
Exabgp was built using

pip install git+https://github.com/Exa-Networks/exabgp.git@4.2.6

Its a need to get the version? I'll need to change the production environment to replicate the issue at this date (I did a "workarround" using docker binding volumes and manual permission changes).

[2020-05-20 22:40] thomas-mangin commented on #971
[code]
sparkle DOT cmd
[code]
sparkled COMA cmd

[2020-05-20 22:51] thomas-mangin commented on #971
Correct the parser does indeed see this , as a separator.

[2020-05-20 23:08] thomas-mangin commented on #971
[code]

[2020-05-20 23:08] #971 closed

[2020-05-23 21:38] mnanduri opened #978 "Question - Total Routes Received from Peer"
Greetings,

Is there a way to get total routes received from the peer? for example:

Received prefixes: 100

[2020-05-23 22:54] thomas-mangin commented on #978
Not ATM - but I will take it as a feature request.

[2020-05-24 00:45] mnanduri commented on #978
Ok. Thanks for the quick reply.

[2020-05-24 23:32] mnanduri opened #979 "Question - Exabgp deployment recommendation"
What do you  guys recommend to run exabgp on if you want to receive 3-5 million routes and establish 100 to 150 BGP sessions wrt memory/cpu and cores?

[2020-05-25 06:50] shaoberry opened #980 "4.2.7 doesn't support "python -m exabgp healthcheck""
python -m exabgp healthcheck -F unicast-ip4.cfg
python: No module named `exabgp.__main__`; 'exabgp' is a package and cannot be directly executed

I found ```exabgp/__main__.py``` is missing. is it deprecated, or deleted in 4.2.7 by mistake?

[2020-05-25 10:19] thomas-mangin commented on #980
A mistake from my part when I was trying to get zipapp working - resolved with 4.2.8 just out now

[2020-05-25 10:19] #980 closed

[2020-05-25 10:21] thomas-mangin commented on #979
Can I ask your use case please ?

[2020-05-25 14:24] mnanduri commented on #979
predominantly as route collector.

On Mon, May 25, 2020 at 6:21 AM Thomas Mangin <notifications@github.com>
wrote:

[2020-05-25 16:28] thomas-mangin commented on #979
ExaBGP is written in Python which by default can only use a single core. The code is not super fast neither. That said, it should never drop connection even when busy so if speed is not an issue and your BGP peers are not going to complain as ExaBGP is slow to update it will not matter.

If you use ExaBGP to connect outbound (and not accept connection), you can also break the configuration in smal

[2020-05-25 21:21] mnanduri commented on #979
Thanks for the information, appreciate it.

On Mon, May 25, 2020 at 12:28 PM Thomas Mangin <notifications@github.com>
wrote:

[2020-05-26 09:28] sincerywaing commented on #966
the ultimate fix is to remove `no-ack` and `sudo` from `mutually_exclusve_arguments` :)

[2020-05-26 09:43] shaoberry commented on #966
I meet this issue in 4.2.7 as well and find it only happens when ack is enabled.

**Symptom:**
[code]
each reload will make a set of whole healthcheck processes.

**Analysis:**
the old processes are waiting from input from stdin.
[code]

**Root Cause:**
when SIGUSR2 is delivered, the main process sends SIGTERM to hc(healthcheck) processes and directly deletes hc processes altogether with their std

[2020-06-01 12:56] verthais opened #982 "Question - status of bgp session"
I've been using a docker image with exabgp and my rest api - which holds flask app with class holding stdout stream - to issue commands to it. I've wanted to receive some information from exabgp and I've encoutered some dificulties:
1) I can't seem to find the command to check the status of connection to bgp.
2) struggle to understand how to parse output of exabgp.

Can you please support me with

[2020-06-01 13:16] thomas-mangin commented on #982
hi @verthais

(1) You can have a look at exabgpcli .. you should be able to do a "show bgp summary" to know the peers.
(2) it is either plain text or JSON - you are right the format is not documented as should .. one mor thing on the long todo  ...

[2020-06-02 07:32] verthais commented on #982
I must admint I'm quite a newbie in terms of communication with bgp and exabgp thus when i do
`echo "show bgp summary" >> /run/exabgp/exabgp.in`
the message is printed:
`# 09:08:49 | 28     | api           | command from process not understood : show bgp summary`
and on the `tail -f /run/exabgp/exabgp.out`
`error`
I found some infromation with `show neighbour extensive` command:
[code]
and I'm won

[2020-06-02 10:02] thomas-mangin commented on #982
Yes, this is what you are looking for. You should really have a look at the examples in the etc folder of the repository and read the wiki entry about converting scripts from version 3 to version 4.

[2020-06-02 12:04] #982 closed

[2020-06-02 12:42] thomas-mangin opened #984 "Need to backport #983 to 4.2"

[2020-06-02 13:25] thomas-mangin commented on #984
#985 did it :-) thanks

[2020-06-02 13:25] #984 closed

[2020-06-02 21:56] thomas-mangin commented on #954
Could it be that your issue is that same as the one which was fixed with 4.2.10?

[2020-06-02 22:59] adudek16 commented on #954
@thomas-mangin  I can certainly verify.

[2020-06-03 08:36] sincerywaing commented on #954
+1. the subprocess send route withdraw to main process, but the main process already closed pipe so main process does not receive withdraw from subprocess, then it won't send widthdraw to bgp neighbor. we saw this on 4.2.9 too. will take a look at 4.2.10.

[2020-06-03 09:01] sincerywaing commented on #966
above fix is in 4.2.9

[2020-06-03 09:01] #966 closed

[2020-06-05 21:26] adudek16 commented on #954
@thomas-mangin no, it does not.
@subsecond This happens in 4.2.10, 4.2.6, and 4.1.0. It is a behavior change from 3.
What I see is exabgp sending an Update message (route withdraw) without a route.
I see this on Alcatel Lucent 7x50 Routers running anything recent (16.0 - 19.10).

[2020-06-18 10:51] reza-ghazvini commented on #941
Dear Thomas,
I appreciate you because of this powerful Exabgp tool. I have a problem and may you leave me any comment to solve the issue.
I have 2 Debian servers ver 4.19.98-1+deb10u1, one of them runs FRR ver 6.0.2 and another Exabgp ver 3.4.10.
I can pass the below policy from EXABGP-peer to the FRR-peer.
       neighbor 10.1.1.3 {
            description "alpha";
            local-address 10.1.

[2020-06-18 11:06] reza-ghazvini opened #986 "Exabgp and FRRouting"
Dear Thomas,
I appreciate you because of this powerful Exabgp tool. I have a problem and may you leave me any comment to solve the issue.
I have 2 Debian servers ver 4.19.98-1+deb10u1, one of them runs FRR ver 6.0.2 and another Exabgp ver 3.4.10.
I can pass the below policy from EXABGP-peer to the FRR-peer.
       neighbor 10.1.1.3 {
            description "alpha";
            local-address 10.1.

[2020-06-18 13:34] thomas-mangin commented on #986
This is an FRR question (as if the flow was invalid the BGP session would have been teared down.
Most likely the prefix is not learned (or there is no aggregate) and therefore the route is not installed.

[2020-06-18 13:34] #979 closed

[2020-06-18 14:37] reza-ghazvini commented on #986
Hi Thomas,
         I really surprised about this quick response and thanks for your comment. It will be a great chance for me if you answer this question, although I know you are not responsible and are very busy.
          1) I could not understand the reason of this comment > (or there is no aggregate)
          2) Should I see any change on IPtables of FRR machine after EXABGP sends flowspec r

[2020-06-19 16:26] thomas-mangin commented on #986
1) if your router can not route toward the prefix (for example for a /30 if it does not have a /30, /29, /28, etc for the prefix, the flow route will not be used.
2) This is an FRR question - no idea. last time I used flowspec it was with JunOS and it was a few years ago.
3) This is an FRR question - no idea.
4) There is a few in the etc folder of the repository.

[2020-07-08 14:32] alexejli commented on #668
+1 for this feature

[2020-08-26 18:28] mitradir opened #989 "Link Local IPv6 Addresses"
Hi!

Does ExaBGP support session establishment on the link-local addresses?

[2020-09-03 01:46] daysomeon opened #990 "can i"
##### Summary

##### OS

[code]

[code]

##### Version

[code]

##### Installation

[code]

##### Environment

[code]

##### Configuration

[code]

##### Program output

[code]

##### Steps to reproduce

[code]

##### Importance

[code]

[2020-09-03 01:46] #990 closed

[2020-09-03 07:26] thomas-mangin commented on #989
Nothing prevents it.

[2020-09-03 07:26] #989 closed

[2020-09-03 09:58] ldong2014 opened #991 "Issue with the process' PIPE, terminating it and restarting it"
Exabgp not work,  logging as the below

uter-id 202.112.20.6 family-allowed in-open
Thu, 03 Sep 2020 17:50:12 | INFO     | 10705  | configuration | Loaded new configuration successfully
Thu, 03 Sep 2020 17:50:12 | INFO     | 10705  | processes     | Forked process service-dynamic
Thu, 03 Sep 2020 17:50:13 | INFO     | 10705  | processes     | Command from process service-dynamic :
Thu, 03 Sep 2020

[2020-09-03 09:58] ldong2014 commented on #991
Is there anyone can help me?

[2020-09-03 10:41] thomas-mangin commented on #991
Not really as you do not provide the information requested, no configuration file, etc. Also `Too many respawn for service-dynamic (5) terminating program` means that the program you are running is ending (when it should not) and therefore not working as should, this is what you need to debug. Good luck!

[2020-09-03 10:41] #991 closed

[2020-09-24 12:39] ghost opened #992 "healthcheck problem on IPv6 --dnamic-ip-setup on linux"
I noticed an interesting behaviour regarding the healthcheck in combination with IPv6 and --dynamic-ip-setup. This is a combination of linux behaviour and the way that the healthcheck configures IPs. It was observed on exabgp 4.2.11 running in a freshly built Alpine Linux container.

It seems that the linux kernel does not use or support the label option the for ipv6 the same way that it does for

[2020-09-24 12:41] thomas-mangin commented on #992
Thank you for this comprehensive bug report, much appreciated. @vincentbernat may have an opinion on how it could be handled. If not, I will look into how we can fix this issue.

[2020-09-24 13:36] awlx commented on #992
As I was also interested in this issue. I verified with pyroute2 that the kernel indeed misses the IFA_LABEL for ipv6 addresses.

See this dump:

[code]

[2020-09-24 15:50] vincentbernat commented on #992
Looking at the kernel source code, `IFLA_LABEL` is only handled for IPv4. I am a bit surprised as I was pretty sure I did use that in the past successfully. I don't see anything else that could be used instead of a label for IPv6. This could be added to Linux, as routes have such an attribute (protocol), but it won't solve the immediate issue.

So, we need a special handling for IPv6 or a fatal er

[2020-10-12 13:50] Annih opened #993 "Healthcheck with dynamic-ip-setup remove loopback ips before announcing DOWN/DISABLED"
**The bug**

When the healthcheck is failing the loopback ips are removed prior to announce the DOWN (or DISABLED), resulting in a short period during which packets routed to the the server are refused.

python[18086]: healthcheck[18086]: service down, deleting loopback ips
sudo[18156]:   exabgp : TTY=unknown ; PWD=/ ; USER=root ; COMMAND=/usr/sbin/ip address delete 192.0.0.1/32 dev lo
python[1808

[2020-10-12 16:33] #993 closed

[2020-10-19 18:15] jeremyss opened #996 "IPv6 neighbor status not showing up in show neighbor summary when not established"
Currently running version 4.2.10.  When running `exabgpcli show neighbor summary` the output does not show the IPv6 neighbor if the state of the connection is not established, EX. it doesn't show idle or active states, it doesn't display the neighbor in the output at all.  Also, if the neighbor is not established, it still shows the adj rib out for the neighbor, even though it is not established.

[2020-10-20 07:49] theister-xan commented on #992
Its not rocket sience, but i "solved" it in our case by explicitly setting --up-execute and --down-execute per healthchek to e.g.

python3 -m exabgp healthcheck -d --cmd "nc -z -w2 ::1 53" --label v6 --no-syslog --withdraw-on-down  --up-execute "ip a a 2000::1/128 dev lo" --down-execute "ip a d 2000::1/128 dev lo";

[2020-10-27 02:33] calvincheng8 opened #997 "Installation failure on Ubuntu 18.04 with pip3 install exabgp=4.2.11"
** Bug Report **

**Describe the bug**

I have been installing and running exabgp 4.1.2 without problems on Ubuntu 18.04.5. But when trying to install exabgp release 4.2.11 on a new system, the installation fails.

**To Reproduce**

Running on Ubuntu 18.04.5, with python3.6.

Install fails,

[code]

I checked the version of setuptools, it turns out that it's on version 39.0.1. After upgrading setu

[2020-10-27 09:08] muyiwhy opened #998 "BGP-LS update withdraw issue"
I'm doing a quick test on BGP-LS feature and I've met some issue.
The config file is like
[code]
And the python file I used to output the messages to a file is:
[code]

The problem is that when I disable a link in the network, the update withdraw message appears in debug, but nothing in the output file. When I enable the link, both the withdraw message and the update message appear in the output f

[2020-10-27 16:44] thomas-mangin commented on #997
Thank you for reporting the issue, this way people find this problem will be able to know what they need to make sure to install ExaBGP.

That said, I do not agree it is a bug with ExaBGP as upgrading setuptool fixes the issue. I have neither agreed to fix it (but it was still assigned to me).

While I am sure my answer will disappoint you, I will un-mark this as a bug and will close the issue. I

[2020-10-27 16:45] #997 closed

[2020-10-27 16:49] thomas-mangin commented on #998
Hi @muyiwhy. Could you please provide the message you do see in the logs but you do not see in the file. The information you provides does not allow me to replicate the issue. If you enable debugging (-d) ideally I would like to have the raw bgp packet which is not passed through. Thank you.

[2020-10-27 16:49] thomas-mangin commented on #996
This is indeed not right and I will look into it.

[2020-10-28 00:02] muyiwhy commented on #998
Hi @thomas-mangin
Thanks for your reply.
First, I have shutdown the interface to disable the link on the device, after a few seconds, some information appear in the debug info.
[code]

But after waiting for another minute, still nothing in the output file. Then I no shutdown the interface to enable the link, there are some information in the debug after a few seconds.
[code]

And in the output fil

[2020-10-28 16:21] thomas-mangin commented on #998
[code]
should fix your issue.

[2020-10-29 01:26] muyiwhy commented on #998
looks like it fixed the issue.
one more thing is that the counter in debug info and the file is not the same, is this a normal behavior?
debug:
[code]
file
[code]
the counter and the direction is different

[2020-11-04 22:55] calvincheng8 commented on #954
The problem is fixed with the patch from https://github.com/thomas-mangin/exabgp/commit/1458cc325c1e9c9949272b6746eacb454fd4604b applied to 4.2.11.

The patch was originally in #967 but never made it into any releases.

[2020-11-05 11:54] thomas-mangin commented on #998
The counter must be incremented between the two calls but should be the same. I will see if I can fix this. Thank you for pointing this out.

[2020-11-09 15:04] rzalamena opened #1004 "BGP flowspec IPv6 redirect"
Bug Report
===

Describe the bug
---

ExaBGP 3.4.17 works with the following configuration file:

[code]

(
  A bit more of context:

  origin: https://github.com/FRRouting/frr/blob/master/tests/topotests/bgp_flowspec/peer1/exabgp.cfg

  This is part of the FRR test framework and I'm working on migrating from ExaBGP 3.4 to 4.x.
)

However ExaBGP 4.x has problem parsing that line. I've managed to g

[2020-11-09 15:37] thomas-mangin commented on #1004
Yes, I see the point. I will need to patch this on master and the 4.2 branch.

[2020-11-10 17:57] adudek16 commented on #954
@thomas-mangin
@subsecond
I can also say that with the patch #967 mentioned by @calvincheng8 the behavior is working as expected.
[code]
Can we get that patch merged with 4.2.12?

[2020-11-25 12:09] cedrictabary opened #1005 "Api process of a template announce routes to other templates"
** Bug Report **

We are sorry that you are experiencing an issue with ExaBGP.

Before opening this issue could you please:
 - make sure the problem was not already reported to avoid duplicates.
 - check if the problem is still present on the latest version (master)
 - provide an full output of exabgp running with the "-d" option, including any stacktrace
   (please provide the full output - even

[2020-11-25 12:26] thomas-mangin commented on #1005
Thank you for the report Cédric. Have you tested if things are working as should when the process section is under the neighbour, please?

[2020-11-25 13:08] cedrictabary commented on #1005
I just removed all template and used only neighbors with process inside.

something similar to :
[code]

Still no luck.
After full restart of exabgp I still have a combination of both process announces.

[2020-11-26 18:24] mzealey opened #1006 "USR2 starts new healthcheck process but doesn't terminate the current one"
**Describe the bug**

When I `kill -USR2` exabgp the config reloads and a new healthcheck process is started, but the old ones stick around.

**To Reproduce**

I have a process set up like:

[code]

I see the following debug output when sending reload signal to exabgp:

[code]

A ps then shows:

[code]

**Expected behavior**

It should be terminating the process once the new healthcheck has taken

[2020-11-26 20:49] thomas-mangin commented on #1006
Thank you for this bug report.

[2020-11-27 15:21] mzealey opened #1007 "Healthcheck: Changing/extending AS path on up/down"
https://github.com/Exa-Networks/exabgp/blob/933c759a5dde0f44b7d9ff13f8fdaa00be04b35a/lib/exabgp/application/healthcheck.py#L367

Is it possible to add some new flags like `--up-as-path` and `--down-as-path`? This would be the same as the `--*-metric` commands but affecting the `--as-path` flag. Some providers don't support ECMP based on metric but rather the only way to withdraw is to double up th

[2020-12-04 05:04] thomas-mangin commented on #1007
need forward-port

[2020-12-14 23:53] iddq opened #1011 "example-tcp-control.run"
** Bug Report **

cannot re-connect to TCP server after connection interruption (without quit). no command prompt.

[2020-12-15 10:08] iddq opened #1012 "cannot send eor manually after exabgp restarted via api"
** Bug Report **

cannot send eor manually after exabgp restarted via api

**Describe the bug**

cannot send eor manually after exabgp restarted via api

**To Reproduce**

./exabgp/bin/exabgpcli 'restart'
command: restart
restart in progress
./exabgp/bin/exabgpcli 'announce eor'
command: announce eor

End-of-RIB is not arrived to the router.

**Expected behavior**

End-of-RIB

**Environment (pleas

[2020-12-15 12:06] iddq opened #1013 "enable/disable neighbor via API"
enable/disable neighbor via API and possibility to choose initial value from config.
like a shutdown/no shutdown mechanism.

It would be better approach than manual eor because we could enable the peer after the routing fully loaded from script via API.

[2020-12-16 00:32] iddq opened #1014 "neighbor-changes"
** Bug Report **

"connected" message received via API even if the neighbor is unreachable (No route to host)

up or connected message should be received after the BGP session established

https://github.com/Exa-Networks/exabgp/blob/db4166917edaaa8ccfd48db1c6dc10501777443e/lib/exabgp/reactor/protocol.py#L111

https://github.com/Exa-Networks/exabgp/blob/db4166917edaaa8ccfd48db1c6dc10501777443e/lib/

[2020-12-16 01:42] iddq commented on #294
Is there any shutdown/no shutdown option?

[2020-12-17 08:29] iddq commented on #1014
plus, neighbor IP up message received only when the remote router is the connection initiator. you can easily reproduce it if you bind to other port than 179 and you can see the session will be negotiated but you won't receive any "up" message through API.

[2020-12-22 20:05] jonlangemak opened #1015 "Flow-VPN routes can't be created on the CLI"
** Bug Report **

**Describe the bug**

I'm trying to create a flow-vpn type BGP advertisement from the CLI using the following syntax....

[code]

This command is rejected and the API returns this error in debug mode...

[code]

So it appears that the CLI itself doesn't like to see the RD in the route but I believe that's the proper way to turn a flow route into a flow-vpn type route.  From a con

[2020-12-30 22:38] jonlangemak commented on #1015
Just wanted to add that I've done pretty extensive testing at this point and believe that this is a issue with the CLI just not expecting the RD to be passed.  Thanks again for looking at this!

[2021-01-02 00:07] mahmutaydin1 opened #1017 "closing connection during run fullroutebgp2.py"
Dear All,

I have converted latest-update.gz file of RIPE to fullroutebgp2.py via mrtparser with python. After that I configured exabgp config file as below:

**fullroutebgp.conf**
[code]
then I run this command: **`[root@centos exabgp-git]# ./sbin/exabgp etc/exabgp/fullroutebgp.conf`**

I recevied below error:

[root@centos exabgp-git]# ./sbin/exabgp etc/exabgp/fullroutebgp.conf
[code]
Could you

[2021-01-06 08:40] thomas-mangin commented on #1015
I am currently quite slow when it comes to non-work-related tasks. It may be a problem with the configuration parser not expecting rd for that family when it should and in that case it needs to be fixed in the code.

[2021-01-08 02:09] mahmutaydin1 commented on #1017
Hello

Is there any update for this problem thank you

[2021-01-09 09:25] EthanYue opened #1018 "Can I set exabgp server as RR"
The exabgp server can establish neighbor with routers, what I want to asked is that the exabgp server can be configured as the RR?

[2021-01-10 03:17] dproc commented on #540
In my case, the permission is not about the script itself but the directory the script reside in. For example I put the script in /root which nobody has no right to step in, so chmod 755 /root helps solve the issue. Just for those who still come across this issue information.

[2021-01-10 15:18] thomas-mangin commented on #540
IMHO, this chmod is a bad idea from a security POV, but again this is about filesystem / Unix permissions, but it may indeed fix the issue if no other user was setup to run exabgp and the configuration file are in the root directory.

[2021-01-12 02:07] #1018 closed

[2021-01-12 12:10] thomas-mangin commented on #1018
This is not ExaBGP use, one could write a backend to make it act as a route-server (possibly modifying routes on the way).

[2021-01-12 12:17] thomas-mangin commented on #1017
Hello Mahmut. Assigning me an issue does not mean that I will start to work on it. I also do not provide any SLA on my response time and I am currently quite busy. Also this does not look like a bug with ExaBGP but an configuration/usage issue.

```/usr/bin/env: ‘python\r’: No such file or directory``` seems to indicate that you are not calling the script correctly. This looks like a Unix understa

[2021-01-12 12:34] EthanYue commented on #1018
Thanks for your reply

[2021-01-12 13:13] mahmutaydin1 commented on #1017
thank you .

Thomas Mangin <notifications@github.com>, 12 Oca 2021 Sal, 15:18 tarihinde
şunu yazdı:

[2021-01-12 13:15] thomas-mangin commented on #1015
Sorry, now that I have time to look into it. You want to use FlowSpec to match a route based on the RD. What you configured, is not going to work. You configured the capability as:
[code]
So you can share normal ipv4 flow/mpls routes AND you can share flow routes. if you are looking for https://tools.ietf.org/html/draft-ietf-idr-flowspec-mpls-match-01 support - ExaBGP does not implement it (yet?).

[2021-01-19 12:52] ZhiYiFang opened #1019 "ExaBGP lost the helper process for this peer"
I downloaded the project on my mac computer and ran the example below etc. It can run normally, but I run the same example on my server and it will report an error
12:49:50 | 14940  | welcome       | Thank you for using ExaBGP
12:49:50 | 14940  | version       | 4.2.11
12:49:50 | 14940  | interpreter   | 3.5.3 (default, Nov 18 2020, 21:09:16)  [GCC 6.3.0 20170516]
......
12:49:50 | 14940  | cli co

[2021-01-19 15:52] thomas-mangin commented on #1019
ExaBGP just told you what is wrong: "ExaBGP lost the helper process for this peer".
I wish you good luck finding out why .. this is not a bug with ExaBGP.

[2021-01-19 15:52] #1019 closed

[2021-01-19 15:54] thomas-mangin commented on #1017
You are welcome. I know the documentation is light and therefore understanding how to use the program can be hard.

[2021-01-19 15:54] #1017 closed

[2021-01-19 15:55] thomas-mangin commented on #1013
Yes, this would be nice.

[2021-01-19 15:57] thomas-mangin commented on #1011
Good it see It is rightfully called "example-tcp-control.run" and not "production-tcp-control.run" ...
I will accept patches to fix the program but I do not have time ATM to look into it.

[2021-01-20 09:08] ZhiYiFang commented on #1019
I have solved the problem.
Running exabgp with root privileges will produce this problem.
We can change the environment to solve the problem.
1. Create a file : /usr/local/etc/exabgp/exabgp.env
2. Execute : exabgp --fi > /usr/local/etc/exabgp/exabgp.env
3. Edit the /usr/local/etc/exabgp/exabgp.env and change user = 'nobody' to user = 'root'
Finally, exabgp will run with this environment file.
If y

[2021-02-02 19:02] emilstahl97 opened #1020 "argument must be an int, or have a fileno() method."
I'm getting this issue while trying to run "exabgp ./conf.ini" on Ubuntu 20.4 with exabgp installed from apt and pip3. Running python 3.8.5.

My conf.ini includes the following:
[code]
I've tried placing the conf.ini in /etc/exabgp without luck.

I'm following this tutorial on ExaBGP: https://thepacketgeek.com/exabgp/getting-started/

Expected behavior is that it should start sending messages.
Thi

[2021-02-03 08:37] thomas-mangin commented on #1020
You are running an old version of exabgp. AFAIR, this bug has already been fixed.

[2021-02-04 15:29] ahmet2mir opened #1021 "Poetry usage"
Hello,

I see that exabgp uses pyproject and do you think that we could completly move to poetry and remove setuptools things ?

I mean setup.py requirements.txt are useless with poetry.

I have a local copy with a Makefile to setup fmt test build upload etc without setup.py, I could create a MR

[2021-02-04 15:30] thomas-mangin commented on #1021
Poetry is under try in master. The stable branch does not use it.

[2021-02-04 15:57] ahmet2mir commented on #1021
Do you wan't that I create a MR to test it up to eleven ? :)

[2021-02-05 09:45] ahmet2mir commented on #1021
Added the pull request, you could check @thomas-mangin (it's what I will to package and release exabgp internally)

[2021-02-05 13:02] #1021 closed

[2021-02-05 13:09] thomas-mangin commented on #1021
Thank you, I will look into it when I have a little bit of time.

[2021-02-09 19:05] linecolumn opened #1023 "the route family is not configured on neighbor"
Everything is working as planned, but ExaBGP logs are constantly filling with `the route family is not configured on neighbor`. This started to happen when I added IPv6 neighbors into the picture.

On the other side are Junipers with following configuration:

[code]

Below are all configuration:

[code]

[code]

Let me know if you need additional info.

[2021-02-09 21:22] thomas-mangin commented on #1023
All other vendors auto-add IPv6 to the list of AFI/SAFI families negotiated when the peer is an IPv6 neighbor but we do not!

Technically, you may want this behavior, a BGP neighbor that can listen on IPv6 with which you only want to exchange IPv4 routes but in practice, it is not what people expect.

So while it is surprising, it is not a bug per se. Manually adding the family to the configuratio

[2021-02-10 00:51] ZiqianXu opened #1024 "Enforce commit signature verification"
Hi exabgp dev,

I noticed all the exabgp releases do not have signature verification, so when download the source tarball to our system, we can not be assured that your commits come from a trusted source.

Can exabgp sign tags and commits locally using GPG or S/MIME? Therfore these tags or commits are marked as verified on GitHub so other people can trust that the changes come from a trusted sourc

[2021-02-10 09:42] thomas-mangin commented on #1024
This may be something we do but would probably be part of a commercial offering.

[2021-02-10 23:23] erahn commented on #1024
Thomas - at the very least is it possible to make sure your tags are verified when signing those on github? It seems that the majority of those are not even signed.

[2021-02-17 20:37] leleobhz opened #1025 "Build master failure with python:3-slim-buster Docker image"
### Issue

Build exabgp using python:3-slim-buster Docker image leads to the following error:

[code]

###  Steps to reproduce

Build the following Dockerfile

[code]

Using this command line in same dir of Dockerfile.:

[code]

[2021-02-17 21:42] thomas-mangin commented on #1025
Thank you - I will have a look.

[2021-02-17 21:44] thomas-mangin commented on #1025
I will however point that master is currently in flux and is not advised for production :-)

[2021-02-18 16:46] leleobhz commented on #1025
Hello Thomas,

I do a massive build here for my containers and I keep it available to fast-change if needed (Example, some upstream change to emergencies).

![image](https://user-images.githubusercontent.com/201189/108390477-7c367c00-71ef-11eb-91cb-16371a8855b7.png)

This is the reason I compile more than one TAG and Master, but its just for keep it in fast track in case of some need.

Thanks you

[2021-02-23 10:30] eitanick commented on #863
Hey Thomas,
I have a private project in which I've been trying to configure the AS value of traffic rate.
Luckily this record existed and luckily I found it:)
I am using your EXABGP version 3.4.23, and was wondering whether there has been an update regarding this.
Do you know of any way of setting the router AS through the exabgp.conf?
Communities: traffic-rate:0:1000 is the line I want to set.
th

[2021-02-23 14:00] thomas-mangin commented on #863
Can you please open a new issue for that question ( you can link to this one ) but your question is not related to this thread.

[2021-02-24 07:58] eitanick opened #1026 "FlowSpec traffic-rate 2-bytes as# updates"
Hey Thomas,
I have a project in which I've been trying to configure the AS value of traffic rate.
I am using your EXABGP version 3.4.23, and was wondering whether there has been an update regarding setting the as# in the traffic-rate.
Do you know of any way of setting the router AS through the exabgp.conf?
Communities: traffic-rate:0:1000 is the line I want to set in the router.
thanks,

[2021-02-24 09:25] thomas-mangin commented on #1026
The only rate-limiting possibly configured via BGP is using flowspec and this does not have an ASN:
https://github.com/Exa-Networks/exabgp/blob/master/etc/exabgp/conf-flow.conf#L40

So I am not fully understanding what you are trying to achieve. What BGP feature / RFC are you looking to get working?

[2021-03-13 16:01] thomas-mangin opened #1027 "flowspec issue with flow nlri with match not-a-fragment"
From a private email:

There are issues with processing incoming bgp packets with flow nlri matches fragment flag not-a-fragment by exabgp.
Exabgp sends these packets with zero fragment type byte. But when it receives the same packets BitResource can not return name of this zero bit, although there is in the names of Fragment. Zero is not a bit and matches nothing.

[code]

When you match for not-

[2021-03-13 16:12] #1027 closed

[2021-03-13 16:40] thomas-mangin commented on #1027
@vincentbernat are you fine if I merge this request?

[2021-03-13 16:59] vincentbernat commented on #1027
Are you sure it's me you wanted to tag? I don't think I have ever worked on this part of the code :)

[2021-03-14 05:23] ljb2of3 commented on #1020
I'm having the same issue on 4.2.12, which appears to have just been released. I tried all the way back to 4.2.9 and had the exact same issue.

[code]

[2021-03-14 15:47] thomas-mangin commented on #1020
From the information provided, I am not sure how to trigger the issue so could you please confirm if this patch fixes the issue or not:
[code]

[2021-03-14 18:15] thomas-mangin commented on #1025
ok, should be working now with https://github.com/Exa-Networks/exabgp/commit/4890322b32bf3c8c1c9d00d0746f2718a98e200f and also added the docker file for remote installation to the repository.

[2021-03-14 18:16] #1025 closed

[2021-03-14 18:19] thomas-mangin commented on #1023
no news is good news. so closing :-)
[code]
is what should be setup on IPv6 peers :-)

[2021-03-14 18:19] #1023 closed

[2021-03-14 18:28] #1014 closed

[2021-03-14 18:29] thomas-mangin commented on #1014
perhaps naming the function "establish" was not super wise. it is about establishing the TCP connection and not getting to the established state in BGP. connected is not established... :-)

[2021-03-14 18:36] thomas-mangin commented on #1012
can you please try: "announce eor ipv4 unicast" or "announce eor ipv6 unicast". The code needs the family to generate the message. There should be an error message on the exabgp output, but looking quickly the code error does not seems to be reported to the API .. which is wrong.

[2021-03-14 18:41] #1011 closed

[2021-03-14 18:55] thomas-mangin commented on #1006
@vincentbernat I am sure you know about this trick (and must have a blog entry about init collecting zombie processes but it was to make sure you noticed the patch and are happy with it) :-)

[2021-03-14 18:56] mzealey commented on #1006
Thanks I only recently learnt this in a different context so forgot to update the ticket but yeah makes sense we probably should have fixed by starting container with `--init` or something

[2021-03-14 19:01] thomas-mangin commented on #1006
@mzealey .. ah, the container case, if you run in a container that does not have an init to perform this collection I am not sure what we can do to detect the issue and stop it. I would assume that micro-containers these days do provide a simple init which does that ... otherwise bad bad container 😜

[2021-03-14 21:29] vincentbernat commented on #1006
I am unsure if this is the right fix. I think we should investigate why the process is being reparented to init. Is ExaBGP killing itself during reload? I'll try to investigate a bit, but this may hide either a bug in healthcheck process or in ExaBGP. In the later case, it would be better to fix it inside ExaBGP.

[2021-03-14 21:38] mzealey commented on #1006
I'll have a check what happens when we run with --initOn 14 Mar 2021 21:29, Vincent Bernat ***@***.***> wrote:
I am unsure if this is the right fix. I think we should investigate why the process is being reparented to init. Is ExaBGP killing itself during reload? I'll try to investigate a bit, but this may hide either a bug in healthcheck process or in ExaBGP. In the later case, it would be better

[2021-03-15 09:09] isjerryxiao opened #1028 "IndexError: index out of range on an add path receive ibgp peer with bird"
- [x] make sure the problem was not already reported to avoid duplicates.

- [x] check if the problem is still present on the latest version (master) **can't run with py39**
- [x] provide an full output of exabgp running with the "-d" option, including any stacktrace
   (please provide the full output - even if long)

**Describe the bug**

I've setup an ibgp peer with bird 2.0.7 with add path tx e

[2021-03-15 09:11] isjerryxiao commented on #1028
[bird.conf.txt](https://github.com/Exa-Networks/exabgp/files/6140119/bird.conf.txt)

[2021-03-15 17:21] thomas-mangin commented on #1027
🤦 wrong issue !

[2021-03-15 17:42] thomas-mangin commented on #1006
@vincentbernat

[2021-03-15 17:43] thomas-mangin commented on #1006
@vincentbernat good point. I just have limited time atm, it is indeed more a band-aid than a real investigation in the root-cause, so re-opened for further investigation.

[2021-03-15 19:53] vincentbernat commented on #1006
So, I had a look and for me, the process is not reparented:

[code]

The old process lingers around because it tries to gracefully shutdown:

[code]

However, I suppose ExaBGP stops listening to the pipe, even if it's still open:

[code]

And therefore, it does not send back the awaited ack before exit. And the old process waits forever. I think the clean solution would be for ExaBGP to wait a bit

[2021-03-17 23:53] ljb2of3 commented on #1020
Yes, that appears to have fixed the issue. I no longer see the error message or tracebacks.

[2021-03-20 18:25] thomas-mangin commented on #1020
ok, released a version of the code with the fix. thank you for your help :-)

[2021-03-20 18:25] #1020 closed

[2021-03-20 22:38] thomas-mangin commented on #1028
it looks like a bad bug has been there for a lonnng time but never triggered due to how most client send data on the wire.
could you please check that this patch fixes the issue:
[code]

[2021-03-20 22:41] thomas-mangin commented on #1028
The bug was already fixed during a rewrite on master (a bit differently)

[2021-03-20 23:18] #1026 closed

[2021-03-20 23:26] #1007 closed

[2021-03-20 23:50] thomas-mangin commented on #1004
Thank you - sorry for the time it took me to do this.

[2021-03-20 23:50] #1004 closed

[2021-03-20 23:54] thomas-mangin commented on #998
The counter will be incremented twice (one per display), this is not causing issues and fixing this would be intrusive. So I will close without change.

[2021-03-20 23:54] #998 closed

[2021-03-21 09:22] isjerryxiao commented on #1028
a592718 the commit still does not fix this bug.

[2021-03-21 09:26] isjerryxiao commented on #1028
I installed v4.2 at commit = "5bbba84933b5f45df09a2b62f1303d6a2002f5ec"
and still the same traceback

[2021-03-21 15:31] thomas-mangin commented on #1028
@isjerryxiao can I have the whole output of the logs when run with "-d" as without them I can not check if what I did has the expected effect (it should) and what could be the root cause.

[2021-03-21 16:21] isjerryxiao commented on #1028
It's the same traceback and same way to reproduce
https://github.com/Exa-Networks/exabgp/files/6140085/logs_and_configs.tar.gz

[2021-03-21 17:09] thomas-mangin commented on #1028
Thank you as it is not exactly the same trace. Looking into it.

[2021-03-21 17:30] thomas-mangin commented on #1028
[code]
we are sending an OPEN where we indicate we support ipv4 and ipv6 and want path information on incoming routes for ipv4 and ipv6

[code]
Bird is indicating that it also supports ipv4 and ipv6 and that it will send path information on ipv4 and ipv6

we receive a route that does have path information and EOR, such as the first one.

[code]

We then get an ipv6 EOR

[code]

Then the API is use

[2021-03-21 18:32] thomas-mangin commented on #1028
This refactoring is quite large and unlike compiled language ... something is easily missed. Could you please apply the following patch ( patch -p1 < FILE ). It should fix the issue:

[code]

[2021-03-22 01:29] isjerryxiao commented on #1028
that problem is fixed :)
However it seems that some outgoing updates are still unable to be properly decoded
[code]

[2021-03-22 01:44] isjerryxiao commented on #1028
Something is not quite right in the withdrawn process

[2021-03-31 22:41] aj-gh commented on #996
This also seems to apply to IPv4 neighbors - we had to adjust our monitoring because just looking at "show neighbor summary" unfortunately became unreliable with non-established connections missing.

[2021-03-31 22:48] aj-gh commented on #1005
I remember reading somewhere ages ago - I could be wrong though - that there were some known limitations of API / processes causing cross-neighbor propagation back then, not sure if this still applies.
In any case I also have the issue that the healthcheck via API-process of one peer propagates these routes to all other peers as well.

[2021-04-08 16:06] pguibert6WIND commented on #929
@thomas-mangin , thanks for the update provided with the new patch.
actually, I did not use it, I am on 4.2.13.
I am using 1700 clients per config.
And I use it like that:
[code]
It appears there is some memory leak
(the number that increases is VIRT and RES)
at startup:
[code]

after a few minutes:
[code]

on a previous setup, I have been stopped by an OOM killer.
any updates on memory leaks?

[2021-04-09 11:28] thomas-mangin commented on #929
@pguibert6WIND 1700 clients per config  .. ExaBGP is some Python async code running on one core .. AARGHH. This is indeed beyond what was ever considered possible with the codebase.

I am working on a new implementation in Go, I may be able to share it soon as I am near something useful. I think we should take this discussion outside GitHub. I am near having something which may allow you to do wha

[2021-04-20 12:33] adzhurinskij commented on #1005
In my case similar to. All routes are sent to all peers ignoring the inherited template.
Config example:
[code]
Version:
[code]

[2021-05-06 06:54] glaskoncilla opened #1031 "process strange behaviour"
**Describe the bug**

I have very strange proces behavior, I have 6 neighbours on one machine defined as follows;

All neighbours are defined as systemd services started at boot, every neighbour have own named piped file, process name and ExecStart command, difference between the neighbours are IP addresses for BGP neighborship, every neighbour different loac and remote IP for BGP peering;

[code]

[2021-05-06 07:28] glaskoncilla commented on #1031
Also, seems the problem is related only with ping probe, if I comment out ping probe and use only dg probes, everything works as expected, dig works, exabgp annouces the routes, dig stops working exabgp withdraw the routes and sends e-mail, dig starts to work again exabgp announces the routes.
But I don't have a clue what can be the problem because ping probe has correct output if started directly

[2021-05-06 09:29] thomas-mangin commented on #1031
Please read https://github.com/Exa-Networks/exabgp/wiki/Migration-from-3.4-to-4.0 as otherwise this code is going to explode after a few days in production in a hard to diagnose way!

From what you are explaining, the problem is most likely coming from limitations placed by systemd on exabgp and therefore transitively your script. You may need access to raw socket for ping / icmp, something which

[2021-05-06 09:30] thomas-mangin commented on #1028
Sorry for the delay, I will look into this soon.

[2021-05-06 11:26] glaskoncilla commented on #1031
You are right, putting;

`CapabilityBoundingSet=CAP_NET_RAW
AmbientCapabilities=CAP_NET_RAW`

in services file seems to solve a problem, thank you.

Regarding migration, I've already changed env api ack to false in env file, guess this should be enough or I must look at other things also?

[2021-05-08 17:07] #1031 closed

[2021-05-09 10:20] biggena opened #1032 "BGP confederation in static section produces syntax error"
Hello.
Tried to inject full routing table (over 1 million of routes IPv4/IPv6) via static section in config file.
Static section was generated by mrt2exabgp.py (project https://github.com/t2mune/mrtparse).

Beginning of config file exa.conf:
[code]
While running "exabgp ./exa.com" I got following errors (tried to remove static routes causing errors one by one, but then just deleted all of them, wh

[2021-05-21 16:21] AnthonyPETI opened #1033 "Route Reflector?"
Is there a simple way to turn Exabgp into a route reflector? It seems like the capability should be there, I just cant seem to figure out exactly how.

Also is there a better place to post this? I'd imagine issues is not the best place.

Thanks for any help!

[2021-05-21 19:46] mavericm1 opened #1034 "API Deadlock with large amounts of route announce"
** Bug Report **

last message in -d

19:53:48 7      process         responding to add-remove-v4 : done

**Describe the bug**

using nlri routes in api-add-remove.run

[code]

[2021-05-21 20:43] thomas-mangin commented on #1034
Looks to me that ack is not disabled. Please text by running with prefixing with env forcing it off.

[2021-05-21 20:45] thomas-mangin commented on #1033
You can indeed write a API to do it. Nothing built-in.

[2021-05-21 21:31] mavericm1 commented on #1034
That appears to be working the environment variable is set to false so i'm not exactly sure why it would work setting it at runtime vs it being just set as an environment variable in this case i'm setting it in ENV in a Dockerfile.

# how to build and run exabgp using docker (using github)
# this Dockerfile does not require a local installation

# docker build --build-arg version=master -f Dockerf

[2021-05-25 12:25] #1033 closed

[2021-05-27 10:32] borjam opened #1035 "Socket remains in CLOSED state after the interface goes down. Peer cannot reconnect afterwards. Fix suggested."
** Bug Report **

**Describe the bug**

At least it happens on FreeBSD 12.2 and FreeBSD 13, ExaBGP 4.2.11 with Python 3.7. It happened to me on
a configuration with three peers, it would fail to reconnect to two of them. This is a regression, it worked perfectly
on ExaBGP 3 with Python2.7.

Simple symptom: ExaBGP running, interface goes down (I rebooted the switch). After the switch
goes alive aga

[2021-05-27 14:30] #1035 closed

[2021-05-27 14:35] thomas-mangin commented on #1035
Thank you for the report and fix 👍

[2021-05-27 14:42] borjam commented on #1035
Thank _you_ for this useful program! :)

A pleasure. Thankfully that one was easy to spot!

Borja.

[2021-05-29 17:43] thomas-mangin commented on #1034
It could be that the "." is not working and that you need to use "_" in the environment variables when set via docker. This is a sysadmin question about how docker work and not a bug with ExaBGP.

As I am no docker expert, I will let you investigate. Good luck !

[2021-05-29 17:43] #1034 closed

[2021-05-30 14:53] pierky opened #1036 "Traceback and ExaBGP hangs"
**Bug Report**

Hi @thomas-mangin, I'm experiencing the following issue with 4.2.13.

**Describe the bug**

`AttributeError: '_NoNextHop' object has no attribute 'afi'` and ExaBGP it stuck after BGP goes up.

**To Reproduce**

4.2.13 using PyPy3 3.7.10 - release 7.3.5

Dockerfile:
[code]

The way ExaBGP is executed is this:

[code]

.env file:
[code]

.conf file:
[code]

*/root/replay_mrt.sh* file

[2021-05-31 12:12] thomas-mangin commented on #1036
Hi @pierky 👋

Could you please try these patches (against master but should work with 4.2 too). I could not test them but there is a good chance it will help.

[code]

[code]

[2021-05-31 16:34] pierky commented on #1036
Hi @thomas-mangin,

thanks for quickly checking this issue.

Unfortunately even after applying the patches I can still observe the weird behaviour mentioned in the opening message.

The traceback doesn't appear anymore in the output, and it seems to me that the "peer is up" message that my inner process was looking for before starting to announce its routes is now received only when the session is

[2021-05-31 17:38] pierky commented on #1036
To comment a bit further on the issue I'm seeing, I'd like to mention (even though probably is not needed) that for sure it might be triggered by weird API calls generated by the mrt-reader script. However I'd like to understand if what I'm seeing is specific to my environment and setup, or if it could be due to a broader issue that may affect also other deployments. Mainly the thing that concerns

[2021-06-07 09:09] thomas-mangin commented on #1036
The code should not lock up, this is something I will also address.

[2021-06-18 07:21] ZhiYiFang opened #1037 "BFD support"
Hi, does exabgp support BFD?

[2021-06-19 17:12] thomas-mangin commented on #1037
TLDR; no.
Longer version, no, and not likely to ever be added.

[2021-06-19 17:12] #1037 closed

[2021-06-28 10:05] cfrademan opened #1038 "Code standard + Documentation"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
When can you guys structure the code in a mature way? Its hard to read, and doesnt follow typical python practices. I am contemplating writing my own BGP interface now due to this.

**Describe the solution you'd like**
Write decent document

[2021-06-29 10:50] thomas-mangin commented on #1038
TLDR; I welcome your new python BGP project, I wish you all the best with it, let's speak again when you have spent a few hundred/thousand hours on it.

@cfrademan Hi there,

I came from a non-python background and when I started programming in Python PEP8 (end of 1999, start of 2000) was not yet a thing. I kept that coding style for many years and did not feel like changing the whole code when PE

[2021-06-29 10:50] thomas-mangin commented on #1038
I will also change your insulting title to something less abrasive for my ego

[2021-06-29 10:50] #1038 closed

[2021-07-18 02:47] jku209 opened #1039 "routes not making it into the routing table."
I can  get BGP established and see in Wireshark update messages are being sent to router but not received in the RIB. I've noted that this  shows up in the logs.

Router#show ip bgp summ
BGP router identifier 10.19.57.34, local AS number 1
BGP table version is 1, main routing table version 1

Neighbor        V           AS MsgRcvd MsgSent   TblVer  InQ OutQ Up/Down  State/PfxRcd
192.168.2.45    4

[2021-07-18 15:31] thomas-mangin commented on #1039
ExaBGP is to manipulate BGP updates, it does not install the received routes into the Linux kernel forwarding table. This is not a bug, this is by design. What you want may be Bird, FRR or GoBGP.

[2021-07-28 22:56] ktims commented on #1005
I'm having the same issue with the processes set under the `neighbor` statements. I have separate processes for v4 and v6 healthchecks, and they are associated with the BGP session on the matching address family, which also passes the matching NLRIs only.

With the desired configuration, I get errors about mismatched address family constantly appearing in the logs. On further investigation, adding

[2021-08-04 09:24] idryzhov opened #1040 "Can we have version 4.2.14 released, please?"
It was finished on March 21 and is still not released. It has a couple of important bug fixes so would be great to have it released.

[2021-08-04 10:27] thomas-mangin commented on #1040
Requested noted and I will work on it.

[2021-08-04 10:28] thomas-mangin commented on #1040
I have some work on my local repository which I need to complete and commit beforehand.

[2021-08-04 10:29] idryzhov commented on #1040
Thanks, Thomas.

[2021-08-16 10:12] pierky opened #1041 "Unhandled exception on IPv6 route withdrawal with ADD-PATH"
**Describe the bug**

An unhandled exception triggers after an IPv6 route is withdrawn by the process (using ADD-PATH).

**To Reproduce**

The scenario I'm using to reproduce is the following:
- A BIRD instance announces some routes over an IPv4+IPv6 session, with ADD-PATH information (send only on the BIRD-to-ExaBGP direction, on the BIRD side):
- ExaBGP announces back some routes to BIRD;
- Then

[2021-08-16 11:42] KristinaEtc opened #1042 "Get route states all at once"
Hello, thank you so much for your tool

Currently it's is possible to get updates for route states and neighbours asynchronously:

[code]
At the same time,  `show neighbor summary` doesn't return the full information:

[code]

  I was wondering if there are any ways to get **all** the information (with announces, time, peers, etc) all at once? For example, with additional `--full` flag for `show n

[2021-08-16 12:20] pierky commented on #1041
@thomas-mangin, looking at the patch from #1036, it seems to me that is very IPv4-focused.

Since the issue I'm observing here is only for IPv6 prefixes (IPv4 routes are withdrawn correctly), I was wondering if something along the lines of the code from that patch should be added for IPv6 as well.

[2021-08-17 07:51] thomas-mangin commented on #1041
Thank you for testing as I have the update content I will be able to replicate thanks

[2021-08-18 09:52] pierky commented on #1041
Hi @thomas-mangin, I've tried to do for IPv6 something similar to what's done for IPv4 in the patch from #1036, but it just triggered a new type of exception, most likely because the code I wrote was a blind copy/paste with the substitution of 4 with 6 (no idea of what I was doing basically!).

[2021-08-18 14:47] thomas-mangin commented on #1041
ok, I understand why, AddPath is only setup in one direction, however when we look if we should decode, we say yes (as we are configured to receive add-path) but we should not try to remove the path on path we send.

[2021-08-18 15:01] thomas-mangin commented on #1041
Can you please test master. I noted that some tests are now failing on my machine but it should still allow you to test.

[2021-08-18 16:29] pierky commented on #1041
I've got the same results:

[code]

[2021-08-19 11:17] thomas-mangin commented on #1041
@pierky - damn, I had not pushed the change - done !

[2021-08-19 11:20] thomas-mangin commented on #1042
There is `show neighbor extensive` and `show neighbor configuration`

[2021-08-19 11:23] thomas-mangin commented on #1042
Dumping the content of the adj-rib is very CPU intensive and as ExaBGP is async and single-threaded, it is often not a good idea. So the feature was not added to protect the innocent.

[2021-08-19 11:24] thomas-mangin commented on #1040
Sorry I have not done it yet (as a few test are failing, so I need to resolve this first)

[2021-08-19 13:12] pierky commented on #1041
I tested the patch from bb23396108e36dc903ad71a5f31e32b8306bf90a both using master and also applying it to the 4.2 branch, but in both cases now I'm getting malformed JSON messages when ExaBGP receives routes from the neighbor:

[code]

(The issue is in `decoded UPDATE (   0) json [...] "message": { { "nlri": "3.0.0.0/8" [...]`).

[2021-08-19 13:12] derlaft commented on #1042
We have a process which listen for all the route updates and maintains some state in memory. If that processes crashes (and gets restarted by exabgp), we have to also crash exabgp, which is CPU-intensive for exabgp and hardware-intensive for routers which are peered with our exabgp instances.

[2021-08-19 15:56] thomas-mangin commented on #1041
ok, that helps a lots, thanks.

[2021-08-21 00:09] Th0masL commented on #782
That's literally the worst answer ever

[2021-08-23 11:23] Th0masL commented on #782
Ok, so here is some extra information for people that experience this same `section group is invalid in root` error.

Basically there are many example online of ExaBGP configs that are using an old format, in which it was possible to create a `group {}` section.

For example, this configuration below was valid with some older version of ExaBGP, but is not supported anymore with the current version

[2021-08-23 15:19] thomas-mangin commented on #1041
@pierky could you please run:
[code]
and tell me what the output on your machine is please. This works for me and is the decoding of the message which fails on your machine.

[2021-08-23 16:11] thomas-mangin commented on #782
You are right, it was not a very good answer and I could have pointed to the exact file with an example of inheritance. Thank you for taking the time to share your finding on this issue. I am unfortunately human and can have bad days, the 8th of Feb 2018 was clearly one of them.

[2021-08-24 14:45] pierky commented on #1041
@thomas-mangin using the conf-addpath.conf file it works (tested on 4.2).

[code]

But if I use my "prod" configuration (you can see it in the opening message on this issue), it doesn't work anymore, but this time I got a different exception (still on 4.2):

[code]

My understanding (or perhaps I should say "feeling") of what the issue could be is something related to what you mentioned some comme

[2021-08-24 14:48] pierky commented on #1041
P.S.: I've tested the same using master (with bb23396108e36dc903ad71a5f31e32b8306bf90a included) - same results.

[2021-08-28 12:17] pierky commented on #1041
Cool, thanks for clarifying @thomas-mangin.

I'm dropping the new logs and dumps here.

[code]

[code]

Please note: around the `11:54:52 29     process         command from process the-process : shutdown` line, the inner process received the malformed JSON message that follows, and it reacted sending the `shutdown` command to ExaBGP:

[code]

Since you asked the raw packet, I wasn't sure if you w

[2021-08-30 13:56] thomas-mangin commented on #1041
`"message": { { "nlri": "2001:db8:1::/48", "path-information": "0.0.0.3" } }` is clearly invalid JSON, but I am not seeing why it is generated that way. Could you please edit your configuration file and use `add-path send/receive;` and tell me if the issue is the same. I will book some time to correctly investigate then.

[2021-08-30 20:09] Th0masL opened #1045 "Add support for Environment Variables in the Config"
**Is your feature request related to a problem? Please describe.**
I would like to be able to inject values in the Config file through Environment Variables.

**Describe the solution you'd like**

1. Create an environment variable file and populate it with the expected variables and values :

[code]

2. Tell SYSTEMD, under `[Service]`, to load this Environment Variable when the service starts:

[c

[2021-08-31 11:41] thomas-mangin commented on #1045
I am not sure this is a feature I want to add, the configuration parsing code is already quite complex (and under-documented).

Alternatively, you could propably do the same thing yourself with a systemd `ExecStartPre` script generating the configuration from a template.

[2021-08-31 13:06] pierky commented on #1041
Hi @thomas-mangin, same issue with `add-path send/receive;`:

[code]

[code]

Please note that the neighbor is configured to only send ADD-PATH (in the direction from the neighbor towards ExaBGP).

[2021-09-01 08:29] borjam commented on #1035
I have just checked 4.2.13 (which for example is the current version offered on FreeBSD ports) and I noticed that the fix for this bug wasn't included?

Looking at the relevant file, reactor/network/outgoing.py

I see this: After an exception the socket is not closed explicitly. Is this correct (ie is it being closed upstream) or did you miss the bug fix?

    def _connect(self):
        if not se

[2021-09-01 09:00] borjam commented on #1035
Yep, the bug is back on 4.2.13.

root@elnuc:/usr/ports/net/exabgp4 # netstat -f inet -n | fgrep 179
tcp4       0      0 192.168.1.155.21959    192.168.1.1.179        CLOSED
tcp4       0      0 192.168.1.155.26247    192.168.1.195.179      CLOSED

This happened after disabling the switch port for several minutes. ExaBGP is stuck.

[2021-09-01 09:19] borjam commented on #1035
I see it was my fault :/ I reported it for 4.2.11 but 4.2.13 already existed and I didn't notice :/ Same bug.

Sorry.

[2021-09-08 13:47] thomas-mangin commented on #1041
thank you @pierky and sorry for the delay ! I have all I need now, thank you !

[2021-09-09 11:18] Firm opened #1046 "Unable to build 4.2.13 package"
Running **python2 setup.py build** on 4.2.13 sources does nothing comparing to 3.4.28 release.

How to reproduce:
tar zxf exabgp-3.4.28.tar.gz
cd exabgp-3.4.28
python2 setup.py build
[lots of output]

tar zxf exabgp-4.2.13.tar.gz
cd exabgp-4.2.13
python2 setup.py build
(nothing happens)

[2021-09-09 11:36] Firm commented on #1046
It looks that pyrhon2 support is broken. Changing to python3 explicitly make things much better. Spec file need to be updated then.

[2021-09-09 12:49] thomas-mangin commented on #1046
Yes, exabgp 4 is python3 only.

[2021-09-09 13:16] Firm commented on #1046
redhat/python-exabgp.spec uses python2.

[2021-09-09 13:21] Firm commented on #1046
One more question: does python-ipaddr package (centos 7) fit into python3?

[2021-09-16 13:49] pierky commented on #1041
Hey @thomas-mangin, I've created a PR with a GitHub Actions workflow that reproduces this issue, #1047. As I said there, it's not really meant to be merged, feel free to trash it if it doesn't help you.

[2021-09-17 16:20] esserrge opened #1048 "BGP-LS link NLRI not parsed"
**Describe the bug**

ExaBGP throws an python TypeError when receiving a bgp-ls link nlri update from a Huawei speaker

**To Reproduce**

Configure bgp-ls between Huawei router and ExaBGP, announce link nlri.

**Expected behavior**

I'd expect ExaBGP to correclty parse the update and not throw a traceback.

**Environment (please complete the following information):**

 - OS: Ubuntu 20.04.3 LTS
 -

[2021-09-20 10:12] Th0masL opened #1049 "Improve CSV-output compatibility of exabgpcli show neighbor summary"
**Describe the bug**

I have a monitoring script that is using the output of `exabgpcli show neighbor summary` to detect if my routers are indeed connected to the right neighbors, and extract the uptime, etc.

Based on the output of the command, the output is pretty much already CSV compatible:

Original output :
[code]

The only thing that I had to do to improve the output was to delete the `|` a

[2021-09-20 14:17] thomas-mangin commented on #1049
Please do not do that ... this is a for human, not APIs .. 😭 😨

As I am sure you are not the only one doing so, please find a json option (as it could be done quickly) with the patch above.

However as the master branch is not passing our QA tests currently (I need to investigate why), it may be safer to apply this patch to the latest release until the next one.

[code]
[code]

[2021-09-20 14:20] thomas-mangin commented on #1049
next patch convert string to bool ...

[2021-09-20 14:21] thomas-mangin commented on #1049
[code]

[2021-09-20 14:22] thomas-mangin commented on #1049
and the patchs are buggy (going too quickly)

[2021-09-20 14:48] thomas-mangin commented on #1049
The time (up or down) is now reported in second - this should be ok for you now :-)

[2021-09-20 14:57] thomas-mangin commented on #1046
converted the spec file to python3 (pure guesswork)

[2021-09-20 14:58] thomas-mangin commented on #1046
I am keeping this open to review and warn that the code does not work with python2 anymore

[2021-09-20 14:59] thomas-mangin commented on #1046
the code using ipaddr need converting.

[2021-09-22 18:18] heyjacleu opened #1050 "could not send command to ExaBGP (command timeout)["
I was able to get exabgp running on Centos7 and I am peering with my test router no problem. I am not able to get the exabgpcli command working though. When I attempt to send any command, like show neighbor summary, the following error occurs.

[tester@exabgptest1:/opt/exabgp/bin]$ ./exabgpcli show neighbor summary
command: show neighbor summary
could not send command to ExaBGP (command timeout)

[2021-09-23 15:45] thomas-mangin commented on #1050
The CLI is not enabled by default, if you read the output of ExaBGP it does tell how to set it up.

[2021-09-23 16:38] thomas-mangin commented on #1041
[code]

For some reasons the update is considered to be a NLRI which is wrong.

[2021-09-23 16:56] thomas-mangin commented on #1041
Silly bug introduced by bad commit 6e43b36ef644e7dd7736b645b1a373a47a7c10a8

[2021-09-23 16:57] thomas-mangin commented on #1041
[code]
json through jsonpp decoded correctly.
[code]

[2021-09-23 19:26] heyjacleu commented on #1050
Thanks. I don't see anything in the output that talks about enabling it or are you referring to another output?  This was installed via git clone.

● exabgp.service - ExaBGP
   Loaded: loaded (/etc/systemd/system/exabgp.service; disabled; vendor preset: disabled)
   Active: active (running) since Wed 2021-09-22 17:24:06 UTC; 1 day 1h ago
     Docs: man:exabgp(1)
           man:exabgp.conf(5)

[2021-09-24 08:59] thomas-mangin commented on #1041
@pierky it should now work ..

[2021-09-24 09:05] pierky commented on #1041
Hi @thomas-mangin,

I'm still seeing an exception being raised:

[code]

[2021-09-24 09:30] thomas-mangin commented on #1050
This is really an UNIX system administration question. I _ASSUME_ that it may be a user and/or permission accessing the files preventing things to work.

It is not an issue with the software itself but I will admit to having no documentation on these matters, which will not help you much.

I am not using or maintaining Redhat/CentOS packages, and I do not know who does. I develop using OS X and th

[2021-09-24 11:05] thomas-mangin commented on #1041
Thank you for the lab, I was able to use multipass to reproduce the issue and this is now fixed AFAICS.

[2021-09-24 11:52] pierky commented on #1041
Oh nice, my GitHub Actions workflow seems ok now (it shows as broken, but that's an issue with the script I'm using for it, there are no more exceptions thrown by ExaBGP).
I'll give the fix a better look in the next days and let you know!

Thanks a lot!

P.S.: TIL about multipass too :)

[2021-09-24 12:26] thomas-mangin commented on #1041
Good to hear, I will close the issue. Sorry for the time it took to work on it.

[2021-09-24 12:26] #1041 closed

[2021-09-24 12:38] #1036 closed

[2021-09-24 14:24] heyjacleu commented on #1050
Ok, I was able to get by using sbin so probably I'll just need to dig some more from my end. This was cloned from your github here FYI
https://github.com/Exa-Networks/exabgp.git

Thanks for pointing out the slack channel. I'll def make use of that.

[2021-09-24 14:24] #1050 closed

[2021-09-27 14:25] pierky commented on #1041
Hi @thomas-mangin,

I've tested the solution a bit more, and it seems solving the issue, thanks again for taking care of this.

I've tested it also on 4.6, after applying the patch that can be found below, crafted using the last 3 or 4 commits from the master branch.

Something I've noticed with master indeed is that it seems that the logger doesn't care about the settings from the .env file, and

[2021-09-27 14:59] thomas-mangin commented on #1041
Backported to 4.2.15

[2021-09-28 09:16] thomas-mangin commented on #1050
@heyjacleu in that case you should update to the latest master (b46c65e6f9ae8e689fff6dc9484eb21b05071bae at time of writing) or use the lastest (4.2.15) release :-)

[2021-10-01 21:00] enag11 opened #1051 "tcp-flag operators != and &!= return syntax error"
**Describe the bug**
tcp-flags  '!='  and '&!='  return syntax error.

**To Reproduce:**
configuration file:
    flow {
           route check-tcp-flags {
           match {
                  source 10.0.0.1/32;
                  destination 10.0.0.2/32;
                  destination-port =3128;
                  protocol tcp;
                  tcp-flags [SYN RST&FIN&!=push];
                  }

[2021-10-02 13:45] #1028 closed

[2021-10-02 13:46] thomas-mangin commented on #1028
Was fixed by #1041 afaics

[2021-10-04 21:44] enag11 commented on #1051
Here are simple tcp flag  matching that return syntax errors.  The issue always occurs when using '!=' or '&!='  Does exabgp4 allows the use of these operators for flowspec tcp flags match
tcp-flags [ACK SYN!=FIN]  --> syntax error    '!=FIN'
tcp-flags [ACK SYN&!=FIN] --> syntax error  '&!=FIN'

below are successful match criteria
tcp-flags [ACK SYN&=FIN]  --> OK
 tcp-flags [ACK SYN&!FIN]

[2021-10-04 21:56] enag11 opened #1052 "Are Flowspec TCP_Flags CWR, ECE and NS supported"
** Bug Report **

**Describe the bug**
When will exabgp4 support tcp flags CWR, ECE and NS.

RFC 7125 contains the updated changes for RFC 793 and RFC3168.  RFC 7125 includes the TCP header definitions for NS, CWR, ECE, URG, ACK, PSH, RST, SYN, FIN

[2021-10-05 08:59] thomas-mangin commented on #1052
Hi there 👋 it is a feature request and not a bug. And unless people are offering to pay for my time to add features or fix bugs, I would appreciate if I was the one deciding to assign myself to issues. Thank you.

[2021-10-05 09:06] thomas-mangin commented on #1051
Thank you for the bug report, I will look into it when I can

[2021-10-05 12:55] enag11 commented on #1052
Hi Thomas, it was not my intention to assign or dictate your work but when I opened my two issues they were automatically assigned.  I will open this issue as a feature.  Thanks for the direction

[2021-10-05 14:58] enag11 commented on #1052
Closing Bug Report and opening a Feature request

[2021-10-05 14:58] #1052 closed

[2021-10-05 15:02] enag11 opened #1053 "Will exabgp support flowspec TCP_Flags CWR, ECE and NS"
RFC 7125 contains the updated changes for RFC 793 and RFC3168. RFC 7125 includes the TCP header definitions for NS, CWR, ECE, URG, ACK, PSH, RST, SYN, FIN

Will exabgp support CWR, ECE and NS in future releases?

[2021-10-06 08:22] thomas-mangin commented on #1053
Hi @enag11 , I will have to look at the RFC but if it is not too complex, I agree it is a desirable feature

[2021-10-07 13:08] enag11 commented on #1053
Thanks Thomas

[2021-10-07 15:49] suneeshbk opened #1054 "BGP Characterisation"
I'm looking for the route packing capability of ExaBGP, how many routes it can advt per second, what are all the config available to increase the route advt rate, What are all the settings for higher MSS? How to run multiple ExaBGP clients on different cores?

[2021-10-08 07:55] thomas-mangin commented on #1053
The RFC 7125 defines it for IPFIX and not BGP, so there is nothing here which can be implemented.

[2021-10-10 09:17] #1054 closed

[2021-10-10 09:18] #1049 closed

[2021-10-20 12:29] jkldgoefgkljefogeg opened #1055 "BGP incorrect aspath path element handling"
** Bug Report **

**Describe the bug**

https://datatracker.ietf.org/doc/html/rfc4271#section-5.1.2
https://datatracker.ietf.org/doc/html/rfc5065#section-3

AS_PATH path attribute is an **ordered** list of path elements of type AS_SET / AS_SEQUENCE / AS_CONFED_SEQUENCE / AS_CONFED_SET

currently exabgp implementation assumes

- the list is unordered
- path element of each type show up at most once

[2021-10-20 17:05] thomas-mangin commented on #1048
ok, thank you, this is not some code I authored but I will look into it.

[2021-10-20 17:07] thomas-mangin commented on #1055
Thank you for that, I will into changing the code on master.

[2021-10-21 03:06] Ibrahinv commented on #1039
Hello Tomas, I wish install full routing table in a Router. Its possible with Exabgp ?
I tried with mrtparse and http://data.ris.ripe.net/rrc16/latest-bview.gz and then with mrt2exabgp -G -P ./latest-bview.gz > fullbgptable.py. The  session is UP, not received prefix, but i got the same error message in the router.

Neighbor        Spk    AS MsgRcvd MsgSent   TblVer  InQ OutQ  Up/Down  St/PfxRcd
1

[2021-10-21 16:32] thomas-mangin commented on #1055
The functional testing is working but it could be that some tests and/or other things need checking. This is a initial release to allow feedback.

[2021-10-26 11:40] hkml2000 opened #1056 "Support for BGP AFI 16388 SAFI 72 (RFC7752)"
Dears,

I'm working on topology acquisition through BGP-LS from a Juniper devices,

It works fine when I export TED database,

but when I try to export IGP Database (to have information about non RSVP links), the BGP session with exaBGP goes down with the following message on juniper:

**unsupported AF 16388 SAFI 72**

here is the additional config on juniper to export IGP topology
**set protocols

[2021-11-01 00:56] enag11 commented on #1053
CWR and ECE are good

NS fails >> configuration could not load/reload configuration

[2021-11-01 07:41] thomas-mangin commented on #1053
Oh, 🤔 very surprised, you may see why if you look at the patch tomadd the features. I will see if I can reproduce.

[2021-11-01 09:07] thomas-mangin commented on #1053
My suspicion when you reported the issue was confirmed: the value of NS is 0x100 which is bigger than 0xFF the maximum value for a char and RFC 5575 encodes the flag with a char.

The value is encoded as a single byte so it will work for ECE and CWR but not NS..

RFC 5575
[code]

But on the positive side, this case is now defined by RFC 8955. I will have to read and understand https://datatracker.

[2021-11-01 14:35] thomas-mangin commented on #1053
🤦 I misread the RFC and will add the change, the implementation was never correct for the high bits but I never realised as they were not available.

[2021-11-01 14:47] thomas-mangin commented on #1053
Purely speculative fix - but may work.

[2021-11-01 16:04] enag11 commented on #1053
Thanks for the quick response. Checked the fix and NS is working now.  Listed a few check below, will not list all checks.
test results >> reactor       loaded new configuration successfully

tcp-flags [cwr];
tcp-flags [ece];
tcp-flags [ns];
tcp-flags [ACK SYN&!=ECE&=NS];
tcp-flags [NS SYN&!=ece&=CWR];

[2021-11-01 20:46] #1053 closed

[2021-11-01 20:47] thomas-mangin commented on #1053
slight change to the fix but it should be it. I can not say if the packet generated is correct (it should) but I have no way to check, so closed.

[2021-11-01 20:55] thomas-mangin commented on #1056
Yes, this is the correct fix :-) the 4.2 branch was updated. Master is not affected as the code changed quite a bit and this was already changed as a side effect.

[2021-11-01 20:55] #1056 closed

[2021-11-02 14:42] enag11 commented on #1053
Thanks Thomas

[2021-11-10 20:54] thomas-mangin opened #1057 "Fix support for RFC 7752"
A user asked about the decoding of BGP LS NLRI encoded using RFC 7752
https://datatracker.ietf.org/doc/html/rfc7752

I added the option `--nlri` to decode so to be able to test NLRI payload decode without having to create complete update messages

With the payload `nlri : 00 01 03 00 00 00 00 00 00 00 00 01 00 00 20 02 00 00 04 00 00 00 01 02 01 00 04 c0 a8 7a 7e 02 02 00 04 00 00 00 00 02 03 00 0

[2021-11-10 20:58] thomas-mangin commented on #1057
@ruissalo is it something you have a need for / have worked on please or is it one for me?

[2021-11-10 21:06] thomas-mangin commented on #1057
I am not sure if the NLRI is correct as it was sent by mail.

[2021-11-10 21:19] ruissalo commented on #1057
it's been a long time since I worked with these. That said, looking at where the exception shows up, that protocol id doesn't seem to be supported by RFC 7752 (see "Table 2: Protocol Identifiers" in the rfc) - protocols ids go from 1 to 6. Unless there is some sort of parsing error, but seems unlikely. If this is a user report, can they maybe share more info/context?

[2021-11-11 01:57] XChikuX opened #1058 "Health check does not recognize -F or --config"
` exabgp --run healthcheck -F "/etc/exabgp/healthcheck.conf"`

 Returns the help message of exabgp, and not the healthcheck:

[code]

[code]

[2021-11-11 11:49] thomas-mangin commented on #1057
The length was mising :-) using FF FF for it gives:
[code]

[2021-11-11 11:49] #1057 closed

[2021-11-11 11:52] thomas-mangin commented on #1058
with master please use `./sbin/exabgp healthcheck -F`

[2021-11-11 16:44] #1058 closed

[2021-11-16 08:43] XChikuX commented on #1058
**If you still want it to work with pip and version 4.2.16**
Workaround Example:
`python3 -m exabgp healthcheck -F "/etc/exabgp/healthcheck.conf" --no-syslog --start-ip 0 --withdraw-on-down;`

[2021-11-21 14:44] #1055 closed

[2021-11-26 20:36] mike53187 opened #1059 "Bash Script in Health check Not Working"
Full disclosure, I'm a network engineer so understand BGP very well, but Linux on the other hand I'm very junior. Anyways, I have BGP functional.. at least the neighbors are up and running, but no routes are being exchanged. I want to leverage anycast and would like the advertisement of the anycast address to be conditional. I wrote a very simple bashscript that works, but I can't seem to get an i

[2021-11-27 00:49] thomas-mangin commented on #1059
Yes, indeed: your script must not terminate (therefore calling exit is a no-no). There is plenty of examples in the etc folder of the repository.

There is already an healthcheck coming with ExaBGP:
https://vincent.bernat.ch/en/blog/2013-exabgp-highavailability

depending on your installed version the way to call it may have changed:
https://github.com/Exa-Networks/exabgp/issues/1058

[2021-11-27 03:14] mike53187 commented on #1059
Thanks Thomas. I fixed the bash script, but still getting the error. I found plenty of examples in the etc folder and I've tried multiple variations to no avail. Now, I feel like I'm just throwing darts and hoping something sticks. LOL. Alot of the documentation I'm finding look to be old versions which don't work with my version.
I'm using version 4.2.6

[2021-11-27 12:51] thomas-mangin commented on #1059
Hi Mike,

If you still see that error, it is unlikely that you really fixed your script (otherwise it would work 😉). I appreciate your difficulty, I wish you good luck to get to grip with Unix and bash programming.

I will once more point you toward the build-in checker unless you are doing something really bespoke as it was well documented by Vincent and is well written.

It is true that a lot of

[2021-11-29 15:18] mike53187 commented on #1059
Hi Thomas, you were right on the bash script... i ended up creating a for loop. I ended up having to make a few other changes.... the way I was calling the script in the config file was wrong too and the service lacked permissions to /run/exabgp.in and /run/exabgp.out (what are these actually for?).  thanks so much for your help and for suppporting exabgp.... we will be using it for load balancing

[2021-11-29 15:20] mike53187 commented on #1059
this guide really helped me because it was written using the 4.x code:
https://www.dasblinkenlichten.com/working-with-exabgp-4/

[2021-11-29 15:22] #1059 closed

[2021-12-14 13:29] Shaffath opened #1061 "Can some one help in sharing commands to announce l2vpn evpn type 2 and type 5 routes"

[2021-12-14 22:06] enag11 commented on #1053
Hi Thomas, I was using the master build  and the tcp flags fix is good but when I switched to 4.2 6bd3dfa  build, flag NS returns
error message: ord() expected a character, but string of length 2 found

CWR and ECE are good

[2021-12-29 13:04] davidc commented on #782
The man page (the place one looks for the syntax!) still uses the group {} and static {} syntax.

[2021-12-30 13:54] jethrogb opened #1062 "Healthcheck fails if ExaBGP PID is 1"
In ExaBGP 4.2.13 a regression was introduced where the healthcheck process fails if the ExaBGP PID is 1 (like it would be if you're running ExaBGP in a container).

https://github.com/Exa-Networks/exabgp/blob/4.2/lib/exabgp/application/healthcheck.py#L617

Introduced in 700f06b14e2daa07148a39877f38bae630d2754b and 314b788f569a1761f5f1db98e6640eb028b11dee. Related: #1006. Reverted in master in b810

[2021-12-30 14:20] thomas-mangin commented on #1062
ExaBGP should never be run as PID 1.

Googling "pid 1 in containers zombie reaping problem" gave me this as first hit:
https://blog.phusion.nl/2015/01/20/docker-and-the-pid-1-zombie-reaping-problem/

[2021-12-30 14:21] thomas-mangin commented on #1061
Please have a look into the etc/ folder of the repository for examples.

[2021-12-30 14:35] jethrogb commented on #1062
This is not a problem, subprocesses are reaped correctly on GC (in Processes._terminate)

[2021-12-30 14:43] jethrogb commented on #1062
And even if it didn't, not running as PID 1 wouldn't help with that. If ExaBGP didn't reap its child processes correctly, they would remain until ExaBGP itself exited.

[2021-12-30 15:16] statik commented on #1062
@jethrogb I have found using https://github.com/krallin/tini as pid 1 helpful in similar situations, just mentioning it in case that's useful for you.

[2021-12-30 16:22] thomas-mangin commented on #1062
The fact that something is possible does not mean it should be done. The debate about running programs as PID 1 in containers is not going to go away anytime soon.

I had not reviewed the Dockerfile for ExaBGP and I will fix it to not run the way it does right now.

[2021-12-30 16:25] thomas-mangin commented on #1062
The process(es) ran by ExaBGP could have spawned some other processes themselves.

[2021-12-30 16:31] thomas-mangin commented on #1062
Yes, and it would take quite some time for a few thousand of them to cause issues, that's why some people do not care and this is why the debate will never end, both positions have valid arguments.

I take the position that under all Unix systems PID 1 is `init` and IMHO containers are not special enough to require application writers to deal with PID 1 not being `init`, mostly when there is no is

[2021-12-30 16:46] jethrogb commented on #1062
Why do you even need to take a position as an application developer? Just don't assign special significance to PID 1 and everyone is happy.

[2021-12-30 17:01] thomas-mangin commented on #1062
Not everyone would be happy, healthcheck does what it should in a correct unix environments it terminates if it detect that exabgp died (for example as it was killed by the kernel due to an out of memory issue) and its processes were then connected to init. PID 1 has significance. You are free to run an os without it but please do not ask me to support systems where PID 1 is not init as otherwise

[2021-12-30 17:06] jethrogb commented on #1062
If you want to check this by PID checking, you just need to check if the PPID has changed since start. But an even better way would be to rely on a closed pipe/connection to detect the parent going away.

[2022-01-03 05:02] Shaffath commented on #1061
Thanks @thomas-mangin .. i already had a look into the folder.. i dont see any announce commands example for l2vpn evpn routes via exabgp cli.. i see only l2vpn vpls command only. am i missing something ?

[2022-01-04 18:57] thomas-mangin commented on #1062
Let's agree to disagree.

[2022-01-04 18:57] #1062 closed

[2022-01-04 19:06] thomas-mangin opened #1063 "Make sure the docker file has an init."

[2022-01-09 17:23] enag11 opened #1064 "NS Flag Error in 4.2.16"
I've been using the master build and the tcp flags fix is good but when I switched to 4.2 6bd3dfa build, flag NS returns
error message: ord() expected a character, but string of length 2 found

CWR and ECE flags are good.  This is in reference to feature fix #1053

[2022-01-09 17:40] thomas-mangin commented on #1064
It was not released .. now in 4.2.17 ..
https://github.com/Exa-Networks/exabgp/releases/tag/4.2.17

[2022-01-09 17:40] #1064 closed

[2022-01-09 19:51] thomas-mangin commented on #1061
I have implemented it years ago and never used it. I can only invite you to read the RFC which should help you connect your operational understanding with what is required, unfortunately, I will not be able to help you more than that.

[2022-01-09 22:40] enag11 commented on #1064
Thanks Thomas

[2022-01-10 12:22] thomas-mangin commented on #782
@davidc this is a closed issue, if you want to open a new one, please feel free. The man pages are not up to date as I did not author them and I do not know the syntax. So I will either need help or quite some time.

[2022-02-03 02:37] angeljgmx opened #1065 "Problem with address family ipv6"
I am currently implementing Exabgp on a Ubuntu server 18.04 machine. I have a neighbor established with a Cisco IOS XR Software, Version 6.0.1 router with the role of route reflector.

everything works fine so far as can be seen in the outputs.

command: show neighbor summary
Peer            AS        up/down state       |     #sent     #recvd
172.16.2.5      64500     0:00:07 established

[2022-02-03 08:16] thomas-mangin commented on #1065
please provide the information requested in the template when asking for help as I can only take a guess to what is happening : You didn’t enable family ipv6 on both peers, so when a IPv6 route is sent it it cause a session reset as per the rfc.

I can not help you more without the exabgp configuration and the full logs of exabgp with the option `-d`

[2022-02-03 08:23] thomas-mangin commented on #1065
`RP/0/0/CPU0:P1(config-bgp-nbr-af)#do show run router bgp
Tue Feb 1 00:18:39.890 UTC
router bgp 64500
bgp router-id 10.11.11.11
bgp cluster-id 10.40.1.1
address-family ipv4 unicast
maximum-paths ibgp 2
network [10.11.11.11/32](http://10.11.11.11/32)
network [10.99.1.1/32](http://10.99.1.1/32)
`

I have not used Cisco in years but no `address-family ipv6 unicast` In there too if it was required.

[2022-02-04 12:32] brhrenad opened #1066 "External-BGP not working due to error in AS-PATH serialisation"
BGP Peering resets immediatly, because an AttributeError is raised inside /src/bgp/message/update/attribute/aspath.py

**Debug Output:**
[code]

**My Config:**
[code]

**For myself I fixed that issue, by changing one line**

[code]

Best Regards,

Bernhard

[2022-02-05 00:15] angeljgmx commented on #1065
These are the outputs of the exabgp -d command with the router without the ipv6 family address configured, the output then with the ipv6 family address configured on the router (it is observed how the session is dropped), and the file with the exabgp.conf
[output-con address-family ipv6.txt](https://github.com/Exa-Networks/exabgp/files/8006937/output-con.address-family.ipv6.txt)
[output-sin-ipv6.t

[2022-02-05 09:13] thomas-mangin commented on #1065
Can you please run 4.2.17 and not 4.2.6, the problem was most likely already resolved

[2022-02-06 16:48] thomas-mangin commented on #1066
Hi Bernhard,

Thank you for reporting the issue, however, I can not reproduce it (see what I tried below). The patch you are using, while resolving your issue, does not look right to me.

Could you please run `exabgp` with the option `-d` without your patch and provide me with the output (here of privately), as otherwise, I will not be able to understand what is happening.

The reason my test is f

[2022-02-06 22:31] brhrenad commented on #1066
Hi Thomas,

It seems that a iBGP session works fine. I guess AS-PATH need not to be altered in this case.
I can confirm that your iBGP example works just fine.

The peering session with my router went flawlessly through the opening States. (Both peers send thier BGP-OPEN Messages.)
In the preparing process of an UPDATE-Message coming from exabgp, exabgp crashes.

If you accept my pull-request, you

[2022-02-08 00:00] thomas-mangin commented on #1066
Bug introduce at https://github.com/Exa-Networks/exabgp/commit/f941e380fed8a6f73ed41ebba6968d63a9ca3780
and fixed (but referenced #1055 by accident! sigh!)

[2022-02-08 00:04] thomas-mangin commented on #1066
Thank you @brhrenad your patch was correct functionally - so you can keep your patched version 🥳 , I just expressed the fix differently.

[2022-02-08 00:58] thomas-mangin commented on #1066
should work from https://github.com/Exa-Networks/exabgp/commit/f93209a1a3e19959d04f5e3e200f2920c89fc7a3 undoing part of the previous commit and making sure `./qa/bin/parsing` is working

[2022-02-09 23:39] angeljgmx commented on #1065
Kind regards. Thank you very much for your time. We tested with the most recent version in the repository (4.2.18) and the result was the same: when we configure on the router that neighbors the ubuntu machine that contains exabgp the family ipv6 address, the bgp session drops. in the output of Exabgp -d messages of the type begin to appear
22:37:02 5400 outgoing-13 outgoing-13 172.16.2.6-172.16.2

[2022-02-10 02:04] jkldgoefgkljefogeg commented on #938
is `-e` deprecated? env file path seems to ignore -e
https://github.com/Exa-Networks/exabgp/blob/master/src/exabgp/environment/base.py#L4,L8

[2022-02-10 04:30] frankshoots commented on #1066
We just installed exabgp today and ran into this same issue. I'm so glad that you were able to fix it just two days ago. We were able to get it working by manually replacing that aspath.py file. Hopefully it gets added to the stable release soon. Thanks to both of you!

[2022-02-10 19:39] thomas-mangin commented on #938
Correct on master, to be version 5, the env file is taken from the configuration folder.

[2022-02-10 19:44] thomas-mangin commented on #1066
The stable 4.2.x stable version should not be affected and is really what should be run in production unless you are hitting a bug we can not backport.

The bug was only master AFAICS so just updating (as master has no release) should do the trick 'git pull' in the clone folder. replacing the file should be fine as it rarely changes and therefore all should work as expected (even if it is not reco

[2022-02-10 19:50] thomas-mangin commented on #1066
@frankshoots if what I said is not right, please let me know and I will look at 4.2 too but the bug may be different.

[2022-02-11 02:01] frankshoots commented on #1066
Aloha @thomas-mangin, I think we just happened to install exabgp right before you introduced the fix. We are using version 4.2.6. When we tried using the healthcheck script to advertise routes, the BGP session to our router dropped. This also happened when we tried to use the exabgpcli tool to manually advertise routes. After manually copying and replacing the aspath.py file with the updated versi

[2022-02-11 10:01] thomas-mangin commented on #1066
[code]

4.2.6 is ancient, probably came with your OS package, but this is not what you are running:

[code]

The string `content.ID` can not be found in the source of 4.2.6 or 4.2.17 therefore you must have been running master before the fix.

[code]

[2022-03-04 18:57] enag11 opened #1069 "Additional ICMP-Types"
Can the full list of  icmp-types be added.  Currently the following are included in exabpg4
		class ICMPType(Resource):
			NAME = 'icmp type'

			ECHO_REPLY = 0x00
			# DESTINATION_UNREACHEABLE = 0x03
			UNREACHABLE = 0x03
			SOURCE_QUENCH = 0x04
			REDIRECT = 0x05
			ECHO_REQUEST = 0x08
			ROUTER_ADVERTISEMENT = 0x09
			ROUTER_SOLICIT = 0x0A
			TIME_EXCEEDED = 0x0B
			PARAMETER_PROBLEM = 0x0C

[2022-03-16 16:26] discostur opened #1070 "neighbor-changes do not trigger correctly to api / process"
Hi,

i'm trying to trigger an external script on neighbor-changes (mainly on tcp-lost / connection errors). My config looks like this:

[code]

So the `route-receive-core01` should be triggered on incoming route updates and neighbor-changes. What i actually see that if my peer goes down, nothing is triggered:

[code]

If my peer is going up my `route-receive-core01` gets triggered and the log look

[2022-03-21 16:09] thomas-mangin commented on #1070
You did not provide the version of ExaBGP you are using. I believe this bug was already fixed.

[2022-03-21 21:06] discostur commented on #1070
Hi,

4.2.17 / Covid Release

Regards,
Kilian

Am 21.03.2022 um 17:09 schrieb Thomas Mangin ***@***.***>:

﻿

You did not provide the version of ExaBGP you are using. I believe this bug was already fixed.

—
Reply to this email directly, view it on GitHub<https://github.com/Exa-Networks/exabgp/issues/1070#issuecomment-1074091086>, or unsubscribe<https://github.com/notifications/unsubscribe-auth/AAT

[2022-03-22 10:26] thomas-mangin commented on #1070
Thank you Killian, so it is not fixed 😢

[2022-03-24 09:25] thomas-mangin commented on #1070
@discostur could you please try the following patch?

[code]

[2022-03-24 09:38] thomas-mangin commented on #1070
It is also now on master, which will make it easier to test.

[2022-03-24 09:39] #1069 closed

[2022-03-24 09:41] thomas-mangin commented on #1066
Can I take the lack of update as a good sign?

[2022-03-24 09:41] thomas-mangin commented on #1061
I take from the lack of feedback that you are on your own, you could ask on slack ...

[2022-03-24 09:41] #1061 closed

[2022-03-24 17:43] discostur commented on #1070
@thomas-mangin just checked out from master and first tests look good for me!

Thanks ;)

[2022-03-24 21:53] frankshoots commented on #1066
We ended writing custom scripts to do our monitoring and route withdrawals, so exabgp was removed from the server. I like the solution though. I'm going to keep it in mind for future projects. Thanks for the assistance!

[2022-03-25 09:16] #1070 closed

[2022-03-25 09:17] thomas-mangin commented on #1066
No worries.

[2022-03-25 09:17] #1066 closed

[2022-03-25 09:17] thomas-mangin commented on #1063
using dumb-init

[2022-03-25 09:17] #1063 closed

[2022-03-25 09:22] #1046 closed

[2022-03-25 09:29] thomas-mangin commented on #1042
Perhaps a bit too late but you can run:
[code]
[code]

[2022-03-25 09:29] #1042 closed

[2022-03-25 12:12] brhrenad commented on #1066
Hi Thomas,

Sorry for the lack of updates.
At the time I had a active lab setup running, so I wasn't able to test your changes immediatly.

But I tested the fix with a couple of Cisco IOS XR devices and it seems that it works fine.

I tested it additionally with explicitly defined AS-Path. (The change I made myself actually broke this)
[code]

I wasn't able to test peering with none asn4 capable R

[2022-03-28 02:47] enag11 commented on #1069
I will verify.  Thanks Thomas

[2022-03-29 17:40] dadamfon opened #1071 "BGP-LS session throws TypeError exception for messages with ISIS wide igp-metric TLV (1095)"
**Bug description**

Unexpected **TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'** while decoding messages with igp-metric drop the connection.

**To Reproduce**
1) Install exabgp 4.2.17 (also tested in master branch with the same result)

2) Setup exabgp.conf:

[code]
3) run exabgp service

[code]

**Expected behavior**
Expecting compatibility decoding mes

[2022-03-29 22:04] thomas-mangin commented on #1071
Thank you for assigning this issue to me. I shall take this a request for consulting and will invoice you for the time I spend looking into the issue.

Obviously, I am not serious but I am sure you can understand the feeling I have when people I do not know assign work to me on Github, like if they were my boss, oh, and I have did not have a boss for the last 20 years as I founded my own business.

[2022-03-29 22:20] thomas-mangin commented on #1071
Seems to be working now:
[code]
[code]

[2022-03-29 22:25] thomas-mangin commented on #1071
So thank you for providing the information I needed to fix the issue, hopefully you can get back to what you wanted to do with BGP 👋

[2022-03-29 22:30] #1032 closed

[2022-03-30 07:29] dadamfon commented on #1071
Amazing! Thank you @thomas-mangin for the quick response and fix! We will test it soon.

[2022-04-01 12:12] alarig opened #1072 "TypeError: can't concat str to bytes"
If I try to use `exabgpcli` it always prints a stacktrace on the logs.

[code]

[code]

[2022-04-01 14:04] alarig commented on #1072
I’m using python 3.9.9 and exabgp 4.2.17

[2022-04-01 16:20] thomas-mangin commented on #1072
Could please try master

[2022-04-02 10:40] thomas-mangin commented on #1072
If `<path to your installation>/exabgp --run cli` works it is then a sign that python2 is used when it should not.

[2022-04-12 00:01] aha-sage commented on #1053
How did you tested it?
I tried to announce a flowspec rule with discard action, but:
ExaBGP returns an error (see ExaBGP's logs for more information)
use help for a list of available commands

[code]

[2022-04-12 06:33] thomas-mangin commented on #1053
Sorry, but you are hijacking a closed thread to speak about something else. You need to open a new issue if you want me to look into something new.

You also did not provide enough information for me to help: You have not run exabgp with -d and provided full logs just the version. I can not analyse and figure out what could have gone wrong from “it is broken”.

And your comment on how I tested it

[2022-04-12 06:36] thomas-mangin commented on #1053
If you want to use one of the new flags, you need to use master atm, as it is where the feature is available. And I have no idea if any vendor support them or not.

[2022-04-14 06:39] thomas-mangin commented on #1072
I do not have enough information to help.

[2022-04-18 12:17] Patricia08 commented on #1071
Hello!

Sorry for the late response but we had some issues on our environment so we couldn´t test this until now.

We have tested with lastest master version. We don´t get the last error anymore but there is a new one, "TypeError: 'int' object is not subscriptable":

abr 18 13:38:00 localhost.localdomain exabgp[51630]: 13:38:00 51630  outgoing-9      received TCP payload (  19) FFFF FFFF FFFF FFFF

[2022-04-18 21:02] enag11 opened #1073 "Two additional icmp-type additions"
As a follow-up to #1069 can the following two icmp-types also be added and include in exabgp4
253	RFC3692-style Experiment 1	[RFC4727]
254	RFC3692-style Experiment 2	[RFC4727]

Thanks

[2022-04-21 09:39] ameencp533 opened #1074 "unsupported AFI/SAFI pair BGP-LS"
we are trying to implement bgp ls session between exabgp and csr1000v. the configurations are :
[code]

but when we are applying this configuration, router showing an error 'unsupported AFI/SAFI'. session is establishing when we use 'ipv4 unicast' as pair. but bgp-ls is not working . please check the logs also

[code]

Then we used family as 'all'
[code]

it gave us this output log, hop its helpfu

[2022-04-21 10:08] #1072 closed

[2022-04-21 10:42] thomas-mangin commented on #1074
Your first negotiation with the peer only allows bgp-ls
[code]

I am not sure why the peer is replying "OPEN message error / Grouping Conflict". That OPEN is valid AFAICS.

On your second with `all` which only lead to have IPv4 being setup on the connection (something I will need to investigate, see the message `the connection can not carry the following family/families`), BGPLS is not setup.

The